@charset "utf-8";
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	font-size: 26px;
	font-weight: normal;
	color: #4d4d4d;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #f4f4f4;
	font-family: 'bebas_neueregular';
	cursor: pointer;
	
}

p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #4d4d4d;
	font-weight: normal;
	font-family: 'bebas_neueregular';
	
}
.container {
	position: relative;
	max-width: 800px;
	padding: 0px 0px;
	margin: 0 auto;
	overflow: hidden;
/*
	box-shadow: 0px 100px 50px rgba(0,0,0,0.5);
	overflow-y: hidden;
*/
	
}

.headline{
	
}
.headline h1 {
	margin: 0 auto;
	text-align: center;
	background: #ea2048;
	color: #fff;
	padding: 12px 0px;
	font-size: 34px;
	line-height: 100%;
	max-width: 530px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}
table { 
  width: 100%; 
  border-collapse: collapse; 
	
}
/* Zebra striping */

tr.dark { 
  background: #e5e5e5; 
}
tr.light { 
  background: #f0f0f0; 
}
tr.grey
{
background: #e5e5e5; 	
}
th { 
  background: #333; 
  color: white; 

}
td, th { 
  padding: 15px 12px; 
  border: 0px solid #ccc; 
  text-align: left; 
  text-align: center;
 line-height: 100%;
}




table tr th:nth-child(1) {
    background: #4d4d4d;
	width: 12%;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}

table tr th:nth-child(2) {
    background: #1b1862;
	width: 22%;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}

table tr th:nth-child(3) {
    background: #e8a12b;
	width: 22%;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	
}

table tr th:nth-child(3)::after,
table tr th:nth-child(4)::after,
table tr th:nth-child(5)::after{
	content: '';
	width: 44px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	background-size: 100%;
	display: inline-block;
	
}
table tr th:nth-child(3)::after {
	background-image: url(../images/gold.svg);
}

table tr th:nth-child(4)::after {
	background-image: url(../images/silver.svg);
}

table tr th:nth-child(5)::after {
	background-image: url(../images/bronze.svg);
}




table tr th:nth-child(4) {
    background: #b4b1b5;
	width: 22%;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}

table tr th:nth-child(5) {
    background: #9e2c14;
	width: 22%;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}

table tr th:nth-child(6) {
    background: #4d4d4d;
	width: 10%;
	display: none;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
}

tr td:nth-child(2) {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #828282;
}

tr td:nth-child(3) {
	color: #e8a12b;
	background-image: url(../images/gold.svg);
	background-repeat: no-repeat;
	background-position: 40px 15px;
	background-size: 24px;
}


tr td:nth-child(4) {
	color: #b4b1b5;
	background-image: url(../images/silver.svg);
	background-repeat: no-repeat;
	background-position: 40px 15px;
	background-size: 24px;
}

tr td:nth-child(5) {
	color: #9e2c14;
	background-image: url(../images/bronze.svg);
	background-repeat: no-repeat;
	background-position: 40px 15px;
	background-size: 24px;
}

tr td:nth-child(6) {
display: none;	
}

.anomaly td:nth-child(1)
{
	display: none;
}

@media (max-width:799px) {
	body{
		font-size:18px;
	}
	.headline h1{
		max-width: inherit;
		font-size: 24px;
		padding: 8px 0px;
	}
	
td, th {
	padding: 10px 5px;
	background-image: none !important;
}
	
	tr td:nth-child(2) {
	font-size: 13px;
	letter-spacing: 0px;

}
	
	table tr th:nth-child(3)::after,
	table tr th:nth-child(4)::after,
	table tr th:nth-child(5)::after{
		display: none;
	}	
}



