@charset "utf-8";
@font-face {
	font-family: 'allerbold';
	src: url('../fonts/aller_bd-webfont.ttf') format('woff2'), url('../fonts/aller_bd-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'allerregular';
	src: url('../fonts/aller_rg-webfont.woff2') format('woff2'), url('../fonts/aller_rg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'allerregular';
	font-weight: 400;
	background-color: #cccccc;
	background-repeat: repeat;
	background-size: 5%;
	background-attachment: fixed;
	color: #4d4d4d;
	overflow: hidden;
	font-size: 17px;
	position: fixed;
	width: 100%;
	height: 100%;
	transform: translateZ(0px);
	
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #4d4d4d;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #4d4d4d;
	font-weight: 900;
	font-size: 100%;
}
/*Start CSS*/

.chat-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.chat-wrapper::before {
	position: fixed;
	z-index: -1;
	background-color: #7C0A18;
	width: 100%;
	height: 127px;
	content: '';
	top: 0;
	left: 0;
}
.chat-wrapper .container {
	/*max-width: 1396px;*/
	max-width: 1220px;
	position: relative;
	height: calc(100% - 30px);
	margin: 0 auto;
	top: 30px;
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px 0 rgba(0,0,0,0.2);
	overflow: hidden;
	background: #9B0E18;
}
.sidebar {
	height: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	position: relative;
	width: 30%;
	background: #9B0E18;
	float: left;
}
.chat-window {
	height: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	position: relative;
	width: 70%;
	float: right;
	background-image: url(../images/chat-bg.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #fff;
	background-position: center center;
	overflow-y: auto;
	background-size: cover;
}
.sidebar-iner {
	padding: 30px;
	color: #fff;
}
.sidebar-iner a {
	color: rgba(255,255,255,0.5);
}
.text-logo {
	max-width: 150px;
	margin: 20px auto 0 auto;
	display: block;
}
.share-chat {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 9999;
}
.filter-block {
	text-align: center;
	margin-top: 40px;
}
.filter-block ul {
	padding: 20px 8px;
	border-top: 1px solid #F9920B;
	min-width: 200px;
	font-size: 22px;
	text-transform: uppercase;
	display: inline-block;
	text-align: left;
}
.filter-block ul li {
	position: relative;
}
.filter-block ul.send-voice {
	border-top: 0;
	padding-top: 0;
}
.filter-block ul.send-voice li a {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	color: #fff;
}
.filter-block ul.send-voice li a:hover {
	color: #F9920B;
}
.filter-block ul.send-voice li a::before {
	position: absolute;
	width: 30px;
	height: 30px;
	top: -3px;
	left: -26px;
	content: '';
	background: url(../images/send.svg) no-repeat 100%;
}
.filter-block .gender li {
	float: left;
	margin: 0px 4px;
	color: #F9920A;
}
.filter-block .gender li.female {
	margin-top: 2px;
}
.filter-block .gender li a {
	width: 24px;
	display: inline-block;
	opacity: 0.5;
}
.filter-block .gender li:hover a, .filter-block .gender li.is-active a {
	opacity: 1;
}
.filter-block .gender li span {
	display: inline-block;
	margin: 10px 0 0 5px;
}
.filter-block .options li {
	margin-bottom: 10px;
}
.filter-block .options li:last-child {
	margin-bottom: 0;
}
.filter-block .options li a::before {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	left: 0;
	content: '';
	border-radius: 100%;
	border: 1px solid #fff;
	background: #fff;
}
.filter-block .options li a {
	display: block;
	padding-left: 30px;
}
.filter-block .options li a:hover, .filter-block .options li.is-active a {
	color: #F9920A;
}
.chat-container {
	margin: 30px 9% 0 9%;
}
.chat-container ul li {
}
.chat-el {
	max-width: 80%;
	float: left;
}
.chat-el .show-el {
	position: relative;
}
.chat-container ul li {
	display: block;
	position: relative;
	margin-bottom: 30px;
}
.chat-el .msg {
	position: relative;
	margin-left: 110px;
}
.chat-el .profile-img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	position: absolute;
	bottom: -5px;
	left: 0;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}
.chat-el .profile-img img {
	border-radius: 100%;
}
.chat-el .msg-text {
	background: #fff;
	position: relative;
	bottom: 0;
	left: 0px;
	border-radius: 8px;
	padding: 10px 13px;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	line-height: 130%;
	vertical-align: bottom;
	/*	display: table;*/
	display: inline-block;
}
.chat-el .msg-text span {
	color: #9B0E18;
	font-weight: 700;
}
.chat-el .msg-text::after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	bottom: 0px;
	left: -16px;
	border-width: 25px 25px 0px 0;
	border-color: transparent #fff transparent transparent;
	box-shadow: 0px 2px 2px -3px rgba(0,0,0,0.5);
}
.chat-el .btn-more {
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	line-height: 100%;
	background: #9B0E18;
	padding: 4px 5px;
	margin: 4px 0 2px 0;
	color: #fff;
	border-radius: 1px;
	font-weight: 700;
}
.chat-el .hide-el {
	position: relative;
	background: #fff;
	padding: 13px;
	border-radius: 8px 0px 8px 8px;
	z-index: 1000;
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	margin-top: -7px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
	display: none;
}
.chat-el .hide-el {
	font-size: 16px;
}
.personal-details {
	margin: 15px 0 10px 0;
}
.personal-details p {
	margin: 10px 0 5px 0;
}
.personal-details h4 {
	font-weight: 700;
}
.chat-container ul li.is-more .chat-el .msg-text, .chat-container ul li.is-more .chat-el .msg-text span {
	color: #fff;
}
.chat-container ul li.is-more .chat-el .btn-more {
	background: #fff;
}
/*All even */
.chat-container ul li:nth-child(even) .chat-el {
	float: right;
}
.chat-container ul li:nth-child(even) .chat-el .profile-img {
	left: inherit;
	right: 0;
}
.chat-container ul li:nth-child(even) .chat-el .msg {
	margin: 0 110px 0 0;
	text-align: right;
}
.chat-container ul li:nth-child(even) .chat-el .msg-text {
	left: inherit;
	right: 0;
	text-align: left;
}
.chat-container ul li:nth-child(even) .chat-el .msg-text::after {
	left: inherit;
	right: -16px;
	border-width: 0px 25px 25px 0;
	border-color: transparent transparent #fff transparent;
}
.chat-container ul li:nth-child(even) .chat-el .hide-el {
	border-radius: 0px 8px 8px 8px;
}
/*Window Header*/
.window-header {
	text-align: center;
	padding: 30px;
}
.window-header h1 {
	color: #C1272D;
	font-weight: 700;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: -2px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	margin: 0 0 15px 0;
}
.header-caption {
}
.inner-caption {
	max-width: 420px;
	margin: 0 auto;
	position: relative;
	font-size: 16px;
}
.inner-caption h2 {
	color: #fff;
	line-height: 130%;
}
.inner-caption h3 {
	color: #C1272D;
	line-height: 130%;
	margin-top: 10px;
}
.caption-text {
	padding: 0px 0;
	border-radius: 10px;
	background: #F9920B;
	position: relative;
	height: 110px;
}
.cap-z-index {
	position: relative;
	z-index: 2;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.caption-text::before, .caption-text::after {
	width: 37px;
	position: absolute;
	top: 0;
	height: 100%;
	content: '';
	z-index: 1;
}
.caption-text::before {
	left: -26px;
	background: url(../images/left-bk-1.svg) no-repeat;
}
.caption-text::after {
	right: -26px;
	background: url(../images/right-bk-1.svg) no-repeat;
}
.inner-caption::before, .inner-caption::after {
	width: 42px;
	position: absolute;
	top: -8px;
	height: 126px;
	content: '';
	z-index: 1;
}
.inner-caption::before {
	left: -47px;
	background: url(../images/left-bk-2.svg) no-repeat;
}
.inner-caption::after {
	right: -47px;
	background: url(../images/right-bk-2.svg) no-repeat;
}
.sticky-top-wrapper {
	background: #9B0E18;
	height: 55px;
	text-align: center;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateZ(0px);
	display: none;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
	color: #fff;
}
.sticky-top-wrapper h2 {
	display: inline-block;
	color: #fff;
	font-size: 30px;
	line-height: 53px;
	font-weight: 700;
	letter-spacing: -1px;
}
.logo-ico {
	width: 40px;
	position: fixed;
	top: 8px;
	left: 15px;
	transform: translateZ(0px);
}

.sticky-footer-wrapper{
	background: #9B0E18;
	height: 55px;
	text-align: center;
	z-index: 9999;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: translateZ(0px);
	display: none;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.5);
	color: #fff;
}


.sticky-footer-wrapper li{
	float: left;
	width: 50%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
}
.sticky-footer-wrapper li.send-voice{
	border-right: 1px solid #F9920B;
}
.sticky-footer-wrapper li.link-filter{
	border-left: 1px solid #F9920B;
}


.sticky-footer-wrapper li a{
	display: block;
	line-height: 55px;
	color: #fff;
}
.sticky-footer-wrapper li a:hover, .sticky-footer-wrapper li.is-active a{
	color: #F9920B;
}

.sticky-footer-wrapper li a span{
	display: inline-block;
	position: relative;
}
.sticky-footer-wrapper li.send-voice span{padding-left: 26px;}
.sticky-footer-wrapper li.send-voice span::before {
	position: absolute;
	width: 24px;
	height: 30px;
	top: 10px;
	left: 0px;
	content: '';
	background: url(../images/send.svg) no-repeat 100%;
}


.sticky-footer-wrapper li.link-filter span{padding-left: 26px;}
.sticky-footer-wrapper li.link-filter span::before {
	position: absolute;
	width: 21px;
	height: 30px;
	top: 12px;
	left: 0px;
	content: '';
	background: url(../images/filter.svg) no-repeat 100%;
}

.close-filter{
	display: none;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #F9920B;
	border-radius: 100%;
	top: 10px;
	right: 10px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.close-filter:hover{
	color: #9B0E18;
}


