@charset "utf-8";
.container {
	width: 1240px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 1279px) {
.previous-mathes .team-details li {
	padding: 20px 6px;
}
.content.point-table {
	width: 60%;
}
.content.story-headlines {
	width: 40%;
}
.stories ul li:nth-child(5) {
	display: none;
}
}

@media (max-width: 959px) {
.single-match {
	float: none;
	width: auto;
	height: 180px;
}
.matches::after {
	display: none;
}
.single-match.previous-mathes::after, .single-match.upcoming-mathes::after {
	display: none;
}
.point-table-wrapper nav ul li {
	width: 25%;
}
.nav-content {
	margin: 0px;
}
.content.point-table {
	width: 100%;
	float: none;
	padding: 0
}
.content.story-headlines {
	width: 100%;
	float: none;
	padding: 0;
}
.group-details {
	padding: 20px 0px 0 0;
}
.point-table-wrapper nav ul li a {
	padding: 8px 0px;
}
.stories h5 {
	margin: 20px 0 12px 0;
}
.stories ul li:nth-child(3) {
	display: none;
}
.stories ul li:nth-child(4) {
	display: none;
}
}

@media (max-width: 767px) {
.point-table-wrapper .container {
	background-color: #F4F4F4;
}
.point-table-wrapper h3 {
	padding: 15px;
	font-size: 26px;
}
.point-table-wrapper .inner-container {
	padding: 0px 10px 10px 10px;
}
.point-table-wrapper nav ul li {
	font-size: 17px;
}
.point-table-wrapper nav ul li a {
	padding: 5px 0px;
}
.group-details h4 {
	font-size: 18px;
}
.point-table table tr th, .point-table table tr td {
	padding: 15px 0px;
	width: 24%;
}
.point-table table tr th:nth-child(1), .point-table table tr td:nth-child(1) {
	width: 26%;
}
.point-table table thead {
	font-size: 15px;
}
.point-table table tr td:nth-child(1) {
	font-size: 14px;
	padding: 14px 5px;
}
.point-table table tr td {
	font-size: 25px;
	padding: 3px 5px 10px 5px;
}
.stories h5 {
	font-size: 18px;
}
.stories ul li {
	font-size: 15px;
}
.single-content h3 {
	font-size: 25px;
	color: #fff;
	margin: 15px 0px 10px 0px;
}
.previous-mathes .single-group {
	padding: 0px 5px;
	height: 80px;
}
.previous-mathes .team-details .team-name {
	font-size: 24px;
	margin-bottom: 40px;
}
.previous-mathes .team-details .team-point {
	font-size: 37px;
}
.previous-mathes .team-details li {
	padding: 16px 6px;
}
.upcoming-mathes .team-details li {
	padding: 10px 35px;
	font-size: 30px;
	line-height: 100%
}
.upcoming-mathes .team-details li {
	font-size: 30px;
	line-height: 100%;
}
}
