.cls-1 {
    fill: #fdd44d;
}

.cls-2 {
    fill: #ce6e17;
}

.cls-3 {
    fill: #ececec;
}

.cls-4 {
    fill: #e94d4b;
}

.cls-5 {
    fill: #aa2e2e;
}

.cls-6 {
    fill: #d3d1bc;
}

.cls-7 {
    fill: #a8a58e;
}

.cls-8 {
    fill: #f4f4f4;
}

.cls-9 {
    fill: none;
    stroke: #f4f4f4;
    stroke-width: 3.45px;
}

.cls-16,
.cls-9 {
    stroke-miterlimit: 10;
}

.cls-10 {
    fill: #02a2a4;
}

.cls-11 {
    fill: #3bbcb8;
}

.cls-12 {
    fill: #de6a78;
}

.cls-13 {
    fill: #ff8159;
}

.cls-14 {
    fill: #f29a99;
}

.cls-15 {
    fill: #717b51;
}

.cls-16,
.cls-17 {
    fill: #f360cb;
}

.cls-16 {
    stroke: #e7e7e7;
    stroke-width: 0.37px;
}

.cls-18 {
    fill: #af5454;
}

.cls-19 {
    fill: #424149;
}