body {
	margin: 0;
	padding: 0;
	font-size: 16px;
/*
	height: 100%;
	position: relative;
*/
	font-family: 'Exo', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	height: 100%;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
*, *:after, *:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	color: #6a357f;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
ul, ol {
	list-style-type: none;
}
article, aside, footer, header, nav, section, figure, figcaption {
	display: block;
}
.main-wrap {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 24px
}
.main-wrap .box-wrap {
	width: 100%;
	
	position: relative;
}
.main-wrap .box-wrap img {
	width: 100%;
	display: block;
}
.main-wrap .box-wrap .box-first, .main-wrap .box-wrap .box-second {
	width: 100%;
	color: #fff;
	font-weight: 600;
	position: relative;
	top: 0;
	left: 0;
	background-color: #000
}
.main-wrap .box-wrap .box-first figure img, .main-wrap .box-wrap .box-second figure img {
	display: block;
}
.main-wrap .box-wrap figcaption {
	position: relative;
	height: 110px;
}
.main-wrap .box-wrap .box-first figcaption {
	background-color: #f4f2f2;
	font-size: 28px;
	color: #282526;
	text-transform: uppercase;
	font-weight: 700;
}
.main-wrap .box-wrap .box-second figcaption {
	background-color: #282526;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0.7px;
}
.main-wrap .box-wrap figcaption .content {
	position: absolute;
	top: 51%;
	display: block;
	width: 100%;
	padding: 15px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-wrap .box-wrap figcaption .content span {
	color: #d2df67;
	font-size: 24px;
	font-weight: 700;
}
.main-wrap .btn-up, .main-wrap .btn-down {
	cursor: pointer;
	width: 110px;
	height: 110px;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: none !important;
}
.main-wrap .btn-up {
	background-image: url(../images/khatka-03.jpg);
}
.main-wrap .btn-down {
	background-image: url(../images/khatka-04.jpg);
}

@media (max-width: 800px) {
.main-wrap {
	padding: 0 16px;
}
}

@media (max-width: 767px) {
.main-wrap .box-wrap .box-first figcaption {
}
.main-wrap .box-wrap figcaption {
	height: 90px;
}
.main-wrap .btn-up, .main-wrap .btn-down {
	width: 90px;
	height: 90px;
}
.main-wrap .box-wrap figcaption .content {
	padding: 15px;
}
.main-wrap .box-wrap .box-second figcaption {
	font-size: 19px;
	letter-spacing: 0.4px;
	line-height: 22px;
}
.main-wrap .box-wrap figcaption .content span {
	font-size: 20px;
}
}

@media (max-width: 600px) {
.main-wrap .box-wrap .box-first figcaption {
	font-size: 24px;
}
.main-wrap .box-wrap .box-second figcaption {
	line-height: 18px;
}
.main-wrap .box-wrap .box-second figcaption,  .main-wrap .box-wrap figcaption .content span {
	font-size: 16px;
}
}

@media (max-width: 480px) {
.main-wrap .box-wrap .box-first figcaption {
	font-size: 20px;
}
.main-wrap .box-wrap .box-second figcaption,  .main-wrap .box-wrap figcaption .content span {
	font-size: 14px;
	line-height: 15px;
}
}

@media (max-width: 375px) {
.main-wrap .box-wrap .box-first figcaption {
	font-size: 18px;
}
.main-wrap .box-wrap .box-second figcaption,  .main-wrap .box-wrap figcaption .content span {
	font-size: 12px;
	line-height: 15px;
}
.main-wrap .box-wrap figcaption .content {
	padding: 15px 15px 15px 15px;
}
}

@media (max-width: 767px) {
.main-wrap .box-wrap {
	
}
}

@media (max-width: 700px) {
.main-wrap .box-wrap {
	
}
}

@media (max-width: 600px) {
.main-wrap .box-wrap {
	
}
}

@media (max-width: 500px) {
.main-wrap .box-wrap {
	
}
}

@media (max-width: 400px) {
.main-wrap .box-wrap {
	
}
}

@media (max-width: 375px) {
.main-wrap .box-wrap {
	
}
}
