@charset "utf-8";


body {
	font-size: 16px;
	font-weight: 400;
	color: #555;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	background-color: #f7f7f7;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
.main-wrap {
	margin: 0 auto;
    padding: 20px 24px;
    max-width: 800px;
    position: relative;
}

.main-wrap .header {
	border-bottom: 1px #e4e4e4 solid;
	padding-bottom: 8px;
	margin-bottom: 15px;
	font-weight: 700;
}

.main-wrap--form {
    margin: 0 auto;
    width: 100%;
}
.main-wrap--form .form-group {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.main-wrap--form .form-group label {
    width: 100%;
    display: block;
    font-weight: 400;
    padding-bottom: 3px;
}
.main-wrap--form .form-group input,
.main-wrap--form .form-group textarea {
    width: 100%;
    display: block;
    padding: 5px 8px;
    height: 38px;
    border: 0 none;
    outline: none;
    font-size: 16px;
    color: #555;
    border: 1px #e4e4e4 solid;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}
.main-wrap--form .form-group textarea {
    min-height: 100px;
}
.main-wrap--form .form-group input:focus,
.main-wrap--form .form-group textarea:focus {
    border: 1px #cecdcd solid;
    outline: none;
}
.main-wrap--form .btn-submit {
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 3px;
    padding: 7px 12px 8px;
    background-color: #6a357f;
}

#result {
    position: absolute;
    left: 83px;
    bottom: 7px;
}
#result .success {
	color: green;
}

/* Block */
.main-wrap--block {
	width: 100%;
	padding-top: 10px;
}
.block-content .que-block,
.block-content .ans-block {
	margin-bottom: 20px;
}
.block-content .ans-block {
	padding-left: 60px;
}
.block-content .que-block:after,
.block-content .ans-block:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.block-content {
	width: 100%;
}
.block-content .avtar {
	width: 45px;
	height: 45px;
	float: left;
	margin-right: 10px;
	background-color: #ccc;
}
.block-content .avtar img {
	width: 100%;
}
.block-content .author {
	color: #288ce4;
	font-weight: 700;
	font-size: 14px;
	margin-right: 5px;
}
.block-content .timestamp {
	color: #656c7a;
	font-weight: 300;
	font-size: 12px;
}
.block-content .comment {
	color: #2a2e2e;
	font-weight: 400;
	font-size: 16px;
	padding-top: 2px;
}