@charset "utf-8";
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #262626;
	overflow-x: hidden;
	background: #dadada;
}
p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #262626;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #262626;
	font-weight: 700;
}
.is-loading {
	display: block;
}
.insta-feed-wrapper{
	max-width: 400px;
	min-height: 600px;
	background: #fff;
	margin: 30px auto 0 auto;
	position: relative;
}
.header-wrapper .container{
	margin: 0px 0px;
}
.header-wrapper h1{
	text-align: center;
	line-height: 100%;
	margin: 0;
	padding: 15px 0 17px 0px;
	border-bottom: 1px solid #dadada;
	font-size: 25px;
}
.header-wrapper h1 a{
	display: inline-block;
	pointer-events: none;
}

.profile-detail{
	margin: 20px 20px 0px 20px;
	position: relative;
	
}

.profile-detail figure{
	min-height: 85px;
}

.profile-image{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	overflow: hidden;
	background: #dadada;
	font-size: 10px;
	
}

.profile-image a{
	display: block;
}
.profile-detail figcaption{
	border: 0px solid #dadada;
	margin-left: 100px;
	text-align: center;
}
.facts{
	display: inline-block;
	padding-top: 2px;
}
.facts li{
	float: left;
	padding: 0px 20px;
}

.facts h3{
	line-height: 100%;
	font-size: 20px;
	
}
.facts p{
	margin: 0;
	padding: 3px 0 0 0;
	line-height: 100%;
	color: #8A8989;
	font-size: 14px;
	
}
.btn-share-story {
	display: block;
	border: 1px solid #dadada;
	line-height: 100%;
	padding: 5px 0px 7px 0;
	border-radius: 4px;
	margin-top: 7px;
	font-weight: 700;
}

.qa h4{
	font-size:16px;
	line-height: 125%;
	margin: 10px 0 4px 0;
}
.qa p{

	line-height: 140%;
	margin: 0 0 15px 0;
}

.filters li{
	float: left;
	margin-right: 10px;
}
.filters li a{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 40px;
	background: #dadada;
	border-radius: 100%;
	font-size: 0px;
	overflow: hidden;
	
}
.followed-by {
	font-size: 13px;
	color: #8A8989;
	margin: 10px 0px 0px 2px;
}
.insta-gallery-wrapper{
	padding:15px 0px 0px 0px;
	border-top:1px solid #dadada;
	margin-top: 10px;
}

.insta-gallery-wrapper ul li{
	float: left;
	width: 33.333%;
}
.insta-gallery-wrapper ul li figure{
	display:block;
	margin: 1px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.insta-gallery-wrapper ul li figure figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

.insta-gallery-wrapper ul li figure figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
	
}

.insta-gallery-wrapper ul li figure figcaption div:after{
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #2c3e50;
	-webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
	display: none;
}

.insta-gallery-wrapper ul li figure img{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
	font-size: 0px;
}

.insta-gallery-wrapper ul li figure:hover figcaption{
 background: rgba(0,0,0,0.3);
}

.insta-gallery-wrapper ul li figure figcaption:hover div{
  opacity: 1;
  top: 0;
}

.insta-gallery-wrapper ul li figure figcaption:hover div:after{
  width: 50%;
}

.insta-gallery-wrapper ul li figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}


.modal{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.modal-container{
	
	background-color: #fff;
	margin: 0 20px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.modal-caption{
	padding: 18px 20px 8px 20px;
}

.modal-caption h3{
	font-size: 18px;
	line-height: 120%;
	margin: 0 0 5px 0;
}

.modal-caption p{
	line-height: 140%;
	margin: 0px 0px 12px 0px;
}

.modal .embed-content{
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/loading.svg);
	background-color: #dadada;
}

.close-modal {
	position: absolute;
	top: -40px;
	right: 0;
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0.7);
	display: block;
	z-index: 1;
	font-size: 0px;
	color: transparent;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.close-modal::after, .close-modal::before {
	width: 100%;
	height: 1px;
	background: #6a6a6a;
	z-index: 2;
	content: '';
	position: absolute;
	top: 15px;
	left: 0px;
	transform: rotate(45deg);
	transition: all 0.3s ease-in-out;
}

.close-modal::before {
	transform: rotate(-45deg);
}
.close-modal:hover{
	background: rgba(0,0,0,1);
}

.close-modal:hover::after, .close-modal:hover::before{
	background: #bababa;
}


