@charset "utf-8";

body {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	min-height: 250px;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	font-family: myriad-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #f4f4f4;
}
@font-face {
    font-family: 'colunacondensed_bold';
    src: url('coluna-webfont.woff2') format('woff2'),
         url('coluna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 800;
	font-family: 'PT Serif', serif;
	font-size: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.main-wrap {
	margin: 0 auto;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.section-wrap {
	position: relative;
	width: 100%;
	min-height: 630px;
	z-index: 0;
	background-color: #fff
	/*background: radial-gradient(rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 0.25));*/
}
.section-wrap .quint-logo {
	position: absolute;
	bottom: 15px;
	left: 20px;
	width: 70px;
	z-index: 1;
}
.section-wrap .version-logo {
	position: absolute;
	bottom: 15px;
	right: 20px;
	width: 100px;
	z-index: 1;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
}
.section-wrap .brand-logo {
	position: absolute;
	top: 35px;
	left: 50%;
	width: 34%;
	z-index: 1;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	-ms-transform: translateX (-50%);
    -webkit-transform: translateX (-50%);
     -moz-transform: translateX (-50%);
     -o-transform: translateX (-50%);
     transform: translateX(-50%);
}

.section-wrap .circle-mid {
	margin: 0 auto;
    max-width: 370px;
	height: 370px;
	border-radius: 100%;
	line-height: 100px;
	text-align: center;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);
     background-size: 100%;
}
.color-option {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 100px;
	left: 0;
	right: 0;
	max-width: 120px;
}
.color-option li {
	margin: 0 4px;
	display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 100%;
	display: inline-block;
	background-color: #000;
	border: 3px solid #fff;
}
.color-option li.active {
	/*outline: 2px solid rgba(0, 0, 0, 0.3);*/
	border-radius: 100%;
	border: 3px solid #ccc;
}
.color-option li:nth-child(2) {
	background-color: #1a4fca;
}
.color-option li:nth-child(3) {
	background-color: rgb(50, 105, 44);
}
.section-wrap .know-more {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 35px;
	left: 0;
	right: 0;
	/*width: 120px;*/
	color: #000;
	font-size: 1.25em;
	line-height: 100%;
	font-family: 'colunacondensed_bold';
	letter-spacing: 1px;
	max-width: 280px;
}
.section-wrap .know-more span {
	margin: 0 auto 3px;
	padding: 5px 6px 0 7px;
	width: 70px;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	border-radius: 4px;
	letter-spacing: 1px;
}
.buy-now {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 30px;
	left: 0;
	right: 0;
}
.buy-now a {
	font-size: 1.63em;
	text-transform: uppercase;
	background-color: #008b56;
	border-radius: 5px;
	padding: 7px 20px 1px 20px;
	color: #fff;
	display: inline-block;
	letter-spacing: 1px;
	font-family: 'colunacondensed_bold';
}
.buy-now a:hover {
	color: #fff;
	background-color: #000
}

.watch-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}
.watch-wrap::after {
	position: absolute;
	bottom: -12px;
	left: 0;
	right: 0;
	content: "";
	margin: 0 auto;
	width: 60%;
	height: 40px;
	opacity: 0.5;
	background-image: url("../images/shadow.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
}

.circle-list li {
	position: absolute;
	top: 10%;
	width: 55px;
	height: 55px;
	cursor: pointer;
	border-radius: 100%;
	text-align: center;
	font-size: 13px;
	line-height: 120%;
	letter-spacing: .2px;
	color: rgba(0, 0, 0, 0.8);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: myriad-pro,sans-serif;
    transition: all 0.2s ease-in-out;
    z-index: 9
}
/*.circle-list li:hover {
	background-color: #000; 
}*/
.circle-list li span {
	position: absolute;
    margin: 0 auto;
    bottom: -35px;
    /*left: 0;
    right: 0;*/
    width: 140px;
    transform: translate3d(-50%, 0, 0);
}
.circle-list li span strong {
	display: block;
	font-weight: 400;
}
.circle-list li:first-child {
	top: 14%;
	left: 17%;
	/*background-size: 45%;*/
	/*background-image: url(../images/icon01.svg);*/
	background-image: url(../images/icon01.png);
}
.circle-list li:nth-child(2) {
	top: 54%;
	left: 6%;
	background-image: url(../images/icon02.png);
}
.circle-list li:nth-child(3) {
	top: 33%;
	left: 7%;
	background-image: url(../images/icon03.png);
}

.circle-list li:nth-child(4) {
	top: 72%;
    left: 14%;
	background-image: url(../images/icon04.png);
}
.circle-list li:nth-child(5) {
	top: 14%;
	right: 17%;
	background-image: url(../images/icon05.png);
}
.circle-list li:nth-child(6) {
	top: 33%;
	right: 7%;
	background-image: url(../images/icon06.png);
}
.circle-list li:nth-child(7) {
	top: 54%;
	right: 6%;
	background-image: url(../images/icon07.png);
}
.circle-list li:nth-child(8) {
	top: 72%;
    right: 14%;
	background-image: url(../images/icon08.png);
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
/* Popup */
.info-popup {
    margin: 0 auto;
    position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	-ms-transform: translateY (-50%);
	-webkit-transform: translateY (-50%);
	-moz-transform: translateY (-50%);
	-o-transform: translateY (-50%);
	transform: translateY(-50%);
	z-index: 99;
    max-width: 500px;
    color: rgba(255, 255, 255, 1.0);
    font-weight: 400;
    padding: 15px;
    font-family: myriad-pro,sans-serif;
}

.info-popup--content {
	position: relative;
	width: 100%;
	padding: 25px 25px;
	font-size: 24px;
	line-height: 125%;
	/*letter-spacing: 1px;*/
	background-color: #008b56;
}
.info-popup .corner-top-left,
.info-popup .corner-top-right,
.info-popup .corner-btm-left,
.info-popup .corner-btm-right {
	position: absolute;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
}
.info-popup .corner-top-left {
	top: -11px;
	left: -16px;
	width: 100px;
	height: 100px;
	background-image: url(../images/popup-line-top-left.svg);
}
.info-popup .corner-top-right {
	top: -16px;
	right: -15px;
	width: 60px;
	height: 60px;
	background-image: url(../images/popup-line-top-right.svg);
}
.info-popup .corner-btm-left {
	bottom: -19px;
	left: -14px;
	width: 60px;
	height: 60px;
	background-image: url(../images/popup-line-btm-left.svg);
}
.info-popup .corner-btm-right {
	bottom: -20px;
	right: -12px;
	width: 100px;
	height: 60px;
	background-image: url(../images/popup-line-btm-right.svg);
}
.info-popup .close-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    display: block;
    cursor: pointer;
    background-image: url(../images/popup-close.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	z-index: 5;
	/*box-shadow: 10px 10px 70px #000;*/
}

.threesixty-wrapper {
	position: relative;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.92);
		transform: scale(0.92);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes hvr-pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.92);
		transform: scale(0.92);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.hvr-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;

	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1.25s;
	animation-duration: 1.25s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.hvr-pulse:nth-child(2) {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.hvr-pulse:nth-child(3) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.hvr-pulse:nth-child(4) {
	-webkit-animation-delay: .75s;
	animation-delay: .75s;
}
.hvr-pulse:nth-child(5) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.hvr-pulse:nth-child(6) {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
@media screen and (max-width: 580px) {
	.section-wrap:after {
		height: 33%;
	}
	.section-wrap .circle-mid {
		top: 49%
	}
	.circle-list li {
		font-size: 13px;
		width: 45px;
		height: 45px;
	}
	.circle-list li span {
		bottom: -32px;
		/*left: -18px;*/
	}
	.circle-list li:first-child {
		top: 18%;
		left: 8%;
	}
	.circle-list li:nth-child(2) {
		top: 13%;
		left: 32%;
	}
	.circle-list li:nth-child(3) {
		top: 13%;
		left: 58%;
	}
	.circle-list li:nth-child(4) {
		top: 18%;
		left: 83%;
	}
	.circle-list li:nth-child(5) {
		top: 64%;
		left: 9%;
	}
	.circle-list li:nth-child(6) {
		top: 72%;
		left: 28%;
	}
	.circle-list li:nth-child(7) {
		top: 72%;
		left: 64%;
	}
	.circle-list li:nth-child(8) {
		top: 64%;
		left: 82%;
	}
	.section-wrap .circle-mid {
		max-width: 280px;
    	height: 280px;
	}
	.section-wrap .quint-logo {
		bottom: 15px;
		left: 15px;
		width: 70px;
	}
	.section-wrap .brand-logo {
		top: 13px;
		left: 50%;
		width: 44%;
	}
	.section-wrap .version-logo {
		bottom: 10px;
		right: 15px;
		width: 85px;
	}
	.color-option {
		bottom: 150px;
	}
	.color-option li {
		margin: 0 2px;
	}
	.section-wrap .know-more {
		bottom: 50px;
		font-size: 1.13em;
		max-width: 280px;
	}
	.section-wrap .know-more span {
		margin: 0 auto 3px;
	}
	.buy-now {
		bottom: 15px;
	}
	.buy-now a {
		font-size: 1.5em;
		padding: 6px 30px 0 30px;
	}

	.info-popup .close-icon {
	    width: 22px;
	    height: 22px;
	    top: 5px;
	    right: 5px;
	}
	.info-popup--content {
		padding: 15px 30px;
		font-size: 22px;
	}
}
@media screen and (max-width: 400px) {
	.section-wrap:after {
		height: 36%;
	}
	.section-wrap .quint-logo {
		bottom: 10px;
		left: 10px;
		width: 60px;
	}
	.section-wrap .brand-logo {
		top: 13px;
		left: 50%;
		width: 55%;
		font-size: 32px;
	}
	.section-wrap .version-logo {
		bottom: 10px;
		right: 10px;
		/*width: 60px;*/
		font-size: 18px;
	}
	.section-wrap .know-more {
		bottom: 60px;
		font-size: 1em;
	}
	.buy-now {
		bottom: 20px;
	}
	.buy-now a {
	    /*font-size: 1.5em;*/
	    padding: 5px 25px 0;
	}
	.section-wrap .circle-mid {
		max-width: 250px;
    	height: 250px;
    	top: 44%;
	}
	.circle-list li {
		width: 40px;
		height: 40px;
		/*font-size: 16px;*/
	}
	.circle-list li span {
		/*bottom: -38px;*/
		/*left: -22px;*/
	}

	.circle-list li:first-child {
		top: 16%;
		left: 10%;
	}
	.circle-list li:nth-child(2) {
		top: 11%;
		left: 35%;
	}
	.circle-list li:nth-child(3) {
		top: 11%;
		left: 62%;
	}
	.circle-list li:nth-child(4) {
		top: 16%;
		/*left: 79%;*/
	}

	.circle-list li:nth-child(5) {
		top: 62%;
		left: 10%;
	}
	.circle-list li:nth-child(6) {
		top: 72%;
		left: 34%;
	}
	.circle-list li:nth-child(7) {
		top: 72%;
		left: 63%;
	}
	.circle-list li:nth-child(8) {
		top: 62%;
		left: 82%;
	}
	.color-option {
		bottom: 205px;
	}
	.color-option li {
		width: 20px;
    	height: 20px;
	}
}