@charset "utf-8";

body {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	min-height: 250px;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'colunacondensed_bold';
}
@font-face {
    font-family: 'colunacondensed_bold';
    src: url('coluna-webfont.woff2') format('woff2'),
         url('coluna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nillandregular';
    src: url('nilland-webfont.woff2') format('woff2'),
         url('nilland-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nillandbold';
    src: url('nilland-bold-webfont.woff2') format('woff2'),
         url('nilland-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 800;
	font-family: 'PT Serif', serif;
	font-size: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.main-wrap {
	margin: 0 auto;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.section-wrap {
	position: relative;
	width: 100%;
	min-height: 680px;
	z-index: 0;
	/*background-color: #f4f4f4*/
	background: radial-gradient(rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 0.25));
}
/*.section-wrap:before {
	position: absolute;
	width: 100%;
	height: 58%;
	bottom: 0;
	left: 0;
	right: 0;
	content: " ";
	background-image: url("../images/green-bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
}
.section-wrap:after {
	position: absolute;
	width: 100%;
	height: 22%;
	bottom: 0;
	left: 0;
	right: 0;
	content: " ";
	z-index: -1;
	background-color: #9bb321;
}*/
.section-wrap .quint-logo {
	position: absolute;
	bottom: 15px;
	left: 20px;
	width: 80px;
	z-index: 1;
}
.section-wrap .move-on-logo {
	position: absolute;
	bottom: 15px;
	right: 20px;
	width: 55px;
	z-index: 1;
}
.section-wrap .fastrack-logo {
	position: absolute;
	top: 25px;
	left: 50%;
	width: 34%;
	z-index: 1;
	-ms-transform: translateX (-50%);
    -webkit-transform: translateX (-50%);
     -moz-transform: translateX (-50%);
     -o-transform: translateX (-50%);
     transform: translateX(-50%);
}

.section-wrap .circle-mid {
	margin: 0 auto;
    max-width: 370px;
	height: 370px;
	border-radius: 100%;
	line-height: 100px;
	text-align: center;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);
     background-size: 100%;
     /*overflow: hidden;*/
     /*background-image: url(../images/fastrack-watch.gif);*/
}


.color-option {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 140px;
	left: 0;
	right: 0;
	max-width: 120px;
}
.color-option li {
	margin: 0 7px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: inline-block;
	background-color: #000
}
.color-option li.active {
	outline: 2px solid rgba(255, 255, 255, 1.0);
}
.color-option li:nth-child(2) {
	background-color: rgb(130, 126, 126);
}
.color-option li:nth-child(3) {
	background-color: rgb(50, 105, 44);
}
.section-wrap .know-more {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 95px;
	left: 0;
	right: 0;
	/*width: 120px;*/
	color: #000;
	font-size: 1.25em;
	line-height: 100%;
	font-family: 'colunacondensed_bold';
	letter-spacing: 1px;
	max-width: 280px;
}
.section-wrap .know-more span {
	margin: 0 auto 3px;
	padding: 5px 6px 0 7px;
	width: 70px;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	border-radius: 4px;
	letter-spacing: 1px;
}
.buy-now {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 30px;
	left: 0;
	right: 0;
}
.buy-now a {
	font-size: 1.63em;
	text-transform: uppercase;
	background-color: #1467a7;
	border-radius: 30px;
	padding: 7px 40px 0 40px;
	color: #fff;
	display: inline-block;
	letter-spacing: 1px;
	font-family: 'colunacondensed_bold';
}
.buy-now a:hover {
	color: #fff;
	background-color: #000
}

.watch-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}
.watch-wrap::after {
	position: absolute;
	bottom: -12px;
	left: 0;
	right: 0;
	content: "";
	margin: 0 auto;
	width: 60%;
	height: 40px;
	opacity: 0.5;
	background-image: url("../images/shadow.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
}

.circle-list li {
	position: absolute;
	top: 10%;
	width: 55px;
	height: 55px;
	cursor: pointer;
	border-radius: 100%;
	/*background-color: #9bb321;*/
	background-color: #1467a7;
	text-align: center;
	font-size: 21px;
	line-height: 100%;
	letter-spacing: .2px;
	color: rgba(0, 0, 0, 0.8);
	background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'colunacondensed_bold', serif;
    transition: all 0.2s ease-in-out;
}
.circle-list li:hover {
	background-color: #000; 
}
.circle-list li span {
	position: absolute;
    margin: 0 auto;
    bottom: -48px;
    left: -22px;
    right: 0;
    width: 100px;
}
.circle-list li span strong {
	display: block;
}
.circle-list li:first-child {
	top: 70%;
    left: 14%;
	background-size: 45%;
	background-image: url(../images/icon01.svg);
}
.circle-list li:nth-child(2) {
	top: 53%;
	left: 6%;
	background-size: 45%;
	background-image: url(../images/icon02.svg);
}
.circle-list li:nth-child(3) {
	top: 33%;
	left: 7%;
	background-size: 38%;
	background-image: url(../images/icon03.svg);
}

.circle-list li:nth-child(4) {
	top: 14%;
	left: 17%;
	background-size: 26%;
	background-image: url(../images/icon04.svg);
}
.circle-list li:nth-child(5) {
	top: 14%;
	right: 17%;
	background-size: 32%;
	background-image: url(../images/icon05.svg);
}
.circle-list li:nth-child(6) {
	top: 33%;
	right: 7%;
	background-size: 34%;
	background-image: url(../images/icon06.svg);
}
.circle-list li:nth-child(7) {
	top: 53%;
	right: 6%;
	background-size: 30%;
	background-image: url(../images/icon07.svg);
}
.circle-list li:nth-child(8) {
	top: 70%;
    right: 14%;
	background-image: url(../images/icon08.svg);
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
/* Popup */
.info-popup {
    margin: 0 auto;
    position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	-ms-transform: translateY (-50%);
	-webkit-transform: translateY (-50%);
	-moz-transform: translateY (-50%);
	-o-transform: translateY (-50%);
	transform: translateY(-50%);
	z-index: 99;
    max-width: 500px;
    color: rgba(255, 255, 255, 1.0);
    font-weight: 400;  
    /*background-color: #ccc;*/
    padding: 15px;
    /*box-shadow: 10px 10px 70px #000;*/
    /*font-family: 'nillandregular';*/
    font-family: 'nillandbold';
}

.info-popup--content {
	position: relative;
	width: 100%;
	padding: 20px 40px;
	font-size: 28px;
	letter-spacing: 1px;
	background-color: #9bb321;
}
.info-popup .corner-top-left,
.info-popup .corner-top-right,
.info-popup .corner-btm-left,
.info-popup .corner-btm-right {
	position: absolute;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
}
.info-popup .corner-top-left {
	top: -11px;
	left: -16px;
	width: 100px;
	height: 100px;
	background-image: url(../images/popup-line-top-left.svg);
}
.info-popup .corner-top-right {
	top: -16px;
	right: -15px;
	width: 60px;
	height: 60px;
	background-image: url(../images/popup-line-top-right.svg);
}
.info-popup .corner-btm-left {
	bottom: -19px;
	left: -14px;
	width: 60px;
	height: 60px;
	background-image: url(../images/popup-line-btm-left.svg);
}
.info-popup .corner-btm-right {
	bottom: -20px;
	right: -12px;
	width: 100px;
	height: 60px;
	background-image: url(../images/popup-line-btm-right.svg);
}
.info-popup .close-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    display: block;
    cursor: pointer;
    background-image: url(../images/popup-close.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	z-index: 5;
	/*box-shadow: 10px 10px 70px #000;*/
}

.threesixty-wrapper {
	position: relative;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.92);
		transform: scale(0.92);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

}
@keyframes hvr-pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.92);
		transform: scale(0.92);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.hvr-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;

	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1.25s;
	animation-duration: 1.25s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.hvr-pulse:nth-child(2) {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.hvr-pulse:nth-child(3) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.hvr-pulse:nth-child(4) {
	-webkit-animation-delay: .75s;
	animation-delay: .75s;
}
.hvr-pulse:nth-child(5) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.hvr-pulse:nth-child(6) {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
@media screen and (max-width: 580px) {
	.section-wrap:after {
		height: 33%;
	}
	.section-wrap .circle-mid {
		top: 49%
	}
	.circle-list li {
		font-size: 18px;
	}
	.circle-list li span {
		bottom: -44px;
		left: -18px;
	}
	.circle-list li:first-child {
		top: 20%;
		left: 5%;
	}
	.circle-list li:nth-child(2) {
		top: 15%;
		left: 30%;
	}
	.circle-list li:nth-child(3) {
		top: 15%;
		left: 58%;
	}
	.circle-list li:nth-child(4) {
		top: 20%;
		left: 83%;
	}
	.circle-list li:nth-child(5) {
		top: 61%;
		left: 5%;
	}
	.circle-list li:nth-child(6) {
		top: 67%;
		left: 23%;
	}
	.circle-list li:nth-child(7) {
		top: 67%;
		left: 65%;
	}
	.circle-list li:nth-child(8) {
		top: 61%;
		left: 84%;
	}
	.section-wrap .circle-mid {
		max-width: 300px;
    	height: 300px;
	}
	.section-wrap .quint-logo {
		bottom: 15px;
		left: 15px;
		width: 70px;
	}
	.section-wrap .fastrack-logo {
		top: 20px;
		left: 50%;
		width: 44%;
	}
	.section-wrap .move-on-logo {
		bottom: 15px;
		right: 15px;
		width: 45px;
	}
	.color-option {
		bottom: 150px;
	}
	.color-option li {
		margin: 0 5px;
	}
	.section-wrap .know-more {
		bottom: 68px;
		font-size: 1.13em;
		max-width: 280px;
	}
	.section-wrap .know-more span {
		margin: 0 auto 3px;
	}
	.buy-now {
		bottom: 15px;
	}
	.buy-now a {
		font-size: 1.5em;
		padding: 6px 30px 0 30px;
	}

	.info-popup .close-icon {
	    width: 22px;
	    height: 22px;
	    top: 5px;
	    right: 5px;
	}
	.info-popup--content {
		padding: 15px 30px;
		font-size: 22px;
	}
}
@media screen and (max-width: 400px) {
	.section-wrap:after {
		height: 36%;
	}
	.section-wrap .quint-logo {
		bottom: 10px;
		left: 10px;
		width: 60px;
	}
	.section-wrap .fastrack-logo {
		top: 20px;
		left: 50%;
		width: 55%;
	}
	.section-wrap .move-on-logo {
		bottom: 10px;
		right: 10px;
		width: 40px;
	}
	.section-wrap .know-more {
		bottom: 75px;
		font-size: 1em;
	}
	.buy-now {
		bottom: 20px;
	}
	.buy-now a {
	    /*font-size: 1.5em;*/
	    padding: 5px 25px 0;
	}
	.section-wrap .circle-mid {
		max-width: 290px;
    	height: 290px;
    	top: 44%;
	}
	.circle-list li {
		width: 50px;
		height: 50px;
		font-size: 16px;
	}
	.circle-list li span {
		bottom: -38px;
		left: -22px;
	}

	.circle-list li:first-child {
		top: 18%;
		left: 4%;
	}
	.circle-list li:nth-child(2) {
		top: 13%;
		left: 27%;
	}
	.circle-list li:nth-child(3) {
		top: 13%;
		left: 56%;
	}
	.circle-list li:nth-child(4) {
		top: 18%;
		left: 79%;
	}

	.circle-list li:nth-child(5) {
		top: 62%;
		left: 5%;
	}
	.circle-list li:nth-child(6) {
		top: 70%;
		left: 24%;
	}
	.circle-list li:nth-child(7) {
		top: 70%;
		left: 63%;
	}
	.circle-list li:nth-child(8) {
		top: 62%;
		left: 81%;
	}
	.color-option {
		bottom: 215px;
	}
	.color-option li {
		width: 18px;
    	height: 18px;
	}
}



