@charset "utf-8";
/*Container*/
.container {
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 1199px) {
.container {
	width: 980px;
}
}

@media (max-width: 991px) {
.container {
	width: 720px;
}
	.col::after, .col::before {
	display: table;
	line-height: 0;
	content: "";
}
.col::after {
	clear: both;
}
.col.col-2 {
	width: 100%;
	float: none;
}
	
}

@media (max-width: 767px) {
.container {
	width: 540px;
}
}

@media (max-width: 575px) {
.container {
	padding-left: 15px;
	padding-right: 15px;
}
}


