@charset "utf-8";
@font-face {
	font-family: 'cooper_hewittmedium';
	src: url('../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),  url('../fonts/cooperhewitt-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'libel_suitregular';
	src: url('../fonts/libel-suit-rg-webfont.woff2') format('woff2'),  url('../fonts/libel-suit-rg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'cooper_hewittmedium';
	font-size: 14px;
	font-weight: 400;
	color: #1b0325;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	background: transparent;
}
p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #1b0325;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #1b0325;
	font-weight: normal;
	font-family: 'libel_suitregular';
}
/*custom grid*/


.row {
	position: relative;
	margin: 0px -15px 0px -15px;
}
.col {
	float: left;
	padding: 0px 15px;
}
.col-content {
	position: relative;
	z-index: 9999;
}
.col-1 {
	width: 100%;
}
.col-2 {
	width: 50%;
}
.col-3 {
	width: 33.333%;
}
.col-twitter {
	width: 40%;
}
.col-videos {
	width: 60%;
}
.col-stories-left {
	width: 40%;
}
.col-stories-right {
	width: 60%;
}
/*All Bg Colors*/

.bg-color-1 {
	background-color: #1b0325;
}
.bg-color-2 {
	background-color: #FFCC00;
}
.bg-color-3 {
	background-color: #CDCDCD;
}
/*End Bg Colors*/

.footer-wrapper {
	padding: 30px 0px;
	text-align: center;
}
.carousel-wrapper {
	padding: 70px 0px;
}
.carousel-wrapper.is-top{
	padding-top:90px;
}

.stories-wrapper {
	padding: 0px 0px 20px 0px;
}
.all-stories-wrapper {
	padding: 20px 0px 50px 0px;
}
.header-wrapper {
	padding: 10px 0 40px 0;
}
.party-wrapper {
	padding: 60px 0;
}
.ugc-wrapper {
	padding: 70px 0px 10px 0;
}
.header-wrapper::after {
	position: absolute;
	width: 480px;
	height: 46px;
	content: '';
	bottom: -23px;
	left: 50%;
	margin-left: -240px;
	border: 3px solid #fff;
	background-image: url(../images/patern-bg-1.svg);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	z-index: 99;
	border-radius: 9px;
}
.video-wrapper {
	background-color: #FFCC00;
	padding: 70px 0px 90px 0px;
}
.video-wrapper::after {
	position: absolute;
	width: 270px;
	height: 80px;
	content: '';
	bottom: -40px;
	left: 50%;
	margin-left: -135px;
	background-image: url(../images/patern-bg-2.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	z-index: 99;
}
.header-logos {
	margin: 0 auto;
	max-width: 425px;
	position: relative;
}
.header-logos::before {
	position: absolute;
	width: 1px;
	height: 50px;
	display: block;
	content: '';
	top: 50%;
	margin-top: -25px;
	left: 40%;
	background-color: #fff;
}
.header-logos ul li {
	float: left;
	font-size: 10px;
	margin: 0px 10px;
}
.header-logos ul li:nth-child(1) {
	width: 135px;
}
.header-logos ul li:nth-child(2) {
	width: 250px;
}
.header-logos ul li:nth-child(1) a {
	display: block;
	max-width: 135px;
	margin-top: 35px;
}
.header-logos ul li:nth-child(2) a {
	display: block;
	max-width: 250px;
}
.video-gallery .tabs {
	margin-bottom: 14px;
}
.video-gallery .tabs li {
	font-family: 'libel_suitregular';
	float: left;
	background-color: #2CDDBB;
	line-height: 100%;
	padding: 15px 15px 9px 15px;
	cursor: pointer;
	font-size: 23px;
	margin-right: 14px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.tabs li.tab-link.current, .tabs li.tab-link:hover {
	background: #fff;
}
.video-gallery .tab-content ul {
	margin: 14px -7px 0px -7px;
}
.video-gallery .tab-content ul li {
	float: left;
	width: 25%;
	padding: 0px 7px;
}
.video-gallery .tab-content ul li a {
	display: block;
}
.video-gallery .tab-content {
	display: none;
}
.video-gallery .tab-content.current {
	display: block;
}
#VideoPrev {
	background-color: rgba(0,0,0,0.2);
	background-image: url(../images/loading.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.section-headline {
	font-size: 32px;
	position: relative;
	line-height: 120%;
	margin-bottom: 14px;
	padding-left: 35px;
}
.section-headline::before {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background-image: url(../images/headline-bg-1.svg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100%;
}
.section-headline::after {
	height: 2px;
	width: 70%;
	background: #1B0325;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: 1px 1px 0px #fff;
}
.section-headline, .section-headline a {
	color: #1B0325;
	text-shadow: 1px 1px 0px #fff;
}
/*is-light */

.section-headline.is-light::before {
	background-image: url(../images/headline-bg-2.svg);
}
.section-headline.is-light::after {
	background: #fff;
	box-shadow: 1px 1px 0px #FFCC00;
}
.section-headline.is-light, .section-headline.is-light a {
	color: #fff;
	text-shadow: 1px 1px 0px #FFCC00;
}
.content-area {
	position: relative;
}
.content-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.video-wrapper .col-content {
	padding: 30px 30px 30px 60px;
	min-height: 470px;
}
.ugc-wrapper .col-content {
	padding: 30px 30px 30px 60px;
	min-height: 470px;
}
.cls-1 {
	fill: #2cddbb;
}
.social-links {
	text-align: center;
	padding-top: 20px;
}
.social-links ul {
	display: inline-block;
	padding-top: 10px;
}
.social-links ul li {
	float: left;
	margin: 0px 5px;
}
.social-links ul li a {
	display: block;
	width: 45px;
	height: 45px;
	background: #2cddbb;
	color: #fff;
	text-align: center;
	border-radius: 100%;
	overflow: hidden;
}
.social-links ul li a:hover {
	color: #FFCC00;
}
.social-links ul li a i {
	font-size: 24px;
	line-height: 45px;
}
.social-links h3 {
	margin-: 20px;
}
.social-links h3 span {
	display: inline-block;
	background: #fff;
	color: #2cddbb;
	padding: 10px 13px 3px 13px;
	line-height: 100%;
	border-radius: 20px;
	font-size: 22px;
}
.devider-wrapper img {
	width: 100%;
	min-width: inherit;
	max-width: inherit;
}
.story-card .first-story {
/*	padding-top:20px;*/
}
.story-card figure {
	position: relative;
}
.story-card a {
	display: inline-block;
	position: relative;
}
.story-image img {
	transition: transform .2s;
}
a:hover .story-image img {
	transform: scale3d(1.3, 1.3, 1.3);
}
.story-card figcaption {
	transition: all 0.2s ease-in-out;
}
.story-card a:hover figcaption {
	background: #FFCC00;
}
.first-story .story-image {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	overflow: hidden;
}
.first-story .story-image img{
	height: 175px;
/*
	width: 444px;
	max-width:444px;
	margin-left: -194px;
*/
	
}

.story-card .first-story {
	text-align: center;
}
.story-card .first-story figure {
	display: inline-block;
	width: 250px;
}
.story-card .first-story figcaption {
	background: #2cddbb;
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 10px);
	margin-left: 5px;
	padding: 0 10px;
	font-size: 16px;
	height: 80px;
}
.story-card .first-story figcaption span {
	position: relative;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.story-card .all-story {
	margin: 0px -5px;
}
.story-card .all-story figure {
	float: left;
	width: 50%;
	padding: 0px 5px;
	margin-top: 10px;
}
.all-story .story-image {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.all-story .story-image img{
	height: 100%;
}

.story-card .all-story a {
	height: 80px;
}
.story-card .all-story figcaption {
	position: relative;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 65px;
	background: #2cddbb;
	padding: 0px 5px 0px 19px;
	font-size: 13px;
	height: 65px;
}
.story-card .all-story figcaption span {
	position: relative;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.party-list {
	text-align: center;
	position: relative;
	min-height: 370px;
}
.party-list::after {
	font-family: 'libel_suitregular';
	font-size: 100px;
	color: #fff;
	content: 'Vs';
	position: absolute;
	z-index: 99;
	top: 180px;
	left: 50%;
	width: 100px;
	text-align: center;
	margin-left: -50px;
	display: block;
}
.party-list li {
	float: left;
	width: 50%;
}
.party-leader {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 4px solid #2cddbb;
	display: inline-block;
	position: relative;
}
.party-leader img {
	border-radius: 100%;
}
.party-sub-leader {
	position: absolute;
	z-index: 99;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 4px solid #2cddbb;
	bottom: -40px;
	right: -70px;
}
.party-list li:nth-child(2) .party-sub-leader {
	right: inherit;
	left: -70px;
}
.party-info .single-party {
	float: left;
	width: 50%;
	background: #fff;
	padding: 50px 15px 0px 15px;
}
.party-info .single-party.is-party-right {
	background: #2cddbb;
}
.party-stories {
	padding-right: 15px;
}
.scroll-wrap {
	height: 567px;
	overflow: auto;
}
.party-headline {
	font-size: 75px;
	line-height: 100%;
	margin: 0 0 0 30px;
}
.party-headline span {
	font-size: 30px;
	color: #2cddbb;
}
.party-stories figure {
	padding: 0px 0px 27px 0px;
	font-size: 18px;
	margin-left: 35px;
}
.party-stories figure:last-child {
	padding: 0px;
}
.party-stories figure::before {
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 99;
	background: #2cddbb;
	content: '';
	border-radius: 100%;
	top: 50%;
	margin-top: -17px;
	left: -35px;
}
.party-stories figure::after {
	width: 2px;
	height: 100%;
	position: absolute;
	z-index: 98;
	background: #666666;
	content: '';
	top: 0;
	left: -26px;
}
.party-stories figure:first-child::after {
	top: 50%;
}
.party-stories figure, .party-stories a {
	display: block;
	position: relative;
}
.party-stories a {
	min-height: 115px;
}
.party-stories .story-image {
	width: 200px;
	position: absolute;
	overflow: hidden;
}
.party-stories figcaption {
	padding: 5px 0px 0px 212px
}
.party-stories a:hover {
	color: #2cddbb;
}
.single-party.is-party-right .party-stories a:hover {
	color: #fff;
}
.party-info .single-party.is-party-right .party-headline span {
	color: #fff;
}
.single-party.is-party-right .party-stories figure::before {
	background: #fff;
}
.single-party.is-party-right .party-stories figure::after {
	background: #FFCC00;
}
.stories-wrapper .col-content {
	padding: 30px 30px 30px 60px;
	min-height: 432px;
}
.user-stories {
	font-size: 16px;
}
.user-stories a {
	display: block;
	background: #fff;
	position: relative;
}
.user-stories a:hover {
	color: #2cddbb;
}
.user-stories .story-image {
	overflow: hidden;
}
.user-stories {
	margin: 10px -5px 0px -5px;
}
.user-stories figure {
	float: left;
	width: 50%;
	padding: 0 5px;
	margin-bottom: 10px;
	position: relative;
}
.user-stories figcaption {
	padding: 10px;
	min-height: 90px;
}
.user-stories figure:last-child {
	width: 100%;
	margin: 0;
}
.user-stories figure:last-child .story-image {
	width: 160px;
	position: absolute;
	top: 0;
	left: 0px;
}
.user-stories figure:last-child figcaption {
	padding-left: 170px;
}
.footer-wrapper img {
	max-width: 300px;
}
.all-stories {
	font-size: 16px;
}
.all-stories a {
	display: block;
	background: #fff;
	position: relative;
}
.all-stories a:hover {
	color: #2cddbb;
}
.all-stories .story-image {
	overflow: hidden;
}
.all-stories {
	margin: 10px -5px 0px -5px;
}
.all-stories figure {
	float: left;
	width: 50%;
	padding: 0 5px;
	margin-bottom: 10px;
	position: relative;
}
.all-stories figcaption {
	padding: 10px;
	min-height: 90px;
}
.all-stories figure:nth-child(1) {
	width: 100%;
	font-size: 18px;
}
.all-stories figure:nth-child(1) a {
	color: #fff;
}
.all-stories figure:nth-child(1) a:hover {
	color: #2cddbb;
}
.all-stories figure:nth-child(1) figcaption {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
	height: auto;
	min-height: auto;
	background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,2));
	padding-top: 40px;
}
.story-slider {
	margin-top: 52px;
}

.story-image{
	overflow: hidden;
}
.story-slider .story-image {
	overflow: hidden;
}

.story-slider a{
	display: block;
	position: relative;
	color: #fff;
}
.story-slider figcaption {
	min-height: 90px;
	background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,2));
	font-size: 24px;
	
	padding: 40px 15px 15px 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.story-slider a:hover{
	color: #2CDDBB;
}



.story-slider .slick-dots{
	display: block;
	text-align: center;
	z-index: 99;
	position: absolute;
	width: 100%;
	bottom: -52px;
	
}
.story-slider .slick-dots li{
	float: none;
	display: inline-block;
	margin: 0px 7px;
}
.story-slider .slick-dots li button{
	padding:0;
	margin: 0;
	border: 0;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #2CDDBB;
	border-radius: 100%;
	position: relative;
	
}

.story-slider .slick-dots li button::before{
	display:none;
}

.story-slider .slick-dots li.slick-active button{
transform: scale(2);
}

.story-slider.custom-controlls .slick-prev, 
.story-slider.custom-controlls .slick-next {
	top:inherit;
	bottom: -65px;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}


.story-slider.custom-controlls .slick-next, .story-slider.custom-controlls .slick-prev {
	width: 80px;
	height: 40px;
	background-size: 90px;
}
.story-slider.custom-controlls .slick-next {
	background-image: url(../images/btn-next.svg);
	right: 50%;
	margin-right: -135px;
}
.story-slider.custom-controlls .slick-prev {
	background-image: url(../images/btn-prev.svg);
	left: 50%;
	margin-left: -145px;
}

.story-slider.custom-controlls .slick-next:hover {
	background-image: url(../images/btn-next.svg);
}
.story-slider.custom-controlls .slick-prev:hover {
	background-image: url(../images/btn-prev.svg);
}



/*
.story-slider figcaption {
	min-height: 90px;
	background: #2cddbb;
	font-size: 24px;
	color: #fff;
	padding: 15px;
	position: absolute;
}
*/



.story-slider .slick-next {
	right: 7px;
}
.story-slider .slick-prev {
	left: 7px;
}

.more-news.custom-controlls .slick-next{
	right: -70px;
}

.more-news.custom-controlls .slick-prev{
	left: -70px;
}

.custom-controlls .slick-next::before, .custom-controlls .slick-prev::before {
	display: none;
}
.custom-controlls .slick-next, .custom-controlls .slick-prev {
	width: 70px;
	height: 34px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 70px;
}
.ch-grid.custom-controlls .slick-next, .ch-grid.custom-controlls .slick-prev{
	width: 90px;
height: 43px;
background-size: 95px;
}

.custom-controlls .slick-next {
	background-image: url(../images/btn-next.svg);
}
.custom-controlls .slick-prev {
	background-image: url(../images/btn-prev.svg);
}
.custom-controlls .slick-next:hover {
	background-image: url(../images/btn-next-h.svg);
}
.custom-controlls .slick-prev:hover {
	background-image: url(../images/btn-prev-h.svg);
}
.more-news {
	margin: 0px -5px;
}
.more-news figure {
	margin: 0px 5px;
	background-color: #FFCC00;
}


.more-news figcaption {
	padding: 10px;
	font-size: 16px;
	height: 60px;
}
.more-news a {
	display: block;
	
}

.more-news.caricatures figure {
	margin: 0px 5px;
	background-color: transparent;
}



/*Grid */
.ch-grid {
	margin: 0px 0 0 0;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0px 60px;
	
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid .ch-item-wrap {
	text-align: center;
	display: block;
	margin: 40px 0px;
}

/*Theme 5*/
.ch-item {
	width: 290px;
	height: 290px;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
	display: inline-block;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #2cddbb;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;

	background: #1b0325;
	pointer-events: none;
	
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

/*
.ch-img-1 { 
	background-image: url(../images/13.jpg);
}

.ch-img-2 { 
	background-image: url(../images/14.jpg);
}

.ch-img-3 { 
	background-image: url(../images/15.jpg);
}
*/

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 80px;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
/*	font-style: italic;*/
	margin: 0 30px;
	font-size: 15px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
}

.ch-info p a:hover {
	color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}

.prof-img {
	position: absolute;
	top: -42px;
	left: -20px;
	border-radius: 100%;
	overflow: hidden;
	width: 290px !important;
	height: 290px !important;
}

/*Grid*/



