@charset "utf-8";
@font-face {
	font-family: 'cooper_hewittmedium';
	src: url('../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'), url('../fonts/cooperhewitt-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'libel_suitregular';
	src: url('../fonts/libel-suit-rg-webfont.woff2') format('woff2'), url('../fonts/libel-suit-rg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'cooper_hewittmedium';
	font-size: 14px;
	font-weight: 400;
	color: #1b0325;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	background: transparent;
}
p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #1b0325;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #1b0325;
	font-weight: normal;
	font-family: 'libel_suitregular';
}
/*custom grid*/


.row {
	position: relative;
	margin: 0px -15px 0px -15px;
}
.col {
	float: left;
	padding: 0px 15px;
}
.col-content {
	position: relative;
	z-index: 9999;
}
.col-1 {
	width: 100%;
}
.col-2 {
	width: 50%;
}
.col-3 {
	width: 33.333%;
}
.col-twitter {
	width: 40%;
	float: left;
}
.col-videos {
	width: 60%;
	float: left;
}
.col-stories-left {
	width: 40%;
}
.col-stories-right {
	width: 60%;
}
/*All Bg Colors*/

.bg-color-1 {
	background-color: #1b0325;
}
.bg-color-2 {
	background-color: #FFCC00;
}
.bg-color-3 {
	background-color: #CDCDCD;
}
/*End Bg Colors*/

.footer-wrapper {
	padding: 30px 0px;
	text-align: center;
}
.carousel-wrapper {
	padding: 60px 0px;
}
.carousel-wrapper.key-carousel {
	padding: 70px 0px 0 0;
}
.carousel-wrapper.is-top {
	padding-top: 90px;
}
.stories-wrapper {
	padding: 0px 0px 20px 0px;
}
.all-stories-wrapper {
	padding: 70px 0px;
}
.header-wrapper {
	padding: 10px 0 40px 0;
}
.party-wrapper {
	padding: 60px 0;
}
.ugc-wrapper {
	padding: 70px 0px;
}
/*
.header-wrapper::after {
	position: absolute;
	width: 480px;
	height: 46px;
	content: '';
	bottom: -23px;
	left: 50%;
	margin-left: -240px;
	border: 3px solid #fff;
	background-image: url(../images/patern-bg-1.svg);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	z-index: 99;
	border-radius: 9px;
}
*/
.video-wrapper {
	padding: 70px 0px 90px 0px;
}
.video-wrapper::after, .header-wrapper::after {
	position: absolute;
	width: 270px;
	height: 80px;
	content: '';
	bottom: -40px;
	left: 50%;
	margin-left: -135px;
	background-image: url(../images/patern-bg-2.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	z-index: 99;
}


.header-logos {
	margin: 0 auto;
	max-width: 425px;
	position: relative;
}
.header-logos::before {
	position: absolute;
	width: 1px;
	height: 50px;
	display: block;
	content: '';
	top: 50%;
	margin-top: -25px;
	left: 40%;
	background-color: #fff;
}
.header-logos ul li {
	float: left;
	font-size: 10px;
	margin: 0px 10px;
}
.header-logos ul li:nth-child(1) {
	width: 135px;
}
/*
.header-logos ul li:nth-child(2) {
	width: 250px;
}
*/
.header-logos ul li:nth-child(2) {
	width: 225px;
	padding-left: 28px;
}

.header-logos ul li:nth-child(1) a {
	display: block;
	max-width: 135px;
	margin-top: 16px;
}
.header-logos ul li:nth-child(2) a {
	display: block;
	max-width: 250px;
}
.video-gallery .tabs {
	margin-bottom: 14px;
	display: none;
}
.video-gallery .tabs li {
	font-family: 'libel_suitregular';
	float: left;
	background-color: #2CDDBB;
	line-height: 100%;
	padding: 15px 15px 9px 15px;
	cursor: pointer;
	font-size: 23px;
	margin-right: 14px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.tabs li.tab-link.current, .tabs li.tab-link:hover {
	background: #fff;
}
.video-gallery .tab-content ul {
	margin: 14px -7px 0px -7px;
}
.video-gallery .tab-content ul li {
	float: left;
	width: 25%;
	padding: 0px 7px;
}
.video-gallery .tab-content ul li a {
	display: block;
}
.video-gallery .tab-content {
	display: none;
}
.video-gallery .tab-content.current {
	display: block;
}
#VideoPrev {
	background-color: rgba(0,0,0,0.2);
	background-image: url(../images/loading.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.section-sub-headline{
	font-size: 19px;
	margin-bottom: 10px;
}

.section-headline {
	font-size: 32px;
	position: relative;
	line-height: 120%;
	margin-bottom: 14px;
	padding-left: 35px;
	display: inline-block;
	padding-right: 10px;
}
.section-headline::before {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background-image: url(../images/headline-bg-1.svg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100%;
}
.section-headline::after {
	height: 2px;
	width: 100%;
	background: #1B0325;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: 1px 1px 0px #fff;
}
.section-headline, .section-headline a {
	color: #1B0325;
	text-shadow: 1px 1px 0px #fff;
}
/*is-light */

.section-headline.is-light::before {
	background-image: url(../images/headline-bg-2.svg);
}


.section-headline.is-twitter::before{
	background: none !important;
	content:"\f099";
	display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}


.section-headline.is-light::after {
	background: #fff;
	box-shadow: 1px 1px 0px #FFCC00;
}
.section-headline.is-light, .section-headline.is-light a {
	color: #fff;
	text-shadow: 1px 1px 0px #FFCC00;
}
.content-area {
	position: relative;
}


.block-content{
	background-color: #2cddbb;
	padding: 20px;
}




.content-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.video-wrapper .col-content {
	padding: 30px 30px 30px 60px;
}
.ugc-wrapper .col-content.cbg {
	padding: 30px 30px 30px 60px;
	min-height: 470px;
}
.cls-1 {
	fill: #2cddbb;
}
.social-links {
	text-align: center;
	padding-top: 20px;
}
.social-links ul {
	display: inline-block;
	padding-top: 10px;
}
.social-links ul li {
	float: left;
	margin: 0px 5px;
}
.social-links ul li a {
	display: block;
	width: 45px;
	height: 45px;
	background: #2cddbb;
	color: #fff;
	text-align: center;
	border-radius: 100%;
	overflow: hidden;
}
.social-links ul li a:hover {
	color: #FFCC00;
}
.social-links ul li a i {
	font-size: 24px;
	line-height: 45px;
}
.social-links h3 {
	margin-: 20px;
}
.social-links h3 span {
	display: inline-block;
	background: #fff;
	color: #2cddbb;
	padding: 10px 13px 3px 13px;
	line-height: 100%;
	border-radius: 20px;
	font-size: 22px;
}
.devider-wrapper img {
	width: 100%;
	min-width: inherit;
	max-width: inherit;
}
.story-card .first-story {
/*	padding-top:20px;*/
}
.story-card figure {
	position: relative;
}
.story-card a {
	display: inline-block;
	position: relative;
}
.story-image img {
	transition: transform .2s;
	width: 100%;
}
a:hover .story-image img {
	transform: scale3d(1.3, 1.3, 1.3);
}
.story-card figcaption {
	transition: all 0.2s ease-in-out;
}
.story-card a:hover figcaption {
	background: #FFCC00;
}
.first-story .story-image {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	overflow: hidden;
}
.first-story .story-image img {
	height: 100%;
	width: auto;
	max-width: inherit;
	margin-left: -100px;
}
.story-card .first-story {
	text-align: center;
}
.story-card .first-story figure {
	display: inline-block;
	width: 250px;
}
.story-card .first-story figcaption {
	background: #2cddbb;
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 10px);
	margin-left: 5px;
	padding: 0 10px;
	font-size: 16px;
	height: 80px;
}
.story-card .first-story figcaption span {
	position: relative;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.story-card .all-story {
	margin: 0px 0px 20px 0;
}
.story-card .all-story figure {
	float: left;
	width: 50%;
	padding: 0px 5px;
	margin-top: 10px;
}
.all-story .story-image {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.all-story .story-image img {
	height: 100%;
	width: auto;
	max-width: inherit;
	margin-left: -25px;
}
.story-card .all-story a {
	height: 80px;
	display: block;
}
.story-card .all-story figcaption {
	position: relative;
	display: block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 65px;
	background: #2cddbb;
	padding: 0px 5px 0px 19px;
	font-size: 14px;
	height: 65px;
}
.story-card .all-story figcaption span {
	position: relative;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.party-list {
	text-align: center;
	position: relative;
	min-height: 370px;
}
.party-list::after {
	font-family: 'libel_suitregular';
	font-size: 100px;
	color: #fff;
	content: 'Vs';
	position: absolute;
	z-index: 99;
	top: 180px;
	left: 50%;
	width: 100px;
	text-align: center;
	margin-left: -52px;
	display: block;
}
.party-list li {
	float: left;
	width: 50%;
}
.party-leader {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 4px solid #2cddbb;
	display: inline-block;
	position: relative;
}
.party-leader img {
	border-radius: 100%;
}
.party-sub-leader {
	position: absolute;
	z-index: 99;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 4px solid #2cddbb;
	bottom: -40px;
	right: -70px;
}
.party-list li:nth-child(2) .party-sub-leader {
	right: inherit;
	left: -70px;
}
.party-info {
	position: relative;
}
.party-info .single-party {
	float: left;
	width: 50%;
	background: #fff;
	padding: 50px 15px 0px 15px;
	position: relative;
}
.party-info .single-party.is-party-right {
	background: #2cddbb;
}
.party-stories {
	padding-right: 15px;
}
.scroll-wrap {
/*	height: 567px;*/
	height: 320px;
	overflow: auto;
}
.party-headline {
	font-size: 75px;
	line-height: 100%;
	margin: 0 0 10px 30px;
}
.party-headline span {
	font-size: 30px;
	color: #2cddbb;
}
.party-stories figure {
/*	padding: 0px 0px 27px 0px;*/
	font-size: 18px;
	margin-left: 35px;
	padding: 15px 0px;
}
.party-stories figure:last-child {
/*	padding: 0px;*/
}
.party-stories figure::before {
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 99;
	background: #2cddbb;
	content: '';
	border-radius: 100%;
	top: 50%;
	margin-top: -17px;
	left: -35px;
}
.party-stories figure::after {
	width: 2px;
	height: 100%;
	position: absolute;
	z-index: 98;
	background: #666666;
	content: '';
	top: 0;
	left: -26px;
}
.party-stories figure:first-child::after {
	top: 50%;
}
.party-stories figure, .party-stories a {
	display: block;
	position: relative;
}
.party-stories a {
/*	min-height: 115px;*/
}
.party-stories .story-image {
	width: 200px;
	position: absolute;
	overflow: hidden;
}
.party-stories figcaption {
	padding: 0;
	/*padding: 5px 0px 0px 212px*/	
}
.party-stories a:hover {
	color: #2cddbb;
}
.single-party.is-party-right .party-stories a:hover {
	color: #fff;
}
.party-info .single-party.is-party-right .party-headline span {
	color: #fff;
}
.single-party.is-party-right .party-stories figure::before {
	background: #fff;
}
.single-party.is-party-right .party-stories figure::after {
	background: #FFCC00;
}
.stories-wrapper .col-content {
	padding: 30px 30px 30px 60px;
	min-height: 432px;
}
.user-stories {
	font-size: 16px;
}
.user-stories a {
	display: block;
	background: #fff;
	position: relative;
}
.user-stories a:hover {
	color: #2cddbb;
}
.user-stories .story-image {
	overflow: hidden;
}
.user-stories {
	margin: 10px -5px 0px -5px;
}
.user-stories figure {
	float: left;
	width: 50%;
	padding: 0 5px;
	margin-bottom: 10px;
	position: relative;
}
.user-stories figcaption {
	padding: 10px;
	min-height: 90px;
}
.user-stories figure:last-child {
	width: 100%;
	margin: 0;
}
.user-stories figure:last-child .story-image {
	width: 160px;
	position: absolute;
	top: 0;
	left: 0px;
}
.user-stories figure:last-child figcaption {
	padding-left: 170px;
}
.footer-wrapper img {
	max-width: 300px;
}
.all-stories {
	font-size: 16px;
}
.all-stories a {
	display: block;
	background: #fff;
	position: relative;
}
.all-stories a:hover {
	color: #2cddbb;
}
.all-stories .story-image {
	overflow: hidden;
}
.all-stories {
	margin: 0px -5px 0px -5px;
}
.all-stories figure {
	float: left;
	width: 50%;
	padding: 0 5px;
	margin-bottom: 10px;
	position: relative;
}
.all-stories figcaption {
	padding: 10px;
	min-height: 90px;
}
.all-stories figure:nth-child(1) {
	width: 100%;
	font-size: 18px;
}
.all-stories figure:nth-child(1) a {
	color: #fff;
}
.all-stories figure:nth-child(1) a:hover {
	color: #2cddbb;
}
.all-stories figure:nth-child(1) figcaption {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
	height: auto;
	min-height: auto;
	background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,2));
	padding-top: 40px;
}
.story-slider {
	margin-top: 0px;
}
.story-slider .story-image{
	background-color: rgba(0,0,0,0.2);
	background-repeat: no-repeat;
	background-size: cover;
}

.story-image {
	overflow: hidden;
	
}
.story-slider .story-image {
	overflow: hidden;
}
.story-slider a {
	display: block;
	position: relative;
	color: #fff;
}
.story-slider figcaption {
	min-height: 90px;
	background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,2));
	font-size: 24px;
	padding: 40px 15px 15px 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.story-slider a:hover {
	color: #2CDDBB;
}
.story-slider .slick-dots {
	display: block;
	text-align: center;
	z-index: 99;
	position: absolute;
	width: 100%;
	bottom: -36px;
}
.story-slider .slick-dots li {
	float: none;
	display: inline-block;
	margin: 0px 7px;
}
.story-slider .slick-dots li button {
	padding: 0;
	margin: 0;
	border: 0;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #2CDDBB;
	border-radius: 100%;
	position: relative;
}
.story-slider .slick-dots li button::before {
	display: none;
}
.story-slider .slick-dots li.slick-active button {
	transform: scale(2);
}
.story-slider.custom-controlls .slick-prev, .story-slider.custom-controlls .slick-next {
	top: inherit;
	bottom: -49px;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}
.story-slider.custom-controlls .slick-next, .story-slider.custom-controlls .slick-prev {
	width: 80px;
	height: 40px;
	background-size: 90px;
}
.story-slider.custom-controlls .slick-next {
	background-image: url(../images/btn-next.svg);
	right: 50%;
	margin-right: -135px;
}
.story-slider.custom-controlls .slick-prev {
	background-image: url(../images/btn-prev.svg);
	left: 50%;
	margin-left: -135px;
}
.story-slider.custom-controlls .slick-next:hover {
	background-image: url(../images/btn-next.svg);
}
.story-slider.custom-controlls .slick-prev:hover {
	background-image: url(../images/btn-prev.svg);
}
/*
.story-slider figcaption {
	min-height: 90px;
	background: #2cddbb;
	font-size: 24px;
	color: #fff;
	padding: 15px;
	position: absolute;
}
*/



.story-slider .slick-next {
	right: 7px;
}
.story-slider .slick-prev {
	left: 7px;
}
.more-news.custom-controlls .slick-next {
	right: -80px;
}
.more-news.custom-controlls .slick-prev {
	left: -80px;
}
.custom-controlls .slick-next::before, .custom-controlls .slick-prev::before {
	display: none;
}
.custom-controlls .slick-next, .custom-controlls .slick-prev {
	width: 80px;
	height: 40px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90px;
}
.ch-grid.custom-controlls .slick-next, .ch-grid.custom-controlls .slick-prev {
	width: 90px;
	height: 43px;
	background-size: 95px;
}
.custom-controlls .slick-next {
	background-image: url(../images/btn-next.svg);
}
.custom-controlls .slick-prev {
	background-image: url(../images/btn-prev.svg);
}
.custom-controlls .slick-next:hover {
	background-image: url(../images/btn-next-h.svg);
}
.custom-controlls .slick-prev:hover {
	background-image: url(../images/btn-prev-h.svg);
}
.more-news {
	margin: 0px -5px;
}
.more-news figure {
	margin: 0px 5px;
	
}
.more-news figure a {
	background-color: #fff;
}

.more-news figure a:hover {
	background-color: #2CDDBB;
}

.more-news figcaption {
	padding: 10px;
	font-size: 16px;
	height: 60px;
}
.more-news a {
	display: block;
}
.more-news.caricatures figure {
	margin: 0px 5px;
	background-color: transparent;
}
/*Grid */
.ch-grid {
	margin: 0px 0 0 0;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0px 60px;
}
.ch-grid:after, .ch-item:before {
	content: '';
	display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid .ch-item-wrap {
	text-align: center;
	display: block;
	margin: 40px 0px;
}
/*Theme 5*/
.ch-item {
	width: 290px;
	height: 290px;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
	display: inline-block;
}
.ch-info-wrap, .ch-info {
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #2cddbb;
	box-shadow: 0 0 0 20px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}
.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.ch-info .ch-info-back {
	opacity: 0;
	background: #1b0325;
	pointer-events: none;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}
/*
.ch-img-1 { 
	background-image: url(../images/13.jpg);
}

.ch-img-2 { 
	background-image: url(../images/14.jpg);
}

.ch-img-3 { 
	background-image: url(../images/15.jpg);
}
*/

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 0px;
	padding: 40px 0 0 0;
	height: 75px;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
	/*	font-style: italic;*/
	margin: 0 30px;
	font-size: 15px;
	border-top: 1px solid rgba(255,255,255,0.5);
	line-height: 140%;
}
.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
}
.ch-info p a:hover {
	color: #fff;
}
.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}
.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}
.prof-img {
	position: absolute;
	top: -42px;
	left: -20px;
	border-radius: 100%;
	overflow: hidden;
	width: 290px !important;
	height: 290px !important;
}
/*Grid*/

/*countdown-wrapper*/
.countdown-wrapper {
	padding: 60px 0px;
}
.block-content.block-content-coundown{
	margin-top: 53px;
}

.block-content-coundown{
	text-align: center;
	padding: 15px 0px 5px 0;
	margin-bottom: 15px;
}

.block-content.block-content-coundown h3{
	font-size:40px;
	line-height: 60%;
	margin-top: 15px;	
}
.countdown {
	font-size: 60px;
	text-align: center;
	font-family: 'libel_suitregular';
	display: inline-block;
	margin-top: 30px;
}
.countdown div {
	margin: 0px 5px;
	font-weight: 700;
	line-height: 60%;
	float: left;
	width: 70px;
	text-align: center;
	border: 0px solid #fff;
	text-shadow: 1px 2px 0px rgba(255,255,255,0.8);
}
.countdown span {
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	text-shadow: 0px 0px 0px rgba(255,255,255,0.8);
}
/*countdown-wrapper*/

.is-mobile {
	display: none !important;
}
.is-desktop {
	display: block !important;
}
.logo-mobile {
	display: none;
	position: absolute;
	width: 30px;
	top: 15px;
	left: 2px;
	z-index: 9999;
}

.form-content {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	height: 300px;
}

.logo-text {
	color: rgba(255,255,255,0.8);
	text-align: center;
	font-size: 18px;
	max-width: 500px;
	margin: 10px auto 15px auto;
	line-height: 130%;
}

/*Twitter Widgets*/

.twitter-widget{
height: 210px;
	overflow: auto;
	word-wrap: break-word;
}
.twitter-widget ul li {
	position: relative;
	margin-bottom: 25px;
	background: rgba(255,255,255,0.4);
	padding: 15px;
	border-radius: 5px;
}

.twitter-widget ul li .user > a{
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;
	top: 15px;
	left: 15px;
}

.twitter-widget ul li .user > div {
	margin: 0px 0px 2px 58px;
	font-size: 17px;
	padding-bottom: 17px;
}

.twitter-widget ul li p{
	margin: 0px 0px 0px 58px;
}


.twitter-widget ul li .user div:before,  .twitter-widget ul li .user > div:after {
	display: table;
	line-height: 0;
	content: "";
}
.twitter-widget ul li .user > div:after{
	clear: both;
}


.twitter-widget ul li .user > div span{
	float: left;
	display: inline-block;
	font-weight: 700;
/*	color: rgba(255,255,255,0.8);*/
	margin-right: 4px;
	
}
.twitter-widget ul li .user > div span:nth-child(2){
	display: none;
}



.twitter-widget ul li .user > div span:hover{
/*	color:#fff;*/
}

.twitter-widget ul li .media{
	margin: 15px 0px 0px 58px;
	border-radius: 4px;
	overflow: hidden;
}

.twitter-widget ul li a{
/*	color: rgba(255,255,255,0.8);*/
}
.twitter-widget ul li a:hover{
/*	color: #FFF;*/
	text-decoration: underline;
}

.twitter-widget ul li p.timePosted {
	position: absolute;
	top: 33px;
	left: 15px;
}




.col-videos .story-slider{
	margin-top: 0;
}



/*Fact*/

.fact-box {
	width: 250px;
	height: 250px;
	position: absolute;
	z-index: 999999;
	background: #FFCC00;
	border: 5px solid #2cddbb;
/*	transform: rotate(45deg);*/
	transform: rotate(45deg)scale3d(0.2,0.2,1);
	box-shadow: 5px 2px 20px rgba(0,0,0,0.5);
	transform-origin: center center;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	
	
}

.fact-box.expand
{
transform: rotate(45deg)scale3d(1,1,1);	
	cursor: default;
}


.fact-box .close {
	width: 30px;
	height: 30px;
	border: 3px solid #2cddbb;
	background: #2cddbb;
	color: #FFCC00;
	text-align: center;
	position: absolute;
	top: -17px;
	left: -17px;
	border-radius: 100%;
	overflow: hidden;
	transform: rotate(45deg);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.fact-box .close:hover{
	background: #FFCC00;
	color: #2cddbb;
}



.fact-box .close i {
	line-height: 30px;
	font-size: 20px;
	position: absolute;
	bottom: -2px;
	right: 4px;
}
.fact-content {
	position: absolute;
	transform: rotate(-45deg);
	/* border: 1px solid; */
	width: 206px;
	top: 22px;
	left: 34px;
	text-align: center;
	line-height: 120%;
}

.fact-content h4{
	font-size: 40px;
	text-align: center;
	line-height: 100%;
	height: 42px;
}

.fact-content p{
	line-height: 150%;
	font-size: 14px;
	margin:0;
	height: 130px;
}
.profile-image {
	text-align: center;
	margin-top: 5px;
	font-size: 0px;
}
.profile-image img{
	display:inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}


.cover-img {
	position: absolute;
	width: 180px;
	height: 180px;
	transform: rotate(-45deg);
	border-radius: 100%;
	overflow: hidden;
	top: 31px;
	left: 26px;
	display: block;
}

.fact-box.expand .cover-img{
	display: none;
}

.fact-content, .close{
	display: none;
}

.fact-box.expand .fact-content, .fact-box.expand .close{
	display: block;
}


/*Vs Party list*/
.vs-list{
	margin: 30px 0px 0 0;
	padding: 40px 40px 60px 40px;
	position: relative;
	background: #fff;
}

.single-list{
	position: relative;
	float: left;
	width: 50%;
	padding: 0px 50px;
}

.single-list h3{
	display: none;
}

.single-list .embed-content{
	border: 0px solid #2cddbb;
}

.party-vs .slick-prev{
	left: 0;
}

.party-vs .slick-next{
	right: 0;
}


.vs-list::after {
	font-family: 'libel_suitregular';
	font-size: 80px;
	color: #2cddbb;
	content: 'Vs';
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	width: 80px;
	text-align: center;
	margin-left: -40px;
	display: block;
	margin-top: -30px;
	line-height: 100%;
}
.party-vs .slick-dots{
	bottom:25px;
}


.party-vs .slick-dots li {
	float: none;
	display: inline-block;
	margin: 0px 7px;
}
.party-vs .slick-dots li button {
	padding: 0;
	margin: 0;
	border: 0;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #2CDDBB;
	border-radius: 100%;
	position: relative;
}
.party-vs .slick-dots li button::before {
	display: none;
}
.party-vs .slick-dots li.slick-active button {
	transform: scale(2);
}

.single-list{
	cursor: pointer;
}

.single-list .embed-content{
	background-color: rgba(0,0,0,0.2);
	background-image: url(../images/loading.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.single-list .embed-content img{
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 99;
}
.single-list.is-active .poster{
	display: none;
}

.single-list.is-active .embed-content:after{
	display: none;
}


.single-list .embed-content::after{
	width: 50px;
	height: 50px;
	position: absolute;
	content: '\f04b';
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background: rgba(76,221,187);
	border-radius: 100%;
	font-family:FontAwesome;
	font-size:25px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-align: center;
	line-height: 50px;
	color: #fff !important;
	opacity: 0.7;
	transition: 0.2s all ease-in-out;
	z-index: 1000;
	
}

.single-list:hover .embed-content:after{
	opacity: 1;
	-webkit-animation: scaling 0.5s infinite alternate;
}


@-webkit-keyframes scaling {
From {
    -webkit-transform: scale(1.0);
}
To {
    -webkit-transform: scale(1.3);
}

}


/*Result CSS*/
.result-wrapper{
	padding: 80px 0px 0 0;
	
}
.result-wrapper.is-hide{
	display: none;
}


.result-wrapper .inner-container{
	padding: 30px;
}

.col-emotion{
	float: left;
	width: 40%;
}

.col-emotion ul li{
	float: left;
	width: 50%;
}

.col-result{
	float:left;
	width: 60%;
	padding-left: 30px;
}

.result-table{
	background: #2cddbb;
	float: left;
	width: 50%;
	font-family: 'libel_suitregular';
	padding: 20px;
	font-size: 30px;
}
.table-data{
	width: 200px;
	margin: 0 auto;
}

.table-data table{
	width: 100%;
}

.result-graph{
	float: left;
	width: 50%;
	height:225px;
	overflow: hidden;
}

.graph-data {
	width: 100%;
	height: 230px;
	overflow: hidden;
	margin-top: -40px;
}


.is-graph {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}


/*Custom Chart*/

.chart-wrapper-even {
	background: #fff;
}
.highcharts-background {
	fill: transparent;
}
.highcharts-button-symbol, .highcharts-button-box {
	display: none;
}
.highcharts-credits {
	display: none;
}


.emo-party_1 img{
	display: none;
}

.emo-party_2 img{
	display: none;
}

.emo-party_1.is-happy img.is-high{
	display: block;
}

.emo-party_1.is-sad img.is-low{
	display: block;
}

.emo-party_2.is-happy img.is-high{
	display: block;
}

.emo-party_2.is-sad img.is-low{
	display: block;
}



.scale-fix-1 {
	transform: scale(0.9);
	transform-origin: bottom;
}

.key-carousel .col-content{
	padding: 0 !important;
}


