@charset "utf-8";

@media only screen and (max-width: 1400px) {
    .gallery--effect li {
        width: 20%;
    }
}
@media only screen and (max-width: 1280px) {
    .gallery--effect li {
        width: 25%;
    }
    .modal__dialog {
        max-height: 500px;
    }
    .modal__content {
        max-height: 500px;
    }
}
@media only screen and (max-width: 960px) {
	#section--first .banner--txt .txt-left {
        width: 64%;
        padding: 5px 30px 5px 40px;
    }
    #section--first .banner--txt .txt-right {
        width: 36%;
        padding-left: 20px;
    }

    /* #02 */
	#section--second .horizontal--slider .slider--caption {
	    font-size: 18px;
	    line-height: 20px;
	}

	.gallery--effect li {
        width: 33.33%;
    }
    .modal__content {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #section--first .banner--txt {
        font-size: 18px;
        line-height: 24px;
        padding: 0 50px;
    }
    #section--first .banner--txt .txt-left {
        width: 60%;
        padding: 5px 30px 5px 0;
    }
    #section--first .banner--txt .txt-right {
        width: 40%;
        padding-left: 20px;
    }
    #section--first .banner--txt .txt-right .counter {
        width: 80px;
        height: 70px;
        line-height: 70px;
        font-size: 60px;
    }
    #section--first .banner--txt .txt-right .people-txt {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 639px) {
    .thequint--logo {
        top: 10px;
        left: 10px;
        width: 35px;
    }
    .social--section {
        top: 10px;
        right: 10px
    }

	#section--first .banner--txt .banner-img {
        margin-bottom: 10px;
    }
    #section--first .banner--txt .txt-left {
        width: 100%;
        padding: 5px 0 5px 0;
        margin-bottom: 5px;
    }
    #section--first .banner--txt .txt-right {
        width: 100%;
        padding-left: 0;
        border-left: 0 none;
    }
    #section--first .banner--txt .txt-right .counter {
        width: 80px;
        height: 70px;
        line-height: 60px;
        font-size: 60px;
        padding-top: 10px;
    }
    #section--first .banner--txt .txt-right .people-txt {
        padding-top: 10px;
    }

    /* #02 */
	#section--second .horizontal--slider .slider--caption {
	    padding: 10px;
	    font-size: 18px;
	    line-height: 20px;
	}
	#section--second .horizontal--slider .slider--caption .quote--txt {
	    margin-bottom: 3px;
	}
	#section--second .horizontal--slider .slider--caption .quote--title {
	    margin-bottom: 0;
	}

	
    
    .demo-close {
        top: 94px;
    }
    .popup--header {
        display: block !important;
        width: 100%;
        text-align: center; 
        margin-bottom: 20px; 
    }
    .popup--header .popup--logo {
        margin: 0 auto;
        width: 175px;
        display: inline-block; 
    }

    .gallery--effect {
        padding: 55px 5px 10px;
    }
    .gallery--effect li {
        width: 50%;
        padding: 5px;
    }

    /*.modal__dialog {
        max-width: 600px;
        width: 600px;
        height: 100%;
        max-height: 100%;
        height: 100vh;
    }
    .modal__content {
        max-width: 600px;
        width: 600px;
        height: 100%;
        max-height: 100%;
        height: 100vh;
    }
    .modal__dialog--img {
        max-width: 170px;
    }
    .modal__dialog--content {
        max-width: 375px;
    }*/


    /*.modal__dialog {
        max-width: 100%;
        width: 100%;
        height: 100vh;
        height: 100%;
        max-height: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,1.0);
    }
    .modal__content {
        max-width: 100%;
        width: 100%;
        height: 100vh;
        box-shadow: none;
    }*/


    .modal--pop {
        max-width: 100%;
        width: 100%;
    }
    .modal__dialog {
        max-width: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        max-height: 100%;
        height: 100%;
    }
    .modal__content {
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
    }

    .modal__dialog--img {
        max-width: 130px;
    }
    .modal__dialog--content {
        max-width: 68%;
    }
    .modal__dialog h1,
    .modal__dialog h2,
    .modal__dialog h3,
    .modal__dialog h4 {
        font-size: 20px;
        line-height: 22px;
    }
    #section--forth .section--gallery .filter {
        padding-left: 10px;
        font-size: 15px;
    }
    #section--forth .section--gallery .filter-wrap {
        width: 200px;
        line-height: 34px;
    }
}
@media only screen and (max-width: 480px) {
	#section--first .banner--txt {
        padding: 0 30px;
    }
	
    /* #02 */
	#section--second .horizontal--slider .slider--caption {
	    font-size: 16px;
	    line-height: 18px;
	}
    
    .gallery--effect .contact-list-content {
        top: 8px;
    }
    .gallery--effect .contact-list-content .label-2:before,
    .gallery--effect .contact-list-content .label-3:before {
        display: none;
    }
    .gallery--effect .contact-list-content .label-2,
    .gallery--effect .contact-list-content .label-3 {
        padding-left: 1px; 
    }
    .gallery--effect figure .contact-list-content .label-3 {
        display: none;
    }

	.modal__content {
        padding: 60px 40px 10px 10px;
    }
    .modal__dialog--content {
        max-width: 60%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .modal__dialog--img {
        max-width: 100px;
    }
}