body {
    font-size: 16px;
    font-weight: 400;
    text-rendering: auto;
    color: #fff;
    background-color: #3D4356;
    font-weight: 400;
    /*line-height: 120%;*/
    font-family: 'Bitter', serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4 {
    font-weight: 400;
    font-family: 'Bitter', serif;
}
a {
    outline: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: url(../images/loading.gif) #15191f no-repeat center;
    background-size: 400px;
}

.main-wrap {
    width: 100%;
    height: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.main-wrap:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.section {
    left: 0;
    top: 0px;
    width: 25%;
    min-height: 550px;
    position: absolute;
}
.section.first .first--content__btn:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.quint-logo {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 30px;
    z-index: 99;
    display: block;
}
.quint-logo img {
    width: 100%;
}

/* Parallax */
.horizon {
    top: 0;
    line-height: 0;
    z-index: 100;
    /*width: 4500px;*/
    width: 352.5%;
    padding-left: 80px;
}
.horizon img {
    width: 60%;
}
.middle {
    z-index: 250;
    line-height: 0;
    width: 4500px;
}
.front {
    z-index: 500;
    top: 0;
    width: 5000px;
}

/*  // Section #01 // */

.section.first {
    height: 100%;
}
.section.first .first--logo {
    position: absolute;
    top: 7%;
    left: 2.8%;
    width: 26.5%;
    border-radius: 100%;
}
.section.first .first--content {
    position: absolute;
    bottom: 15px;
    left: 5%;
    max-width: 425px;
}
#display_data {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 425px;
    z-index: 99;
}
.section.first .first--content h2 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.section.first .first--content p {
    color: #e5e5e5;
    font-size: 15px;
    margin-bottom: 20px;
}
.section.first .first--content strong {
    color: #fff;
}
.section.first .first--content__btn:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.section.first .first--content .btn-left {
    float: left;
    width: 50%;
    text-align: left;
}
.section.first .first--content .btn-right {
    float: left;
    width: 50%;
    text-align: right;
}
.section.first .first--content a.btn {
    font-size: 12px;
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 8px 20px;
    color: #fff;
    background-color: #3D4356;
}
.section.first .first--content a.btn:hover {
    background-color: #fff;
    color: #3D4356;
}

.section.first .first--testimonials {
    position: absolute;
    top: 25%;
    left: 37%;
    max-width: 250px;
}
.section.first .first--testimonials h3 {
    font-size: 30px;
    color: #65AEA1;
    text-transform: uppercase;
}
.section.first .first--testimonials p {
    color: #fff;
    font-size: 14px;
}
.section.first .sig-top-counter {
    position: absolute;
    top: 15%;
    left: 47%;
}
.section.first .sig-top-counter:before {
    margin: 0 auto;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 5px;
    width: 100%;
    content: " ";
    background-color: #000;
}
.section.first .sig-top-counter:after {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 5px;
    content: " ";
    background-color: #3D4356;
    z-index: 0
}
.section.first .sig-top-counter span {
    display: block;
    color: #000;
    height: 46px;
    font-size: 46px;
    line-height: 46px;
    letter-spacing: 10px;
    text-align: center;
    padding-left: 10px;
    background-color: #fff;
}
.section.first .sig--counter {
    position: absolute;
    bottom: 70px;
    left: 39%;
    background-color: #000;
    width: 142px;
    color: #65aea1;
    padding: 8px 0 10px 13px;
    font-size: 18px;
    text-transform: uppercase;
}
.section.first .sig--counter span {
    font-size: 30px;
    font-weight: 700;
}
.first--content .sig--counter-device {
    display: none;
}
.section.first .first--quote-comment {
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 42%;
    left: 54%;
    width: 150px;
    height: 170px;
    background-image: url(../images/quote-comment.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section.first .first--quote-comment span {
    display: block;
}

.section.first .first--quote-comment__content {
    width: 100%;
    padding: 18px 9px 22px 15px;
    border-radius: 35px;
}
.section.first .first--quote-comment .txt-top {
    display: block;
    margin-bottom: 10px;
}
.section.first .first--quote-circle {
    font-size: 17px;
    color: #b2b7b5;
    position: absolute;
    top: 33%;
    left: 76%;
    width: 200px;
    height: 200px;
    background-image: url(../images/quote-circle.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section.first .first--quote-circle span {
    display: block;
}
.section.first .first--quote-circle__content {
    width: 100%;
    height: 200px;
    padding: 45px 0 0 28px;
    border-radius: 100%;
}
.section.first .first--quote-circle .txt-top {
    display: block;
    margin-bottom: 10px;
}

/* Red */
.section.first .red-dot-first {
    position: absolute;
    top: 62%;
    left: 4%;
    width: 12px;
}
.section.first .red-dot-second {
    position: absolute;
    top: 290px;
    left: 87.5%;
    width: 12px;
}

/* Red Leaf */
.section.first .red-leaf-first {
    position: absolute;
    top: 62%;
    left: 50%;
    width: 20px;
}
.section.first .red-leaf-second {
    position: absolute;
    top: 24%;
    left: 73%;
    width: 45px;
}
.section.first .red-leaf-third {
    position: absolute;
    top: 40%;
    left: 93.7%;
    width: 65px;
}

/* Yellow */
.section.first .yellow-dot-first {
    position: absolute;
    top: 45%;
    left: 67.5%;
    width: 12px;
}
.section.first .yellow-dot-second {
    position: absolute;
    top: 459px;
    left: 77.5%;
    width: 12px;
}

/* Eye */
.section.first .eye-first {
    position: absolute;
    top: 487px;
    left: 85%;
    width: 40px;
}
.section.first .eye-second {
    position: absolute;
    top: 10%;
    left: 92%;
    width: 60px;
}

/*  // Section #02 // */

.section.second {
    left: 25%;
    height: 100%;
}
.section.second .talking--quote {
    font-size: 18px;
    color: #a9aaa9;
    position: absolute;
    top: 12%;
    left: 4%;
    width: 210px;
    height: 210px;
    background-image: url(../images/talking-quote.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section.second .talking--quote__content {
    padding-top: 58px;
    width: 100%;
    min-height: 110px;
}
.section.second .talking--quote span {
    display: block;
}
.section.second .talking--quote .txt-top {
    display: block;
    margin-bottom: 10px;
}
.section.second .black--quote {
    font-size: 16px;
    color: #a9aaa9;
    position: absolute;
    top: 19%;
    left: 29%;
    width: 160px;
    height: 230px;
    background-image: url(../images/black-quote.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section.second .black--quote__content {
    width: 100%;
    padding: 49px 12px;
    min-height: 110px;
}
.section.second .black--quote span {
    display: block;
}
.section.second .black--quote .txt-top {
    display: block;
    margin-bottom: 20px;
}
.section.second .colon--quote {
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 33%;
    left: 49%;
    width: 160px;
    height: 230px;
    background-image: url(../images/colon-quote.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section.second .colon--quote__content {
    width: 100%;
    padding: 118px 12px 12px 15px;
    min-height: 125px;
}
.section.second .colon--quote span {
    display: block;
}
.section.second .colon--quote .txt-top {
    display: block;
    margin-bottom: 20px;
}
.section.second .more--testimonials {
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 18%;
    left: 71%;
}
.section.second .more--testimonials__headline {
    font-size: 18px;
    margin-bottom: 5px;
    color: #65aea1;
    text-transform: uppercase;
}
.section.second .more--testimonials__content {
    background-color: #e5e5e5;
    width: 270px;
    height: 400px;
    overflow: auto;
}
.section.second .more--testimonials__content li {
    padding: 8px 10px 10px;
    color: #fff;
    font-size: 15px;
    background-color: #858b9c;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.section.second .more--testimonials__content li:hover {
    background-color: #5a6175;
}
.section.second .tweet--box {
    position: absolute;
    bottom: 60px;
    left: 5%;
    width: 220px;
    min-height: 180px;
    padding: 15px;
    color: #e5e5e5;
    font-size: 13px;
    overflow-wrap: break-word;
    background-color: #646977;
}
.section.second .tweet--box a {
    color: #fff;
}
.section.second .tweet--box a:hover {
    text-decoration: underline;
    color: #fff;
}
.section.second .tweet--box .temp_name {
    margin-bottom: 7px;
}
.section.second .tweet--box p {
    margin-bottom: 10px;
}
.section.second .tweet--scroll {
    position: absolute;
    bottom: 5px;
    left: 5%;
    width: 75%;
    padding-left: 10px;
    height: 40px;
}
.section.second .tweet--scroll__bar {
    position: absolute;
    top: 20px;
    right: 0;
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 30px);
    height: 3px;
    background-color: #ccc;
}
.section.second .tweet--scroll__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 30px;
    z-index: 5;
}
.section.second .tweet--scroll__cricle {
    top: 15px;
    position: relative;
    height: 15px;
    overflow: hidden;
}
.section.second .tweet--scroll__cricle span {
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #ccc;
    display: block;
}
.circle-slide {
    position: absolute;
    left: 5px;
}
.circle-slide.anim {
    animation: circleSlide 30s linear infinite;
}
@keyframes circleSlide {
    0% {
        transform: translate3d(0vw, 0, 0);
    }
    100% {
        transform: translate3d(76vw, 0, 0);
    }
}
.section.second .tweet--scroll__cricle span:nth-child(2) {
    animation-delay: 10s;
}
.section.second .tweet--scroll__cricle span:nth-child(3) {
    animation-delay: 20s;
}
.section.second .tweet--scroll__right-sep {
    position: absolute;
    top: 8px;
    right: 0;
    width: 6px;
    height: 26px;
    border-radius: 20px;
    background-color: #ccc;
}
.section.second .circle--net {
    position: absolute;
    bottom: 15px;
    left: 5%;
    width: 300px;
    z-index: -1;
}

/* Yellow */
.section.second .yellow-dot-first {
    position: absolute;
    top: 12%;
    left: 22.5%;
    width: 12px;
}
.section.second .yellow-dot-second {
    position: absolute;
    top: 84%;
    left: 93%;
    width: 24px;
}

/* Red Leaf */
.section.second .red-leaf-first {
    position: absolute;
    top: 47%;
    left: 9%;
    width: 25px;
}
.section.second .red-leaf-second {
    position: absolute;
    top: 39%;
    left: 26%;
    width: 12px;
}
.section.second .red-leaf-third {
    position: absolute;
    top: 9%;
    left: 41%;
    width: 50px;
}
.section.second .red-leaf-forth {
    position: absolute;
    top: 70%;
    left: 64.5%;
    width: 25px;
}
.section.second .red-leaf-fifth {
    position: absolute;
    top: 9%;
    left: 95%;
    width: 15px;
}

/* Eye */
.section.second .eye-first {
    position: absolute;
    top: 10%;
    left: 39%;
    width: 100px;
}
.section.second .eye-second {
    position: absolute;
    top: 60%;
    left: 39.5%;
    width: 40px;
}
.section.second .eye-third {
    position: absolute;
    top: 14%;
    left: 64%;
    width: 70px;
}
.section.second .eye-forth {
    position: absolute;
    top: 50%;
    left: 65%;
    width: 30px;
}

/*  // Section #03 // */

.section.third {
    left: 50%;
    height: 100%;
}
.section.third .top-head {
    margin: 40px auto 15px;
    width: 84%;
}
.section.third .top-head--headline {
    width: 40%;
    font-size: 22px;
    color: #fff;
    line-height: 110%;
}
.section.third .top-head--headline span {
    font-weight: 700;
    color: #65aea1;
    text-transform: uppercase;
}
.section.third .row-top {
    margin: 0 auto 0;
    width: 84%;
    display: table;
    min-height: 300px;
}
.section.third .row-top:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.section.third .row-top .col-left {
    position: relative;
    width: 50%;
    display: table-cell;
}
.section.third .row-top .col-left--headline {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
    position: relative;
    z-index: 9;
    top: 0;
    margin: 0;
    padding: 0;
}
.section.third .row-top .col-left--headline span {
    font-weight: 700;
    color: #65aea1;
    text-transform: uppercase;
}
.section.third .row-top .col-left--scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    color: #000;
    width: 85%;
    height: 100%;
    overflow: auto;
    font-weight: 700;
    overflow: auto;
}
.section.third .row-top .col-left--scroll ul {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    margin-right: 50px;
}
.section.third .row-top .col-left--scroll li:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.section.third .row-top .col-left--scroll li {
    margin-bottom: 20px;
}
.section.third .row-top .col-left--scroll li:last-child {
    margin-bottom: 0;
}
.section.third .row-top .col-left--scroll__date {
    float: left;
    font-size: 15px;
    width: 110px;
    display: inline-block;
}
.section.third .row-top .col-left--scroll__content {
    float: left;
    font-size: 14px;
    width: calc(100% - 110px);
    display: inline-block;
}

/* */
.section.third .row-top .col-right {
    width: 50%;
    /*float: left;*/
    display: table-cell;
}
.section.third .row-top .col-right--headline {
    font-size: 26px;
    color: #fff;
    margin-bottom: 0;
    margin-top: -50px;
}
.section.third .row-top .col-right--headline span {
    font-weight: 700;
    color: #65aea1;
    text-transform: uppercase;
}
.section.third .row-top .col-right--slider {
    color: #000;
    width: 100%;
    position: relative;
    background-color: #fff;
}
.section.third .row-top .col-right--slider:before {
    position: absolute;
    top: 0;
    left: -15px;
    right: 0;
    height: 15px;
    width: calc(100% + 85px);
    width: -webkit-calc(100% + 85px);
    content: " ";
    background-color: #3D4356;
    z-index: 0;
    display: none;
}
.section.third .row-top .col-right--slider:after {
    position: absolute;
    bottom: 0;
    right: -70px;
    width: 70px;
    height: calc(100% - 15px);
    height: -webkit-calc(100% - 15px);
    content: " ";
    background-color: #fff;
    z-index: 0
}
.story-slider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.story-slider:before {
    position: absolute;
    bottom: 0;
    left: -15px;
    right: 0;
    width: 15px;
    height: calc(100% - 15px);
    height: -webkit-calc(100% - 15px);
    content: " ";
    background-color: #fff;
    z-index: 0;
}
.story-slider figcaption {
    padding: 8px 0;
    min-height: 60px;
}
.story-slider a {
    color: #000;
}

/* Slick Custom CSS */
.slick-dots {
    right: -37px;
    top: 35%;
    bottom: 0;
    width: 20px;
}
.slick-dots li {
    z-index: 5;
}
.slick-dots li button {
    padding: 32px;
}
.slick-dots li button:before {
    font-size: 22px;
    line-height: 22px;
}
.slick-vertical .slick-slide {
    border: none;
}
.section.third .row-bottom {
    margin: 10px auto 0;
    width: 96%;
}
.section.third .row-bottom:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.section.third .row-bottom--headline {
    font-size: 22px;
    color: #fff;
    padding-left: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.section.third .row-bottom--col-third li {
    padding: 0 20px;
    float: left;
    width: 33.33%;
    counter-increment: step-counter;
}
.section.third .row-bottom--col-third li::before {
    content: counter(step-counter);
    float: left;
    width: 70px;
    height: 80px;
    display: block;
    text-align: center;
    line-height: 80px;
    background-color: #65aea1;
    font-size: 68px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
}
.section.third .row-bottom--col-third .story-txt {
    position: relative;
    float: left;
    display: block;
    width: calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    min-height: 80px;
    background-color: #fff;
}
.section.third .row-bottom--col-third .story-txt span {
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
    -moz-transform: translateY (-50%);
    -o-transform: translateY (-50%);
    transform: translateY(-50%);
}
.section.third .row-bottom--col-third a {
    color: #000;
}
.section.third .row-bottom--col-third__sub-headline {
    padding: 8px 15px;
    color: #fff;
    font-size: 18px;
    background-color: #000;
}
.section.third .row-bottom--col-third__content {
    padding: 10px 15px;
    color: #000;
    font-size: 16px;
    background-color: #fff;
}

/* Red Leaf */
.section.third .red-leaf-first {
    position: absolute;
    top: 44%;
    left: 3%;
    width: 25px;
}
.section.third .red-leaf-second {
    position: absolute;
    top: 30%;
    left: 46%;
    width: 17px;
}
.section.third .red-leaf-third {
    position: absolute;
    top: 85%;
    right: 32%;
    width: 25px;
}
.section.third .red-leaf-forth {
    position: absolute;
    top: 76%;
    right: 0;
    width: 50px;
}

/* Eye */
.section.third .eye-first {
    position: absolute;
    top: 68%;
    left: 2%;
    width: 35px;
}
.section.third .eye-second {
    position: absolute;
    top: 9%;
    left: 86.5%;
    width: 66px;
}
.section.third .yellow-dot-first {
    position: absolute;
    top: 465px;
    right: 18%;
    width: 12px;
}

/*  // Section #04 // */

.section.forth {
    left: 75%;
    height: 100%;
}
.section.forth .col-left {
    margin-top: 50px;
    float: left;
    width: 50%;
    padding: 0 80px;
}
.section.forth .col-left--headline {
    font-size: 22px;
    font-weight: 700;
    color: #65aea1;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.section.forth .col-left--content-box {
    position: relative;
    padding: 10px;
    color: #000;
    min-height: 245px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
}
.section.forth .col-left--content-box--impect {
    position: relative;
    padding: 15px 18px;
    color: #000;
    height: 218px;
    margin-bottom: 20px;
    overflow: auto;
    background-color: #fff;
}
.section.forth .col-left--content-box--impect strong {
    font-weight: 700;
}

.section.forth .col-left--content-box--impect li {
    margin-bottom: 10px;
}
ul.safe {
    position: absolute;
    left: 0;
    width: 500%;
    transition: 0.9s all ease-in-out;
}
ul.safe.slide-first {
    transform: translateX(-20%);
    transition: 0.9s all ease-in-out;
}
ul.safe.slide-second {
    transform: translateX(-40%);
    transition: 0.9s all ease-in-out;
}
ul.safe.slide-third {
    transform: translateX(-60%);
    transition: 0.9s all ease-in-out;
}
ul.safe.slide-forth {
    transform: translateX(-80%);
    transition: 0.9s all ease-in-out;
}
.section.forth .col-left--content-box .safe:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.section.forth .col-left--content-box .safe li {
    float: left;
    width: 20%;
    padding: 40px 30px;
}
.safe--headline {
    color: #3D4356;
    font-size: 32px;
    margin-bottom: 30px;
}
.safe--results {
    color: #3D4356;
    font-size: 32px;
}
.safe--results .highlight {
    font-weight: 700;
    color: red;
}
.section.forth .col-left--content-box .safe li.safe-last {
    padding: 10px 20px;
}
.safe--results .start-over {
    margin: 12px auto;
    max-width: 165px;
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
    background-color: #3D4356;
    border-radius: 10px;
    cursor: pointer;
}
.safe--form input[type="text"] {
    width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    height: 50px;
    float: left;
    padding-right: 50px;
    border: 0;
    border-bottom: 2px #3D4356 solid;
    font-size: 22px;
    color: #3D4356;
    font-family: 'Bitter', serif;
    -webkit-border-radius:0; 
    border-radius:0;
}
select[type="select"] {
    width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    height: 50px;
    float: left;
    padding-right: 50px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px #3D4356 solid;
    font-size: 22px;
    color: #3D4356;
    background-color: #fff;
    font-family: 'Bitter', serif;
    -webkit-border-radius:0; 
    border-radius:0;
}
.safe-btn {
    width: 50px;
    height: 50px;
    background-color: #3D4356;
    border: none;
    border-radius: 0;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    font-family: 'Bitter', serif;
}
.error-message {
    display: none;
    color: red;
    font-size: 12px;
    padding: 5px 0;
}
.section.forth .col-right {
    margin-top: 50px;
    float: left;
    width: 50%;
    padding: 0 40px;
}
.section.forth .col-right--headline {
    font-size: 22px;
    font-weight: 700;
    color: #65aea1;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.share--form {
    margin: 0 auto;
    width: 100%;
}
.share--form .form-group {
    width: 100%;
}
.share--form .form-group label {
    width: 100%;
    display: block;
    font-weight: 400;
    padding-bottom: 3px;
}
.share--form .form-group input,
.share--form .form-group textarea {
    width: 100%;
    display: block;
    padding: 10px;
    height: 50px;
    border: 0 none;
    outline: none;
    font-size: 24px;
    color: #fff;
    border: none;
    background: #646977;
    font-family: 'Bitter', serif;
    margin-bottom: 20px;
    -webkit-border-radius:0; 
    border-radius:0;
}
.share--form .form-group textarea {
    min-height: 320px;
}
input:focus,
button:focus,
select:focus {
    outline: none;
}
.share--form .form-group input:focus {
    background: #646977;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff;
}

::-ms-input-placeholder {
    color: #fff;
}

::placeholder {
    color: #fff;
}
.share--form .form-group.align-right {
    text-align: right;
}
.share--form .btn-submit {
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding: 7px 38px 8px;
    display: inline-block;
    text-align: right;
    position: relative;
    text-transform: uppercase;
    background: none;
    font-family: 'Bitter', serif;
}
.share--form .btn-submit:after {
    position: absolute;
    top: 5px;
    right: 0;
    content: "";
    width: 28px;
    height: 28px;
    background-image: url(../images/send-arrow.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#result .success {
    color: green;
}
.section.forth .circle--net {
    position: absolute;
    bottom: 22px;
    left: 23.5%;
    width: 379px;
    z-index: -1;
}

/* Red Leaf */
.section.forth .red-leaf-first {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 27px;
}
.section.forth .red-leaf-second {
    position: absolute;
    top: 45px;
    left: 48%;
    width: 35px;
}
.section.forth .red-leaf-third {
    position: absolute;
    top: 585px;
    left: 50%;
    width: 25px;
}
.section.forth .red-leaf-forth {
    position: absolute;
    top: 583px;
    left: 80%;
    width: 32px;
}

/* Eye */
.section.forth .eye-first {
    position: absolute;
    top: 160px;
    left: 49%;
    width: 25px;
}

.section.forth .eye-second {
    position: absolute;
    top: 340px;
    left: 45%;
    width: 45px;
}
.section.forth .eye-third {
    position: absolute;
    top: 590px;
    left: 65%;
    width: 25px;
}
.prev-arrow {
    position: fixed;
    top: 50%;
    left: 5px;
    width: 30px;
    height: 30px;
    z-index: 999;
    cursor: pointer;
}
.next-arrow {
    position: fixed;
    top: 50%;
    right: 5px;
    width: 30px;
    height: 30px;
    z-index: 999;
    cursor: pointer;
}

/* Popup */
.popup-btn {
    cursor: pointer;
}
.popup-box {
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
    -moz-transform: translateY (-50%);
    -o-transform: translateY (-50%);
    transform: translateY(-50%);
    z-index: 9999;
    max-width: 480px;
    /*height: 356px;*/
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    background-color: #5db3b2;
    box-shadow: 10px 10px 70px #000;
    border-radius: 3px;
}
.popup-box--content {
    padding: 20px;
}
.popup-box--content h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
.popup-box--content p {
    font-size: 18px;
    color: #fff;
}
.popup-box .close-icon {
    width: 22px;
    height: 22px;
    line-height: 22px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    display: block;
    cursor: pointer;
    color: #5db3b2;
    font-weight: bold;
    transition: 0.1s all ease-in-out;
}

/*social*/
.social--section {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 40px;
    z-index: 999;
    display: block;
    text-align: center;
}

.social--section .social-back {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    cursor: pointer;
}
.social--section .social-icons {
    display: none;
}
.social--section .social-icons.show {
    display: block;
}
.social-icons .facebook,
.social-icons .twitter,
.social-icons .copyright {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    display: inline-block;
}
.social img {
    width: 100%;
}

/*screen*/
.rotate_screen {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #3D4356;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    z-index: 10000;
    display: none;
}
.rotate_screen h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}
.rotate_container {
    top: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

.rotate_screen svg {
    width: 220px;
    height: 220px;
    margin: auto;
    left: 50%;
    margin-left: -110px;
    position: relative;
    animation: rotate_phone 2s ease-in-out infinite;
    -o-animation: rotate_phone 2s ease-in-out infinite;
    -ms-animation: rotate_phone 2s ease-in-out infinite;
    -webkit-animation: rotate_phone 2s ease-in-out infinite;
    -moz-animation: rotate_phone 2s ease-in-out infinite;
}
.rotate_screen h1 {
    font-size: 20px;
}
.rotate_screen svg {
    width: 110px;
    height: 110px;
    margin-left: -55px;
}
@keyframes rotate_phone {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@-webkit-keyframes rotate_phone {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        ;
    }
    50% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    100% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
}

@-webkit-keyframes hvr-bob {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg)
    }
    50% {
        -webkit-transform: translateY(4px) rotate(90deg);
        transform: translateY(4px) rotate(90deg)
    }
}

@keyframes hvr-bob {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg)
    }
    50% {
        -webkit-transform: translateY(4px) rotate(90deg);
        transform: translateY(4px) rotate(90deg)
    }
}
@media all and (orientation:landscape) and (max-width:768px) {
    .rotate_screen {
        display: block;
    }
}

.red-leaf-first,
.red-leaf-second,
.red-leaf-third,
.red-leaf-forth,
.red-leaf-fifth,

.eye-first,
.eye-second,
.eye-third,
.eye-forth,

.red-dot-first,
.red-dot-second,
.red-dot-third,
.red-dot-forth,

.yellow-dot-first,
.yellow-dot-second,
.yellow-dot-third,
.yellow-dot-forth {
    z-index: -1;
}

/* Bounce In */
.hvr-bounce-in {
    /*display: inline-block;*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

@media only screen and (max-width: 1100px) {
    body {
        background-color: #3D4356;
        background-image: url(../images/parallax-mobile.svg);
        background-size: 75%;
        background-position: center 50px;
        background-repeat: no-repeat;
    }
    .main-wrap {
        height: auto;
    }
    .section {
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        min-height: 0;
        position: relative;
    }
    .first-assets {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        padding: 100% 0;
        z-index: -1;
    }
    .section.first .red-dot-first {
        top: 5%;
        left: 4%;
    }
    .section.first .red-dot-second {
        top: 51%;
        left: 87.5%;
    }
    /* Red Leaf */
    .section.first .red-leaf-first {
        top: 81%;
        left: 22%;
    }
    .section.first .red-leaf-second {
        top: 63%;
        left: 53%;
    }
    .section.first .red-leaf-third {
        top: 43%;
        left: 86.7%;
    }
    /* Yellow */
    .section.first .yellow-dot-first {
        top: 91%;
        left: 89.5%;
    }
    .section.first .yellow-dot-second {
        top: 118%;
        left: 18.5%;
    }
    /* Eye */
    .section.first .eye-first {
        top: 104%;
        left: 54%;
    }
    .section.first .eye-second {
        top: 5%;
        left: 83%;
    }

    .prev-arrow,
    .next-arrow {
        display: none;
    }
    .section.first .first--logo,
    .section.first .first--content,
    .section.first .first--testimonials,
    .section.first .first--quote-comment,
    .section.first .first--quote-circle {
        position: relative;
    }
    .section.first .sig-top-counter {
        /*margin: 0 auto;*/
        position: relative;
        left: 8%;
        top: 50px;
        right: 0;
        width: 80px;
        margin-bottom: 20px;
    }

    .section.first .first--logo {
        margin: 0 auto;
        width: 180px;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .section.first .first--content {
        margin-top: -20px;
        padding: 40px 8%;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        background-color: #646977;
        /*opacity: 0.5;*/
    }
    .section.first .first--content h2 {
        font-size: 30px;
    }
    .section.first .first--content p {
        font-size: 20px;
    }
    .section.first .first--content .btn-left,
    .section.first .first--content .btn-right {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
    .section.first .first--content .btn-left {
        margin-bottom: 15px;
    }
    .section.first .first--content a.btn {
        font-size: 15px;
        border-radius: 20px;
        display: inline-block;
        padding: 8px 20px;
    }
    .section.first .first--testimonials {
        padding: 40px 8%;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
    }
    .section.first .first--testimonials h3 {
        font-size: 24px;
    }
    .section.first .first--testimonials p {
        font-size: 16px;
    }
    .section.first .first--quote-comment {
        width: 150px;
        height: 165px;
        top: 30px;
        left: calc(100% - 286px);
        left: -webkit-calc(100% - 286px);
    }
    .section.first .first--quote-circle {
        width: 200px;
        height: auto;
        top: 0;
        left: 8%;
    }

    .section.first .sig--counter {
        display: none;
    }
    .first--content .sig--counter-device {
        margin: 20px auto 0;
        display: block;
        background-color: #000;
        max-width: 240px;
        color: #65aea1;
        padding: 7px 0 10px;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
    }
    .first--content .sig--counter-device span {
        font-size: 30px;
        font-weight: 700;
        display: block;
    }

    /* ///// */
    .section.second {
        width: 100%;
        left: 0;
    }
    .second-assets {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        padding: 100% 0;
        z-index: -1;
    }
    .section.second .yellow-dot-first {
        top: -21%;
        left: 3%;
        width: 23px;
    }
    .section.second .yellow-dot-second {
        left: 95%;
    }
    .section.second .eye-first {
        top: -14%;
        left: 74%;
        width: 85px;
    }
    .section.second .eye-third {
        top: 1%;
        left: 92%;
        width: 62px;
    }
    .section.second .eye-second {
        top: 414px;
        left: 5%;
        width: 40px;
    }
    .section.second .red-leaf-third {
        top: -3%;
        left: 30%;
        width: 45px;
    }
    .section.second .talking--quote,
    .section.second .black--quote,
    .section.second .colon--quote,
    .section.second .tweet--box,
    .section.second .tweet--scroll {
        position: relative;
    }
    .section.second .talking--quote {
        top: -40px;
        width: 210px;
        height: 210px;
        left: calc(100% - 292px);
        left: -webkit-calc(100% - 292px);
    }
    .section.second .black--quote {
        top: -40px;
        left: 15%;
        width: 160px;
        height: 230px;
    }
    .section.second .colon--quote {
        top: -60px;
        width: 160px;
        height: 230px;
        left: calc(100% - 226px);
        left: -webkit-calc(100% - 226px);
    }
    .section.second .tweet--box {
        margin-bottom: 50px;
        top: 0;
        left: 8%;
        right: 0;
        width: 240px;
        /*height: 180px;*/
    }
    .section.second .tweet--scroll {
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        width: 80%;
    }

    .section.second .more--testimonials {
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 8% 40px;
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    .section.second .more--testimonials__content {
        width: 100%;
    }
    .section.second .more--testimonials__content li {
        padding: 15px;
    }

    /* ///// */
    .section.third {
        width: 100%;
        height: 500px;
        left: 0;
        background: #ccc;
    }
    .third-assets {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        padding: 100% 0;
        z-index: -1;
    }
    .section.third .red-leaf-first {
        top: -19%;
        left: 6%;
    }
    .section.third .red-leaf-second {
        top: -1%;
    }
    .section.third .red-leaf-forth {
        top: -2%;
    }
    .section.third .red-leaf-third {
        top: 584px;
    }
    .section.third .yellow-dot-first {
        top: 405px;
        right: 3%;
        width: 24px;
    }
    .section.third .top-head--headline {
        width: 100%;
    }
    .section.third .row-top {
        padding: 0 8% 40px;
        width: 100%;
        display: block;
    }
    .section.third .row-top .col-left {
        display: block;
        width: 100%;
        padding: 0;
        min-height: 400px;
        margin-bottom: 60px;
    }
    .section.third .row-top .col-left--scroll {
        width: 100%;
    }
    .section.third .row-top .col-right {
        display: block;
        width: 100%;
        float: left;
        padding: 0;
        margin-top: 20px;
        width: 575px;
    }
    /*.slick-vertical .slick-slide {
        height: 380px
    }*/
    .section.third .row-top .col-right--slider {
        min-height: 0;
        height: auto;
    }
    .story-slider figcaption {
        padding-left: 10px;
    }
    .section.third .row-bottom {
        width: 100%;
        padding: 0 8% 0;
    }
    .section.third .row-bottom--headline {
        padding-left: 0;
    }
    .section.third .row-bottom--col-third {
        padding: 0;
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .section.third .row-bottom--col-third li {
        padding: 0;
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .section.third .top-head {
        margin: 20px auto 10px;
    }
    .story-slider:before,
    .section.third .row-top .col-right--slider:before {
        display: none;
    }

    /* ///// */
    .section.forth {
        width: 100%;
        height: 500px;
        left: 0;
    }
    .section.forth .col-left {
        width: 100%;
        padding: 20px 8%;
        margin-top: 0;
    }
    .section.forth .col-right {
        width: 100%;
        padding: 20px 8%;
        margin-top: 0;
    }
    @keyframes circleSlide {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(91vw, 0, 0);
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: #3D4356;
        background-image: url(../images/parallax-mobile.svg);
        background-size: 90%;
        background-position: center 50px;
        background-repeat: no-repeat;
    }
    .section.first .first--logo {
        margin: 0 auto;
        width: 170px;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .section.first .first--content {
        margin-top: -20px;
        padding: 40px;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
    }
    .section.first .first--content h2 {
        font-size: 24px;
    }
    .section.first .first--content p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .section.first .first--testimonials {
        padding: 40px;
    }
    .section.first .first--content .btn-left,
    .section.first .first--content .btn-right {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
    .section.first .first--content .btn-left {
        margin-bottom: 10px;
    }
    .section.first .first--content a.btn {
        font-size: 13px;
        border-radius: 20px;
        display: inline-block;
        padding: 8px 20px;
    }
    .section.first .sig-top-counter {
        left: 40px;
        top: 50px;
    }

    .section.third .row-top {
        padding: 0 40px 40px;
        margin-top: 20px;
    }

    .section.third .row-bottom {
        width: 100%;
        padding: 0 40px 0;
    }
    .section.third .top-head {
        width: 100%;
        padding: 0 40px;
    }
    .section.forth .col-left {
        padding: 40px 40px 0;
    }
    .section.forth .col-right {
        padding: 30px 40px 40px;
    }
    .section.first .first--quote-comment {
        top: 0;
        left: calc(100% - 200px);
        left: -webkit-calc(100% - 200px);
    }
    .section.third .row-top .col-right {
        width: 490px;
    }
    /*.slick-vertical .slick-slide {
        height: 330px
    }*/
    .section.first .first--quote-circle {
        top: -60px;
    }
    .section.second .talking--quote {
        top: -70px;
    }
    .section.second .black--quote {
        top: -70px;
    }
    .section.second .colon--quote {
        top: -70px;
    }
    .section.second .tweet--box {
        margin-bottom: 0;
        top: -40px;
        left: 40px;
    }
    .section.second .tweet--scroll {
        top: -20px;
        width: 90%;
    }
    .section.second .more--testimonials {
        padding: 0 40px 70px;
    }
}

@media only screen and (max-width: 640px) {
    .section.first .first--content {
        padding: 20px;
    }
    .section.first .first--testimonials {
        padding: 20px;
    }
    .section.second .more--testimonials {
        padding: 0 20px 30px;
    }
    .section.first .sig-top-counter {
        left: 20px;
        top: 30px;
    }

    .section.third .row-top {
        padding: 0 20px 20px;
        width: 100%;
    }
    .section.third .row-bottom {
        width: 100%;
        padding: 0 20px 0;
    }
    .section.third .top-head {
        width: 100%;
        padding: 0 20px;
    }
    .section.forth .col-left {
        padding: 0 20px 20px;
    }
    .section.forth .col-left--content-box.second {
        margin-bottom: 0;
    }
    .section.forth .col-right {
        padding: 0 20px 20px;
    }

    .section.third .row-top .col-right {
        width: 520px;
    }
    /*.slick-vertical .slick-slide {
        height: 340px
    }*/
    .section.third .row-top .col-right--slider:after {
        right: -40px;
        width: 40px;
    }
    .slick-dots li button {
        padding: 23px;
    }
    .slick-dots {
        right: -25px;
        top: 33%;
    }
    .slick-dots li button:before {
        font-size: 18px;
        line-height: 18px;
    }
    .story-slider figcaption {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .section.first .first--quote-comment {
        top: 10px;
        left: calc(100% - 180px);
        left: -webkit-calc(100% - 180px);
    }
    .section.first .first--quote-circle {
        top: -60px;
        left: 30px;
    }
    .section.second .talking--quote {
        top: -70px;
        left: calc(100% - 240px);
        left: -webkit-calc(100% - 240px);
    }
    .section.second .black--quote {
        top: -70px;
        left: 30px;
    }
    .section.second .colon--quote {
        top: -110px;
        left: calc(100% - 200px);
        left: -webkit-calc(100% - 200px);
    }
    .section.second .tweet--box {
        margin-bottom: 10px;
        top: -7px;
        left: 20px;
    }
    .section.second .tweet--scroll {
        top: 0;
        width: 90%;
    }
    .section.third .row-top .col-right {
        width: 400px;
    }
    /*.slick-vertical .slick-slide {
        height: 280px
    }*/
    .popup-box {
        width: 90%;
    }
}

@media only screen and (max-width: 479px) {
    .section.first .first--quote-comment {
        width: 130px;
        height: 144px;
        top: 0;
        font-size: 13px;
        left: calc(100% - 150px);
        left: -webkit-calc(100% - 150px);
    }
    .section.first .first--quote-comment__content {
        padding: 16px 10px 0;
    }
    .section.first .first--quote-comment .txt-top {
        margin-bottom: 5px;
    }
    .section.first .first--quote-circle {
        left: 20px;
        font-size: 14px;
        width: 155px;
        height: 155px;
    }
    .section.first .first--quote-circle__content {
        padding: 32px 0 0 21px;
        height: 155px;
    }
    .section.first .first--quote-circle .txt-top {
        margin-bottom: 5px;
    }

    .section.second .talking--quote {
        font-size: 14px;
        width: 160px;
        height: 160px;
        left: calc(100% - 180px);
        left: -webkit-calc(100% - 180px);
    }
    .section.second .talking--quote .txt-top {
        margin-bottom: 7px;
    }
    .section.second .talking--quote__content {
        padding-top: 42px;
    }

    .section.second .black--quote {
        top: -30px;
        font-size: 14px;
        width: 140px;
        height: 200px;
    }
    .section.second .black--quote__content {
        padding: 40px 10px 0;
    }
    .section.second .colon--quote {
        font-size: 14px;
        width: 140px;
        height: 200px;
        top: -30px;
        left: calc(100% - 160px);
        left: -webkit-calc(100% - 160px);
    }
    .section.second .colon--quote__content {
        padding: 100px 12px 12px 12px;
    }
    .section.second .colon--quote .txt-top {
        margin-bottom: 5px;
    }

    .section.forth .col-left--content-box {
        min-height: 240px;
    }
    .section.forth .col-left--content-box .safe li {
        padding: 30px 20px
    }
    .safe--headline {
        font-size: 20px;
    }
    .safe--results {
        font-size: 22px;
    }
    .section.forth .col-left--content-box .safe li.safe-last {
        padding: 15px 20px;
    }
    .safe--results .start-over {
        margin: 15px auto;
        max-width: 135px;
        font-size: 20px;
    }
    .section.third .row-top .col-right {
        width: 265px;
    }
    /*.slick-vertical .slick-slide {
        height: 200px
    }*/
    .slick-dots li button {
        padding: 13px;
    }
    .slick-dots {
        right: -25px;
        top: 33%;
    }
    .slick-dots li button:before {
        font-size: 15px;
        line-height: 15px;
    }
    
    .section.first .red-dot-first {
        top: 5%;
        left: 4%;
    }
    .section.first .red-dot-second {
        top: 80%;
        left: 87.5%;
    }
    /* Red Leaf */
    .section.first .red-leaf-first {
        top: 99%;
        left: 22%;
    }
    .section.first .red-leaf-second {
        top: 168%;
        left: 53%;
    }
    .section.first .red-leaf-third {
        top: 116%;
        left: 86.7%;
    }
    /* Yellow */
    .section.first .yellow-dot-first {
        top: 164%;
        left: 89.5%;
    }
    .section.first .yellow-dot-second {
        top: 187%;
        left: 18.5%;
    }
    /* Eye */
    .section.first .eye-first {
        top: 104%;
        left: 54%;
    }
    .section.first .eye-second {
        top: 10%;
        left: 84%;
        width: 36px;
    }

    .section.second .eye-third,
    .section.second .red-leaf-fifth {
        display: none;
    }

}