@charset "utf-8";
.container {
	max-width: 1280px;
}

@media (max-width:1279px) {
.container {
	max-width: 960px;
}
}

@media (max-width:960px) {
.container {
	padding: 0 10px;
}
.doctors-slider figure {
	margin: 0px 10px;
}
.wrapper-headline {
	font-size: 40px;
	line-height: 120%;
	margin-bottom: 15px;
}
}
