@charset "utf-8";

@media (max-width:549px) {
.container {
	max-width: 100%;
	padding: 0px 10px;
}
.swiper-button-prev, .swiper-button-next {
	transform: scale(0.5);
}
.bio-headline {
	font-size: 25px;
	margin-bottom: 10px;
}
.text-container h2 {
	transform: scale(0.7);
}
.text-container p, .discussion-container li figcaption {
	font-size: 22px;
}
.discussion-container {
	padding: 0px 10px;
}
.discussion-container li .profile-pic {
	width: 100px;
}
.discussion-container li figure {
	padding: 0 0px 0 100px;
	width: 100%;
	max-width: inherit;
}
.discussion-container li figcaption {
	padding: 20px 15px;
}
.discussion-container li:nth-child(even) figure {
	padding: 0 100px 0 0px;
}
}
