body {
    /*height: 690px;*/
    font-family: 'Strait', sans-serif;
    line-height: 100%;
    color: #222;
	background:url("../images/body-bg.jpg") no-repeat;
	background-size: cover;
	-wevkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

@font-face {
    font-family: 'gagalinregular';
    src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2'), url('../fonts/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'digital-7regular';
    src: url('../fonts/digital-7-webfont.woff2') format('woff2'),
         url('../fonts/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#wrap {
    margin: 0 auto 30px;
    max-width: 900px;
    position: relative;
    /*background-color: #ccc;*/
}

#wrap:before,
#wrap:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

#wrap .box-left {
    padding-top: 30px;
    float: left;
    width: 400px;
    /*background-color: #ccc;*/
    position: relative;
}

.box-left .bb-item h4 {
    color: #fff;
    margin: 15px 0;
    font-size: 18px;
}

.box-left .bb-item .header {
    height: 50px;
    width: 100%;
    background: url(../images/bat.png) no-repeat left;
    background-size: 300px;
}

.box-left .bb-item .iframe {
    margin: 10px 0;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    /*height: 350px;*/
    overflow: hidden;
    border: 3px #fff solid;
    border-color: rgba(255,255,255, 0.8);
}

.box-left .bb-item .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-left .bb-item .facebook-iframe {
    margin: 10px 0;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 350px;
    overflow: hidden;
    border: 3px #fff solid;
    border-color: rgba(255,255,255, 0.8);
}

.box-left .bb-item .facebook-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 197px;
    height: 100%;
    margin: 0 auto;
}

.box-left .bb-item .jw-iframe {
    margin: 10px 0;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 350px;
    overflow: hidden;
    border: 3px #fff solid;
    border-color: rgba(255,255,255, 0.8);
}

.box-left .bb-item .facebook-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 197px;
    height: 100%;
    margin: 0 auto;
}

.box-left .bb-item .media {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    border: 3px #fff solid;
    border-color: rgba(255,255,255, 0.8);
}
.box-left .bb-item .media img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.box-left .bb-item .content {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}

#wrap .box-right {
    float: left;
    width: 500px;
    height: 600px;
    /*background-color: #ddd;*/
    position: relative;
}

.box-right .run-board {
    margin: 0 auto;
    max-width: 400px;
    height: 425px;
    background: url(../images/score-board.png) no-repeat top center;
    background-size: 100%;
}

.box-right .run-board .run-text {
    text-align: center;
    margin: 0 auto;
    padding: 130px 0 0 0;
    line-height: 67px;
    color: #fff;
    font-size: 54px;
    /*font-family: 'gagalinregular';*/
    font-family: 'digital-7regular';
    font-weight: bold;
}


/*.box-right .run-board .run-text span {
    font-size: 40px;
}*/

.box-right .run-board .run-content {
    padding: 18px 25px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.box-right .run-board .run-content span {
    /*background-color: #ffdb01;*/
    font-weight: bold;
}

.box-right .next-ball {
    width: 300px;
    margin: 30px auto 0;
    cursor: pointer;
}

.flip-box {
    /*border: 5px #000 solid;*/
    position: relative;
}

.flip-box ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.flip-box li {
    width: 400px;
    height: 600px;
    padding: 10px 20px;
    border: 5px #000 solid;
}

.pages {
    font-family: 'gagalinregular';
    position: absolute;
    z-index: 9;
    top: 28px;
    right: 28px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.pages .result {
    font-size: 44px;
    margin-left: 1px;
}

.flip-box li {
    /*background-color: #f08e48;*/
    background: url(../images/page-bg.jpg) no-repeat center;
    background-size: cover;
}


/*.flip-box li:nth-child(02) {
    background-color: #f2e394;
}

.flip-box li:nth-child(03) {
    background-color: #ffcc5c;
}

.flip-box li:nth-child(04) {
    background-color: #ff6f69;
}

.flip-box li:nth-child(05) {
    background-color: #588c7e;
}*/

.alert-show {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popup-box {
    max-width: 800px;
    height: 295px;
    /*background-color: #fff;*/
    padding: 50px 20px 0;
    margin: -140px auto 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    background: rgba(0, 0, 0, 0) url("../images/end-plate.png") no-repeat scroll 0 14px / 100% auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'gagalinregular';
}

.popup-box .headline {
    font-size: 55px;
    color: red;
    line-height: 100%;
    letter-spacing: 2px;
}

.popup-box .resultPop {
    font-size: 55px;
    color: #fcde03;
    line-height: 100%;
    letter-spacing: 2px;
}

.popup-box .content {
    font-size: 40px;
    color: #1e82c2;
    line-height: 62px;
    background: url(../images/pop-white.png) no-repeat center;
    background-size: 100%;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 10px;
    cursor: pointer;
}

.popup-box .close-btn {
    /*background-color: #555;*/
    width: 40px;
    height: 40px;
    position: absolute;
    top: 22px;
    right: 0;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 50px;
    background-color: #555;
    border-radius: 100%;
}

.popup-box .close-btn span {
    height: 40px;
    display: block;
}

.popup-box .close-btn i {
    margin-top: -4px;
    height: 40px;
}


.social-share{
	display: block;
	text-align: center;
	padding-top: 6px;
	
}
.social-share a {
  background: #fff none repeat scroll 0 0;
  border-radius: 100%;
  color: #333;
  display: inline-block;
  height: 26px;
  margin: 0 1px;
  width: 26px;
	text-decoration: none;
}
.social-share a i{
	display: block;
	line-height: 26px;
}



.social-share a:hover{color: #1E82C2}


/*social*/

.social {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 50px;
    z-index: 9;
    display: block;
    text-align: center;
}

.volume {
    position: absolute;
    left: -30px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    text-align: left;
    color: #fff;
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    z-index: 9;
    display: block;
}

.logo img {
    width: 100%;
}

.social-back {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    cursor: pointer;
}

.social-icons {
    display: none;
}

.social-icons.show {
    display: block;
}

.social-icons .facebook,
.social-icons .twitter,
.social-icons .copyright {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    display: inline-block;
}

.social img {
    width: 100%;
}

@media(max-width: 900px) {
    .social {
        position: fixed;
        top: 15px;
        right: 15px;
        width: 30px;
        z-index: 9999;
        display: block;
    }
    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 35px;
        z-index: 3;
        display: block;
    }
    .social-back {
        width: 30px;
        height: 30px;
        margin-bottom: 8px;
        cursor: pointer;
    }
    .social-icons .facebook,
    .social-icons .twitter,
    .social-icons .copyright {
        width: 30px;
        height: 30px;
        margin-bottom: 8px;
    }
}


/*Footer*/

.footer-wrapper {
    width: 100%;
    height: 35px;
    background-color: #000;
    text-align: center;
    font-size: 12px;
    line-height: 35px;
    z-index: 1000;
    padding: 0px 5%;
	position: fixed;
	left: 0;
	bottom: 0;
}



.footer-wrapper a {
    color: #fff;
	text-decoration: none;
}

.copy {
    float: left;
}

.credits {
    float: right;
    cursor: pointer;
    color: #fff;
}

.creditsModal {
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

.modal-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    font-size: 14px;
    color: #fff;
}

.modal-content span {
    display: block;
    padding: 4px 0px
}

.modalClose {
    display: inline-block;
    ;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
}

@media (max-width: 991px) {
    .footer-wrapper {
        position: inherit;
    }
}

.hide {
    display: none !important;
}

@media only screen and (max-width: 900px) {
	
	
	.footer-wrapper{
		position:static;
	}
	
    #wrap {
        max-width: 400px;
    }
    /* Box Left */
    #wrap .box-left {
        width: 100%;
        padding-top: 50px;
    }
    .box-left .page-instruction {
        display: block !important;
        margin: 10px 0 15px;
        font-size: 18px;
        line-height: 23px;
        font-weight: bold;
    }
    .box-left .page-instruction h1 {
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 10px;
        color: #222;
    }
    /* Box Right */
    #wrap .box-right {
        width: 100%;
        height: auto;
    }
    .box-right .run-board {
        height: 70px;
        background: none;
    }
    .box-right .run-board .run-text {
        padding: 5px;
        color: #000;
    }
    .box-right .run-board .run-content {
        display: none;
    }
    .box-right .next-ball {
        margin: 0 auto 20px;
        height: 80px;
    }
    .volume {
        top: 3px;
    }
    /* Pop */
    .popup-box {
        max-width: 600px;
        height: 244px;
        margin: -100px auto 0;
        padding: 50px 20px 0;
    }
    .popup-box .headline {
        font-size: 36px;
    }
    .popup-box .resultPop {
        font-size: 36px;
    }
    .popup-box .content {
        font-size: 30px;
        background-size: 100%;
        max-width: 360px;
        margin-top: 5px;
        line-height: 55px;
    }
    .popup-box {
        padding: 40px 20px 0;
    }
    .popup-box .close-btn {
        top: 0;
    }
}

@media only screen and (max-width: 600px) {
    /* Pop */
    .popup-box {
        max-width: 400px;
        height: 160px;
        margin: -80px auto 0;
    }
    .popup-box .headline {
        font-size: 24px;
    }
    .popup-box .resultPop {
        font-size: 24px;
    }
    .popup-box .content {
        font-size: 20px;
        max-width: 250px;
        line-height: 34px;
    }
    .popup-box {
        padding: 28px 20px 0;
    }
}

@media only screen and (max-width: 400px) {
    #wrap {
        max-width: 320px;
    }
    .flip-box li {
        max-width: 320px;
        height: 520px;
    }
    .box-left .page-instruction h1 {
        margin-bottom: 7px;
        font-size: 24px;
    }
    .box-left .bb-item .header {
        height: 34px;
        background-size: 230px;
    }
    .pages {
        top: 21px;
        font-size: 24px;
    }
    .pages .result {
        font-size: 32px;
    }
    /* Pop */
    .popup-box {
        max-width: 320px;
        height: 140px;
        margin: -70px auto 0;
    }
    .popup-box .headline {
        font-size: 16px;
    }
    .popup-box .resultPop {
        font-size: 16px;
    }
    .popup-box .content {
        font-size: 14px;
        max-width: 200px;
        line-height: 28px;
    }
    .popup-box {
        padding: 26px 20px 0;
    }
	
	.social-share{
		padding-top:2px;
	}
	
	.social-share a {
  height: 22px;
  margin: 0 1px;
  width: 22px;
}
	
	.social-share a i {
  line-height: 22px;
		font-size: 14px;
}
	
}

@media only screen and (max-width: 320px) {
    .page-instruction {
        padding: 0 10px;
    }
}


