@charset "utf-8";

body {
	font-size: 16px;
	font-weight: 400;
	color: #555;
	min-height: 250px;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	background-color: #f7f7f7;
	font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.main-wrap {
	margin: 0 auto;
    max-width: 1150px;
    position: relative;
    overflow: hidden;
}
.main-wrap--header {
	position: relative;
}
.main-wrap--header img {
	width: 100%;
	display: block;
}

.wrapper {
  overflow: hidden;
}

.slide-animation {
	animation: slide 30s linear infinite;
}

@keyframes slide{
	0%{
		transform: translate3d(-100%, 0, 0);
	}
	100%{
		transform: translate3d(100vw, 0, 0);
	}
}
.main-wrap--header .cloud-first {
	position: absolute;
    top: 8.5%;
    width: 180px;
    animation-duration: 25s;
}
.main-wrap--header .cloud-second {
	position: absolute;
    top: 45%;
    width: 110px;
    animation-duration: 50s;
}
.main-wrap--header .cloud-third {
	position: absolute;
    top: 45%;
    width: 110px;
    animation-duration: 30s;
}
.main-wrap--header .dots01 {
    position: absolute;
    bottom: 6%;
    left: 20.5%;
    width: 20%;
}
.main-wrap--header .dots02 {
    position: absolute;
    bottom: 28%;
    left: 39%;
    width: 15%;
}
.main-wrap--header .dots03 {
    position: absolute;
    bottom: 4%;
    left: 58.5%;
    width: 19%;
}
.main-wrap--section {
	background: url(../images/blue-bg.jpg) repeat top left;
	width: 100%;
	position: relative;
}
.main-wrap--section .stone-first {
	position: absolute;
    top: 1%;
    left: 12%;
    width: 125px;
}
.main-wrap--section .stone-second {
	position: absolute;
    top: 4.5%;
    right: 12%;
    width: 60px;
}
.main-wrap--section .stone-third {
	position: absolute;
    top: 29%;
    right: 29%;
    width: 92px;
}
.main-wrap--section .stone-forth {
	position: absolute;
    top: 57.5%;
    left: 32.2%;
    width: 56px;
}
.main-wrap--section .stone-fifth {
	position: absolute;
    top: 57%;
    right: 17%;
    width: 52px;
}
.main-wrap--section .stone-sixth {
	position: absolute;
    top: 55.5%;
    right: 7.5%;
    width: 80px;
}
.main-wrap--section .stone-seventh {
	position: absolute;
    top: 84%;
    left: 5%;
    width: 60px;
}
.main-wrap--section .tree-first {
	position: absolute;
    top: 25%;
    left: 23%;
    width: 170px;
    pointer-events: none;
}
.main-wrap--section .tree-second {
	position: absolute;
    top: 51%;
    left: 51%;
    width: 170px
}
.main-wrap--section .tree-third {
	position: absolute;
    top: 78%;
    left: 57%;
    width: 170px;
}

.main-wrap--section .stone-first,
.main-wrap--section .stone-second,
.main-wrap--section .stone-third,
.main-wrap--section .stone-forth,
.main-wrap--section .stone-fifth,
.main-wrap--section .stone-sixth,
.main-wrap--section .stone-seventh,
.main-wrap--section .tree-first,
.main-wrap--section .tree-second,
.main-wrap--section .tree-third {
	pointer-events: none;
}

.know-more {
	margin: 0 auto;
	padding: 6px 10px;
	text-align: center;
	display: table;
	color: #fff;
	margin-bottom: 20px;
	border: 2px solid rgba(255,255,255,0.75);
	background-color: rgba(255,255,255,0.1);
}
.content-box {
	margin: 0 auto;
	padding: 30px 0;
	width: 94%;
}
.content-box ul li {
	float: left;
	width: 33.33%;
	padding: 20px;
	position: relative;
}
.content-box .list-box {
	position: relative;
	width: 100%;
	min-height: 220px;
	color: #5db3b2;
	font-size: 44px;
	line-height: 50px;
	font-weight: 800;
	letter-spacing: -1px;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.85);
	border-radius: 10px;
	text-shadow: 2px 2px #fff;
	-moz-box-shadow:    0px 0px 12px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.4);
	box-shadow:         0px 0px 12px 2px rgba(0,0,0,0.4);
	transition: 0.1s all ease-in-out;
	cursor: pointer;
}
.content-box .list-box:hover {
	color: #fff;
	background-color: #f78795;
	text-shadow: none;
}
li.active .list-box {
	color: #fff;
	background-color: #f78795;
	text-shadow: none;
}
.content-box .list-box span {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 20px;
    width: 100%;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);
}
.content-box:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.content-bottom {
	width: 100%;
	position: relative;
}
.content-bottom .top-section {
	position: absolute;
    top: -100px;
    width: 90px;
    /*left: -90px;*/
}
.content-bottom .btm-section {
	width: 100%;
	position: relative;
	z-index: 1;
	background: url(../images/btm-curve.svg) no-repeat center top;
    background-size: 1200px;
    height: 80px;
}

.footer {
	color: #fff;
	padding: 50px 0 0;
	position: relative;
	background-color: #5b5a6c;
}
.footer::before {
	position: absolute;
    top: -48px;
    left: 0;
    width: 100%;
    content: " ";
    height: 62px;
    z-index: 9;
    background: url(../images/footer-grass.svg) no-repeat center top;
    background-size: 1150px;
}
.footer .footer-content {
	position: relative;
	z-index: 1;
}
.footer--headline {
	margin: 0 auto;
	color: #fff;
	text-align: center;	
}
.footer--headline span {
	padding: 5px 15px;
	display: inline-block;
	border: 6px #fff solid;
	font-size: 64px;
	font-weight: bold;
	text-transform: uppercase;
}
.footer--how-to-reach {
	margin: 0 auto;
	padding: 40px 0;
	width: 94%;
	font-size: 30px;
	text-align: center;
}
.footer--how-to-reach:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.footer--how-to-reach li {
	/*display: table-cell;*/
	/*display: inline-block;*/
	min-height: 320px;
	float: left;
	width: 33.33%;
	padding: 30px 30px 0; 
	border-left: 2px #fff solid;
}
.footer--how-to-reach li:first-child {
	border: 0 none;
}
.footer--how-to-reach .icons {
	width: 100px;
	display: inline-block;
	margin-bottom: 30px;
}
.footer--how-to-reach .icons img {
	width: 100%
}
.footer--how-to-reach .icons.plane {
	width: 110px;
}
.footer--how-to-reach .icons.train {
	width: 98px;
}
.footer--how-to-reach .icons.cabs {
	width: 110px;
}
.footer-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc
}
.footer-bg .bg-color {
	width: 100%;
	height: 20%;
	display: block;
}
.footer-bg .bg-color.bg-first {
	background-color: #5b5a6c;
}
.footer-bg .bg-color.bg-second {
	background-color: #505261;
}
.footer-bg .bg-color.bg-third {
	background-color: #464855;
}
.footer-bg .bg-color.bg-forth {
	background-color: #3e3d4b;
}
.footer-bg .bg-color.bg-fifth {
	background-color: #343440;
}

/* Animations */
/* Pulse */
@-webkit-keyframes hvr-pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

}
@keyframes hvr-pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.hvr-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;

	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  0% {
    -webkit-transform: translateX(3px) rotate(3deg);
    transform: translateX(3px) rotate(3deg);
  }
  50% {
    -webkit-transform: translateX(-3px) rotate(-3deg);
    transform: translateX(-3px) rotate(-3deg);
  }
   100% {
    -webkit-transform: translateX(3px) rotate(3deg);
    transform: translateX(3px) rotate(3deg);
  }
}
@keyframes hvr-buzz {
  0% {
    -webkit-transform: translateX(3px) rotate(3deg);
    transform: translateX(3px) rotate(3deg);
  }
  50% {
    -webkit-transform: translateX(-3px) rotate(-3deg);
    transform: translateX(-3px) rotate(-3deg);
  }
  100% {
    -webkit-transform: translateX(3px) rotate(3deg);
    transform: translateX(3px) rotate(3deg);
  }
}
.hvr-buzz {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;

	-webkit-animation-name: hvr-buzz;
	animation-name: hvr-buzz;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/* Cabs Effects  */
@-webkit-keyframes cabs-effect {
	0% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
}
@keyframes cabs-effect {
	0% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
}
.cabs-effect {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-animation-name: cabs-effect;
	animation-name: cabs-effect;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/* Dots Effects  */
@-webkit-keyframes dots-effect {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-200%);
		transform: translateY(-200%);
		opacity: 0;
	}
}
@keyframes dots-effect {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-200%);
		transform: translateY(-200%);
		opacity: 0;
	}
}
.dots-effect {
	opacity: 0;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-animation-name: dots-effect;
	animation-name: dots-effect;
	-webkit-animation-duration: 2.9s;
	animation-duration: 2.9s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.dots01.dots-effect {
	-webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.dots02.dots-effect {
	-webkit-animation-delay: 1s;
    animation-delay: 1s;
}

/*  Popup Box */
.content-box ul li.active .pop-box {
	display: block;
}
.pop-box {
	position: absolute;
	top: 230px;
	left: 0;
	right: 0;
	width: 300%;
	z-index: 99;
	display: none;
	padding: 0 20px;
}
.content-box ul li:first-child .pop-box {
	left: 0;
}
.content-box ul li:nth-child(2) .pop-box {
	left: -100%;
}
.content-box ul li:nth-child(3) .pop-box {
	left: -200%;
}
.content-box ul li:nth-child(4) .pop-box {
	left: 0;
}
.content-box ul li:nth-child(5) .pop-box {
	left: -100%;
}
.content-box ul li:nth-child(6) .pop-box {
	left: -200%;
}
.content-box ul li:nth-child(7) .pop-box {
	top: -120px;
	left: 0;
}
.content-box ul li:nth-child(8) .pop-box {
	top: -120px;
	left: -100%;
}
.content-box ul li:nth-child(9) .pop-box {
	top: -120px;
	left: -200%;
}
.pop-box .pop-box--content {
	position: relative;
	width: 100%;
	background-color: #f78795;
	/*box-shadow: 10px 10px 70px #000;*/
}
.pop-box .pop-box--content:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.pop-box--left {
    padding: 10px;
    float: left;
    width: 65%;
    height: 100%;
    overflow: auto;
    line-height: 25px;
}
.pop-box--left .img-box img {
    border-radius: 12px;
}
.pop-box--right {
    float: left;
    width: 35%;
    padding: 60px 20px 0 10px;
}
.pop-box--right h3 {
	color: #fff;
	font-size: 38px;
	line-height: 40px;
	margin-bottom: 10px;
}
.pop-box--right p {
	color: #fff;
	font-size: 25px;
	line-height: 115%;
}
.pop-close {
	position: absolute;
	top: -25px;
	right: -25px;
	font-size: 30px;
	color: #f78795;
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	border-radius: 100%;
	text-align: center;
	cursor: pointer;
	display: block;
	transition: all 0.2s ease-in-out;
}
.pop-close:hover {
	color: #fff;
	background-color: #5b5a6c;
}

/* @media query */
@media only screen and (max-width: 1024px) {
	.content-box {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.content-box .list-box {
		font-size: 40px;
		line-height: 40px;
	}
}
@media only screen and (max-width: 990px) {
	.content-box {
		padding-left: 15px;
		padding-right: 15px;
	}
	.content-box ul li {
		padding: 15px;
	}
	.content-box .list-box {
		font-size: 32px;
		line-height: 32px;
		min-height: 180px;
	}

	.footer--headline span {
		font-size: 44px;
	}

	.footer--how-to-reach {
		width: 100%;
		font-size: 28px;
	}
	.footer--how-to-reach li {
		padding: 20px 20px 0;
	}
	.footer--how-to-reach .icons {
		margin-bottom: 20px;
	}

	/* pop */
	.pop-box {
		top: 180px;
		padding: 0 15px;
	}
	.pop-box--left {
	    width: 60%;
	}
	.pop-box--right {
		width: 40%;
	    padding: 50px 15px 0 5px;
	}
	.pop-box--right h3 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 4px;
	}
	.pop-box--right p {
		color: #fff;
		font-size: 20px;
	}

	/* Stone */
	.main-wrap--section .stone-first {
	    width: 100px;
	}
	.main-wrap--section .stone-second {
	    width: 60px;
	}
	.main-wrap--section .stone-third {
	    width: 75px;
	}
	.main-wrap--section .stone-forth {
	    width: 56px;
	}
	.main-wrap--section .stone-fifth {
	    width: 52px;
	}
	.main-wrap--section .stone-sixth {
	    width: 80px;
	}
	.main-wrap--section .stone-seventh {
	    width: 60px;
	}

	/* Tree */
	.main-wrap--section .tree-first {
	    top: 27%;
	    left: 24%;
	    width: 120px;
	}
	.main-wrap--section .tree-second {
	    top: 53%;
	    left: 51%;
	    width: 120px;
	}
	.main-wrap--section .tree-third {
	    top: 79%;
	    left: 59%;
	    width: 120px;
	}
}

@media only screen and (max-width: 767px) {
	.content-box ul li {
		padding: 15px;
		width: 50%;
	}

	.footer--headline span {
		padding: 5px 10px;
		border: 4px #fff solid;
		font-size: 34px;
	}

	.footer--how-to-reach {
		font-size: 22px;
	}
	.footer--how-to-reach li {
		min-height: 250px;
		padding: 20px 10px 0;
	}
	.footer--how-to-reach .icons {
		margin-bottom: 10px;
	}

	.footer--how-to-reach .icons.plane {
		width: 90px;
	}
	.footer--how-to-reach .icons.train {
		width: 88px;
	}
	.footer--how-to-reach .icons.cabs {
		width: 90px;
	}

	/* Stone */
	.main-wrap--section .stone-first {
		top: 2%;
	    width: 70px;
	}
	.main-wrap--section .stone-second {
		top: 3.5%;
	    width: 63px;
	}
	.main-wrap--section .stone-third {
		top: 20%;
    	right: 45%;
	    width: 62px;
	}
	.main-wrap--section .stone-forth {
		top: 37.6%;
	    width: 56px;
	}
	.main-wrap--section .stone-fifth {
		top: 38%;
	    width: 52px;
	}
	.main-wrap--section .stone-sixth {
		top: 37.5%;
	    width: 68px;
	}
	.main-wrap--section .stone-seventh {
		top: 88%;
	    width: 60px;
	}

	/* Tree */
	.main-wrap--section .stone-first,
	.main-wrap--section .stone-second,
	.main-wrap--section .stone-third,
	.main-wrap--section .stone-forth,
	.main-wrap--section .stone-fifth,
	.main-wrap--section .stone-sixth,
	.main-wrap--section .stone-seventh,
	.main-wrap--section .tree-first,
	.main-wrap--section .tree-second,
	.main-wrap--section .tree-third {
	    display: none;
	}

	/* pop */
	.pop-box {
		top: 180px;
		width: 200%;
		padding: 0 15px;
	}
	.pop-box--left {
		width: 50%;
	}
	.pop-box--right {
		width: 50%;
		padding: 20px 15px 0 5px;
	}
	.pop-box--right h3 {
		font-size: 24px;
		line-height: 24px;
	}
	.pop-box--right p {
		font-size: 19px;
	}

	.pop-close {
		top: -15px;
		right: -15px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
	}
	.content-box ul li:first-child .pop-box {
		left: 0;
	}
	.content-box ul li:nth-child(2) .pop-box {
		left: -100%;
	}
	.content-box ul li:nth-child(3) .pop-box {
		left: 0;
	}
	.content-box ul li:nth-child(4) .pop-box {
		left: -100%;
	}
	.content-box ul li:nth-child(5) .pop-box {
		left: 0;
	}
	.content-box ul li:nth-child(6) .pop-box {
		left: -100%;
	}
	.content-box ul li:nth-child(7) .pop-box {
		left: 0;
	}
	.content-box ul li:nth-child(8) .pop-box {
		left: -100%;
	}
	.content-box ul li:nth-child(9) .pop-box {
		left: 0;
	}
}

@media only screen and (max-width: 639px) {

	.main-wrap--header .cloud-first {
	    width: 110px;
	}
	.main-wrap--header .cloud-second,
	.main-wrap--header .cloud-third {
	    width: 60px;
	}

	.footer--headline span {
		font-size: 24px;
	}

	.footer--how-to-reach {
		/*width: 90%;*/
		font-size: 22px;
		padding: 0;
	}
	.footer--how-to-reach li {
		width: 100%;
		min-height: 0;
		height: auto;
		padding: 30px 30px 0 20px;
		border: 0 none;
		border-top: 2px #fff solid;
		margin-bottom: 20px;
	}
	.footer--how-to-reach .icons {
		margin-bottom: 10px;
	}

	/* pop */
	.pop-box--left {
		width: 100%;
	}
	.pop-box--left {
		padding: 15px;
	}
	.pop-box--right {
		width: 100%;
		padding: 0px 15px 15px 15px
	}
	.pop-box--right h3 {
		font-size: 24px;
		line-height: 24px;
	}
	.pop-box--right p {
		font-size: 19px;
	}
}

@media only screen and (max-width: 480px) {
	.content-box {
		padding-left: 10px;
		padding-right: 10px;
	}
	.content-box ul li {
		padding: 10px;
		width: 50%;
	}
	.content-box .list-box {
		font-size: 20px;
		line-height: 20px;
		min-height: 120px;
	}

	.footer--headline span {
		font-size: 16px;
	}

	/* pop */
	.pop-box {
		top: 120px;
		padding: 0 10px;
	}
	.content-box .list-box span {
		padding: 10px;
	}

	/* Stone */
	.main-wrap--section .stone-first {
		top: 0.5%;
		left: 1%;
    	width: 32px;
	}
	.main-wrap--section .stone-second {
		top: 8%;
		right: 0;
    	width: 40px;
	}
	.main-wrap--section .stone-third {
		top: 23%;
	    right: 45%;
	    width: 47px;
	}
	.main-wrap--section .stone-forth {
		top: 40%;
		right: 23%;
    	width: 40px;
	}
	.main-wrap--section .stone-fifth {
		top: 40%;
		right: 26%;
    	width: 40px;
	}
	.main-wrap--section .stone-sixth {
		top: 39.5%;
    	width: 50px;
	}
	.main-wrap--section .stone-seventh {
		top: 90.5%;
		left: 8%;
    	width: 48px;
	}
}
