@charset "utf-8";
.loading{
	display:none;
}
html, body {
	padding: 0;
	margin: 0;
	position: relative;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #eeeeee;
	color: #989898;
	font-size: 17px;
	width: 100%;
	height: auto;
	overflow-x: hidden;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #4d4d4d;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 900;
	font-size: 100%;
}
/*Start CSS*/

.bmi-container{
	width: 300px;
	height:250px; 
	background:#fff;
	margin: 10px auto;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	position: relative;
}

.bmi-container h1{
	font-size:23px;
	font-weight: 700;
	margin: 0 0 0px 0;
	padding:12px 16px;
	background: #54d9c0;
	color: #fff;
	line-height: 100%;
}

.bmi-container .bmi-form-container{
	padding: 16px 40px 16px 16px;
}

.form-group{
	margin:0 0 16px 0;
}
.radio-group{
	margin:8px 0px 0px 0px;
}

.form-group label {
	display: block;
	font-weight: 500;
	margin: 0px 10px 0px 0px;
	text-transform: uppercase;
	font-size: 14px;
	color: #989898 !important;
}
.form-group label span{
	display:inline-block;
	overflow: hidden;
}


.form-group input[type='text']{
	width:100%;
	height: 45px;
	padding: 0px 10px;
	background: #EEEEEE;
	border: 1px solid #e9e9e9;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	transition: all 0.2s ease-in-out;
}
.form-group input[type='text']:focus{
	border: 1px solid #54d9c0;
	background: #f7f7f7;
}

.btn-group{padding: 0px 0 0 0;}
.btn-group .btn{
	float:left;
	margin-right: 10px;
}
.btn{
	height: 43px;
	padding: 0 20px;
	text-align: center;
	outline: none;
	background: #eee;
	border: 1px solid #e9e9e9;
	cursor: pointer;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}
.btn.btn-cal{
	background: #e1306c;
	border: 1px solid #e1306c;
	color: #fff;
}

.btn.btn-reset{
	background: #333;
	border: 1px solid #333;
	color: #fff;
}

.feet-height{
	margin:0px -10px;
	display: none;
}

.feet-height .feet-input{
	float:left;
	width: 50%;
	padding:0px 10px;
}

.final-bmi{
	font-size:45px;
	font-weight: 700;
}

.final-bmi.is-active{
	color: #e1306c;
}

.bmi-chart{
	font-size:13px;
	color: #333;
	position: relative;
	display: none;
}
.bmi-chart h2{
	font-weight:700;
	margin: 10px 0 10px 0;
	font-size: 22px;
	text-align: center;
	line-height: 100%;
	padding: 0px
	
}

.bmi-chart h2 span{
	display:inline-block;
	border: 2px solid #333;
	padding: 8px 20px;
}


.chart-box{
	display:block;
	height: 150px;
	position: relative;
	background:linear-gradient(45deg, #00b0f0 12%, #92d050 45%, #e7ff00 64%, #ffc000 86%, #ff0000);
	margin-left: 75px;
	overflow: hidden;
}

.scale-weight{
	margin: 0 0 10px 0;
}
.scale-weight .start{float: left; margin-right: 30px;}
.scale-el span{font-weight:700;}
.scale-weight .end{float: right; text-align: right;} 

.scale-height{
	position: absolute;
	top: 40px;
	left: 0;
	height: 150px;
}

.scale-height .end{
	position: absolute;
	bottom: 0px;
	left: 0;
}

.bmi-point{
	width:10px;
	height:10px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
/*	transition: all 0.3s ease-in-out;*/
	
	
}



.scale-el{
	position: relative;
}



[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #e1306c;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



