/* Common */
.si-table {
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.si-table-tr {
	display: table-row;
}
.si-table-td, .si-table-th {
	display: table-cell;
	vertical-align: middle;
}
a {
	cursor: pointer;
}
/* Team Section */
.si-mainWrap .si-team-box:before, .si-team-box:after {
	content: "";
	display: table;
	clear: both;
}
.si-mainWrap .si-team-box {
	height: 36px;
}
.si-mainWrap .si-team-box .si-content-wrap {
	display: table-cell;
	vertical-align: middle;
}
.si-mainWrap .si-team-box .si-team {
	float: left;
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
}
.si-mainWrap .si-team-box .si-team .si-content-wrap {
	display: table-cell;
	vertical-align: middle;
}
.si-mainWrap .si-team-box .si-team-a, .si-team-box .si-team-b {
	width: 30%;
}
.si-mainWrap .si-team-box .si-team-vs {
	width: 35%;
}
.si-mainWrap .si-section {
	margin-top: 5px;
	margin-bottom: 5px;
}
/*..Body Starts..*/

.si-mainWrap {
	width: 100%;
	padding: 0px;
	/*font-family: 'Roboto', sans-serif;*/
	line-height: 16px;
	color: #333;
/*	font-size: 12px;*/
	min-height: 100%;
	background-size: 100% auto;
}
.si-ipl-t20-standings .grp {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	color: #7A2084;
	text-align: center;
	margin-left: 10px;
	line-height: 20px
}
.si-mainWrap a {
	text-decoration: none;
	color: #7A9CBF
}
/*..Standings..*/
.si-ipl-t20-standings .si-tab-content {
/*	font-size: 13px;*/
	color: #242424;
	font-weight: 600;
}
.si-ipl-t20-standings .si-StandsHd {
/*	font-size: 32px;*/
	color: #115EA4;
	border-bottom: 1px solid #115EA4;
	padding: 15px 10px;
	margin-bottom: 15px;
}
.si-ipl-t20-standings .si-poolA {
	margin-bottom: 30px;
}
.si-ipl-t20-standings .si-standings .si-subHead > td {
	background-color: #000;
	color: #fff;
	font-size: 22px;
	text-align: left;
	padding: 10px;
}
.si-ipl-t20-standings .si-standings .si-subHead.si-squadHd > td {
	background-color: #242424;
	text-align: center;
/*	font-size: 14px;*/
	font-weight: 700;
	color: #a7a7a7;
	border: 0;
	padding: 10px;
}
.si-ipl-t20-standings .si-standings tr {
	border-bottom: 1px solid #C5C5CF;
	background-color: #fff;
	text-align: center;
}
.si-ipl-t20-standings .si-standings .highlight {
	background-color: #fff;
	border: 1px solid #181818
}
.si-ipl-t20-standings .si-standings td, .si-ipl-t20-standings .si-standings th {
/*	font-size: 13px;*/
	padding: 6px;
}
.si-ipl-t20-standings .si-standings td {
	font-family: 'robotoregular', sans-serif;
	border-bottom: 1px solid #CCCCCE;
	border-spacing: 0px;
}
.si-ipl-t20-standings .si-standings td img {
	height: 15px;
	margin-right: 5px;
	vertical-align: middle;
	width: 20px;
}
.si-ipl-t20-standings .si-standings.img-Align {
	text-align: left;
	padding-left: 15px;
}
.si-ipl-t20-standings .si-teamProf .si-playing-Type {
	font-size: 14px;
}
.si-ipl-t20-standings .si-standings .M-display {
	display: none;
}
.si-ipl-t20-standings .si-SprtTbl .even {
	background-color: #DDDDDD;
}
.si-ipl-t20-standings .si-SprtTbl .odd {
	background-color: #F5F5F5;
}
.si-ipl-t20-standings .si-standings .img-Align {
	text-align: left;
}
.si-ipl-t20-standings .si-standings .si-poolA {
	margin-bottom: 0;
}
/* IPL Standings */
.si-ipl-t20-standings .si-standings .si-table-th {
	background-color: #444444;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	border: 0;
	text-transform: uppercase;
}
.si-ipl-t20-standings .si-table-td, .si-ipl-t20-standings .si-table-th {
	text-align: center;
	padding: 10px 5px;
	text-transform: uppercase;
}
.si-ipl-t20-standings .si-table-td span, .si-ipl-t20-standings .si-table-th span {
	display: inline-block;
	vertical-align: middle;
}
.si-ipl-t20-standings .si-table-th.si-tbl-team, .si-ipl-t20-standings .si-table-td.si-tbl-team {
	text-align: left;
}
.si-ipl-t20-standings .si-table-td.si-tbl-team img {
	width: 32px;
	height: 16px;
}
.si-ipl-t20-standings .si-table-td.si-tbl-team a {
	color: #242424;
}
.si-ipl-t20-standings .si-table-td {
	border-bottom: 1px solid #C5C5CF;
	font-weight: bold;
}
.si-ipl-t20-standings .si-tbl-pos {
	font-weight: bold;
}
.si-ipl-t20-standings .si-section-head {
	background-color: #1b1b1b;
	padding: 0px 10px;
	display: table;
	width: 100%;
	height: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.si-ipl-t20-standings .si-section-head span {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
}
.si-ipl-t20-standings .si-section-head span.si-txt-1 {
	text-align: left;
}
.si-ipl-t20-standings .si-section-head span.si-txt-2 {
	text-align: right;
}
.si-ipl-t20-standings .si-team-image img {
	width: 32px;
	height: 16px;
}
.si-ipl-t20-standings .si-playoffs .si-section-body, .si-ipl-t20-standings .si-points-table .si-table {
	border: 1px solid #444546;
}
.si-ipl-t20-standings .si-points-table .si-meta {
	display: table;
	width: 100%;
	padding: 0px 10px;
	height: 30px;
	background-color: #16214E;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.si-ipl-t20-standings .si-points-table .si-meta span, .si-ipl-t20-standings .si-points-table .si-meta a {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.si-ipl-t20-standings .si-points-table .si-meta span:after {
	content: "";
	clear: both;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 3px;
	margin-right: -12px;
	width: 10px;
	height: 10px;
	background-image: url(../images/iplT20/arrowRight.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
.si-ipl-t20-standings .si-team-name {
	padding-left: 2px;
}
/* Reskin - Standings (widget) */
.si-ipl-t20-standings .si-standings .si-StandsHd {
	background-color: #000;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	margin-bottom: 0px;
	padding: 0 10px;
	text-transform: uppercase;
	font-family: 'robotoregular', sans-serif;
	display: none
}
.si-ipl-t20-standings .si-standings .si-tab ul:before, .si-ipl-t20-standings .si-standings .si-tab ul:after {
	content: "";
	clear: both;
	display: table;
}
.si-ipl-t20-standings .si-standings .si-tab ul {
	padding: 0px;
	margin: 0px;
}
.si-ipl-t20-standings .si-standings .si-tab li {
	font-family: 'robotoregular', sans-serif;
	font-size: 16px;
	line-height: 17px;
	font-weight: 700;
	color: #753c89;
	display: table;
	height: 36px;
	float: left;
	padding-right: 5px;
	cursor: default;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.si-ipl-t20-standings .si-standings .si-tab li:last-child {
	padding: 0px;
}
.si-ipl-t20-standings .si-standings .si-tab li span {
	display: table-cell;
	vertical-align: middle;
	background-color: #FFFFFF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #753c89;
}
.si-ipl-t20-standings .si-standings .si-tab li:hover span, .si-ipl-t20-standings .si-standings .si-tab li.active span {
	background-color: #753c89;
	color: #fff;
}
/* Top Performer - Most Runs / Most wickets */
  /* Most Runs */

.si-list-type-a {
	margin-bottom: 20px;
	border: 1px solid #16234d;
}
.si-list-type-a em {
	font-style: normal;
}
.si-list-type-a .si-item {
	position: relative;
	border-bottom: 1px solid #c5c5cd;
	background-color: #efeff1;
}
.si-list-type-a .si-head {
	background-color: #1a398b;
	display: table;
	width: 100%;
	height: 36px;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	padding: 0px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.si-list-type-a .si-head span {
	display: table-cell;
	vertical-align: middle;
}
.si-list-type-a .si-player-record {
	padding: 10px 80px 10px 10px;
}
.si-list-type-a .si-player-name {
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 5px;
	font-weight: bold;
}
.si-list-type-a .si-player-info {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 10px;
	text-align: center;
	border-right: 1px solid #c6c6ce;
}
.si-list-type-a .si-player-info:first-child {
	padding-left: 0px;
}
.si-list-type-a .si-player-info:last-child {
	padding-right: 0px;
	border: none;
}
.si-list-type-a .si-player-info span {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}
.si-list-type-a .si-player-info span.si-txt-1 {
	font-size: 12px;
	color: #f48126;
}
.si-list-type-a .si-player-info span.si-txt-2 {
	font-size: 18px;
	margin-top: 5px;
	color: #18244c;
}
.si-list-type-a .si-player-image {
	padding: 3px;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	text-align: center;
	right: 25px;
	background-color: #fff;
}
.si-list-type-a .si-player-image img {
	max-width: 30px;
	width: auto;
	max-height: 16px;
	height: auto;
	border: 1px solid #39456d;
	margin: 0px auto;
}
.si-list-type-a .si-item:first-child {
	background-color: #16214e;
}
.si-list-type-a .si-item:first-child .si-player-image {
	margin-top: -35px;
	right: 10px;
}
.si-list-type-a .si-item:first-child .si-player-image img {
	max-width: 62px;
	max-height: 62px;
}
.si-list-type-a .si-item:first-child .si-player-name {
	color: #fff;
}
.si-list-type-a .si-item:first-child .si-player-info span.si-txt-2 {
	color: #fff;
}
.si-list-type-a .si-item:first-child .si-player-info {
	border-right: 1px solid #424f72;
}
.si-list-type-a .si-item:first-child .si-player-info:last-child {
	border: none;
}

/*Mobile-Site*/
@media screen and (min-width: 290px) and (max-width:767px) {
/*..Main Wrap..*/	
.si-ipl-t20-standings .si-mainWrap {
	width: auto;
}
/*Standings*/
.si-ipl-t20-standings .si-standings .W-display {
	display: none;
}
.si-ipl-t20-standings .si-standings .M-display {
	display: block;
}
.si-ipl-t20-standings .si-standings .si-subHead.si-squadHd > td:nth-child(2) {
	padding-left: 30px;
}
.si-ipl-t20-standings .si-standings .si-subHead > td {
	padding: 5px;
}
/*..Player Profile..*/
.si-ipl-t20-standings .si-plyrProf .si-plyrInfoDv {
	float: none;
	width: auto;
}
.si-ipl-t20-standings .si-Mdisp {
	display: none;
}
.si-ipl-t20-standings .si-poolA.si-DispNo {
	display: none;
}
/*..Result..*/
.si-ipl-t20-standings .si-tbl td .si-Mdisp {
	display: none;
}
.si-ipl-t20-standings .si-tbl .si-Mwid {
	width: 77px;
}
.si-ipl-t20-standings .si-tbl input[type="button"] {
	height: 30px;
}
/*..Team..*/
.si-ipl-t20-standings .setRgt.set {
	display: none;
}
.si-ipl-t20-standings .set1 .set {
	width: 50%;
}
.si-ipl-t20-standings .si-squadHd .si-WDisp {
	display: none;
}
.si-ipl-t20-standings .si-squadHd .si-MDisp {
	display: block;
}
/*Standings*/
.si-ipl-t20-standings .si-standings .si-subHead > td {
	font-size: 16px;
}
.si-ipl-t20-standings .si-standings .si-subHead.si-squadHd > td {
	font-size: 12px;
	padding: 5px;
	font-family: 'robotoregular', sans-serif;
}
.si-ipl-t20-standings .si-standings td, .si-standings th {
	font-size: 12px;
}
.si-ipl-t20-standings .highlight > td:nth-child(6), .si-ipl-t20-standings .si-subHead.si-squadHd > td:nth-child(6) {
	display: none;
}
.si-ipl-t20-standings .si-fixtures .si-rgtDrpDwn {
	float: none;
	margin-bottom: 10px;
	margin-left: 0;
}
.si-ipl-t20-standings .si-rgtDrpDwn:nth-child(4), .si-ipl-t20-standings .si-rgtDrpDwn:nth-child(5), .si-ipl-t20-standings .si-rgtDrpDwn:nth-child(6) {
	margin-left: 0;
}
.si-ipl-t20-standings .si-topSectn {
	padding-bottom: 0;
}
.si-ipl-t20-standings .si-mdisp1 .si-rgtDrpDwn, .si-ipl-t20-standings .si-mdisp2 .si-rgtDrpDwn {
	float: left;
}
.si-ipl-t20-standings .nth-DrpDwn .customDropdn {
	width: 290px;
}
.si-ipl-t20-standings .si-mdisp1 .customDropdn, .si-ipl-t20-standings .si-mdisp2 .customDropdn {
	width: 140px;
}
.si-ipl-t20-standings .si-plyrNmeHd .si-plyrNme {
	font-size: 26px;
}
}

@media screen and (max-width: 479px) {
/*.si-plyr{ padding:5px 0 5px 5px}
.si-plyr span{ display:block; position:relative!important;}
.lowlt:before{ display:none;}
.lowlt{ padding-left:0;}*/
.si-ipl-t20-standings .si-rgtDrpDwn {
	float: none;
	display: block;
	padding-top: 10px;
	text-align: right
}
.si-ipl-t20-standings .dropdown [style="float:right;"] {
	text-indent: 9999999px;
}
}
.si-ipl-t20-standings .tblD {
	display: none;
}
/*Custom*/
.si-tab {
	display: none;
}
.si-table {
	background: #0b2444;
}
.si-table * {
	border: 0 !important;
}
.si-ipl-t20-standings .si-tab-content {
/*	font-size: 13px;*/
	color: #fff;
	font-weight: 600;
}

.si-ipl-t20-standings .si-playoffs .si-section-body, .si-ipl-t20-standings .si-points-table .si-table {
	border: 0px solid #444546;
}
.si-ipl-t20-standings .si-standings .si-table-th {
	background-color: rgba(0,0,0,0.3);
	
}

