@charset "utf-8";
/*Container*/
.container {
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 1199px) {
.container {
	width: 980px;
}
}

@media (max-width: 991px) {
.container {
	width: 720px;
}
}

@media (max-width: 767px) {
.container {
	width: 540px;
}
}

@media (max-width: 575px) {
.container {
	padding-left: 15px;
	padding-right: 15px;
}
}

/*Grid */


@media (max-width: 1199px) {
.top-news li figcaption {
	font-size: 12px;
	line-height: 96%;
}
.top-news li figcaption span {
	padding: 3px 34px 0 95px;
}
.point-table table tr th span, .point-table table tr td span {
	padding: 11px 6px;
	font-size: 15px;
}
}

@media (max-width: 991px) {
.col::after, .col::before {
	display: table;
	line-height: 0;
	content: "";
}
.col::after {
	clear: both;
}
.col.col-2 {
	width: 100%;
	float: none;
}
.social-share .social-icons {
	margin: -3px 0 0 0;
}
.social-share .social-icons li:last-child {
	display: block;
}
.others-ners .more-list figcaption span {
	font-size: 15px;
}
.top-news li figcaption, .single-news ul li figcaption {
	font-size: 15px;
}
.top-news li figcaption span {
	padding: 4px 38px 0 100px;
}
.point-table table tr th span, .point-table table tr td span {
	padding: 13px 6px;
	font-size: 16px;
}
	
	.single-news ul li figcaption{
		height:auto;
	}
}

@media (max-width: 767px) {
.best-section ul {
	margin: 0;
}
.best-section ul li {
	float: none;
	padding: 0px;
	width: 100%;
}
.top-news li {
	float: none;
	height: 50px;
	position: relative;
	width: 100%;
}
.top-news li:first-child figcaption {
	max-width: 98%;
}
.more-list {
	width: 260px !important;
}
.others-ners .more-list figcaption {
	max-width: 100%;
	height: 50px;
}
.tq-mvp {
	margin-top: 10px;
}
.top-news li figcaption span {
	padding: 4px 43px 0 100px;
}
.car-left {
	padding-right: 0px;
}
.car-right {
	position: static;
	text-align: center;
	margin: 0 auto 30px auto;
}
}

@media (max-width: 575px) {
.others-ners .more-list figcaption span {
  font-size: 14px;
}
}
