.clearfix:before,
.clearfix:after{
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after{
	clear: both;
}
.clearfix {
 *zoom: 1;
}

#main-content{
	margin-bottom: 50px;
}

#addQuestionLink{
	border-radius: 0px;
}

.media-input{
	/*-webkit-transition:width 0.3s ease-in-out;*/
	/*color: #ffffff;*/
}

.media-input::-webkit-input-placeholder {
	color: #000000;
}

.option{
	margin-bottom: 20px;
}

.options-container{
	padding-right: 0px;
	padding-left: 30px;
}

/*.input-group-addon{
	background-color: #dc3545;
	color: white;
}*/

button.close{
	padding: .375rem .75rem;
}

.media-input-container{
	padding-top: 10px;
}

.mediaPlaceholderList{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.mediaPlaceholderList li{
	width: 33.333%;
	float: left;
	padding: 0px 10px 20px 0px;
}

.mediaPlaceholderList li img{
	width: 100%;
}

.mediaPlaceholderList li iframe{
	width: 100%;
	max-height: 116px;
}

.question{
	color: white;
	background-color: #f3b72a;
	margin-bottom: .85em;
	padding: 0.65em 0.75em;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	position: relative;
}

.answer-type{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.answer-type li{
	background-color: #f2f2f2;
    margin-bottom: 15px;
    border: 1px #d8d8d8 solid;
    cursor: pointer;
}

.answer-type label{
	padding: 0.5em;
	color: black;
	/*cursor: pointer;*/
	width: 100%;
	margin-bottom: 0px;
}

.answer-type label img{
	width: 100%;
}

.answer-type label input{
	margin-right: 5px;
	cursor: pointer;
}

.question:after{
	width: 0; 
  	height: 0; 
  	border-left: 13px solid transparent;
  	border-right: 13px solid transparent;
  	border-top: 13px solid #f3b72a;
  	content: '';
  	position: absolute;
  	bottom: -13px;
}

.hli{
	background-color: #6a357f;
}

.optionInputGroup{
	list-style-type: none;
	padding: 0px;
	width: 100%;
	position: relative;
}

ul.optionInputGroup li{
	/*margin-right: 10px;*/
}

.optionRadioLi{
	position: absolute;
    left: 0;
    top: 6px;
}

.optionInputLi{
	margin: 0px 0 0 20px;
}

.optionInputLi input{
	width: 90%;
}

.addMediaBtn{
	margin-bottom: 0px;
}

.generate-quiz{
	position: relative;
}

.generate-quiz > a{
	color: white!important;
	position: absolute;
	right: 0;
	top: 20%;
}

.iframe-link{
	margin-bottom: 5px;
	overflow: hidden; 
}

.copy-val {
    float: right;
    border: none;
    border-radius: .25rem;
    background-color: #36154f!important;
    padding: .375rem .75rem;
    /*font-size: 20px;*/
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;
}

.tag-line{
	margin-bottom: 5px;
}

.options-close-button{
	position: absolute;
	top: 0;
	right: 0;
}

.refresh-icon{
	cursor: pointer;
}

/*.tagline-preview{
	background-color: #f3b72a!important;
	color: #ffffff;
	margin-bottom: 10px;
	padding: 0.65em 0.75em;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
}*/

.white-box{
	background-color: #fff;
    margin-bottom: 1.7em;
    padding: 1.5em;
    border: 1px #d8d8d8 solid;
}

.result-content{
	float: left;
    width: 50%;
}