@charset "utf-8";
:root {
	--font-base: 'Lato', sans-serif;
	--font-headline: 'Nunito Sans', sans-serif;

	--color-base: #393939;
	--color-claim: #e73916;
	--color-fact: #14b277;
	--color-white: #fff;

	--color-body: #f4f4f4;

}
body {
	font-size: 100%;
	font-weight: 400;
	min-height: 250px;
	overflow-x: hidden;
	color: var(--color-base);
	font-family: var(--font-base);
	background-color: var(--color-body);
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 700;
	color: var(--color-base);
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.main-wrap {
	margin: 0 auto;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.main-wrap.loader {
	/*background-color: #ccc;*/
	/*background-size: 100%;*/
	background-repeat: no-repeat;
    background-position: center 62%;
    background-image: url("../images/ajax-loader.gif");
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.section {
	position: relative;
	width: 100%;
}
.section .header {
	position: relative;
	min-height: 70px;
	background-color: #42274a
}
.section .header__logo {
	padding: 20px 0 0 20px;
	width: 170px;
	/*background-color: #ccc*/
}
.section .header__logo img {
	width: 100%;
}
.section .content-block {
	min-height: 280px;
	padding-bottom: 10px;
}
.section .content-block li {
	padding-bottom: 35px;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	/*text-align: center;*/
	font-size: 18px;
	/*background: #fff;*/
	/* Center slide text vertically */
	/*display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;*/
	/*-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;*/

	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.slider-content {

}

.slider-content .slider-content__row {
	width: 100%;
	display: block;
	float: left;
	margin-top: 40px;
}
.slider-content .slider-content__row .slider-content__row--btn {
	float: left;
	width: 120px;
}
.slider-content .slider-content__row .slider-content__row--text {
	float: left;
	display: block;
	width: calc(100% - 150px);
	width: -webkit-calc(100% - 150px);
	padding-left: 20px;
	font-size: 1.1250em;
	line-height: 1.25em;
}

.slider-content .btn-claim,
.slider-content .btn-fact {
	font-size: 1.1250em;
	font-weight: 700;
	padding: 6px 0 9px;
	display: block;
	text-align: center;
	color: var(--color-white);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-top-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.slider-content .btn-claim {
	background-color: var(--color-claim);
}
.slider-content .btn-fact {
	background-color: var(--color-fact);
}

.btn-controll {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 80px;
	height: 30px
}
.btn-controll .swiper-button-prev,
.btn-controll .swiper-button-next {
	width: 30px;
	height: 30px;
	background-size: 33%;
	
	margin: 0;
	top: 0;
	right: 0;
	border-radius: 3px;
	background-color: var(--color-white);
}
.btn-controll .swiper-button-prev:focus,
.btn-controll .swiper-button-next:focus {
	outline: none;
}


@media screen and (max-width: 639px) {
	
	.slider-content .slider-content__row {
		margin-top: 20px;
	}
	.slider-content .slider-content__row .slider-content__row--btn {
		float: none;
	}
	.slider-content .slider-content__row .slider-content__row--text {
		float: none;
		width: 100%;
		padding: 10px 20px;
	}
}


