@charset "utf-8";

@media (max-width: 1023px) {
	
	.list-item h3{
	font-size:16px;	
	}
	
	.list-item p{
		font-size:15px;	
	}
	
	
.carousel-wrapper .story-item a figcaption {
	font-size: 17px;
	line-height: 20px;
	min-height: 85px;
}
.first-story a figcaption {
	font-size: 25px;
}
/*Responsive 5 stories*/	

.story-frame figcaption {
	padding: 7px 10px 0 113px;
}
.story-frame figure img {
	height: 60px;
}
.story-frame a {
	margin: 0px 0 0 0;
	line-height: 12px;
	font-size: 12px;
	min-height: 60px;
}
.story-frame {
	margin: 0px 0px 12px 0px;
}
/*Responsive 5 stories*/	
.chart-content {
	width: 200px;
	height: 300px;
}
.scroll-content {
	max-height: 300px;
}
.video-wrapper .container {
	max-width: 620px;
}
.top-content .content {
	float: none;
	padding: 15px 0 0 0;
	width: auto;
}
.top-content {
	margin: 0;
}
/*
.video-wrapper h2 {
	font-size: 31px;
	margin: 0px 40px;
	padding-top: 10px;
}
.row {
	margin-bottom: 0px;
}
.col {
	float: none !important;
	width: 100% !important;
	margin-bottom: 30px;
}
*/
	
.col {
	padding: 0 5px;
}
.row {
	margin: 0 -5px 10px;
}
.last-row .col-3 {
	margin-bottom: 0px !important;
}

}


@media (max-width: 767px) {
	.list-item h3{
		font-size:12px;
		letter-spacing: 0px;
	}
}

@media (max-width: 600px) {
	
.list-item h3{
	font-size:18px;	
	}
	
	.list-item p{
		font-size:16px;	
		min-height: 0;
	}
	
	
	.election-banner{
		background-size:32%;
	}
	
	.election-banner{
		margin:15px 0px;
	}
	
	.election-banner h2 {
  font-size: 24px;
  padding: 5px 3px 5px 5px;
		letter-spacing: 0;
}
	
	.election-banner h2::after {

 
 
  right: -72px;
  top: -59px;
  transform: skew(0deg, -38deg);
  width: 75px;
  z-index: 1;
}
	
	
	
.election-text {
	font-size: 20px;
	padding: 12px 0 0 10px;
}
	.story-list{width:260px !important;}
	.api-stories .story-list{width: 100% !important; display: block; margin-bottom: 10px;}
	.api-stories .story-list img{width: 100% !important;}
	.tab .story-item a figcaption{min-height: 0;}
	
	.carousel-wrapper{margin-bottom:15px;}
	.liveblog-wrapper{background: #4D086A; margin: 0 0 15px}
	.liveblog-wrapper h2{display: none;}
.list-item {
	padding: 0px 25px;
}
	
	.list-item h3 span:first-child{display:inline-block; margin-right: 3px;}
	.list-item h3 span:last-child{display:inline-block;}
	
	.list-item h3{padding: 0;}
	
	
.row.liveblog {
	margin: 0px -10px;
}
/*Responsive 5 stories*/	

.story-frame figcaption {
	padding: 10px 10px 0 152px;
}
.story-frame figure img {
	height: 80px;
}
.story-frame a {
	margin: 0px 0 0 0;
	line-height: 17px;
	font-size: 15px;
	min-height: 80px;
}
.story-frame {
	margin: 0px 0px 12px 0px;
}
/*Responsive 5 stories*/

.block-title2 {
	font-size: 25px;
}
.carousel-wrapper h3 {
	font-size: 25px;
}
.gallery-item {
	height: 200px;
}
.video-wrapper h2 {
	font-size: 31px;
	margin: 0px 40px;
	padding-top: 10px;
}
.row {
	margin-bottom: 0px;
}
.col {
	float: none !important;
	width: 100% !important;
	margin-bottom: 15px;
}
.video-wrapper h2 {
	font-size: 24px;
	margin-left: 0;
	margin-right: 0;
}
.tabs-menu li a {
	font-size: 15px;
}
td, th {
	padding: 5px 12px;
	text-align: left;
}
.bottom-wrapper {
	overflow: visible;
	background-image: url(../images/top-banner.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}
.bottom-wrapper::after {
	display: none;
}
}

@media (max-width: 480px) {
.tab {
	padding: 0;
}
.chart-content {
	width: 280px;
	height: 280px;
}
.tabs-menu li {
	width: 100%;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #fff;
}
.tabs-menu li:first-child {
	border-top: 0;
}
.col-content h3 {
	font-size: 25px;
}
.election-text {
  font-size: 17px;
  padding: 14px 0 0 10px;
}
}


@media (max-width: 768px) {
	.social-share {
		width: 30px;
	}
	.btn-share{display:block;}
	.share-icons{display:none;}
	.share-icons a{
	margin: 5px 0px 0px 0px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	width: 25px;
	height: 25px;
	line-height: 25px;
	float: none;
	
	}
	.share-icons .btn-wp{display: inline-block;}
}



