body{
  margin-bottom: 50px;
}

.player-details-section{
  background-color: #1d1d21;
  padding: 10px;
}

.player-left, .message-left{
  position: relative;
  margin-top: 20px;
}

.player-left .player-image, .message-left .player-image{
  position: absolute;
  float: left;
}

.player-left .player-name, .message-left .message-text{
  display: block;
  background-color: purple;
  /*width: 50%;*/
  min-height: 70px;
  margin-left: 20%;
  height: inherit;
  border-radius: 5px;
}

.player-image-input {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s, -webkit-box-shadow 0.6s;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #ffffff;
}

.player-image-input:hover{
  color: white;
  background: #c8c8c8;
  -webkit-box-shadow: 0 0 0 5px #3d4752;
          box-shadow: 0 0 0 5px #3d4752;
}

.player-image-input + label .fa-user-plus{
  color: black;
}

.player-image-input:hover + label .fa-user-plus {
  color: white;
}

.player-image-input:focus{
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ffffff;
  color: black;
}

.player-image-input:focus + label .fa-user-plus {
  color: black;
}

.player-image-input:not(:focus) {
  text-indent: -5000px;
}

.player-left .fa-user-plus, .message-left .fa-user-plus{
  position: relative;
  font-size: 1.2rem;
  left: -43px;
  color: white;
  cursor: pointer;
}

.player-name-input, .message-text-input{
  cursor: pointer;
  background-color: purple;
  padding: 5px;
  margin: 5px 0px 5px 5px;
  border: none;
  width: 90%;
  color: white;
  text-align: center;
}

.player-name-input:focus, .message-text-input:focus {
  border: none;
  outline: none;
  cursor: text;
}

.player-left #colorSelector, .message-left #colorSelector {
  position: relative;
  margin: 5px 5px 0px 0px;
  width: 36px;
  height: 36px;
  background: url(../images/colorpicker/select.png);
}
.player-left #colorSelector div, .message-left #colorSelector div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(../images/colorpicker/select.png) center;
}

.player-right #colorSelector, .message-right #colorSelector {
  position: relative;
  margin: 5px 5px 0px 0px;
  width: 36px;
  height: 36px;
  background: url(../images/colorpicker/select.png);
}
.player-right #colorSelector div, .message-right #colorSelector div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(../images/colorpicker/select.png) center;
}

.player-right, .message-right{
  position: relative;
  margin-top: 20px;
}

.player-right .player-image{
  position: absolute;
  float: right;
  right: -25px;
  top: 0;
}

.message-right .player-image{
  position: absolute;
  float: right;
  right: 0px;
  top: 0;
}

.player-right .player-name-input, .message-right .message-text-input{
  background-color: yellow;
}

.player-right .player-name, .message-right .message-text{
  display: block;
  background-color: yellow;
  /*width: 50%;*/
  min-height: 70px;
  margin-right: 20%;
  height: inherit;
  border-radius: 5px;
}

.player-right .fa-user-plus, .message-right .fa-user-plus {
  position: relative;
  font-size: 1.2rem;
  left: -45px;
  color: black;
  cursor: pointer;
}

.btn{
  cursor: pointer;
}

.message-bulder-section{
  margin-top: 40px;
  background-color: #222223;
  padding: 10px;
}

.player-image img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 5px solid white;
}