body{
  margin-bottom: 50px;
}

a, a:hover{
	text-decoration: none;
	color: #333;
}

.hide{display:none !important}

.inner-block {
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
	margin: 20px 0px 0px 0px;
}

.inner-block  li{
	display:block;
	min-height: 70px;
	position: relative;
	margin: 0 0 20px 0;
	padding: 0px 0px 0px 90px;
}

.inner-block  li:last-child{
	margin: 0;
}

.profile-img{
	width:75px;
	height: 75px;
	border-radius: 100%;
	overflow: hidden;
	background: #ccc;
/*	border: 1px solid #ccc;*/
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}


.inner-block  li figcaption .form-control{
	border-radius: 2px 2px 0px 0px;
}
.inner-block  li figcaption .form-control:focus{
	outline: none;
	box-shadow: none;
}

.inner-block  li figcaption .form-control.url{
	border-radius: 0px 0px 2px 2px;
}

.inner-block  li figcaption textarea.form-control{
	height:75px;
	min-height: 75px;
	border-radius: 2px;
	
}


.inner-block li:nth-child(even){
	padding: 0px 90px 0px 0px;
}


.inner-block li:nth-child(even) .profile-img{
	left: inherit;
	right: 0;
}


.btn-area{
	position: relative;
	margin-top: 20px;
}

.btn-custom{
	background-color: #ccc;
	padding: 12px 20px;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	font-weight: 500;
	color: #333;
	transition:0.2s all ease-in-out;
}

.btn-custom:hover{
	background-color: #333;
	color: #fff;
}

.btn-custom.start-btn{
	background-color: #36154F;
	color: #fff;
	
	float: left;
}
.player-buttons{
	float: right;
	display: none;
}

.btn-custom.player-btn{
	float: left;
	margin-left: 10px;
}

.message-bulder-section{
	display: none;
}

.remove-profile {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	background-color: #F23E12;
	border-radius: 100%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.remove-profile i {
	line-height: 20px;
	color: #fff;
	font-size: 14px;
}

li:nth-child(even) .remove-profile{
	top: -10px;
	right: inherit;
	left: -10px;
}


ul#preview li figcaption {
/*
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	padding: 10px;
*/
	border-radius: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}



#ProfileList{
	margin: 0px -5px;
}

#ProfileList li{
	float: left;
	width: 25%;
	margin: 0;
	text-align: center;
	padding: 5px 5px;
}
#ProfileList li a{
	display: block;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	padding: 10px;
	border-radius: 2px;
	overflow: hidden;
}

#ProfileList li a:hover{
	background:#333;
	color: #fff;
}

#ProfileList li .profile-img{
	position: inherit;
	margin: 0 auto;
	
}

#ProfileList li figcaption{
	margin: 10px 0px 0px 0px;
	min-height: 20px;
}



.inner-block .dynamic-list li.message-left{
	padding: 0px 0px 0px 90px;
}


.inner-block .dynamic-list li.message-left .profile-img{
	right: inherit;
	left: 0;
}



.inner-block .dynamic-list li.message-right{
	padding: 0px 90px 0px 0px;
}


.inner-block .dynamic-list li.message-right .profile-img{
	left: inherit;
	right: 0;
}


.inner-block .dynamic-list li.message-right .remove-profile{
	top: -10px;
	right: inherit;
	left: -10px;
}

.inner-block .dynamic-list li.message-left .remove-profile{
	top: -10px;
	left: inherit;
	right: -10px;
}

