@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

.clearfix:before,
.clearfix:after{
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after{
	clear: both;
}
.clearfix {
 *zoom: 1;
}

body{
	font-family: 'Oswald', sans-serif;
	background-color: #f4f4f4;
	font-weight: 300; 
}

.slick-prev:before, .slick-next:before{
    color: #36154f;
}

.navbar{
	font-weight: 400; 
}

.navbar-brand{
	display: inline;
	font-family: 'Montserrat', sans-serif;
}

.bg-dark{
	background-color: #36154f!important;
}

#main-content{
	margin-top: 40px;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	font-size: 1.25em;
	letter-spacing: 0.5px;
}

.display-4{
	font-size: 3rem;
}

.grid{
	margin-top: 10px;
}

.grid li h3{
	background-color: #36154f!important;
	color: #ffbf00;
}

.grid li.shown:hover > a::before{
	border-color: #36154f!important;
}

.card-widget{
	/*background-color: #ffbf00;.*/
	border: none!important;
	border-radius: 0px;
	color: #36154f;
	/*width: 200px;*/
	float: left;
	margin: 0 10px;
}

.main--headline {
	/*margin: 0 12px;*/
	/*width: 500px;*/
	/*background-color: #ccc;*/
	margin: 0 auto;
	width: calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
}

.card-body{
	position: relative;
	min-height: 185px;
	margin: 0px 0px 5px 0px;
	background-color: white;
}

.card-body .btn.btn-primary {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100px;
}

.btn-primary {
	background-color: #36154f!important;
	border-color: #36154f!important;
}
.btn-primary:hover {
	background-color: #fbc042 !important;
	border-color: #fbc042 !important;
}
.slider .card:nth-child(2n){
	background-image: -webkit-linear-gradient(right, #00ebff, #0050e6);
}

.slider .card:nth-child(2n+1){
	background-image: -webkit-linear-gradient(right, #c1fe4b, #08a800);
}

.slider .card:nth-child(3n+0){
	background-image: -webkit-linear-gradient(right, #ff8d8d, #e90079);
}

.slider .card:nth-child(3n+1){
	background-image: -webkit-linear-gradient(right, #F4B82E, #E18018);
}

hr{
	margin: 10px 0px;
}

#projectList{
	margin-top: 70px;
}
.form-wrap .form-group.clearfix {
	margin-bottom: 40px;
}

#result {
	color: black;
	padding-left: 15px;
	line-height: 35px;
}

#result .success {
	color: green;
}

.form-wrap .form-group input,
.form-wrap .form-group textarea {
	font-size: 16px;
}
.form-wrap .form-group textarea.text-area {
	padding: 15px 20px;
    min-height: 115px;
    font-size: 16px;
}
.form-control:disabled,
.form-control[readonly] {
	background: #fff;
}
.article-list:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}

#listOfArticles .article-list {
	font-size: 16px !important;
}

#listOfArticles .article-list span {
	font-size: 16px !important;
}

#preview.periscope-iframe iframe {
	min-height: 615px;
}
#preview.switch-iframe iframe {
	min-height: 600px;
}
#preview.slider-iframe iframe {
	min-height: 400px;
}

#moods_card .card {
	margin-bottom: 20px;
}

.display_results {
	font-size: 14px;
	font-weight: 500;
}

/*li img{
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}*/