button.close {
    padding: .375rem .75rem;
}
.options-close-button {
    position: absolute;
    top: 0;
    right: 0;
}
.tag-line {
    margin-bottom: 5px;
}
.optionInputGroup {
    list-style-type: none;
    padding: 0px;
    width: 100%;
    position: relative;
}
.optionInputLi {
    margin: 0px 0 0 20px;
}
.optionInputLi input {
    width: 90%;
}
.optionRadioLi {
    position: absolute;
    left: 0;
    top: 2px;
}
.card-body textarea,
.card-body input {
	margin-bottom: 10px;
}

.mediaPlaceholderList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mediaPlaceholderList li {
    width: 33.333%;
    float: left;
    padding: 0px 10px 20px 0px;
}

.white-box{
	background-color: #fff;
    margin-bottom: 1.7em;
    padding: 1.5em;
    border: 1px #d8d8d8 solid;
}
.white-box:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.result-content{
	float: left;
    width: 50%;
}

.generate-quiz-button,
.refresh-icon {
    cursor: pointer;
}

.iframe-link {
    margin-bottom: 5px;
    overflow: hidden;
    height: 76px;
    padding: 12px 16px;
}
.copy-val {
    /*float: right;*/
    border: none;
    border-radius: .25rem;
    background-color: #36154f;
    padding: 3px 13px 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.copy-val:hover {
    background-color: #F7A500;
}