button.close {
    padding: .375rem .75rem;
}
.options-close-button {
    position: absolute;
    top: 0;
    right: 0;
}
.tag-line {
    margin-bottom: 5px;
}
.optionInputGroup {
    list-style-type: none;
    padding: 0px;
    width: 100%;
    position: relative;
}
.optionInputLi {
    margin: 0px 0 0 20px;
}
.optionInputLi input {
    width: 90%;
}
.optionRadioLi {
    position: absolute;
    left: 0;
    top: 5px;
}
.card-body textarea,
.card-body input {
	margin-bottom: 10px;
}

.mediaPlaceholderList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mediaPlaceholderList li {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.mediaPlaceholderList li img {
    max-width: 100%;
}
.mediaPlaceholderList li iframe {
    /*width: 100%;*/
}


.white-box{
	background-color: #fff;
    margin-bottom: 1.7em;
    padding: 1.5em;
    border: 1px #d8d8d8 solid;
}
.white-box:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.result-content{
	float: left;
    width: 50%;
}


.preview-iframe {
    background-image: url(../images/AjaxLoader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}
.preview-iframe--wrap {
}
.preview-iframe--wrap iframe {
    display: block;
    background-color: #f4f4f4
}
.embedded-preview-link {
    margin: 10px 0;
}
.embedded-preview {
    display: none;
}

/* Design checkbox */
.checkbox {
    position: relative
}
.checkbox [type="checkbox"]:not(:checked),
.checkbox [type="checkbox"]:checked {
    position: absolute;
    left: -9999px
}

.checkbox [type="checkbox"]:not(:checked)+label,
.checkbox [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    font-size: .85rem;
    line-height: 1.5625rem;
    color: #555;
    letter-spacing: .03125rem;
    display: block;
    text-transform: uppercase
}

.checkbox [type="checkbox"]:checked+label {
    color: #000
}

.checkbox [type="checkbox"]:not(:checked)+label:before,
.checkbox [type="checkbox"]:checked+label:before,
.checkbox [type="checkbox"]:not(:checked)+label:after,
.checkbox [type="checkbox"]:checked+label:after {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.checkbox [type="checkbox"]:not(:checked)+label:before,
.checkbox [type="checkbox"]:checked+label:before {
    display: inline-block;
    cursor: pointer;
    border-width: .125rem;
    border-style: solid;
    border-color: #bdc1cc;
    background-color: transparent
}

.checkbox [type="checkbox"]:not(:checked)+label:after,
.checkbox [type="checkbox"]:checked+label:after {
    background-color: #fdbe2d;
    border: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("https://fea.assettype.com/thequint/assets/radio-check-4a29fceea8.svg")
}

.checkbox [type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    transform: scale(0)
}

.checkbox [type="checkbox"]:checked+label:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    transform: scale(1)
}












.iframe-link {
    margin-bottom: 5px;
    overflow: hidden;
    height: 76px;
    padding: 12px 16px;
}
.copy-val {
    /*float: right;*/
    border: none;
    border-radius: .25rem;
    background-color: #36154f;
    padding: 3px 13px 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.copy-val:hover {
    background-color: #F7A500;
}
.container.media-container {
    padding-right: 0;
    padding-left: 0;
}