@font-face {
    font-family: 'Cooper-hewitt-semibold';
    src: url('fonts/cooperhewitt-semibold-26d10fb49e.eot');
    src: url('fonts/cooperhewitt-semibold-26d10fb49e.eot?#iefix') format('embedded-opentype'),
         url('fonts/cooperhewitt-semibold-f03681ea7e.woff2') format('woff2'),
         url('fonts/cooperhewitt-semibold-ca53e68052.woff') format('woff'),
         url('fonts/cooperhewitt-semibold-893fa1520e.svg#cooper_hewittsemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Libel-suit';
    src: url('fonts/libel-suit-rg-bd31a5db0c.eot');
    src: url('fonts/libel-suit-rg-bd31a5db0c.eot?#iefix') format('embedded-opentype'),
         url('fonts/libel-suit-rg-4ab813408e.woff2') format('woff2'),
         url('fonts/libel-suit-rg-2569828f21.woff') format('woff'),
         url('fonts/libel-suit-rg-cab2bbe226.svg#libel_suitregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald-regular-a69a3ba429.eot');
    src: url('fonts/oswald-regular-a69a3ba429.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-2d3356f52f.woff2') format('woff2'),
         url('fonts/oswald-regular-e287c9dfb1.woff') format('woff'),
         url('fonts/oswald-regular-0b71cdfa33.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-italic-webfont-034a1d82a5.eot');
    src: url('fonts/merriweather-italic-webfont-034a1d82a5.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-italic-webfont-01f9eb5033.woff2') format('woff2'),
         url('fonts/merriweather-italic-webfont-3f6b27b641.woff') format('woff'),
         url('fonts/merriweather-italic-webfont-63e6415342.svg#merriweatheritalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-regular-webfont-77fda5bc51.eot');
    src: url('fonts/merriweather-regular-webfont-77fda5bc51.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-regular-webfont-0b4659cd69.woff2') format('woff2'),
         url('fonts/merriweather-regular-webfont-f62ef778c2.woff') format('woff'),
         url('fonts/merriweather-regular-webfont-a5c138e19f.svg#merriweatherregular') format('svg');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-bold-webfont-ff72862159.eot');
    src: url('fonts/merriweather-bold-webfont-ff72862159.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-bold-webfont-87b26e24fe.woff2') format('woff2'),
         url('fonts/merriweather-bold-webfont-18951ebcae.woff') format('woff'),
         url('fonts/merriweather-bold-webfont-0943d85ec4.svg#merriweatherbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-bolditalic-webfont-de9440f781.eot');
    src: url('fonts/merriweather-bolditalic-webfont-de9440f781.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-bolditalic-webfont-3c6889125f.woff2') format('woff2'),
         url('fonts/merriweather-bolditalic-webfont-d87dc17751.woff') format('woff'),
         url('fonts/merriweather-bolditalic-webfont-016932ef99.svg#merriweatherbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Merriweathersans';
    src: url('fonts/merriweathersans-extrabold-webfont-675f468fbb.eot');
    src: url('fonts/merriweathersans-extrabold-webfont-675f468fbb.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweathersans-extrabold-webfont-f6d79839f4.woff2') format('woff2'),
         url('fonts/merriweathersans-extrabold-webfont-4b9e7d85b9.woff') format('woff'),
         url('fonts/merriweathersans-extrabold-webfont-13f839fc2a.svg#merriweather_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}
