	@charset "utf-8";
body {
	font-family: 'Nobile', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	overflow: hidden;
	width: 100%;
	background-color: #5F0A0A;
}
html, body {
	height: 100%;
	width: 100%;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #fcfe5e;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 400;
	font-size: 100%;
}
/*Start CSS*/


.footer-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 38%;
	z-index: 1;
	transform: translateZ(0px);
}
.footer-wrapper ul {
	display: block;
}
.footer-wrapper ul li {
	width: 9%;
	display: inline-block;
	cursor: pointer;
	margin-left: -0.8%;
	position: relative;
}
.footer-wrapper ul li.demo_fade img
{
	
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
}
.footer-wrapper ul li.demo_fade img.img-blink,.footer-wrapper ul li.demo_fade img.img-punch,.footer-wrapper ul li.demo_fade img.img-dead,.footer-wrapper ul li.demo_fade img.img-mad,.footer-wrapper ul li.demo_fade .flame{
	display: none!important;
}

.footer-wrapper ul li.demo_show img
{
   filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}
.footer-wrapper ul li.demo_show img.img-blink,.footer-wrapper ul li.demo_show img.img-punch,.footer-wrapper ul li.demo_show img.img-dead,.footer-wrapper ul li.demo_show img.img-mad,.footer-wrapper ul li.demo_show .flame{
	display: block!important;
}

.footer-wrapper ul li:first-child {
	margin: 0;
}
.footer-wrapper ul li:nth-child(5) {
	width: 11%;
}
.footer-wrapper ul li span {
	top: 100%;
	display: block;
	left: 0;
	padding: 8px 0;
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 115%;
	color: rgb(255,255,255,0.6);
	font-weight: 700;
	font-size: 14px;
}
.wrapper.body-wrapper {
	position: fixed;
	width: 100%;
	height: 62.5%;
	top: 0;
	left: 0;
	z-index: 1;
	background: #C40506 url("../images/bg.svg") no-repeat scroll left bottom / contain;
	transform: translateZ(0px);
}
.cloud {
	position: relative;
	width: 100%;
	opacity: 0.4;
}
.cloud img{
	min-width: 960px;
}
#news-list {
	list-style: none;
	position: absolute;
	top: 0px;
}
.news-items li {
	border: 5px solid #600B0B;
	border-radius: 10px;
	/*box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);*/
	
	position: absolute;
	width: 250px;
	top: -170px;
	background-image:image(url(../images/header.svg))
}
.news-items li figure {
	
	overflow: hidden;
	margin: 0px;
	position: relative;
}
.news-items li::before {
	background: rgba(0, 0, 0, 0) url("../images/header.svg") no-repeat scroll 0 0 / 100% auto;
	content: "";
	height: 40px;
	position: absolute;
	width: 150px;
	z-index: 99;
	top:-40px;
	left: 50%;
	margin-left: -75px;
}

.footer-wrapper ul li.demo_show::before {
	background: rgba(0, 0, 0, 0) url("../images/arrow.svg") no-repeat scroll 0 0 / 100% auto;
	content: "";
	height: 60px;
	position: absolute;
	width: 15px;
	z-index: 99;
	top:-48px;
	left: 56%;
	margin-left: -15px;
}

.demo_msg_head {
	position: absolute;
	left: -23px;
    right: 0;
	top: -97px;
	display: none;
	font-weight: 700;
	background: rgba(0,0,0,0.5);
	padding: 10px 10px 5px 10px;
	width: 140px;
	line-height: 115%;
	font-size: 14px;

}
.start_msg
{
	font-size: 200px;
	text-align: center;
	position: absolute;
	color: rgba(0,0,0,0.5);
	z-index: 100;
	font-weight: 700;
	pointer-events: none;
	opacity: 0;
	
	
}
.start_msg.anim
{
	-webkit-animation-name: start_anim;
	animation-name: start_anim;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: forwards;
	animation-iteration-count: forwards;
	
}


@-webkit-keyframes start_anim {
 0% {
opacity: 0;
	 	 transform: scale3d(1,1,1);
}
 50% {
opacity: 1;
	 transform: scale3d(1.2,1.2,1);
}
 100% {
opacity: 0;
	 	 	 transform: scale3d(1.4,1.4,1);
}
}
@keyframes start_anim{
 0% {
opacity:0;
	 	 	 transform: scale3d(1,1,1);
}
 50% {
opacity: 1;
	 	 transform: scale3d(1.2,1.2,1);
}
 100% {
opacity: 0;
	 	 	 transform: scale3d(1.4,1.4,1);
}
}
.footer-wrapper ul li.demo_show .demo_msg_head
{
	display: block;
	
	
}
.news-items li.demo::after {
	background: rgba(0, 0, 0, 0) url("../images/arrow.svg") no-repeat scroll 0 0 / 100% auto;
	content: "";
	height: 48px;
	position: absolute;
	width: 16px;
	z-index: 99;
	bottom:-53px;
	left: 50%;
	margin-left: -15px;
	transform: scale(-1,-1)
}
.news-items li:nth-child(2)::after,.news-items li:nth-child(2) .demo_msg
{
	display: none;
}
.demo_msg {
	position: absolute;
	top: 217px;
	width: 100%;
	text-align: center;
	font-weight: 700;
	background: rgba(0,0,0,0.5);
	padding: 8px 10px 5px;
	font-size: 14px;
    line-height: 128%;
}
/*
.news-items li::before {
	top: -4px;
	left: -8px
}
.news-items li::after {
	right: -8px;
	top: -4px;
}
.news-items li figure::before {
	bottom: -13px;
	left: -9px;
}
.news-items li figure::after {
	right: -9px;
	bottom: -13px
}*/
.news-items li img {
	width: 100%;
}
.news-items li figcaption {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	font-size: 14px;
	left: 0;
	padding: 7px 10px 5px;
	position: absolute;
	text-align: left;
	width: 100%;
}
.news-items li figcaption h1 {
	font-weight: 700!important;
	font-size: 14px;
}
figcaption h2 {
	display: none;
}
.lives {
	position: fixed;
	top: 90px;
	right: 0px;
	z-index: 99;
}
.lives li {
	float: left;
	width: 50px;
	margin-right: 10px;
	line-height: 110%;
}
#score,
#lives {
	font-weight: 700;
	position: absolute;
	right: 10px;
	font-size: 20px;
	width: 70px;
	line-height: 110%;
	text-align: right;
}
#score {
	top: 10px;
}
#score span {
	display: block;
	color: #eac803;
	font-size: 22px;
}
#lives {
	top: 58px;
}

.landing_screen {
	position: absolute;
	width: 50%;
	height: 50%;
	min-width: 320px;
	
	background: #4b0505;

	z-index: 100;
}
.landing_container
{
left:50%;
	top:50%;
	position: relative;
}
.landing_container .btn
{
width:100px;
	height: 40px;
	margin: 10px;
	cursor: pointer;
}
#start_btn
{
	display: none;
}
#end_screen,#won_screen
{
	display: none;
}

#ravana-heads {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
.cloud {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
 @-webkit-keyframes hvr-bob {
 0% {
 -webkit-transform: translateY(-16px);
 transform: translateY(-16px);
}
 50% {
 -webkit-transform: translateY(-4px);
 transform: translateY(-4px);
}
 100% {
 -webkit-transform: translateY(-16px);
 transform: translateY(-16px);
}
}
@keyframes hvr-bob {
 0% {
 -webkit-transform: translateY(-16px);
 transform: translateY(-16px);
}
 50% {
 -webkit-transform: translateY(-4px);
 transform: translateY(-4px);
}
 100% {
 -webkit-transform: translateY(-16px);
 transform: translateY(-16px);
}
}
 @-webkit-keyframes cloud {
 0% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}
 100% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
}
}
@keyframes cloud {
 0% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}
 100% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
}
}
	
	 @-webkit-keyframes hanuman {
 0% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
}
 100% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}
}
@keyframes hanuman {
 0% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
}
 100% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}
}
.cloud {
	-webkit-animation-name: cloud;
	animation-name: cloud;
	-webkit-animation-duration: 60.5s;
	animation-duration: 60.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.cloud-2 {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
	-webkit-animation-duration: 85.5s;
	animation-duration: 85.5s;
}
/*
  Settings
*/
/*
  Flame
*/
.flame {
	width: 320px;
	height: 320px;
	background-image: url(../images/flame.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	-webkit-animation: 1s steps(16) 0s infinite flame;
	animation: 1s steps(16) 0s infinite flame;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0%;
	transform-origin: 0% 100%;
}
.flame-2 {
	left: -100px;
}
.flame-3 {
	left: 100px;
}
.footer-wrapper {
	z-index: 2;
}
.footer-wrapper ul li .flame {
	display: none;
	transform: rotate(-180deg) scale(0.5) translate(-50%);
	-webkit-transform: rotate(-180deg) scale(0.5) translate(-50%);
	bottom: 45px;
	left: 50%;
}
.footer-wrapper ul li:hover .flame {
	display: block;
}
.footer-wrapper ul li span {
	z-index: 2;
}

/*
  Flame Animation
*/
@-webkit-keyframes flame {
 0%,  6.24% {
 background-position: -0px -0px;
}
 6.25%,  12.49% {
 background-position: -320px -0px;
}
 12.5%,  18.74% {
 background-position: -640px -0px;
}
 18.75%,  24.99% {
 background-position: -960px -0px;
}
 25%,  31.24% {
 background-position: -0px -320px;
}
 31.25%,  37.49% {
 background-position: -320px -320px;
}
 37.5%,  43.74% {
 background-position: -640px -320px;
}
 43.75%,  49.99% {
 background-position: -960px -320px;
}
 50%,  56.24% {
 background-position: -0px -640px;
}
 56.25%,  62.49% {
 background-position: -320px -640px;
}
 62.5%,  68.74% {
 background-position: -640px -640px;
}
 68.75%,  74.99% {
 background-position: -960px -640px;
}
 75%,  81.24% {
 background-position: -0px -960px;
}
 81.25%,  87.49% {
 background-position: -320px -960px;
}
 87.5%,  93.74% {
 background-position: -640px -960px;
}
 93.75%,  99.99% {
 background-position: -960px -960px;
}
 100% {
 background-position: -0px -1280px;
}
}
@keyframes flame {
 0%,  6.24% {
 background-position: -0px -0px;
}
 6.25%,  12.49% {
 background-position: -320px -0px;
}
 12.5%,  18.74% {
 background-position: -640px -0px;
}
 18.75%,  24.99% {
 background-position: -960px -0px;
}
 25%,  31.24% {
 background-position: -0px -320px;
}
 31.25%,  37.49% {
 background-position: -320px -320px;
}
 37.5%,  43.74% {
 background-position: -640px -320px;
}
 43.75%,  49.99% {
 background-position: -960px -320px;
}
 50%,  56.24% {
 background-position: -0px -640px;
}
 56.25%,  62.49% {
 background-position: -320px -640px;
}
 62.5%,  68.74% {
 background-position: -640px -640px;
}
 68.75%,  74.99% {
 background-position: -960px -640px;
}
 75%,  81.24% {
 background-position: -0px -960px;
}
 81.25%,  87.49% {
 background-position: -320px -960px;
}
 87.5%,  93.74% {
 background-position: -640px -960px;
}
 93.75%,  99.99% {
 background-position: -960px -960px;
}
 100% {
 background-position: -0px -1280px;
}
}
/*
  Document
*/
html {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.5;
	background-color: #000;
	color: #3d3d3d;
}
body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;
	font-size: 1rem;
}
footer {
	z-index: 2;
}
.wrapper.body-wrapper {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ca0607+0,770202+100 */
	background: #ca0607; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ca0607 0%, #770202 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ca0607 0%, #770202 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ca0607 0%, #770202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0607', endColorstr='#770202', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.city {
	background-image: url("../images/bg.svg");
	position: absolute;
	bottom: 0px;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-position: bottom left;
}
#news-list {
	z-index: 2;
}
.hanuman img {
	width: 200px;
	min-width: 200px;
}
.hanuman {
	
	-webkit-animation-name: hanuman;
	animation-name: hanuman;
	-webkit-animation-duration: 10.5s;
	animation-duration: 10.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	opacity: 0.2;
}
.black-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
}
.black-bg.black-anim {
	-webkit-animation: 0.5s forwards lose;
	animation: 0.5s forwards lose;
}
 @-webkit-keyframes lose {
 0% {
 opacity: 0;
}
 10% {
 opacity: 0.3;
}
 20% {
 opacity: 0;
}
 30% {
 opacity: 0.3;
}
 40% {
 opacity: 0;
}
 50% {
 opacity: 0.3;
}
 60% {
 opacity: 0;
}
 70% {
 opacity: 0.3;
}
 80% {
 opacity: 0;
}
 90% {
 opacity: 0.3;
}
 100% {
 opacity: 0;
}
}
keyframes lose {
 0% {
 opacity: 0;
}
 10% {
 opacity: 0.3;
}
 20% {
 opacity: 0;
}
 30% {
 opacity: 0.3;
}
 40% {
 opacity: 0;
}
 50% {
 opacity: 0.3;
}
 60% {
 opacity: 0;
}
 70% {
 opacity: 0.3;
}
 80% {
 opacity: 0;
}
 90% {
 opacity: 0.3;
}
 100% {
 opacity: 0;
}
}

	.img-blink,.img-punch,.img-dead,.img-mad
	{
		position: absolute;
		left: 0px;
		top:0px;
		visibility: hidden;
	}
	.img-blink.visible,.img-punch.visible,.img-dead.visible,.img-mad.visible
	{
		visibility: visible;
	}






/* Shahadat CSS */

.landing_screen {
	background: none;
	height: auto;
	width: 100%;
    max-width: 700px;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.landing_screen .popup-bg {
	width: 100%;
}
.landing_container {
	margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 60%;
    text-align: center;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);
}
.landing_container .popup-headline {
	margin: 0 auto 15px;
	width: 70%;
}
.landing_container .popup-content {
	margin: 0 0 5px;
}
.landing_container .loading {
	text-transform: uppercase;
	color: #eac803;
	font-size: 20px;
	font-weight: 700;
	padding-top: 10px;
}
.landing_container .btn {
    display: inline-block !important;
    background: #eac803;
    border-radius: 5px;
    border: none;
    height: auto;
    width: auto;
    color: #770202;
    font-size: 26px;
    font-weight: 700;
    padding: 7px 30px;
    letter-spacing: -1px;
    text-transform: uppercase;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.landing_container .btn:hover {
	background: #5f0a0a;
    color: #eac803;
}
.landing_container .btn.visible, .landing_container .btn.restart_btn {
	visibility: visible;
}
#end_screen .landing_container .popup-headline {
	width: 50%;
}
#won_screen .landing_container .popup-headline {
	width: 45%;
}

.social-share .share-on {
	display: inline-block;
	font-weight: 700;
	line-height: 40px;
}
.social-share .facebook,
.social-share .twitter {
	display: inline-block;
	font-weight: 700;
	width: 35px;
	height: 35px;
	line-height: 35px
}
.social-share .facebook img,
.social-share .twitter img {
	width: 100%;
}

@media screen and (max-width:960px) {
	.start_msg {
		font-size: 120px;
	}
}

@media screen and (max-width:550px) {
	.start_msg {
		top: 20%;
	}
	.landing_container {
		width: 80%;
	}
	.landing_container .popup-headline {
		width: 40%;
	}
	#end_screen .landing_container .popup-headline {
		width: 35%;
	}
	#won_screen .landing_container .popup-headline {
		width: 30%;
	}
	.start_msg {
		font-size: 100px;
	}
}
@media screen and (max-width:480px) {
	.landing_container {
		width: 85%;
	}
	.landing_container .popup-headline {
		width: 35%;
		margin: 0 auto 8px;
	}
	#end_screen .landing_container .popup-headline {
		width: 30%;
	}
	#won_screen .landing_container .popup-headline {
		width: 25%;
	}
	.landing_container .popup-content {
		margin: 0;
		font-size: 14px;
	}
	.landing_container .btn {
		margin: 5px 0 0 0;
		padding: 3px 15px;
		font-size: 20px;
	}
	.start_msg {
		font-size: 80px;
	}
}

.youtube_iframe
{
    width: 0;
    height: 0;
    visibility: hidden;
}