@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #000;
    min-height: 250px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
@font-face {
    font-family: 'futuramedium';
    src: url('../fonts/futura_medium_bt-webfont.woff2') format('woff2'),
        url('../fonts/futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_bdcn_btbold';
    src: url('../fonts/futura_bold_font-webfont.woff2') format('woff2'),
        url('../fonts/futura_bold_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('../fonts/futura_heavy_font-webfont.woff2') format('woff2'),
        url('../fonts/futura_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main-wrap {
    margin: 0 auto;
    max-width: 800px;
    min-height: 570px;
    position: relative;
    overflow: hidden;
    background-color: #ccc;
    background-image: url(../images/desktop-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.is-mobile {
    display: none;
}
.is-desktop {
    display: block;
}
.main-wrap .btn-video,
.main-wrap .btn-view-more,
.main-wrap .btn-three-sixty {
    display: none;
}
.main-wrap__left,
.main-wrap__right {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../images/ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;

}
.main-wrap__left {
    position: absolute;
    left: 84px;
    top: 50px;
    overflow: hidden;
    width: 277px;
    height: 492px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.main-wrap__right {
    position: absolute;
    left: 368px;
    top: 50px;
    overflow: hidden;
    width: 277px;
    height: 492px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


.main-wrap .iframe-video,
.main-wrap .html5-video {
    position: relative;
    height: 100%;
}
.main-wrap .iframe-video iframe,
.main-wrap .html5-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-video-first {
    /*position: relative;*/
    /*height: 100%;*/
}
.iframe-video-first iframe {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    height: 120%;
    margin-left: 50%;
    transform: translate(-50%, -15%);
}


@media screen and (max-width: 800px) {
    .main-wrap {
        max-width: 320px;
        background-image: url(../images/mobile-bg.png);
    }
    .is-mobile {
        display: block;
    }
    .is-desktop {
        display: none;
    }
    .main-wrap__left,
    .main-wrap__right {
        left: 22px;
        top: 25px;
        width: 270px;
        height: 480px;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .main-wrap__right {
        display: none;
    }
    .main-wrap .btn-video,
    .main-wrap .btn-view-more,
    .main-wrap .btn-three-sixty {
        display: block;
        position: absolute;
        bottom: 37px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        
        font-family: 'futuramedium';
    }
    .main-wrap .btn-video {
        left: 15px;
        width: 56px;
        letter-spacing: 1px;
        font-size: 0.88em;
    }
    .main-wrap .btn-view-more {
        left: 118px;
        width: 82px;
        font-size: 0.88em;
    }
    .main-wrap .btn-view-more a {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
    }
    .main-wrap .btn-three-sixty {
        right: 20px;
        width: 46px;
        background-image: url(../images/360-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 65%;
    }
}



