html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:before,  .clearfix:after{
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after{
	clear: both;
}
.clearfix {
 *zoom: 1;
}


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 100%;
	font-family: 'Bree Serif', serif;
	background-color: #f7f7f7;
}
a {
	color: #dc717d;
	text-decoration: none;
}
img {
	max-width: 100%;
}
header {
	position: relative;
	height: 160px;
	line-height: 160px;
	text-align: center;
}
header h1 {
	font-size: 22px;
	font-size: 1.375rem;
	color: #ffffff;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
header {
	height: 240px;
	line-height: 240px;
}
header h1 {
	font-size: 32px;
	font-size: 2rem;
}
}
.form-wrap {
	margin: 30px auto;
	padding: 40px;
	max-width: 752px;
	min-height: 400px;
	left: 0;
	right: 0;
	background-color: #e9e8e8;
	
}
.form-wrap .form-group {
	width: 100%;
	margin-bottom: 15px;
}
.form-wrap .form-group label {
	width: 100%;
	display: block;
	font-weight: 400;
	padding-bottom: 10px;
}
.form-wrap .form-group input, .form-wrap .form-group textarea {
	width: 100%;
	display: block;
	padding: 5px 10px;
	height: 40px;
	border: 0 none;
	outline: none;
	font-size: 20px;
	color: #666
}
.form-wrap .form-group textarea {
	min-height: 100px;
}
.form-wrap .form-group input:focus {
	border: 0 none;
	outline: none;
}
.form-wrap .btn-submit {
	float: left;
	border: none;
	background-color: #6a357f;
	padding: 8px 15px 10px;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	cursor: pointer;
}
.form-wrap .copy-val {
	float: right;
	border: none;
	background-color: #6a357f;
	padding: 8px 15px 10px;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	cursor: pointer;
}
