@charset "utf-8";
body {
    font-family: 'Muli', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #333;
    overflow-x: hidden;
    background: #fff;
}

p {
    line-height: 160%;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    outline: none;
    color: #333;
}

button,
a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.ad-area {
    width: 728px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.small-ad {
    position: absolute;
    bottom: 0;
    left: 0;
}

.big-ad {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

.btn-expand {
    background: #fff;
    color: #000;
    border: 0;
    display: inline-block;
    position: absolute;
    padding: 6px 14px 6px 14px;
    line-height: 100%;
    bottom: 7px;
    right: 20px;
}

.small-ad.is-expand {
    transform: perspective(308px) rotateY(-90deg);
    transform-origin: right;
    animation: spin-small 1.5s;
}

.small-ad.is-back {
    transform: perspective(308px) rotateY(-90deg);
    transform-origin: right;
    animation: spin-small-re 2s;
}

.big-ad.is-expand {
    transform: perspective(308px) rotateY(0deg);
    transform-origin: left;
    cursor: pointer;
    transform-style: preserve-3d;
    background: transparent;
    animation: spin-big 2s;
    visibility: visible;
}

.big-ad.is-back {
    transform: perspective(308px) rotateY(0deg);
    transform-origin: left;
    cursor: pointer;
    transform-style: preserve-3d;
    background: transparent;
    animation: spin-big-re 1.5s;
    visibility: visible;
}



.ad-close {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
    z-index: 4;
    border-radius: 100%;
    overflow: hidden;
}

.ad-close i {
    font-size: 20px;
    line-height: 40px;
}





/*Animations*/

@keyframes spin-small {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: perspective(308px) rotateY(-90deg);
    }
}

@keyframes spin-small-re {
    0% {
        transform: perspective(308px) rotateY(-90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}


@keyframes spin-big {
    0% {
        transform: perspective(308px) rotateY(90deg);
    }
    100% {
        transform: rotateY(0);
    }
}

@keyframes spin-big-re {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: perspective(308px) rotateY(90deg);
    }
}