@charset "utf-8";

body {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    outline: none;
    color: #333;
}
button, a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: url(../images/loading2.gif) #fed010 no-repeat center;
}
.republic-nav {
    position: relative;
    background-color: #372051;
}
.republic-nav--wrap {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
    min-height: 60px;
    line-height: 60px;
}
.republic-nav--wrap:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.republic-nav--wrap__logo,
.republic-nav--wrap__social {
    float: left;
    width: 50%;
}
.republic-nav--wrap__logo h1 {
    margin-top: 15px;
    width: 115px;
}
.republic-nav--wrap__social {
    text-align: right;
}
.republic-nav--wrap__social li {
    position: relative;
    float: right;
    z-index: 5;
    color: #372051;
    margin: 10px 4px 0;
    text-align: center;
}
.republic-nav--wrap__social li a i {
    color: #372051;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}
.republic-nav--wrap__social li a:hover .fa-whatsapp {
    color: #fff;
    background-color: #25d366;
}
.republic-nav--wrap__social li a:hover .fa-facebook {
    color: #fff;
    background-color: #3b5998;
}
.republic-nav--wrap__social li a:hover .fa-twitter {
    color: #fff;
    background-color: #1da1f2;
}
.republic-nav--wrap__social li a:hover .fa-google-plus {
    color: #fff;
    background-color: #dd4b39;
}
.section-wrap {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}


.republic-story {
    position: relative;
    width: 100%;
}
.back-btn {
    position: fixed;
    top: 80px;
    left: 20px;
    z-index: 5
}
.back-btn a {
    display: block;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #fed010;
}
.back-btn a:hover {
    color: #fff;
    background-color: #372051;
}
.back-btn.bottom {
    position: absolute;
    top: inherit;
    bottom: 20px;
    left: 20px;
}

.republic-story__hero-banner {
    width: 100%;
    /*height: 400px;*/
    overflow: hidden;
}

.republic-story__content {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.republic-story__content--article {
    margin: 0 auto;
    max-width: 800px;
    color: #333;
    padding: 0 20px;
}

.republic-story__hero-banner img,
.republic-story__content--article img {
    width: 100%;
    display: block;
}
.republic-story__content--article p,
.republic-story__content--article div,
.republic-story__content--article blockquote,
.republic-story__content--article img {
    margin-bottom: 15px;
}
.republic-story__content--article__headline {
    font-size: 65px;
    line-height: 65px;
    color: #DE6DC5;
    font-weight: 700;
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
}
.republic-story__content--txt {

}
@media only screen and (max-width: 639px) {
    .republic-story__content--article__headline {
        font-size: 36px;
        line-height: 36px;
    }
    .back-btn {
        top: 75px;
        left: 15px;
    }
}
@media only screen and (max-width: 480px) {
    .republic-story__content--article {
        padding: 0 15px;
    }
}
