@charset "utf-8";

body {
    position: relative;
    margin: 0;
    padding: 0 0 200px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/republic-body-top-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fed010;
    background-position: 0 300px;
}
body:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: " ";
    z-index: -1;
    background-image: url(../images/republic-body-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
}
a {
    text-decoration: none;
    outline: none;
    color: #333;
}
button, a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: url(../images/loading2.gif) #fed010 no-repeat center;
}
.republic-nav {
    position: relative;
    background-color: #372051;
}
.republic-nav--wrap {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
    min-height: 60px;
    line-height: 60px;
}
.republic-nav--wrap:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.republic-nav--wrap__logo,
.republic-nav--wrap__social {
    float: left;
    width: 50%;
}
.republic-nav--wrap__logo h1 {
    margin-top: 15px;
    width: 115px;
}
.republic-nav--wrap__social {
    text-align: right;
}
.republic-nav--wrap__social li {
    position: relative;
    float: right;
    z-index: 5;
    color: #372051;
    margin: 10px 4px 0;
    text-align: center;
}
.republic-nav--wrap__social li a i {
    color: #372051;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}
.republic-nav--wrap__social li a:hover .fa-whatsapp {
    color: #fff;
    background-color: #25d366;
}
.republic-nav--wrap__social li a:hover .fa-facebook {
    color: #fff;
    background-color: #3b5998;
}
.republic-nav--wrap__social li a:hover .fa-twitter {
    color: #fff;
    background-color: #1da1f2;
}
.republic-nav--wrap__social li a:hover .fa-google-plus {
    color: #fff;
    background-color: #dd4b39;
}
.section-wrap {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}
.section-box {
    padding: 0
}
.section-box__iframe {
    padding: 0 20px;
	margin: 0 auto;
	max-width: 800px;
	position: relative;
    margin-bottom: 60px;
}

.section-box__iframe--container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.section-box__iframe--container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section-box__iframe--headline {
    margin: 10px 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.section-box:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.republic-uc-box {
    position: relative;
    margin: 30px auto 130px;
    border: 10px #fff solid;
    max-width: 1100px;
}
.republic-uc-box:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.republic-uc-box.btm-banner {
    margin: 60px auto 120px;
}
.republic-uc-box__txt {
    padding: 40px 0 20px 40px;
    float: left;
    width: 330px;
    color: #fff;
    font-size: 40px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.republic-uc__logo {
    margin: 10px 0;
    float: left;
    width: 270px;
}
.republic-uc__logo--quint {
    margin: 0 auto 7px;
    width: 200px;
    min-height: 60px;
    padding: 13px 30px 0;
    border-radius: 5px;
    background-color: #fff;
}
.republic-uc__logo--uc {
    margin: 0 auto;
    padding: 8px 0;
    width: 200px;
    min-height: 60px;
    background-color: #fff;
    border-radius: 5px;
}
.republic-uc-box__shadow {
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
}
.republic-uc-box__flag {
    position: absolute;
    bottom: -108px;
    right: -11px;
    width: 550px;
}
.section-box__headline {
    font-size: 26px;
    padding: 0 0 5px 20px;
}
.section-box__story li {
    padding: 0 20px 40px 20px;
    float: left;
    max-width: 640px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
}
.section-box__story--block {
    position: relative;
    min-height: 337px;
    background-color: #fff;
}
.section-box__story .section-box__story--headline {
    position: absolute;
    left: 0;
    bottom: 40px;
    max-width: 320px;
    padding: 20px;
    letter-spacing: -.00625em;
    background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width:1279px) and (min-width:960px) {
    .section-box__story li:nth-child(2n) {
        width: 320px;
    }
    .section-box__story li:nth-child(2n) .section-box__story--img {
        position: absolute;
        bottom: 0;
    }
    .section-box__story li:nth-child(2n) .section-box__story--headline {
        position: relative;
        left: 0;
        bottom: 0;
        max-width: 320px;
        padding: 20px;
        letter-spacing: -.00625em;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .section-box__story li:nth-child(2n) .section-box__story--block:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 100%;
        content: " ";
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, left, right);
        background-image: -webkit-linear-gradient(right, #ffbf00, #e97200);
        background-image: -moz-linear-gradient(right, #ffbf00, #e97200);
        background-image: -ms-linear-gradient(right, #ffbf00, #e97200);
        background-image: -o-linear-gradient(right, #ffbf00, #e97200);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffbf00', EndColorStr='#e97200')";
    }
}
@media only screen and (max-width: 1279px) {
    .section-wrap {
        max-width: 960px;
    }
    .republic-uc-box {
        margin: 30px auto 100px;
        max-width: 920px;
    }
    .republic-uc-box.btm-banner {
        margin: 60px auto 100px;
    }
    .republic-uc-box__txt {
        padding: 30px 0 20px 30px;
        width: 300px;
        font-size: 36px;
        line-height: 34px;
    }
    .republic-uc__logo {
        width: 220px;
    }
    .republic-uc__logo--quint {
        width: 180px;
        min-height: 50px;
        padding: 10px 25px 0;
    }
    .republic-uc__logo--uc {
        padding: 5px 0;
        width: 180px;
        min-height: 50px;
    }
    .republic-uc-box__shadow {
        bottom: -60px;
    }
    .republic-uc-box__flag {
        bottom: -70px;
        width: 430px;
    }
}
@media only screen and (max-width: 959px) {
    body {
        padding: 0 0 50px 0;
    }
    .section-wrap {
        max-width: 640px;
    }
    .republic-uc-box {
        margin: 30px auto 80px;
        max-width: 600px;
        min-height: 400px;
    }
    .republic-uc-box.btm-banner {
        margin: 0px auto 75px;
    }
    .republic-uc-box__txt {
        padding: 25px 0px 20px 20px;
        width: 50%;
    }
    .republic-uc__logo {
        width: 50%;
        margin-top: 15px;
    }
    .republic-uc-box__shadow {
        bottom: -50px;
    }
    .republic-uc-box__flag {
        bottom: -70px;
        width: 570px;
    }
    .section-box__iframe {
        margin-bottom: 40px;
    }

}
@media only screen and (max-width: 639px) {
    .section-wrap {
        max-width: 100%;
        padding: 0 10px;
    }
    .republic-uc-box {
        margin: 30px auto 60px;
        max-width: 400px;
        min-height: 330px;
    }
    .republic-uc-box.btm-banner {
        margin: 20px auto 50px;
    }
    .republic-uc-box__txt {
        padding: 20px 0px 20px 20px;
        font-size: 30px;
        width: 45%;
    }
    .republic-uc__logo {
        width: 55%;
    }
    .republic-uc__logo--quint {
        width: 160px;
        min-height: 50px;
        padding: 13px 20px 0;
    }
    .republic-uc__logo--uc {
        min-height: 50px;
        width: 160px;
        padding: 8px 0 8px 2px;
    }
    .republic-uc-box__shadow {
        bottom: -40px;
    }
    .republic-uc-box__flag {
        bottom: -50px;
        width: 100%;
    }
    .section-box__story li {
    	padding: 0 10px 20px 10px;
    }
    .section-box__story--block {
    	height: auto;
    	min-height: 0;
    }
    .section-box__story .section-box__story--headline {
    	position: relative;
    	bottom: 0;
        padding: 15px;
        max-width: 100%;
        height: auto;
    }
    .section-box__story .section-box__story--headline,
    .section-box__story .section-box__story--headline {
        padding: 15px;
        min-height: 0;
    }
    .section-box__story li:last-child {
    	padding-bottom: 20px;
    }
    .section-box__iframe {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .section-box__iframe--headline {
        font-size: 30px;
        line-height: 30px;
    }
}
@media only screen and (max-width: 480px) {
    body {
        padding: 0 0 20px 0;
    }
    .section-wrap {
        max-width: 100%;
        padding: 0 5px;
    }
    .republic-uc-box {
        margin: 30px auto 40px;
        max-width: 300px;
        min-height: 270px;
    }
    .republic-uc-box__txt {
        padding: 20px 0px 20px 10px;
        font-size: 24px;
        line-height: 26px;
        width: 45%;
    }
    .republic-uc__logo {
        width: 55%;
    }
    .republic-uc__logo--quint {
        width: 130px;
        min-height: 40px;
        padding: 8px 20px 0;
    }
    .republic-uc__logo--uc {
        min-height: 40px;
        width: 130px;
        padding: 8px 0 8px 2px;
    }
    .republic-uc-box__shadow {
        bottom: -35px;
    }
    .republic-uc-box__flag {
        bottom: -30px;
        width: 100%;
    }
    .section-box__iframe--headline {
        font-size: 24px;
        line-height: 24px;
    }
}