@charset "utf-8";

@media (max-width: 1023px) {
.table-cont h3 {
	font-size: 17px;
	white-space: nowrap;
	font-weight: 700;
}
.election-data table {
	font-size: 17px;
}
.chart-content {
	width: 200px;
	height: 300px;
}
.scroll-content {
	max-height: 300px;
}
.col {
	padding: 0 5px;
}
.row {
	margin: 0 -5px 10px;
}
.last-row .col-3 {
	margin-bottom: 0px !important;
}
	
.election-data table tr td {
  padding: 6px 0;
}
}

@media (max-width: 600px) {
	
	
	
	
	
	
.container.election-table {
	/*		width:230px;*/
	width: 100%;
	margin: 0 auto;
}
.table-cont h3 {
	font-size: 25px;
	letter-spacing: 0px;
	
}
.election-data {
	margin: 0px 15%;
}
.election-data table {
	font-size: 25px;
}
.election-data {
	padding-bottom: 0;
}
.election-data table {
	font-size: 25px;
	line-height: 110%;
}
.election-table ul li {
	padding: 0;
}
.row.table-row {
	margin: 0px -10px 10px -10px;
	background: #1177bf;
	padding-bottom: 5px;
}
.row {
	margin-bottom: 0px;
}
.col {
	float: none !important;
	width: 100% !important;
	margin-bottom: 15px;
}
.frame-wrapper .container {
	padding: 0px;
}
	
.election-data table tr td {
  padding: 0;
}
	
	
}

@media (max-width: 480px) {
.tab {
	padding: 0;
}
.chart-content {
	width: 280px;
	height: 280px;
}
.col-content h3 {
	font-size: 25px;
}
	
	.table-cont{height: 180px !important;}
}

.election-table .slick-dots li button{
	background: transparent;
}