@charset "utf-8";

@font-face {
    font-family: 'very_simple_chalkregular';
    src: url('../fonts/very_simple_chalk-webfont.woff2') format('woff2'),
         url('../fonts/very_simple_chalk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'right_chalkregular';
    src: url('../fonts/right_chalk_2-webfont.woff2') format('woff2'),
         url('../fonts/right_chalk_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




body {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	padding-bottom: 60px;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #fff;
	text-transform: uppercase;
	font-family: 'very_simple_chalkregular';
}

p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #1a1a1a;
	font-weight: 400;
	font-family: 'very_simple_chalkregular';
}
.container {
	position: relative;
	max-width: 800px;
	padding: 0px 0px;
	margin: 0 auto;
	overflow: hidden;
	height: 700px;
	background-image: url(../images/bg.png);
	background-size: cover;
}
/*Quiz*/

.quiz-container {
	padding: 5px 0px 0px 0px;
	text-align: center;
	position: relative;
	z-index: 9999;
}
.quiz-container .quiz-headline {
	color: #f3cc2f;
	line-height: 100%;
	margin: 0px 0px 6px 0px;
}
.quiz-container .quiz-headline span {
	display: inline-block;
	line-height: 90%;
	width:60%;
	text-align: center;
	padding: 13px 0px 16px 0px;
}
.quiz-container a {
	text-decoration: none;
}
.start-content {
	font-size: 18px;
	line-height: 127%;
	margin-bottom: 18px;
	padding: 0px 20px;
}
.question {
	text-align: left;
	font-size: 16px;
	line-height: 127%;
	padding: 0 15px;
	margin-bottom: 8px;
}
.answers {
	list-style: none;
	padding: 0;
	text-align: left;
	max-width: 255px;
	margin: 0 0 0 -2px;
	position: relative;
}
.answers.disable::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	content: '';
	z-index: 999;
}
.answers li {
	float: none;
	display: block;
	margin: 0px 0 10px 0;
	position: relative;
}
.answers li a {
	text-align: left;
	background-image: url(../images/option-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	color: #1a1a1a;
	font-size: 16px;
	line-height: 112%;
	padding: 7px 18px 12px 15px;
}
.answers a.correct {
	background-image: url(../images/option-bg-correct.svg);
}
.answers a.incorrect {
	background-image: url(../images/option-bg-incorrect.svg);
}
#quiz-controls {
	color: #fff;
}
#quiz-controls {
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-weight: 400;
	font-size: 25px;
}
#quiz-controls p {
	margin: 0px 10px 14px 10px;
	line-height: 35px;
}
#quiz-response .correct {
	color: #090
}
#quiz-response .incorrect {
	color: #c00
}
.quiz-button {
	color: #e94b63;
	background-image: url(../images/btn-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 66%;
	width: 195px;
	display: inline-block;
	padding: 12px 0px 16px 0px;
}
#quiz-buttons a {
	display: inline-block;
	background-image: url(../images/headline-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 18px;
	line-height: 79%;
	width: 110px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	color: #f3cc2f;
	text-transform: uppercase;
}
#quiz-results {
	font-size: 25px;
	line-height: 125%;
	font-weight: 500;
	min-height: 100px;
	padding: 0px 20px;
	margin-bottom: 10px;
}
#quiz-results div.result-text {
	display: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	margin-top: 5px;
}
.social-share {
	display: block;
	margin-top: 15px;
}
.social-share a {
	background: #e94b63;
	border-radius: 100%;
	color: #f3cc2f;
	display: inline-block;
	font-size: 20px;
	height: 36px;
	line-height: inherit;
	margin: 0px 5px 0;
	width: 36px;
	text-align: center;
}
.social-share a i {
	line-height: 36px;
}
/*Animation*/

.answers li.frame .hammer {
	display: none !important;
	background: rgba(0, 0, 0, 0) url("../images/hammer.png") no-repeat scroll 0 0;
	height: 200px;
	left: -89px;
	position: absolute;
	top: 0;
	width: 268px;
	-webkit-animation: play .4s steps(4) infinite;
	-moz-animation: play .4s steps(4) infinite;
	-ms-animation: play .4s steps(4) infinite;
	-o-animation: play .4s steps(4) infinite;
	animation: play .4s steps(4) infinite;
}
 @-webkit-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-moz-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-ms-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-o-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
#quiz-counter {
	display: none;
	padding-bottom: 8px;
}
.twittershare {
	display: none;
}
/*End responsive*/



.dandi-track {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.dandi-track img {
	max-width: 150px;
}

/*Walking*/
@-webkit-keyframes walk {
 from {
background-position: 0px;
}
 to {
background-position: -1233px;
}
}
 @-moz-keyframes walk {
 from {
background-position: 0px;
}
 to {
background-position: -1233px;
}
}
 @-o-keyframes walk {
 from {
background-position: 0px;
}
 to {
background-position: -1233px;
}
}
 @keyframes walk {
 from {
background-position: 0px;
}
 to {
background-position: -1233px;
}
}
.gandhi {
	width: 157px;
	height: 280px;
	background-image: url("../images/css-sprite-combined.png");
	margin: 0;
	position: relative;
	position: absolute;
	bottom: 0;
	left: 0;
}
.gandhi {
	transform: scale(0.65);
	bottom: -50px;
	left: -19px;
	background-position: -911px 0px;
	z-index: 110;
}
.gandhi.move {
	animation: walk 2s steps(8) infinite;
}
.bg {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 240px;
	z-index: 99;
}
.bg img {
	min-width: inherit;
	max-width: inherit;
	height: inherit;
	transition: all 2s ease-in-out;
}
.mile-stone {
	width: 115px;
	position: absolute;
	bottom: 4px;
	right: -20px;
	display: none;
	z-index: 120;
}
.counter {
	position: absolute;
	top: 31px;
	left: 34px;
	text-align: center;
	width: 55px;
	font-size: 40px;
	line-height: 80%;
}
.counter span {
	display: block;
	font-size: 14px;
}
/*Custom CSS*/
#quiz-response {
	display: none !important;
}
#quiz-counter {
	display: none !important;
}
 @keyframes slide {
 from {
background-position: 0%;
}
 to {
background-position:100%;
}
}
.cloud {
	position: absolute;
	width: 100%;
	opacity: 0.5;
	z-index: 100;
	bottom: 120px;
}
.cloud img {
	min-width: 300px;
}
.cloud {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-animation-name: cloud;
	animation-name: cloud;
	-webkit-animation-duration: 50.5s;
	animation-duration: 50.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.cloud-2 {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
	-webkit-animation-duration: 85.5s;
	animation-duration: 85.5s;
	bottom: 185px;
}
 @-webkit-keyframes cloud {
 0% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}
 100% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
}
}
@keyframes cloud {
 0% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}
 100% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
}
}
 @keyframes ChangeStone {
 0% {
 -webkit-transform: translateY(0%);
 transform: translateY(0%);
}
50% {
 -webkit-transform: translateY(100%);
 transform: translateY(100%);
}
100% {
 -webkit-transform: translateY(0%);
 transform: translateY(0%);
}
}
.is-change {
	animation: ChangeStone 0.4s linear;
}
