@charset "utf-8";
:root {
 --font-base: 'Lato', sans-serif;
 --font-headline: 'Nunito Sans', sans-serif;
 --color-blue: #212150;
 --color-dark-blue: #212150;
 --color-orange: #febf0f;
 --color-white: #fff;
 --color-yellow: #febf0f;
 --color-black: #191308;
 --color-body: rgb(250, 250, 250);

}

body {
    font-size: 100%;
    font-weight: 500;
    background: var(--color-body);
    font-family: var(--font-base);
    color: var(--color-blue);
    overflow-x: hidden;
    font-style: normal;/*
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
*/
}
/*body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: '';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    background-image: url("../images/top-bg.png");
    opacity: 0.08;
    pointer-events: none;
}*/
.is-loading {
    display: none !important;
}
.is-hide {
    display: none !important;
}
.is-show {
    display: block !important;
}
p {
    line-height: 160%;
    margin-bottom: 25px;
    margin: 0;
}
a {
    text-decoration: none;
    outline: none;
    color: var(--color-blue);
}
p span, p a, .banner-container h3 a {
    font-weight: 700;
    color: var(--color-orange);
}
button, a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 100%;
    font-family: var(--font-headline);
}

.main-wrapper {

}

.header-wrapper {
    /*position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0px;
    z-index: 1000;*/
    width: 100%;
    /*height: 95px;*/
    padding: 2% 0;
    transition: all 0.2s ease-in-out;
}
.header-up {
    transform: translate3d(0, -95px, 0);
}
.header-down {
    background-color: var(--color-white);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}
.header-wrapper .container {
    width: 93%;
    max-width: 100%;
}
.logo-tq {
    display: block;
    /*width: 90px;*/
    width: 6.5%;
    float: left;
    font-size: 0px;
}
.top-nav {
    float: right;
    /*margin-top: 8px;*/
}
.top-nav ul li {
    float: left;
    margin-left: 20px;
}
.top-nav ul li a {
    display: block;
    font-weight: 600;
    color: var(--color-blue);
    line-height: 100%;
    border: 1px solid rgba(0,0,0,0);
    padding: 10px 0 15px 15px;
    border-radius: 30px;
    font-size: 1.5em
}
/*.top-nav li:last-child a {
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}*/
.top-nav ul li a:hover, .top-nav ul li.is-active a {
    color: var(--color-orange);
}
/*.top-nav li:last-child a:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}*/
.banner-wrapper {
    position: relative;
    height: auto;
    /*	min-height: 100vh;*/
    width: 100%;
    padding-top: 95px;
}
.form-wrapper {
    /*padding: 50px 0;*/
}
.banner-container {
    text-align: center;
    padding-top: 20px;
}
.banner-wrapper h1 {
    width: 220px;
    margin: 0px auto 40px auto;
    line-height: 100%;
}
.banner-container {
    text-align: center;
}
.container-block {
    padding-bottom: 55px;
    position: relative;
}
.desti {
    position: absolute;
    top: -30px;
    left: 0px;
}
.container-block:last-child {
    padding-bottom: 0;
}
.is-text-big p {
    /*font-size: 18px;*/
}
.section-first {
    text-align: center;
    padding: 50px 0 90px
}
.section-first .main-headline {
    font-size: 2.25em;
    font-weight: 800;
    line-height: 135%;
}
.section-first .main-headline strong {
    /*font-weight: 900;*/
    padding: 0 8px;
    background-color: var(--color-yellow);
}
.inner-container {
    position: relative;
    padding-left: 140px;
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
}
.inner-container h2 {
    color: var(--color-orange);
    /*font-size: 32px;*/
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 4px;
    text-align: right;
    line-height: 96%;
}
.inner-container p {
    margin: 0px;
    text-align: left;
    /*font-size: 15px;*/
}
.banner-container h3 {
    color: var(--color-blue);
    /*font-size: 33px;*/
    font-weight: 700;
    line-height: 100%;
}




/* New Style */
.iframe-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #21224f
}
.iframe-wrap:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.is-mobile {
    display: none;
}
.iframe-wrap .iframe-left {
    float: left;
    width: 50%
}

.iframe-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
    /*width: 90%;*/
    margin: 0 auto;
}
.iframe-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.iframe-wrap .iframe-right {
    float: left;
    width: 50%;
    padding: 0 0 0 15px;
}
.iframe-wrap .iframe-right__content {
    /*width: 90%;*/
    margin: 0 auto;
}
.iframe-wrap .iframe-headline {
    color: var(--color-yellow);
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.iframe-wrap h2 {
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.iframe-logos {
    margin: 11% 0 8%
}
.iframe-wrap .iframe-logos {
    margin: 22px auto
}
.iframe-logos span {
    width: 32%;
    text-align: center;
    display: inline-block;
}
.iframe-logos span:first-child img {
    margin-top: 5px;
}
.iframe-logos span:nth-child(2) img {
    margin-top: 10px;
}
.iframe-logos span img {
    width: 80%
}

.body-left .iframe-logos span img {
    width: 82%
}
.body-left .iframe-logos span:first-child {
    text-align: left;
}
.body-left .iframe-logos span:last-child {
    text-align: right;
}




.btn-wrap {
    text-align: center;
}
.contribute-btn {
    color: var(--color-black);
    font-family: var(--font-base);
    padding: 10px 20px 11px;
    display: inline-block;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    background-color: #54e6da;
}


/*Form*/
.form-container {
    margin: 0 auto;
    max-width: 78%;
    width: 78%;
}
.form-container .body-left,
.form-container .body-right {
    float: right;
    width: 50%;
    /*padding-right: 60px;*/
}
.form-container .body-left {
    padding-right: 2%;
}
.form-container .body-right {
    padding-left: 5%;
}
.form-container .body-left-content {
    color: var(--color-blue);
    font-size: 2.5em;
    line-height: 1.34em;
    font-weight: 600;
    text-align: center;
}
/*.form-container .body-left-content span {
    display: block;
}*/
.form-container .body-left-content span {
    padding: 2px 8px 4px;
    background-color: var(--color-yellow);
}


.form-container .body-right h2 {
    color: var(--color-blue);
    font-size: 2    em;
    font-weight: 700;
}


.content-bottom {
    margin: 80px auto
}

.content-bottom .content-left,
.content-bottom .content-right {
    float: left;
    width: 50%;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.43em;
}
.content-bottom .content-left {
    padding-right: 5%;
}
.content-bottom .content-right {
    padding-left: 5%;
}
.content-bottom .content-left span,
.content-bottom .content-right span {
    padding: 2px 8px 4px;
    background-color: var(--color-yellow);
}



.form-container .inner-container {
    padding: 0;
    text-align: center;
}
.form-container header {
    position: relative;
    /*font-size: 20px;*/
    margin-bottom: 30px;
    display: inline-block;
}
.form-container header h4 {
    float: left;
    line-height: 100%;
    color: var(--color-blue);
    font-weight: 600;
}
.form-container label {
    line-height: 100%;
}
.form-container .radios {
    float: left;
}
.form-container .radios .single-radio {
    float: left;
    position: relative;
    margin-left: 30px;
    line-height: 100%;
}
.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form-group.is-check{
	text-align: left;
	margin-top: -10px;
    /*font-size: 1.5em*/
}

.form-group.is-check a {
	color: var(--color-orange);
	font-weight: 600;
	background-image: linear-gradient(var(--color-orange) 50%, var(--color-orange) 50%);
	background-size: 100% 1px;
	background-position: 100% 21px;
	background-repeat: no-repeat;
	box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

.form-group.is-check a:hover{
    color: var(--color-blue);
	background-image: linear-gradient(var(--color-blue) 50%, var(--color-blue) 50%);
}



.form-group input[type="text"], .form-group input[type="email"], .form-group textarea {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
    border: 0;
    height: 50px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    font-family: var(--font-base);
    font-size: 1.25em;
    font-weight: 600;
    padding: 0px 15px;
}
.form-group input[type="submit"] {
    height: 55px;
    border-radius: 8px;
    border: 0;
    background-color: var(--color-orange);
    color: var(--color-blue);
    cursor: pointer;
    padding: 1px 35px 0;
    font-weight: 600;
    font-size: 1.3750em;
    border: 2px solid var(--color-blue);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
    text-transform: uppercase;
}
.form-group input[type="submit"]:hover {
    color: var(--color-white);
    background-color: var(--color-blue)
}
.form-group textarea {
    padding: 15px;
    resize: vertical;
    height: 150px;
    line-height: 150%;
}
.form-group textarea.is-message {
    height: 200px;
    min-height: 200px;
    padding-bottom: 40px;
}
.form-group textarea.is-address {
    height: 140px;
    min-height: 140px;
}
.form-group textarea.is-yourself {
    height: 180px;
    min-height: 180px;
}
.form-group.form-group-amount {
    overflow: hidden;
}
.form-amout {
    padding: 10px 3px;
    transition: all 0.3s ease-in-out;
}
.form-amout.translate-amout {
    transform: translateX(-150px);
}
.form-amout .amout-label {
    width: 150px;
    float: left;
    font-size: 1.25em;
    opacity: 0.65;
    line-height: 55px;
    font-weight: 700;
}
.form-amout .amout-wrap {
    float: left;
    font-size: 1.3125em;
    width: calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
}
.form-amout .amout-wrap span {
    width: 22%;
    line-height: 55px;
    font-weight: 600;
    margin-left: 3.75%;
    text-align: center;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
}
.form-amout .amout-wrap span:first-child {
    margin-left: 0;
}
.form-amout .amout-input {
    padding-left: 10px;
    width: 150px;
    font-size: 1.25em;
    line-height: 55px;
    font-weight: 700;
    position: absolute;
    right: -150px;
}
.form-group .form-amout span.amount.is-active {
    color: var(--color-white);
    background-color: var(--color-blue);
}
.char-rem {
    position: absolute;
    bottom: 13px;
    right: 15px;
    text-align: right;
    z-index: 2;
    line-height: 100%;
    color: var(--color-dark-blue);
    opacity: 0.5;
    font-weight: 500;
}
.char-rem span {
    font-weight: 600;
}
[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    height: 0px;
    width: 0px;
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    color: var(--color-blue);
    font-weight: 500;
}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background-color: var(--color-white);
}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--color-orange);
    position: absolute;
    top: 4px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*Check box*/
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: var(--color-orange);;
}
.styled-checkbox:hover + label:before {
  background: var(--color-orange);
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: var(--color-orange);
}
.styled-checkbox:disabled + label {
  color: var(--color-white);
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 1;
    font-size: 0px;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.close-modal::after, .close-modal::before {
    width: 80%;
    height: 2px;
    background: #333;
    z-index: 2;
    content: '';
    position: absolute;
    top: 15px;
    left: 3px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.close-modal::before {
    transform: rotate(-45deg);
}
.close-modal:hover::after, .close-modal:hover::before {
    background: #333;
}
.payment-modal {
    position: fixed;
    width: 550px;
    max-width: calc(100% - 30px);
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    opacity: 0;
    padding: 50px 40px;
    text-align: center;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    overflow: hidden;
}
.payment-modal h1 {
    /*font-size: 28px;*/
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 10px;
}
.payment-modal h1 span {
    color: var(--color-orange);
}
.modal-block {
    padding-bottom: 30px;
}
.modal-block:last-child {
    padding-bottom: 0;
}
.modal-block p {
    font-weight: 500;
}
.modal-block p span {
    color: var(--color-blue);
    font-weight: 500;
}
body.is-modal.is-payment #Is_Payment {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
body.is-modal.is-profile #Is_Profile {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
body.is-modal.is-topic #Is_Topic {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
.share-app {
    display: inline-block;
}
.share-app li {
    float: left;
    margin: 0px 10px;
}
.share-app li:first-child {
    line-height: 35px;
}
.share-app li a {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #c5c5c5;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    line-height: 35px;
}
.share-app li a i {
    line-height: 35px;
    /*font-size: 22px;*/
}
.share-app li.is-facebook a {
    background-color: #3b5998;
}
.share-app li.is-twitter a {
    background-color: #1da1f2;
}
.share-app li.is-whatsapp a {
    background-color: #128c7e;
}
.content-page h2 {
    color: var(--color-blue);
    /*font-size: 33px;*/
    font-weight: 700;
    line-height: 120%;
    margin: 10px 0 40px 0;
}
.content-page h2 span {
    color: var(--color-orange);
}
.content-page ul {
    text-align: left;
}
.content-page ul li {
    padding-bottom: 40px;
}
.content-page ul.is-faq li h5 {
    position: relative;
    color: var(--color-orange);
    font-weight: 600;
    margin: 0 0 5px 0;
    font-style: italic;
    padding-left: 23px;
}
.content-page ul.is-faq li p {
    position: relative;
    padding-left: 23px;
}
.content-page ul.is-faq li h5::before, .content-page ul.is-faq li p::before {
    /*font-size: 18px;*/
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 2px;
    left: 0;
    color: var(--color-orange);
    font-style: normal;
    line-height: 100%;
}
.content-page ul.is-faq li h5::before {
    content: 'Q.';
}
.content-page ul.is-faq li p::before {
    content: 'A.';
}
.content-page ul.is-faq li p a {
    color: #fc6645;
    font-weight: 500;
    background-image: linear-gradient(var(--color-orange) 50%, var(--color-orange) 50%);
    background-size: 100% 1px;
    background-position: 100% 21px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.content-page ul.is-faq li p a:hover {
    background-image: linear-gradient(var(--color-blue) 50%, var(--color-blue) 50%);
}
li.is-whatsapp {
    display: none;
}
.error-msg span {
    display: block;
    text-align: left;
    /*font-size: 14px;*/
    padding-top: 10px;
    color: #f64d4d;
}
.payment-modal.is-content {
    max-height: 90%;
    overflow: auto;
    text-align: left;
    padding: 40px;
    width: 700px;
}
.payment-modal.is-content h5 {
    /*font-size: 18px;*/
    font-weight: 600;
    color: var(--color-orange);
    line-height: 120%;
    margin-bottom: 10px;
}


.banner-header .header-text {
    /*font-size: 22px;*/
    position: relative;
	line-height: 140%;
	padding-bottom: 10px;
}

.banner-header span{
	display: block;
	font-weight: 600;
	padding-bottom: 3px;
	/*font-size: 24px;*/
	color: var(--color-orange);
	
}

.banner-header strong{
	display: block;
	font-weight: 700;
	/*font-size: 26px;*/
}
.topic {
	color: #333;
	line-height: 100%;
	vertical-align: text-top;
}


.contribute-btn {
    position: relative;
    overflow: hidden;
    background-color: #4be7db;
}
.contribute-btn span {
    z-index: 1;
    position: relative;
}
.contribute-btn::after {
    position: absolute;
    top: 0;
    left: -160px;
    height: 60px;
    width: 160px;
    content: " ";
    z-index: 0;
    background-color: #febf0f;
    animation: slide 4s linear infinite;

    /*animation-delay: 3s;
    animation-delay: 0s;
    animation-delay: -1500ms;*/
}

/*@keyframes slide{
  0%{
    transform: translate3d(-160px, 0, 0);
    
  }
  25% {
    transform: translate3d(0px, 0, 0);
    
  }
  50% {
    transform: translate3d(120px, 0, 0);
  }
  75% {
    transform: translate3d(180px, 0, 0);
  }
  100%{
    transform: translate3d(300px, 0, 0);
  }
}*/





