@charset "utf-8";
@font-face {
	font-family: 'allerbold';
	src: url('../fonts/aller_bd-webfont.ttf') format('woff2'), url('../fonts/aller_bd-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'allerregular';
	src: url('../fonts/aller_rg-webfont.woff2') format('woff2'), url('../fonts/aller_rg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'allerregular';
	font-weight: 400;
	background-color: #ccc;
	color: #4d4d4d;
	font-size: 17px;
	width: 100%;
	height: 100%;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #4d4d4d;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #4d4d4d;
	font-weight: 900;
	font-size: 100%;
}
/*Start CSS*/

.chat-wrapper {
	width: 100%;
	height: 100%;
}
.container {
	max-width: 1220px;
	position: relative;
	height: auto;
	margin: 0 auto;
	background-image: url(../images/chat-bg.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #fff;
	background-position: center center;
	background-size: cover;
}
.chat-wrapper::before {
	position: fixed;
	z-index: -1;
	background-color: #7C0A18;
	width: 100%;
	height: 127px;
	content: '';
	top: 0;
	left: 0;
	display: none;
	
}
.chat-wrapper .container {
	max-width: 1220px;
	position: relative;
	height: auto;
	margin: 0 auto;
	top: 0px;
	border-radius: 3px;
	/*	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px 0 rgba(0,0,0,0.2);*/
	background: #9B0E18;
}
.sidebar {
	height: 100%;
	position: relative;
	width: 30%;
	background: #9B0E18;
	float: left;
	transform: translateZ(0);
}
.chat-window {
	height: auto;
	position: relative;
	width: 70%;
	float: right;
	background-image: url(../images/chat-bg.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #fff;
	background-position: center center;
	background-size: cover;
}
.sidebar-iner {
	padding: 30px;
	color: #fff;
}
.sidebar-iner a {
	color: rgba(255,255,255,0.5);
}
.text-logo {
	max-width: 140px;
	margin: 0px auto 0 auto;
	display: block;
}
.share-chat {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 9999;
}
.filter-block {
	text-align: center;
	margin-top: 20px;
}
.filter-block ul {
	padding: 18px 8px;
	border-top: 1px solid #ffbf00;
	min-width: 210px;
	font-size: 22px;
	text-transform: uppercase;
	display: inline-block;
	text-align: left;
}
.filter-block ul.gender {
	border-top: 0;
}
.filter-block ul.send-voice {
	border-bottom: 1px solid #ffbf00;
}
.filter-block ul.send-voice.clear-filter {
	border-bottom: 0;
	padding-top: 15px;
	padding-bottom: 0;
}
.filter-block ul li {
	position: relative;
}
.filter-block ul.send-voice {
	border-top: 0;
	padding-top: 0;
}
.filter-block ul.send-voice li a {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	color: #fff;
}
.filter-block ul.send-voice li a:hover {
	color: #ffbf00;
}
.filter-block ul.send-voice li a::before {
	position: absolute;
	width: 30px;
	height: 30px;
	top: -3px;
	left: -26px;
	content: '';
	background: url(../images/send.svg) no-repeat 100%;
}
.filter-block ul.send-voice.clear-filter li {
	text-align: center;
}
.filter-block ul.send-voice.clear-filter {
	display: none;
}
.filter-block ul.send-voice.clear-filter.is-filter {
	display: block;
}
.filter-block ul.send-voice.clear-filter li a {
	font-size: 15px;
	display: inline-block;
}
.filter-block ul.send-voice.clear-filter li a::before {
	position: absolute;
	width: 11px;
	height: 13px;
	top: 2px;
	left: -6px;
	content: '';
	background: url(../images/close.svg) no-repeat 100%;
}
.filter-block .gender li {
	float: left;
	margin: 0px 4px;
	color: #ffbf00;
}
.filter-block .gender li.female {
}
.filter-block .gender li a {
	width: 24px;
	display: inline-block;
	opacity: 0.5;
}
.filter-block .gender li.male a {
	width: 18px;
}
.filter-block .gender li.female a {
	width: 25px;
}
.filter-block .gender li.others a {
	width: 30px;
}
.filter-block .gender li:hover a, .filter-block .gender li.is-active a {
	opacity: 1;
}
.filter-block .gender li span {
	display: inline-block;
	margin: 3px 0 0 0px;
}
.filter-block .options li {
	margin-bottom: 10px;
}
.filter-block .options li:last-child {
	margin-bottom: 0;
}
.filter-block .options li a::before {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 3px;
	left: 2px;
	content: '';
	border-radius: 100%;
	border: 1px solid #fff;
	background: #fff;
}
.filter-block .options li h2 {
	font-weight: 400;
}
.filter-block .options li a {
	display: block;
	padding-left: 30px;
}
.filter-block .options li a:hover {
	color: #fff;
}
.filter-block .options li.is-active a {
	background: rgba(0,0,0,0.35);
	color: #fff;
}
.chat-container {
	margin: 30px 9% 0 9%;
}
.chat-el {
	max-width: 80%;
	float: left;
	cursor: pointer;
}
.chat-el .show-el {
	position: relative;
}
.chat-container ul li {
	display: block;
	position: relative;
	margin-bottom: 30px;
}
.chat-el .msg {
	position: relative;
	margin-left: 110px;
}
.chat-el .profile-img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	position: absolute;
	bottom: -5px;
	left: 0;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	background: #fff;
	font-size: 0px;
	background-image: url(../images/avatar.svg);
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center bottom;
}
.chat-el .profile-img img {
	border-radius: 100%;
	text-indent: -200px;
}
.chat-el .msg-text {
	background: #fff;
	position: relative;
	bottom: 0;
	left: 0px;
	border-radius: 8px;
	padding: 10px 13px;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	line-height: 130%;
	vertical-align: bottom;
	/*	display: table;*/
	display: inline-block;
}
.chat-el .msg-text span {
	color: #9B0E18;
	font-weight: 700;
}
.chat-el .msg-text::after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	bottom: 0px;
	left: -16px;
	border-width: 25px 25px 0px 0;
	border-color: transparent #fff transparent transparent;
	box-shadow: 0px 2px 2px -3px rgba(0,0,0,0.5);
}
.chat-el .btn-more {
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	line-height: 100%;
	background: #9B0E18;
	padding: 4px 5px;
	margin: 4px 0 2px 0;
	color: #fff;
	border-radius: 1px;
	font-weight: 700;
}
.chat-el .hide-el {
	position: relative;
	background: #fff;
	padding: 13px;
	border-radius: 8px 0px 8px 8px;
	z-index: 1000;
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	margin-top: -7px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
	display: none;
}
.chat-el .hide-el {
	font-size: 16px;
}
.personal-details {
	margin: 15px 0 10px 0;
}
.personal-details p {
	margin: 10px 0 5px 0;
}
.personal-details h4 {
	font-weight: 700;
}
.chat-container ul li.is-more .chat-el .msg-text, .chat-container ul li.is-more .chat-el .msg-text span {
	color: #fff;
}
.chat-container ul li.is-more .chat-el .btn-more {
	background: #fff;
}
/*All even */
.chat-container ul li:nth-child(even) .chat-el {
	float: right;
}
.chat-container ul li:nth-child(even) .chat-el .profile-img {
	left: inherit;
	right: 0;
}
.chat-container ul li:nth-child(even) .chat-el .msg {
	margin: 0 110px 0 0;
	text-align: right;
}
.chat-container ul li:nth-child(even) .chat-el .msg-text {
	left: inherit;
	right: 0;
	text-align: left;
}
.chat-container ul li:nth-child(even) .chat-el .msg-text::after {
	left: inherit;
	right: -16px;
	border-width: 0px 25px 25px 0;
	border-color: transparent transparent #fff transparent;
}
.chat-container ul li:nth-child(even) .chat-el .hide-el {
	border-radius: 0px 8px 8px 8px;
}
/*Window Header*/
.window-header {
	text-align: center;
	padding: 30px;
}
.window-header h1 {
	color: #C1272D;
	font-weight: 700;
	/*font-size: 36px;*/
	font-size: 2px;
	line-height: 100%;
	letter-spacing: -2px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	margin: 0 0 15px 0;
}
.window-header h1 img{max-width:230px;}

.voice-count {
	color: #C1272D;
	font-weight: 700;
	font-size: 35px;
	line-height: 100%;
	letter-spacing: -1px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	margin: 15px 0 0px 0;
}
.header-caption {
}
.inner-caption {
	max-width: 420px;
	margin: 0 auto;
	position: relative;
	font-size: 16px;
}
.inner-caption h2 {
	color: #333;
	line-height: 130%;
}
.inner-caption h3 {
	color: #C1272D;
	line-height: 130%;
	margin-top: 10px;
}
.caption-text {
	padding: 0px 0;
	border-radius: 10px;
	background: #fff;
	position: relative;
	height: 110px;
}
.cap-z-index {
	position: relative;
	z-index: 2;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.caption-text::before, .caption-text::after {
	width: 37px;
	position: absolute;
	top: 0;
	height: 100%;
	content: '';
	z-index: 1;
}
.caption-text::before {
	left: -26px;
	background: url(../images/left-bk-1.svg) no-repeat;
}
.caption-text::after {
	right: -26px;
	background: url(../images/right-bk-1.svg) no-repeat;
}
.inner-caption::before, .inner-caption::after {
	width: 42px;
	position: absolute;
	top: -8px;
	height: 126px;
	content: '';
	z-index: 1;
}
.inner-caption::before {
	left: -47px;
	background: url(../images/left-bk-2.svg) no-repeat;
}
.inner-caption::after {
	right: -47px;
	background: url(../images/right-bk-2.svg) no-repeat;
}
.sticky-top-wrapper {
	background: #9B0E18;
	height: 55px;
	text-align: center;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateZ(0px);
	display: none;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
	color: #fff;
}
.sticky-top-wrapper h1 {
	display: inline-block;
	color: #fff;
	font-size: 2px;
	line-height: 55px;
	font-weight: 700;
	letter-spacing: -1px;
}

.sticky-top-wrapper h1 img{width:250px;}
.logo-ico {
	width: 40px;
	position: fixed;
	top: 8px;
	left: 15px;
	transform: translateZ(0px);
}
.sticky-footer-wrapper {
	background: #9B0E18;
	height: 55px;
	text-align: center;
	z-index: 9999;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	/*transform: translateZ(0px);*/
	display: none;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
	color: #fff;
	transform: translate3d(0, 56px, 0);
	transition: all 0.2s ease-in-out;
}
.sticky-footer-wrapper li {
	float: left;
	width: 50%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
}
.sticky-footer-wrapper li.send-voice {
	border-right: 1px solid #ffbf00;
}
.sticky-footer-wrapper li.link-filter {
	border-left: 1px solid #ffbf00;
}
.sticky-footer-wrapper li a {
	display: block;
	line-height: 55px;
	color: #fff;
}
.sticky-footer-wrapper li a:hover, .sticky-footer-wrapper li.is-active a {
	color: #ffbf00;
}
.sticky-footer-wrapper li a span {
	display: inline-block;
	position: relative;
}
.sticky-footer-wrapper li.send-voice span {
	padding-left: 26px;
}
.sticky-footer-wrapper li.send-voice span::before {
	position: absolute;
	width: 24px;
	height: 30px;
	top: 10px;
	left: 0px;
	content: '';
	background: url(../images/send.svg) no-repeat 100%;
}
.sticky-footer-wrapper li.link-filter span {
	padding-left: 26px;
}
.sticky-footer-wrapper li.link-filter span::before {
	position: absolute;
	width: 21px;
	height: 30px;
	top: 12px;
	left: 0px;
	content: '';
	background: url(../images/filter.svg) no-repeat 100%;
}
.close-filter {
	display: none;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #ffbf00;
	border-radius: 100%;
	top: 10px;
	right: 10px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.close-filter:hover {
	color: #9B0E18;
}
.embed-form {
	position: fixed;
	width: 100%;
	height: 100%;
	transform: translateZ(0px);
	z-index: 999999;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	padding: 30px;
	display: none;
}
.embed-form.is-open {
	display: block;
}
.embed-form-container {
	max-width: 700px;
	padding: 30px;
	background: #fff;
	border-radius: 2px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
.close-form {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	text-align: center;
	background: #ffbf00;
	color: #fff;
}
.close-form i {
	line-height: 35px;
	font-size: 20px;
}
.close-form:hover {
	color: #9B0E18;
}
.form-content {
	overflow: auto;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
/*ctg-story*/
.ctg-story {
	text-align: center;
}
.ctg-story p {
	margin: 0;
	padding: 0;
	text-align: left;
	display: inline-block;
	max-width: 70%;
}
.ctg-story p a {
	background-color: #9B0E18;
	color: #fff;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	border-radius: 8px;
	display: block;
	background-image: url(../images/whats-hot.svg);
	background-repeat: no-repeat;
	background-position: 14px center;
	height: 70px;
	background-size: 65px;
	padding-left: 85px;
	line-height: 120%;
}
.ctg-story p a span {
	padding: 15px;
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ctg-story p a:hover {
	color: #FFBF00
}
.footer-container {
	background: #9B0E18;
	color: #fff;
	position: relative;
	border-radius: 8px;
	padding: 10px 13px;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	line-height: 130%;
	display: block;
	margin: 0 0 30px 0;
}
.footer-container p {
	margin: 0 0 20px 0;
}
.footer-container p:last-child {
	margin: 0;
}
.slider-container {
	padding: 20px 50px;
}
.slider-container ul {
	margin: 0px 0px;
}
.slider-container li {
	float: left;
	width: 33.333%;
	padding: 0px 10px;
	margin-bottom: 3px;
}
.slider-container li a {
	display: block;
	transition: 0.2s all ease-in-out;
	font-size: 0px;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}
.slider-container li img {
	width: 100%;
}
.slider-container li figcaption {
	background: #fff;
	padding: 10px;
	min-height: 70px;
	transition: 0.2s all ease-in-out;
}
.slider-container li a:hover figcaption {
	background: #FFBF00;
	color: #333;
}
.slider-container li figcaption .story-headline {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 22px;
	transition: 0.2s all ease-in-out;
}
.slider-container li a:hover .story-headline {
	color: #333;
}
.candidtes-container {
	background: #1b1464;
}
.candidtes-container .chat-window{min-height:150px;}
.candidtes-container .candidtes-sidebar {
	float: left;
	width: 30%;
}
.side-line {
	width: 30px;
	height: calc(100% - 40px);
	background: rgba(255,255,255,0.5);
	top: 20px;
	left: calc(30% - 30px);
	z-index: 9;
	position: absolute;
	overflow: hidden;
}
.side-line::after {
	width: 30px;
	height: calc(100% - 2px);
	background: #1b1464;
	top: 1px;
	left: 1px;
	z-index: 10;
	position: absolute;
	content: '';
}
.key-cand-text {
	text-transform: uppercase;
	color: #fff;
	z-index: 11;
	width: calc(30% - 50px);
	left: 0;
	top: 49%;
	position: absolute;
	text-align: right;
	font-size: 22px;
	line-height: 100%;
}
.sidebar.fixed {
	position: fixed;
	top: 0;
	width: 30%;
}
.logo-desktop {
	position: absolute;
	top: 30px;
	left: 30px;
	max-width: 140px;
	width: 100%;
}
.key-headline {
	color: #C1272D;
	font-weight: 700;
	font-size: 35px;
	line-height: 100%;
	letter-spacing: -2px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	margin: 0 0 30px 0;
	text-align: center;
}

.candidtes-sidebar-inner{padding:15px;}
.side-cand-lists{ color: rgba(255,255,255,0.7); margin-top: 30px;}
.side-cand-lists li{display:block; text-align: center; padding-bottom: 15px;}
.side-cand-lists img{width:240px; height: 240px; border-radius: 100%; border: 5px solid #fff; display: inline-block; background:#fff; }
.side-cand-lists li h3{color: #fff; font-size: 24px; margin: 0 0 0px 0;}
.side-cand-lists li h4{color: #fff; font-size: 18px; margin: 0 0 5px 0;}
.side-cand-lists figcaption{margin:20px 0px 0 0;}

.candidtes-sidebar-inner h2{
	color: #fff; font-size: 30px; margin: 0 0 5px 0;
	text-transform: uppercase;
	text-align: center;
	
	
}

