@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #6d6e70;
	overflow-x: hidden;
	background-color: #f3f3f3;
}
p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #6d6e70;
	font-weight: normal;
	font-family: "Fira Sans Extra Condensed", sans-serif;
}
.container {
	position: relative;
	max-width: 1240px;
	/*padding: 0px 10px;*/
	margin: 0 auto;
	overflow: hidden;
}
.row {
	/*margin: 0px -20px;*/
	/*margin-bottom: 30px;*/
}
.carousel-wrapper .row{
	margin-left:-40px;
	margin-right:-40px;
}
.col {
	padding: 0 20px;
	float: left;
}
.col-content {
	border: 1px solid #D4D5D7;
	padding: 8px 10px;
	min-height: 300px;
	background: #F3F3F3;
}

/*.wrap-carousel {
	height: 235px;
	background-color: #ccc;
}*/


@media (max-width: 1279px) {
	.carousel-wrapper .container {
		max-width: 960px;
	}
	.carousel-wrapper{
		height: 246px;
	}
}


@media (max-width: 960px) {
	.carousel-wrapper .container {
		max-width: 640px;
	}
	.carousel-wrapper{
		height: 252px;
	}
	
}

@media (max-width: 640px) {
	.carousel-wrapper {
		height: 212px;
	}
	.carousel-wrapper .container {
		max-width: 100%;
		width: 100%;
		padding: 0 20px
	}
	.carousel-wrapper .row {
		margin-left: 0;
    	margin-right: 0;
	}
	.story-item {
		padding: 0px 20px 0 0;
		width: 260px
	}
	.carousel-wrapper h3 {
	    margin: 0 0px 20px 0;
	}
	.carousel-wrapper h3{
		font-size: 20px;
	}
	/*.carousel-wrapper h3{
		font-size: 20px;
	    font-weight: 900;
	    margin: 0 0 20px -15px;
	}
	.carousel-wrapper h3 span {
		padding: 0 10px;
		height: 40px;
	    line-height: 40px;
	    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	}*/
	
	
}

