@charset "utf-8";
.chat-container {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 767px) {
	.inner-block{
		padding:15px;
	}	
	
	.inner-block li{
		margin: 0 0 15px 0;
	}
	
	
	.inner-block .dynamic-list li.message-left {
	padding: 0px 0px 0px 75px;
}
	
	
.inner-block .dynamic-list li.message-right {
	padding: 0px 75px 0px 0px;
}
	
	
	.profile-img {
	width: 60px;
	height: 60px;
	top: 5px;
	left: 0;
}
	
	
}
