@charset "utf-8";

body {
    font-size: 100%;
    color: #3bbab1;
    min-height: 250px;
    overflow-x: hidden;
    margin: 0 !important;
    /*font-family: 'Poppins', sans-serif;*/
    font-weight: 500;
    font-style: normal;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'colunacondensed_bold';
    src: url('coluna-webfont.woff2') format('woff2'),
        url('coluna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
}

button,
a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}
b, strong {
    font-weight: 900;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.main-wrap {
    margin: 0 auto;
    /*padding: 15px 0 5px;*/
    max-width: 800px;
    position: relative;
    /*overflow: hidden;*/
    /*background-color: #eae5e7;*/
}
.main-wrap .wrap {
    margin: 0 auto;
    max-width: 400px;
    height: 700px;
    position: relative;
    overflow: hidden;
    font-size: 1.65em;
}


.wrap .section-first {
    width: 100%;
    height: 100%;
    
}
.content-box {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    /*cursor: pointer;*/
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
    -moz-transform: translateY (-50%);
    -o-transform: translateY (-50%);
    transform: translateY(-50%);
    transition: all 0.75s ease-in-out;
}
.screen-second .content-box {
    top: 50%;
}

.section-first .all-screen {
    position: relative;
    width: 300%;
    height: 100%;
    transition: all 1s ease-in-out;
}
.section-first .all-screen.translate-left {
    transform: translateX(-33.33%);
}
.section-first .all-screen.translate-left.last {
    transform: translateX(-66.66%);
}

.screen-first,
.screen-second,
.screen-third {
    position: relative;
    text-align: center;
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: #e9fdfc;
}
.screen-third .content-box {
    top: 50%;
}

.screen-first-content,
.screen-first-image,
.screen-first-btn {
    margin: 0 auto;
    max-width: 320px;
}

.screen-first-content {
    padding: 0 0 20px;
    min-height: 160px;
    /*background-color: #ccc;*/
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.screen-first-content .content-slide {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    text-align: left;
    /*font-size: 1.5em;*/
    line-height: 120%;
}
.screen-first-content .content-slide strong {
    display: block;
}
.screen-first-content .content-slide .second,
.screen-first-content .content-slide .third {

}

.screen-first-image {
    margin-bottom: 170px;
    width: 150px;
    transition: all .6s ease-in-out;
    background-color: #fff;
    transform: rotate(5deg);
}

.screen-first-image img {
    width: 100%;
}

.image-box {
    padding: 5px 5px 20px;
    background-color: #fff;
    box-shadow: 9px 8px 14px #779c9b;
}
.ani-fadeout {

}

.screen-first-image.zoom {
    margin-bottom: 0px;
    max-width: 80%;
    width: 80%;
    transform: rotate(-10deg);
    padding: 10px 10px 30px;
    /*transform: scale3d(1.22, 1.22, 1) rotate(-10deg);*/
}


.screen-first-btn {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    text-align: center;
}
.cta-btn {
    color: #fff;
    padding: 8px 15px;
    background-color: blue;
}

.zoom-in {
    margin: 0 auto;
    max-width: 160px;
    display: inline-block;
    cursor: pointer;
}

.light-image-btn {
    margin: 10px auto 0;
    display: block;
    cursor: pointer;
    width: 90%;
}

.fifth.is-ani-left {
    display: none;
}

.screen-next-btn {
    position: absolute;
    bottom: 30px;
    right: 42px;
    width: 60px;
    cursor: pointer;
}
.btn-click {
    margin: 20px auto 0;
    max-width: 100px;
    cursor: pointer;
    display: inline-block;
}


.screen-second-headline {
    padding: 0 20px;
    min-height: 140px;
    overflow: hidden;
    position: relative;
}
.screen-second-headline .image-box {
    padding: 10px 10px 30px;
}
.screen-second-headline .content-headline {
    margin: 0 auto;
    /*font-size: 1.5em;*/
    line-height: 120%;
    max-width: 250px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
}

.screen-second-image {
    margin: 0 auto 10px;
    max-width: 360px;
    overflow: hidden;
}
.screen-second-image .image-wrap {
    width: 400%;
    transition: all .6s ease-in-out;
}
.screen-second-image .image-wrap:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.screen-second-image .image-wrap.translate-image {
    transform: translateX(-75%);
}
.screen-second-image .image-wrap .image-wrap-slide {
    width: 25%;
    float: left;
    padding: 25px 35px;
}

.screen-second-image .image-wrap .image-wrap-slide .image-box {
    padding: 10px 10px 30px;
}


.screen-second-content {
    min-height: 160px;
    position: relative;
}

.screen-second-content .content-slide {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    text-align: left;
    /*font-size: 1.5em;*/
    line-height: 120%;
    max-width: 350px
}
.screen-second-content .content-slide strong {
    display: block;
}
.screen-second-content .content-slide.btm-second {
    text-align: center;
}


.screen-third-image {
    margin: 30px auto;
    max-width: 280px;
}
.screen-third-content {
    min-height: 160px;
}
.screen-third-content .content-slide strong {
    display: block;
}

.screen-third-content .content-slide {
    margin: 0 auto;
    text-align: left;
    /*font-size: 1.5em;*/
    line-height: 120%;
    max-width: 320px
}

/*.content-slide {
    padding: 0 15px;
}*/


/* Camera */
.device-camera {
    overflow: hidden;
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 58px;
    height: 35px;
    z-index: -1;
}

.ani-left {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s, visibility 0s;
    -moz-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s
}

.ani-left-visible .ani-left {
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-animation: cd-slide-in .9s;
    -moz-animation: cd-slide-in .9s;
    animation: cd-slide-in .9s
}

@-webkit-keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(-60px, 0, 0);
        -moz-transform: translate3d(-60px, 0, 0);
        -ms-transform: translate3d(-60px, 0, 0);
        -o-transform: translate3d(-60px, 0, 0);
        transform: translate3d(-60px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-moz-keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(-60px, 0, 0);
        -moz-transform: translate3d(-60px, 0, 0);
        -ms-transform: translate3d(-60px, 0, 0);
        -o-transform: translate3d(-60px, 0, 0);
        transform: translate3d(-60px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(-60px, 0, 0);
        -moz-transform: translate3d(-60px, 0, 0);
        -ms-transform: translate3d(-60px, 0, 0);
        -o-transform: translate3d(-60px, 0, 0);
        transform: translate3d(-60px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@media screen and (max-width: 699px) {
    
}

@media screen and (max-width: 599px) {
    body {
        background-color: #fff;
    }
}

@media screen and (max-width: 440px) {
    body {
        font-size: 90%;
    }
}