@charset "utf-8";

body {
	font-family: sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: auto;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    word-break: normal;
    font-family: 'Merriweather', 'georgia', serif;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Merriweather', 'georgia', serif;
	font-size: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: url(../images/ajax-loader.gif) #fff no-repeat center;
}
.quintlab-story {
	margin: 0 auto;
	padding: 0;
    max-width: 800px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.9375em;
}
.slider {
	margin: 0 auto;
    max-width: 100%;
}
.slider .swipe-txt {
	text-align: center;
	font-size: 14px;
	color: #737373;
	display: block;
	padding-top: 10px;
}

@media only screen and (max-width: 619px) {
	.quintlab-story {
		font-size: 17px;
    	line-height: 1.5625rem;
	}
}