.smobitrigger,
.mnuclose {
    display: none;
}
.navigation {
    float: right;
    margin-top: 12px;
}

.navigation nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.navigation nav ul li {
    display: inline-block;
    margin: 0 12px;
}

.navigation nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 18px;
}

.navigation nav ul li a:hover {
    /*background: rgb(234, 214, 54);*/
    /*color: #441B0A;*/
    background-color: #ffcd00
}

@media all and (max-width : 959px) {

    .smobitrigger,
    .mnuclose {
        display: inline-block;
    }

    .smobitrigger {
        color: #fff;
        font-size: 28px;
        line-height: 12px;
        padding-right: 25px;
    }

    .mnuclose {
        font-size: 20px;
        width: 100%;
        padding: 10px 10px 5px 15px;
        background: rgba(0, 0, 0, 0.18);
    }

    .smobitrigger span,
    .mnuclose span {
        /*font: 0/0 a;*/
        font-size: 25px;
        text-shadow: none;
        /*color: transparent;*/
    }

    .navigation nav ul {
        padding-bottom: 40px;
        overflow-y: auto;
    }
    .navigation nav ul li {
      margin: 0
    }

    .navigation nav ul li,
    .navigation nav ul li a {
        width: 100%;
        font-size: 1.06em
    }

    .navigation nav ul li a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        /*padding-top: 5px;
        padding-bottom: 5px;*/
    }

    .navigation nav ul li a:hover {
        /*background: rgba(0, 0, 0, 0.29);*/
    }

    .mobimenu {
        list-style: none;
        padding: 20px;
        margin: 0px;
        width: 210px;
        position: fixed;
        height: 100%;
        top: 0px;
        right: -250px;
    }

    .mnuopn {
        right: 0px !important;
        background-color: #36154f;
    }

    .ovrActv {
        position: fixed;
        background: rgba(0, 0, 0, 0.79);
        width: 100%;
        height: 100%;
        z-index: 9998;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
}