@charset "utf-8";

body {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    min-height: 250px;
    overflow-x: hidden;
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
}

@font-face {
    font-family: 'colunacondensed_bold';
    src: url('coluna-webfont.woff2') format('woff2'),
        url('coluna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
}

button,
a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-wrap {
    margin: 0 auto;
    /*padding: 15px 0 5px;*/
    max-width: 800px;
    position: relative;
    /*overflow: hidden;*/
    background-color: #eae5e7;
}

.main-wrap .container {
    margin: 0 auto;
    max-width: 300px;
    position: relative;
    /*background-color: #ccc;*/
}

.main-wrap .container.fixed-height {
    height: 670px;
}

.device-center {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    transition: all 2s ease-in-out;
}

.device-center.device-visible {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.device-left,
.device-right {
    transition: all .5s ease-in-out;
}

.device-left {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(-35%, 0, 0);
}

.device-left.ani-left {
    transform: translate3d(0, 0, 0);
}

.device-right {
    position: relative;
    transform: translate3d(35%, 0, 0);
}

.device-right.ani-right {
    transform: translate3d(0, 0, 0);
}

.device-overlay {
    overflow: hidden;
    opacity: 0;
    margin: 0 auto;
    position: absolute;
    top: 3.8%;
    left: 0;
    right: 0;
    width: 89%;
    height: 93%;
    display: block;
    border-radius: 20px;
    background-color: #0f1331;
    transition: all 1s ease-in-out;
}

.device-overlay.is-show {
    opacity: 1
}

.device-overlay img {
    transition: all 1.5s ease-in-out;
    transform: translate3d(0, -100%, 0);
}

.device-overlay.is-show img {
    transform: translate3d(0, 0, 0);
}

.content-middle {
    margin: 0 auto;
    width: 220px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    cursor: pointer;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
    -moz-transform: translateY (-50%);
    -o-transform: translateY (-50%);
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
}

.content-middle.zoom {
    transform: scale3d(1.3, 1.3, 1) translateY(-34.7%);
}

.circle-list {
    height: 100%;
    width: 100%;
}

.circle-list li {
    position: absolute;
    top: 10%;
    width: 52px;
    height: 52px;
    cursor: pointer;
    text-align: center;
    font-size: 9px;
    font-weight: 500;
    line-height: 118%;
    letter-spacing: -0.1px;
    color: rgba(0, 0, 0, 0.75);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease-in-out;
    /* z-index: 9 */
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s, visibility 0s;
    -moz-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s
}

.circle-list li.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-animation: ani-right .6s;
    -moz-animation: ani-right .6s;
    animation: ani-right .6s
}

@-webkit-keyframes ani-right {
    0% {
        -webkit-transform: translate3d(0, 10px, 0);
        -moz-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        -o-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes ani-right {
    0% {
        -webkit-transform: translate3d(0, 10px, 0);
        -moz-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        -o-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.circle-list li span {
    position: absolute;
    margin: 0 auto;
    bottom: -29px;
    width: 90px;
    height: 40px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(-50%, 0, 0);
}

.circle-list li span strong {
    display: block;
    font-weight: 400;
}

.circle-list li:first-child {
    top: 18%;
    left: -75px;
    background-image: url(../images/Super-Focus.png);
}

.circle-list li:nth-child(2) {
    top: 40%;
    left: -75px;
    background-image: url(../images/Super-Style.png);
}

.circle-list li:nth-child(3) {
    top: 62%;
    left: -75px;
    background-image: url(../images/Super-Vision.png);
}

.circle-list li:nth-child(4) {
    top: 18%;
    right: -75px;
    background-image: url(../images/Super-Entertainment.png);
}

.circle-list li:nth-child(4) span {
    bottom: -36px;
}

.circle-list li:nth-child(5) {
    top: 40%;
    right: -75px;
    background-image: url(../images/Super-Strength.png);
}

.circle-list li:nth-child(6) {
    top: 62%;
    right: -75px;
    background-image: url(../images/Super-Speed.png);
}

/* Popup */
.overlay {
    position: absolute;
    margin: 0 auto;
    top: 3.8%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 89%;
    height: 93%;
    z-index: 9;
    border-radius: 18px;
    /* transform: translateY(-50%); */
    /* background-color: #03eefb; */
    background-image: linear-gradient(#3c528a, #0b1632);
    background-repeat: no-repeat;
    background-position: center center;
}

.info-popup {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
    -moz-transform: translateY (-50%);
    -o-transform: translateY (-50%);
    transform: translateY(-50%);
    z-index: 99;
    max-width: 500px;
    color: #191919;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.info-popup--content {
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: -0.1px;
}

.info-popup--content h2 {
    font-size: 15px;
    margin-bottom: 6px;
    line-height: 115%;
    color: rgba(255, 255, 255, 0.85);
}

.info-popup--content p {
    font-size: 13px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.75);
}

.close-icon {
    width: 55px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background-image: url(../images/popup-close.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    z-index: 5;
}

/* Camera */
.device-camera {
    overflow: hidden;
    position: absolute;
    top: -34px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 58px;
    height: 35px;
    z-index: -1;
}

.ani-left {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s, visibility 0s;
    -moz-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s
}

.ani-left-visible .ani-left {
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-animation: cd-slide-in .9s;
    -moz-animation: cd-slide-in .9s;
    animation: cd-slide-in .9s
}

@-webkit-keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(-60px, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-moz-keyframes cd-slide-in {
    0% {
        -moz-transform: translate3d(-60px, 0, 0)
    }

    100% {
        -moz-transform: translate3d(0, 0, 0)
    }
}

@keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(0, 40px, 0);
        -moz-transform: translate3d(0, 40px, 0);
        -ms-transform: translate3d(0, 40px, 0);
        -o-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@media screen and (max-width: 599px) {
    body {
        background-color: #fff;
    }
}

@media screen and (max-width: 550px) {
    .device-camera {
        top: -31px;
        width: 50px;
        height: 35px;
    }

    .device-left {
        transform: translate3d(-22%, 0, 0);
    }

    .device-right {
        transform: translate3d(22%, 0, 0);
    }

    .content-middle.zoom {
        transform: scale3d(1, 1, 1) translateY(-50%);
    }

    .circle-list li {
        font-size: 12px;
    }

    .info-popup--content h2 {
        font-size: 16px;
    }

    .circle-list li:first-child {
        top: -72px;
        left: -10px;
    }

    .circle-list li:nth-child(2) {
        top: -99px;
        left: 85px;
    }

    .circle-list li:nth-child(3) {
        top: -72px;
        left: inherit;
        right: -10px;
    }

    .circle-list li:nth-child(4) {
        top: inherit;
        bottom: -63px;
        left: -10px;
    }

    .circle-list li:nth-child(5) {
        top: inherit;
        bottom: -63px;
        right: 85px;
    }

    .circle-list li:nth-child(6) {
        top: inherit;
        bottom: -63px;
        right: -10px;
    }
}