@charset "utf-8";

body {
    font-size: 100%;
    color: #fff;
    font-weight: normal;
    overflow-x: hidden;
    /*background-color: #2b9387;*/
    background-color: #cfd1ff;
    font-family: 'Avenir LT Std 85 Heavy';
    /*font-family: 'Roboto', sans-serif;*/

}
@font-face {
    font-family: 'Avenir LT Std 95 Black';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 95 Black'), url('AvenirLTStd-Black.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url('AvenirLTStd-Heavy.woff') format('woff');
}
html, body {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    outline: none;
    color: #fff;
}
button, a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 100%;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}


.main-wrap {
    margin: 0 auto;
    height: 100%;
    position: relative;
    z-index: 1;
    /*background-image: -webkit-linear-gradient(126deg, #4673e0, #8d55e9);
    background-image: -o-linear-gradient(126deg, #4673e0, #8d55e9);
    background-image: linear-gradient(216deg, #4673e0, #8d55e9);*/
    /*background-color: #2b9387*/
}

.main-wrap:after {
    /*background-color: #2b9387*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    
    opacity: 0.9;
    -webkit-filter: blur(0.9px);
    filter: blur(0.9px);
    background-image: -webkit-linear-gradient(126deg, #4673e0, #8d55e9);
    background-image: -o-linear-gradient(126deg, #4673e0, #8d55e9);
    background-image: linear-gradient(216deg, #4673e0, #8d55e9);
}
.main-wrap.body-bg:after {
    opacity: 0.55;
    -webkit-filter: blur(1.1px);
    filter: blur(1.1px);
}
.main-wrap .block {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding-top: 50px;
}

.block__elements {
    height: 100%;
}
.block__elements--first.first-slide {
    transition: all 0.2s ease-in-out;
    /*transform: translate3d(0, -150%, 0);*/


}
.block__elements--first {
    border-radius: 7px;
    /*background:
      linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%);*/


    background-image: -webkit-linear-gradient(129deg, #436dd7, #8d55e9);
    background-image: -o-linear-gradient(129deg, #436dd7, #8d55e9);
    background-image: linear-gradient(219deg, #436dd7, #8d55e9);
}

.block__elements--first,
.block__elements--second {
    position: relative;
    min-height: 600px;
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
}
.block__elements--second {
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.block__elements--first .content-middle {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);
}

.block__elements--first .main-headline {
    font-size: 3em;
    line-height: 100%;
    margin-bottom: 40px;
    font-family: 'Avenir LT Std 95 Black';
    /*font-family: 'Titillium Web', sans-serif;*/
}
.block__elements--first .quint-logo {
    width: 38px;
    position: absolute;
    top: 12px;
    left: 0;
}
.block__elements--first .quint-logo img {
    width: 100%;
}

.block__elements--first .profile-icon {
    margin: 0 auto 50px;
    width: 110px;
    height: 110px;
    position: relative;
}
.block__elements--first .profile-icon img {
    border-radius: 100%;
    border: 4px solid rgba(255, 255, 255, 1.0);
}
.block__elements--first .profile-icon .online {
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    display: inline-block;
    background-color: #3ecb68;
    border: 4px #436dd7 solid;
}
.block__elements--first .profile-icon .online-available {
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.block__elements--first .sub-headline {
    margin-bottom: 20px;
    font-size: 1.19em;
    line-height: 125%;
    font-family: 'Avenir LT Std 95 Black';
    /*font-family: 'Titillium Web', sans-serif;*/
}
.block__elements--first .content {
    font-size: 1em;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.75);
}





.block__elements--second {
    display: none;
    height: 100%;
    /*background-color: #ccc;*/
}
.block__elements--second .top-header {
    width: 100%;
    padding: 10px 13px;
    /*height: 80px;*/
    /*text-align: right;*/
    position: relative;
    background-image: -webkit-linear-gradient(right, #8e54e9, #4776e6);
    background-image: -o-linear-gradient(right, #8e54e9, #4776e6);
    background-image: linear-gradient(to left, #8e54e9, #4776e6);

    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-top-left: 20px;
    -moz-border-radius-top-right: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.block__elements--second .quint-logo {
    width: 38px;
    position: absolute;
    top: 12px;
    left: 0;
}
.block__elements--second .quint-logo img {
    width: 100%;
}

.block__elements--second .profile-icon {
    width: 64px;
    height: 64px;
    position: relative;
}
.block__elements--second .profile-icon img {
    border-radius: 100%;
    border: 4px solid rgba(255, 255, 255, 1.0);
}
.block__elements--second .profile-icon .online {
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: inline-block;
    background-color: #3ecb68;
    border: 3px #436dd7 solid;
}
.block__elements--second .profile-icon .online-available {
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
}
.block__elements--second .profile-icon .online-available {

}
.block__elements--second .profile-icon .profile-name {
    position: absolute;
    left: 75px;
    top: 20px;
    font-size: 1.5em;
    display: block;
    width: 200px;
    text-align: left;
}


.block__elements--second .profile-menu {
    position: absolute;
    top: 29px;
    right: 24px;
    width: 20px;
    height: 35px;
}
.block__elements--second .profile-menu span {
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #fff
}
.block__elements--second .profile-menu span:nth-child(2){
    top: 10px
}
.block__elements--second .profile-menu span:nth-child(3){
    top: 20px
}

.block__elements--second .mid-section {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 450px;
    /*height: calc(100% - 140px);
    height: -webkit-calc(100% - 140px);*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-color: #fff;
    /*border-radius: 7px;*/
    overflow: scroll;
}

.block__elements--second .mid-section .chat-content {
    position: relative;
    bottom: 0;
    width: 100%;
    /*height: 100%;*/
    overflow: auto;
}
.block__elements--second .mid-section .chat-content.fixed {
    position: absolute;
    bottom: 0px;
}

.block__elements--second .mid-section .chat-content .chat-qus,
.block__elements--second .mid-section .chat-content .chat-response {
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    position: relative;
}
.block__elements--second .mid-section .chat-content .chat-qus {
    float: right;
    text-align: right;
    margin-right: 45px;
}
.block__elements--second .mid-section .chat-content .chat-qus .user-profile {
    display: none;
    position: absolute;
    bottom: 0;
    right: -35px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #ccc;
    overflow: hidden;
}

.block__elements--second .mid-section .chat-content .chat-response {
    float: left;
    text-align: left;
    margin-left: 45px;
}
.block__elements--second .mid-section .chat-content .chat-response .gandhi-profile {
    display: none;
    position: absolute;
    bottom: 0;
    left: -35px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #ccc;
    overflow: hidden;
}


.block__elements--second .mid-section .chat-content .chat-box {
    border-radius: 20px 20px 4px;
    padding: 12px 12px 8px;
    display: inline-block;
    display: none;
    position: relative;
    z-index: 1;
    font-size: 1em;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.75);
}
.block__elements--second .mid-section .chat-content .chat-box img {
    margin-bottom: 10px;
    border-radius: 15px;
}

.block__elements--second .mid-section .chat-content .chat-box span {
    /*display: inline-block;*/
}
.block__elements--second .mid-section .chat-content .chat-qus .chat-box {
    /*background-color: rgb(73, 91, 189);*/
    background-color: rgba(206, 228, 247, 1);
    /*border-radius: 15px 15px 2px 15px;*/
    border-radius: 20px 20px 0 20px;
}
.block__elements--second .mid-section .chat-content .chat-response .chat-box {
    /*background-color: rgb(5, 118, 250);*/
    background-color: rgba(236, 243, 249, 1);
    /*border-radius: 15px 15px 15px 2px;*/
    border-radius: 20px 20px 20px 0;
}

.chat-box--qus-content {

}
.chat-box--media {

}
.chat-box--embed {
    /*position: relative;
    background-color: #ccc;
    padding-bottom: 56.25%; /* 16:9 */
    /*height: 200px;*/
    width: 100%;
}
.chat-box--embed iframe {
    /*position: absolute;
    top: 0;
    left: 0;*/
    height: 100%;
    width: 100%;
}
.chat-box--content {

}


.spinner {
    position: absolute;
    top: 10px;
    width: 50px;
    text-align: center;
}

.chat-qus .spinner {
    right: -43px;
}
.chat-response .spinner {
    left: -43px;
}


.spinner > div {
  width: 12px;
  height: 12px;
  background-color: rgb(73, 91, 189);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


.btn-intro {
    padding: 7px 20px 6px;
    line-height: 125%;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25em;
    margin: 0 2px 10px 2px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.9) ;
}


.btn {
    padding: 10px 12px 8px;
    line-height: 125%;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.94em;
    margin: 0 2px 13px 2px;
    background-color: rgba(69, 112, 221, 1);
    /*width: 185px;*/
    /*height: 100px;*/
}

.btn.intro {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.9) 
}
.btn-second {
    display: none;
    cursor: pointer;
}
.btn.btn-second {
    background-color: rgba(141, 84, 233, 1)
}
.block__elements--second .footer {
    padding-top: 15px;
    min-height: 60px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.leave-message {
    display: none;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 30px;
    color: rgba(73, 91, 189, 1)
}

