@charset "utf-8";

@media (max-width:1279px) {
	.container{max-width:620px;}
}


@media (max-width:959px) {
	.container{max-width:620px;}
}

@media (max-width:639px) {
	.container{max-width:100%;}
}

