body {
    font-size: 16px;
    font-weight: 400;
    text-rendering: auto;
    color: #3c3c3c;
    background-color: #f4f4f4;
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Quicksand', sans-serif;*/
    /*background: url(../images/loading-body.gif) no-repeat center;*/
    background-size: 100px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
input, button {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
input:focus, button:focus {
    outline: none;
}
.main-wrap {
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    position: relative;
}


.btns-wrap {
    margin-bottom: 10px;
}
.create-poll-btn,
.preview-poll-btn {
    width: 49.4%;
    line-height: 30px;
    text-transform: uppercase;
}
.btn-inactive {

}
/*
.create-poll-btn,
.preview-poll-btn {
    float: left;
    width: 50%;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background-color: #36154f;
    border: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.create-poll-btn {
    background-color: #87d7b0;
    border-right: 1px solid rgba(255,255,255, 0.9);
}

.preview-poll-btn {
    background-color: #ff6f6a;
}
.create-poll-btn:hover,
.preview-poll-btn:hover {
    background-color: #36154f;
}

.create-poll-btn.active,
.preview-poll-btn.active {
    background-color: #36154f;
}

.preview-poll-btn.btn-disabled {
    position: relative;
    background-color: #ccc;
}*/



.draggable-wrap {
    margin:0 auto;
    width:350px;
    position:relative;
}
.drag-inputs {
    margin-bottom: 10px;
}

.input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #87d7b0;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.input-field.preview_input {
    border: 1px solid #ff6f6a;
}

.draggable-wrap .form-control {
    border-radius: 0;
    width: 80%;
    float: left;
    padding: 10px;
}

input:focus,
button:focus {
    outline: none;
}
.input-btn {
    float: left;
    width: 20%;
    padding: 10px;
    /*background: #87d7b0;*/
    color: white;
    font-size: 16px;
    /*border: 1px solid #87d7b0;*/
    border-left: none;
    cursor: pointer;
}
.input-btn.preview_btn {
    background: #ff6f6a;
    border: 1px solid #ff6f6a;
}
.drag-inputs button:hover {
    background: #0b7dda;
}
.preview-btn-wrap {
    margin-bottom: 10px;
}
.preview-btn-wrap::after,
.btns-wrap::after {
    content: "";
    clear: both;
    display: table;
}

.drag-inputs::after {
    content: "";
    clear: both;
    display: table;
}

.drag-container {
    width:100%;
    /*background-color: #87d7b0;*/
}
.drag-preview {
    position: relative;
}

.drag-preview img {
    max-width: inherit;
}
.image-editor {
    /*background-color: #ff6f6a;*/
}

.drag-content {
    display: none;
    width: 230px;
    font-size: 18px;
    position: absolute;
    z-index: 9;
    text-align: center;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border-radius: 6px;
}


.resize-container {
    display: inline-block;
    width: 100%;
}
.drag-content .drag-question {
    padding: 0 0 7px 0;
    width: 100%;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;  
}
.drag-content .drag-question input {
    color: #fff;
}
.drag-content .drag-question input {
    width: 100%;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}
.drag-content .drag-answer {
    position: relative;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase; 
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
}
.drag-content .drag-answer input {
    width: 100%;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    color: #212529;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}
.drag-content .answer-button {
    font-size: 30px;
    line-height: 36px;
    cursor: pointer;
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(320deg, #4398e7 25%, #7847ce 50%, #8b09a2 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.drag-content .drag-answer:before {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #ccc;
}
.drag-content .drag-answer::after {
    content: "";
    clear: both;
    display: table;
    font-size:0;
}

/*.answer-options {
    font-size: 30px;
    line-height: 36px;
    cursor: pointer;
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(320deg, #4398e7 25%, #7847ce 50%, #8b09a2 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/
.drag-answer--left,
.drag-answer--right {
    float: left;
    width: 50%;
}
.cropit-preview {
    /*background-color: #87d7b0;*/
    background-size: cover;
    width: 100%;
    height: 350px;
    text-transform: uppercase;
    
}
.cropit-preview.cropit-image-loaded {
    background: url(../images/AjaxLoader.gif) #fcfcfc no-repeat center;
}
.cropit-preview-image-container {
    cursor: move;
}

.image-size-label {
    margin-top: 10px;
}

.controls-wrapper {
    display: none;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    position: relative;
    background-color: #ccc;
}
.controls-wrapper button {
    border: none;
    cursor: pointer;
}
.controls-wrapper input:focus,
.controls-wrapper button:focus {
    outline: none;
}
.controls-wrapper .rotation-btns {
    
    display: inline-block;
}
.controls-wrapper .slider-wrapper {
    display: inline-block;
    margin: 0 0 0 15px;
}
.controls-wrapper .slider-wrapper * {
    vertical-align: middle;
}
.controls-wrapper .slider-wrapper .small-image {
    font-size: 16px;
}
.controls-wrapper .slider-wrapper .large-image {
    font-size: 24px;
}

.controls-wrapper .slider-wrapper .cropit-image-zoom-input {
    width: 150px;
    margin: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    vertical-align: middle;
}

.controls-wrapper .export-wrapper {
    display: inline-block;
}
.drag-btns {
    /*background-color: #ccc;*/
    padding: 2px 0;
    display: none;
}

.drag-btns .btn-prev,
.drag-btns .btn-next {
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #ff6f6a;
    display: inline-block;
    padding: 2px 7px 3px;
    cursor: pointer;
}
.drag-btns .btn-next {
    text-align: right;
    float: right;
}
.drag-submit {
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 500;
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background-color: #36154f;
    border: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.drag-submit:hover {
    background-color: #fbc042;
}

.embedded-code {
    padding-top: 10px;
}

.embedded-code .embedded-label {
    font-size: 14px;
    margin: 0;
    color: #36154f;
}
.embedded-code .embedded-iframe {
    height: 65px;
    width: 100%;
}

.embedded-code .copy-val {
    float: right;
    border: none;
    border-radius: .25rem;
    background-color: #36154f!important;
    padding: .3rem .75rem;
    /* font-size: 20px; */
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 5px;
}



.drag-preview .results-wrap {
    display: none;
}

.question-wrap #userEmail {
    padding: 0 5px;
    font-size: 18px;
    width: 90%;
    height: 28px;
    text-align: left;
    text-transform: none;
    background-color: #ccc;
}

.check-btn {
    margin: 0 auto;
    position: relative;
    z-index: 9;
    width: 100px;
    display: block;
    cursor: pointer;
    background-color: #ccc;
}

.drag-preview .results-wrap .result-yes,
.drag-preview .results-wrap .result-no {
    float: left;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
}
.drag-preview .results-wrap .result-yes {
    width: 70%;
    background-color: #87d7b0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.drag-preview .results-wrap .result-no {
    width: 30%;
    background-color: #ff6f6a;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}




