@charset "utf-8";
@font-face {
	font-family: 'coolveticaregular';
	src: url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'), url('../fonts/coolvetica_rg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'coolveticaregular' !important;
	font-size: 14px;
	font-weight: 400;
	color: #606060;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	background:#dadada;
	background-attachment: fixed;
}

p {
	line-height: 150%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: normal;
	font-family: 'coolveticaregular';
}

#magazine{
	width:100%;
	height:100%;
}
#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}
	
	
.container{
	max-width:400px;
	height:522px;
	margin: 0 auto;
}

.container{
	text-align: center;
}
.container footer{
	text-align: center;
	display: inline-block;
	
}

.container footer div{
	width: 40px;
	height: 40px;
	background: #000;
	float: left;
	line-height: 40px;
	margin: 10px 5px;
	cursor: pointer;
	color: #fff;
	
	
}

.container footer div:nth-child(2){
	pointer-events: none;
	
}

.container footer div i{
	line-height: 40px;
	font-size: 25px;
	
}


.page-content{
	padding: 20px;
	position: relative;
	text-align: left;
	color: #333;
}
.embed-content{
	margin-bottom: 15px;
	
}

.page-content h2 {
	font-size: 25px;
	line-height: 96%;
	margin: 0px 0px 10px 0 !important;
}

.arrow{
	position: absolute;
	top: 0;
	height: 100%;
	background:rgba(0,0,0,0.3);
	width: 30px;
	z-index: 99;
	transition:0.3s all ease-in-out;
	cursor: pointer;
}
.arrow.arrow-left{
	left: -30px;
}

.arrow.arrow-right{
	right: -30px;
}
.arrow:hover{
	background:rgba(0,0,0,0.9);
}


.arrow i{
	width: 30px;
	height: 30px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 50%;
	line-height: 30px;
	margin-top: -15px;
	font-size: 25px;
	color: #fff;
}







