@charset "utf-8";
.loading{
	display:none;
}
html, body {
	padding: 0;
	margin: 0;
	position: relative;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #f8f8f8;
	color: #606060;
	font-size: 15px;
	width: 100%;
	height: auto;
	overflow-x: hidden;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #4d4d4d;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 900;
	font-size: 100%;
}
/*Start CSS*/




.app-container {
	max-width: 300px;
	margin: 20px auto;
	position: relative;
}
.app-container ul {
	margin: 0;
	position: relative;
	display: block;
	height: 100%;
}
.app-container li {
	display: block;
	width: 100%;
	overflow: hidden;
	top: 0;
	z-index: 2;
	left: 0;
	text-align: left;
	-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	height: 400px;
}
.app-container li.init
{
	/*display: block!important;
    transform: translate(0px, 0px) rotate(0rad) skewX(0rad) scale(1, 1)!important;
	*/
}
.app-container .like, .app-container .dislike {
	background: url("../images/liked.png") no-repeat scroll 0 0;
	opacity: 0;
	height: 80px;
	position: absolute;
	width: 170px;
	left: 45px;
	top: 40px;
	z-index: 1;
	overflow: hidden;
	-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.app-container .dislike {
	right: 45px;
	left: auto;
	background: url("../images/nope.png") no-repeat scroll 0 0;
}
.app-container .img {
	height: 400px;
	width: 100%;
	position: relative;
	-webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	-o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
	overflow: hidden;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-webkit-transform-style: preserve-3d;
	background-image: url(../images/loading.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ccc;
	font-size: 0px;	
}

.app-container #status .img{
	height:250px;
	
}

.app-container #status figcaption{
	display: block !important;
	
}

#status.is-front{
	z-index: 9999;
}

.app-container .img img{
	transform: scale3d(1.1,1.1,1);
	transition: 0.2s all ease-in-out;
	transform-origin: top center;
}

.app-container .is-detail .img img{
	transform: scale3d(1,1,1);	
}


.title-el{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px 23px 15px 15px;
	width: 100%;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.8));
	background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.8));
	background-image: -ms-linear-gradient(transparent, rgba(0,0,0,0.8));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0,0.8));
}

/* Action - buttons */
.actions {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}


.app-container h2{
	margin: 0 0 0px 0;
	padding: 0;
	font-size: 24px;
	font-weight: 900;
	color: rgba(255,255,255,0.9);
}

.app-container h3{
	margin: 0 0 0px 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255,255,255,0.8);
	position: relative;
}
.app-container .title-el h3 i{
	font-size:20px;
	position: absolute;
	top: 0;
	right: -8px;
	z-index: 99;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	
}
.app-container .title-el h3 i:hover{
	color:#fff;
}

.app-container figcaption{
	padding: 15px;
	background: #fff;
	display: none;
	position: relative;
	
}

.app-container figcaption h2,
.app-container figcaption h3{
	color:#333;
}
.app-container figcaption h3{
	font-weight:600;
	margin: 0 0 5px 0;
}


.app-container figcaption p{
	margin: 5px 0 10px 0;
	line-height: 150%;
}
.actions a{
	display: inline-block;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 100%;
	margin: 0px 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	line-height: 100%;
	transition: all 0.3s ease-in-out;
}

.actions a i{
	line-height: 56px;
	font-size: 30px;
}
.actions a.like{
	color: #25c960;
	border: 2px solid #25c960;
	
}
.actions a.dislike{
	color: #d53a24;
	border: 2px solid #d53a24;
}

.actions a.like:hover{
	background: #25c960;
	color: #fff;

	
}
.actions a.dislike:hover{
	background: #d53a24;
	color: #fff;

}


.actions a.reload{
	color: #2548dd;
	border: 2px solid #2548dd;
	display: none;
	
}

.actions a.reload:hover{
	background: #2548dd;
	color: #fff;
}
.wrap
{
	position: relative;
	z-index: 1;
}

#status{
	display: block;
	position: absolute;
	top:0px;
	width: 100%;
	z-index: 0;
	background: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

a.reload.is-show{
	display: inline-block;
}
a.dislike.is-hide{
	display: none;
}
a.like.is-hide{
	display: none;
}


.app-container li.card-item.is-detail .title-el{
	display:none;
}

.app-container li.card-item.is-detail{
	overflow:auto;
}


.app-container figcaption i {
	font-size: 20px;
	position: absolute;
	top: -42px;
	right: 15px;
	color: orangered;
	width: 30px;
	height: 30px;
	background: #fff;
	text-align: center;
	border-radius: 100%;
	line-height: 26px;
	border: 2px solid orangered;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.app-container figcaption i:hover{
	background: orangered;
	color: #fff;
}






