.container {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

@media (max-width: 991px) {
body.is-loading::before {
    transform: skewX(-10deg) scaleX(1.5);
}
/*Event Box*/
	
	
.event-toggle {
    position: absolute;
    bottom: 20px;
    left: -20px;
    width: 20px;
	display: block;
}
.info-container.is-mobile .event {
    transform: translateX(40px);
}
.event-toggle span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    background-image: url("../images/notch-arrow.svg");
    background-repeat: no-repeat;
    height: 20px;
    background-position: center;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.info-container.is-mobile .event-toggle span {
    transform: rotate(-180deg)translateY(-50%);
    transform-origin: top;
}
.info-container {
    overflow: visible;
    height: auto;
}
.info-container .pm {
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.info-container.is-mobile .pm {
    opacity: 0;
}
.event {
    margin: 0px -20px;
    padding: 15px;
    background-color: #404040;
    transform: translateX(100%);
    transition: 0.3s all ease-in-out;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
}
.event-headline {
    font-size: 18px;
    margin-bottom: 3px;
}
.event figcaption {
    padding-left: 0;
    position: relative;
    margin-top: 0;
    width: calc(100% - 40px);
}
.event figcaption p {
    margin: 0;
    line-height: 130%;
    font-size: 14px;
}
.event figcaption {
    padding-left: 0;
    position: relative;
    margin-top: 0;
}
body.is-loading .map {
    transform: translateX(0%);
    opacity: 0.2;
}
.map-index {
    position: absolute;
    bottom: 10%;
    right: 0%;
    left: inherit;
}
.map-index ul li {
    float: none;
}
.controller {
    text-align: center;
    margin: 17px 0 0 0;
}
.volume {
    top: 15px;
    right: 23px;
}
.timeline-container {
    width: auto;
    margin: 0 auto !important;
}
.footer-wrapper {
    bottom: 0;
    height: 84px;
    right: 0;
    padding: 0px 0 0;
    position: fixed;
    transform: translateZ(0px);
    width: 100%;
}
.wrapper.body-wrapper {
    padding-top: 45px;
}
.wrapper.body-wrapper .container {
    max-width: 90%;
}
.map {
    float: none;
    display: block;
    width: auto;
    height: calc(100% - 200px);
}
.map, .map-img, .map-img > img {
}
.year {
    font-size: 15px;
    line-height: 100%;
    position: absolute;
    top: -6px;
    width: 35px;
}
.footer-wrapper .container {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 85%;
}
.timeline-elmt {
    padding: 0 38px;
}
.footer-wrapper {
    padding: 24px 0 0;
    height: 85px;
}
.wrapper.body-wrapper {
    height: calc(100% - 120px);
}
.menu {
    bottom: 0px;
    top: 0px;
    width: 405px;
}
.menu__handle {
    height: 24px;
    right: 81px;
    top: 16px;
    width: 24px;
}
.morph-shape {
    display: none;
}
.menu ul li h3 {
    font-size: 20px;
}
.menu ul li h4, .menu ul li h5 {
    font-size: 12px;
}
.menu ul li a {
    min-height: 100px;
}
.menu ul li .list-img {
    height: 60px;
    top: 0px;
    width: 60px;
}
.menu ul li figcaption {
    padding-left: 70px;
}
.menu__handle::before {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}
.menu__handle::after {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}
.info {
    width: 100%;
    position: absolute;
    top: inherit;
    bottom: 20px;
    left: 0;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    float: none;
    text-align: center;
    display: block;
}
.info-container {
    position: relative;
    margin-left: 0;
}
#menu.event-none {
    pointer-events: none;
}
}

@media (max-width: 575px) {
.tq-logo {
    width: 70px;
}
body::before {
    width: 80%;
    transform: skewX(-30deg);
    box-shadow: -4px 0 15px 0 rgba(0, 0, 0, 0.5);
    z-index: -2;
}
body::after {
    width: 60%;
    height: 50%;
    bottom: 0;
    top: inherit;
}
.info {
    bottom: 10px;
}
.wrapper.body-wrapper {
    padding-top: 0px;
}
.map-img svg {
    transform: translateY(-50%) scale(1.9, 1.9);
}
.map-index {
    position: absolute;
    bottom: 17%;
    right: 3%;
    left: inherit;
}
.pie {
    width: 90px;
    left: 60px;
}
.pie-2 {
    width: 110px;
}
.pm-img {
    width: 80px;
    left: 20px;
    top: 26px;
}
.info-container .pm figcaption {
    padding-left: 132px;
}
.pm h3 {
    font-size: 22px;
}
.map-index ul li::before {
    height: 15px;
    top: 0px;
    width: 15px;
}
.map-index ul li {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0 0 0 22px;
}
.map {
    height: calc(100% - 100px);
}
}
