@charset "utf-8";
@font-face {
    font-family: 'Avenir LT Std 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 65 Medium'), url('../fonts/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
}
/**/

.loading {
    position: relative;
    text-align: center;
    margin: 40px 0 0 0;
    transition: all 0.3s ease-in-out;
}

.loading  .click-to-start{
	opacity: 0;
	 transition: all 0.3s ease-in-out;
}

.loading::before {
	position: absolute;
	width: 60px;
	height: 60px;
	content: '';
	background-image: url("../images/loading.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	top: 0;
	left: 50%;
	transform: translate3d(-50%, 32px, 0);
	opacity: 1;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}
.loading.is-active::before{
	opacity: 0;
}

.loading.is-active .click-to-start {
    opacity: 1;
}

.loading span {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}
.loading a {
    width: 50px;
    height: auto;
    display: inline-block;
}
.main-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateZ(0);
}
.is-loading .main-wrapper .info {
	
}

.intro {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateZ(0);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.intro.hidden {
    opacity: 0;
    z-index: -100;
    pointer-events: none;
}
.intro-container {
    position: relative;
    display: block;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    max-width: 840px;
    margin: 0 auto;
    padding: 0px 30px;
}
.intro-container h1 {
    padding: 0;
    width: 70%;
    margin: 0 auto;
}
.intro-container p {
    margin: 50px 0 0 0;
    font-size: 17px;
	line-height: 160%;
}
body {
    font-family: 'Avenir LT Std 65 Medium';
    font-size: 14px;
    color: #fff;
    overflow-x: hidden;
    background: #404040;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body::before {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    content: '';
    transform: skewX(-10deg) scaleX(0.5);
    box-shadow: -4px 0 15px 0 rgba(0, 0, 0, 0.5);
    z-index: -2;
    transition: 1.5s all ease-in-out;
    transform-origin: right;
}
body.is-loading::before {
    transform: skewX(-10deg) scaleX(1.1);
}

.map {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
	transform: translateX(0%);
	transition: 1s all ease-in-out;
}

body.is-loading .map {
    transform: translateX(50%);
    opacity: 0.2;
	
}


body::after {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #222222;
    content: '';
    z-index: -1;
}
p {
    line-height: 130%;
    margin-bottom: 25px;
}
a {
    text-decoration: none;
    outline: none;
    color: #333;
}
button, a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 100%;
}
/*CSS TAPAN*/

.ui-widget.ui-widget-content {
    height: 2px;
    border-radius: 0;
    border: 0;
}
.is-congress .ui-widget.ui-widget-content {
    background: rgba(59,153,205,0.2);
}
.is-bjp .ui-widget.ui-widget-content {
    background: rgba(226,124,32,0.2);
}
.timeline-progress, .mapsvg-region, .ui-slider-handle, .ui-slider-range-min {
/*	-webkit-transition: all 1s;
    transition: all 1s;*/
}
.mapsvg-region {
    -webkit-transition: all 1s;
    transition: all 1s;
}
.is-bjp .ui-slider-range-min {
    background: rgba(226,124,32,1);
}
.is-congress .ui-slider-range-min {
    background: rgba(59,153,205,1)
}
.is-janata .ui-slider-range-min {
    background: #d23737;
}
.ui-widget.ui-widget-content {
}
.mapsvg-region:hover {
    fill: #867272;
}
.Congress, .Congress_A {
    fill: rgba(59,153,205,1)!important;
}
.BJP, .BJP_A {
    fill: rgba(226,124,32,1)!important;
}
.Janata_Party, .Janata_Dal {
    fill: #d23737!important;
}
.ui-widget-content .ui-state-default {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    right: -5px;
    top: -4px;
    cursor: move;
    border: 0;
}
.timeline-progressbar {
    display: none;
}
figure {
    position: relative;
}
.info-container {
    position: relative;
    margin-left: 13%;
}
.chart-1, .chart-2 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -15%);
}
.pie {
    width: 110px;
    position: absolute;
    top: 66px;
    left: 80px;
    transform: translate(-50%, -15%);
}
.pie svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
}
.pie-2 {
    width: 130px;
}
.graph {
    visibility: hidden;
}
.graph > * {
    visibility: visible;
    transition: all 200ms ease-in-out;
}
.graph:hover > * {
    opacity: 0.5;
}
.graph__percent {
    opacity: 0.7;
    cursor: pointer;
}
.graph__percent:hover {
    /*stroke: #f96b07;*/
    opacity: 1;
}
.pie-2 .graph {
    stroke-width: 3;
}
.current-year {
    color: white;
    font-family: 'Avenir LT Std 85 Heavy';
}
.menu ul li .list-img {
    top: 0px;
}
.ui-slider-horizontal .ui-slider-range-min {
    transform-origin: 0% 0%;
}
.morph-shape svg path {
    stroke: #f2c300;
}
.timeline-elmt.is-congress .timeline-progress, .map-index ul li.is-janata::before, .timeline-elmt.is-janata .current-year {
    background: #d23737;
}
.timeline-elmt.is-janata .current-year::after {
    border-top: 12px solid rgb(210, 55, 55);
}
.is-janata .ui-widget.ui-widget-content {
    background: rgba(210, 55, 55,0.4)
}
.popup {
    background: #f2c300;
    position: absolute;
    padding: 10px;
    color: black;
    font-size: 20px;
    z-index: 100;
    visibility: hidden;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
}
.popup h1 {
    font-size: 16px;
    color: #222;
    line-height: 100%;
}
.popup p {
    margin: 0;
    font-size: 14px;
    line-height: 100%;
    color: #222;
    font-weight: 400;
    margin-top: 3px;
}
.popup.visible {
    visibility: visible;
}
.mapsvg-region {
    cursor: pointer;
    position: absolute;
}
.mapsvg-region.Congress.active, .mapsvg-region.Congress_A.active {
    fill: rgb(28, 105, 147)!important;
}
.mapsvg-region.BJP.active, .mapsvg-region.BJP_A.active {
    fill: rgb(215, 102, 1)!important;
}
.mapsvg-region.Janata_Party.active, .mapsvg-region.Janata_Dal.active {
    fill: #b82626!important;
}
.map-img {
    opacity: 0;
    width: 100%;
    position: absolute;
    -webkit-transition: all 1s;
    transition: all 1s;
    pointer-events: none;
}
.map-img.map-visible {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 991px) {
.morph-shape {
    display: block;
}
}
/*-- Website CSS --*/
.header-wrapper {
    z-index: 100;
}
.tq-logo {
    width: 80px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: block;
}
.footer-wrapper {
    bottom: 0;
    height: 84px;
    right: 0;
    padding: 0px 0 0;
    position: fixed;
    transform: translateZ(0px);
    width: 60%;
}
.timeline-container {
    width: auto;
    margin-right: 40px !important;
}
.timeline-progressbar {
    height: 6px;
    background: rgba(255,255,255,0.4);
    position: relative;
}
.timeline-elmt {
    padding: 0px 60px;
}
.timeline-progress {
    position: absolute;
    display: block;
    height: 100%;
    background: rgba(255,255,255,1);
}
.progress-pointer {
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    right: -15px;
    top: -11px;
    cursor: move;
}
.current-year {
    background: #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 28px;
    transform: translate3d(-46%, -44px, 0px);
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 100px;
    font-weight: 400;
}
.current-year::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #ccc;
    content: "";
    height: 0;
    position: absolute;
    right: 40px;
    top: 25px;
    width: 0;
}
.year {
    position: absolute;
    top: -8px;
    font-size: 18px;
    line-height: 100%;
    width: 50px;
}
.year.year-left {
    left: -10px;
    text-align: right;
}
.year.year-right {
    right: -10px;
}
.controller {
    text-align: center;
    margin: 23px 0 0 0;
}
.item-controll {
    display: inline-block;
}
.controller a {
    display: inline-block;
    float: left;
    margin: 0px;
}
.controller a.prev, .controller a.next {
    width: 30px;
    margin-top: 4px;
}
.controller a.play-pause {
    width: 18px;
    margin: 0 23px 0 26px;
    min-height: 30px;
}
.controller a.play-pause .pause {
    margin-top: 2px;
}
.controller a svg, .volume svg {
    fill: #fff;
    transition: all 0.2s ease-in-out;
    width: 100%;
}
.controller a:hover svg, .volume:hover svg {
    fill: #f2c300;
}
.is-hide {
    display: none;
}
.is-load {
    opacity: 0;
    transition: 3s all ease-in-out;
}
.is-load.loaded {
    opacity: 1;
}
.volume {
    display: block;
    position: absolute;
    right: 45px;
    top: 19px;
    width: 35px;
    height: 35px;
}


.volume svg {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}
.volume svg:nth-child(2) {
    left: -3px;
    display: none;
}
.volume.muted svg:nth-child(2) {
    display: block;
}
.volume.muted svg:nth-child(1) {
    display: none;
}

/*Timeline Theme*/
.timeline-elmt.is-bjp .timeline-progressbar {
    background: rgba(226,124,32,0.4);
}
.timeline-elmt.is-bjp .timeline-progress, .map-index ul li.is-bjp::before, .timeline-elmt.is-bjp .current-year {
    background: rgba(226,124,32,1);
}
.timeline-elmt.is-congress .timeline-progressbar {
    background: rgba(59,153,205,0.4);
}
.timeline-elmt.is-congress .timeline-progress, .map-index ul li.is-congress::before, .timeline-elmt.is-congress .current-year {
    background: rgba(59,153,205,1);
}
.timeline-elmt.is-others .timeline-progressbar {
    background: rgba(142,137,133,0.4);
}
.timeline-elmt.is-others .timeline-progress, .map-index ul li.is-others::before, .timeline-elmt.is-others .current-year {
    background: #d0d0d0;
}
/*CSS Arrow*/ 

.timeline-elmt.is-bjp .current-year::after {
    border-top: 12px solid rgba(226,124,32,1);
}
.timeline-elmt.is-congress .current-year::after {
    border-top: 12px solid rgba(59,153,205,1);
}
.timeline-elmt.is-others .current-year::after {
    border-top: 12px #d0d0d0;
}
.wrapper.body-wrapper {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 0px;
    transform: translate3d(0, 0, 0);
}
.wrapper.body-wrapper .container {
    height: 100%;
    max-width: 90%;
}
.timeline-container {
    width: 80%;
}

.map-img {
    height: 100%;
    text-align: center;
}
.map-img svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1.6, 1.6);
    left: 0;
}
.st0 {
    /*	fill: #d0d0d0 !important;*/
    stroke: #404040 !important;
    stroke-width: 1px !important;
}
.map-img > img {
    height: 100%
}
.map-index {
    position: absolute;
    bottom: 10px;
    left: 7%;
}
.map-index ul li {
    font-size: 17px;
    line-height: 100%;
    margin: 0 0 15px;
    padding: 0 0 0 32px;
    position: relative;
    text-align: left;
    float: left;
    margin-right: 20px;
    font-weight: 600;
    color: rgba(255,255,255,0.8);
}
.map-index ul li::before {
    width: 22px;
    height: 22px;
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    border-radius: 2px;
    background: #000;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
}
.info {
    width: 50%;
    float: right;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 150px;
}
.info-container {
    display: block;
    text-align: left;
    height: 400px;
    overflow: hidden;
}
.info-container .pm {
    min-height: 132px;
    position: relative;
}
.info-container .pm figure {
    position: absolute;
    height: 100%;
    width: 100%;
}
.info-container .pm figcaption {
    padding-left: 170px;
    position: absolute;
    width: 100%;
    display: block;
    float: none;
    top: 50%;
    transform: translateY(-50%);
}
.pie_cont {
    position: relative;
    display: block;
}
.pm-img {
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    margin: 0px 0px 0px 0px;
    position: absolute;
    left: 30px;
    top: 16px;
    /* border: 4px solid #222; */
    z-index: 99;
}
.headline {
    color: #fff;
    font-size: 26px;
    line-height: 100%;
    font-weight: 900;
}
.event-headline {
    color: #f2c300;
    font-size: 26px;
    line-height: 130%;
    font-weight: 900;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.pm h4 {
    font-size: 17px;
    line-height: 100%;
    font-weight: 400;
    color: #f2c300;
    margin-top: 5px;
}
.pm h5 {
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    margin-top: 9px;
    font-weight: 400;
}
.event {
/*
    margin-top: 30px;
    position: relative;
    padding-top: 30px;
*/
  
}
.event figure {
    position: relative;
}
.event figcaption {
    padding-left: 20px;
    position: relative;
    margin-top: 30px;
}
.event figcaption p {
    margin: 0;
    line-height: 160%;
    font-size: 15px;
}
/*--------------- Sidebar -----------------*/
.menu {
    position: fixed;
    width: 420px;
    top: 0px;
    bottom: 0px;
    left: 0;
    z-index: 100;
    overflow: hidden;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.menu.menu--open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.main {
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.menu.menu--open + .main {
    opacity: 0.3;
    pointer-events: none;
}
.menu__inner {
    width: calc(100% + 25px);
    padding: 0 140px 2em 0;
    overflow-y: auto;
    height: 100%;
    position: relative;
    z-index: 100;
    pointer-events: none;
}
.menu--open .menu__inner {
    pointer-events: inherit;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu--open.menu ul {
    box-shadow: 4px 0 15px 0 rgba(0, 0, 0, 0.5);
}
.menu ul li {
    margin: 0;
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    background: #222;
}
.menu.menu--anim ul li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0px 10px;
}
/*
.menu ul li:first-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu ul li:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
*/

.menu ul li a {
    display: block;
    outline: none;
    position: relative;
    min-height: 105px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 20px 0px;
}
.menu ul li:last-child a {
    border: 0;
}
.menu ul li .fa {
    font-size: 2.5em;
    display: block;
    margin: 0 auto;
    color: #5f656f;
}
.menu ul li figcaption {
    padding-left: 75px;
    color: #fff;
}
.menu ul li .list-img {
    border-radius: 100%;
    left: 0px;
    overflow: hidden;
    position: absolute;
    width: 65px;
    height: 65px
}
.menu ul li h3 {
    color: #fff;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 0px;
}
.menu ul li h4 {
    color: #F2C300;
}
.menu ul li h4, .menu ul li h5 {
    font-size: 14px;
    line-height: 150%;
}
.menu__handle {
    background: rgba(0,0,0,0.0);
    border: none;
    width: 30px;
    height: 24px;
    padding: 0;
    outline: none;
    position: absolute;
    top: 16px;
    right: 70px;
    z-index: 2000;
    cursor: pointer;
}
.menu__handle::before, .menu__handle::after, .menu__handle span {
    background: #f2c300;
}
.menu__handle::before, .menu__handle::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
}
.menu__handle span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.menu__handle::before {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}
.menu__handle::after {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}
.menu--open .menu__handle span {
    opacity: 0;
}
.menu--open .menu__handle::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}
.menu--open .menu__handle::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}
.morph-shape {
    position: absolute;
    width: 240px;
    height: calc(100% - 40px);
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.morph-shape svg path {
    stroke: #5f656f;
    stroke-width: 5px;
}

@media screen and (max-width: 63em) {
.main {
    padding: 0 2em;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.menu {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
}
.menu.menu--open + .main {
    opacity: 0.05;
}
}
/*----------------- End Sidebar CSS ---------------*/

.event-toggle{
	display: none;
}
