@charset "utf-8";

body {
	font-size: 16px;
	font-weight: 300;
	color: #000;
	overflow-x: hidden;
	background-color: #333;
	font-family: 'Merriweather', 'georgia', serif;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Merriweather', 'georgia', serif;
	font-size: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: url(../images/ajax-loader.gif) #fff no-repeat center;
}



.quintlab-nav {
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 1;
	background-color: #372150;
}
.quintlab-nav__container {
	margin: 0 auto;
	width: 1200px;
	max-width: 1200px;
	background: url(../images/nav-bg.jpg) repeat-x top;
}
.quintlab-nav__container:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.quintlab-nav__container--left,
.quintlab-nav__container--right {
	float: left;
	width: 50%;
}
.quintlab-nav__container--right {
	text-align: right;
}




.quintlab-story {
	padding: 0;
	margin: 0;
    width: 100%;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    /*width: calc(100% - 20px);
	width: -webkit-calc(100% - 20px);*/
    /*height: auto;
    overflow-x: hidden;
    overflow-y: auto;*/
}
.quintlab-story p {
	margin-bottom: 20px;
}

.quintlab-story__hero {
	position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    background-color: #ccc;
}
.quintlab-details__content:after,
.quintlab-story__hero:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.quintlab-story__hero img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
}
.quintlab-story__section {
	width: 100%;
}
.quintlab-story__section--container {
	position: relative;
    top: -200px;
}
.quintlab-story-main {
	margin: 0 auto;
	width: 100%;
    max-width: 100%;
}
.quintlab-story-main__headline {
	margin: 0 auto;
	padding: 10px 15px;
	width: 400px;
    max-width: 400px;
    font-size: 24px;
    color: #f0b736;
    line-height: 30px;
    background-color: #333333;
    border-left: 8px solid #f0b736;
}
.quintlab-story-main__slider {
	margin: 0 auto 20px;
	/*width: 1170px;*/
    max-width: 1170px;
}

.flipster__item__content figure {
	position: relative;
}

.flipster__item__content figcaption {
	position: absolute;
	padding: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	color: #fff;
	font-weight: 700;
	text-align: center;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, left, right);
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -ms-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0,0.5));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent', EndColorStr='rgba(0, 0, 0, 0.5)')"
}
.quintlab-story-main__media {
	margin: 0 auto;
	width: 1100px;
    max-width: 1100px;
}
.quintlab-story-main__content {
	margin: 0 auto;
	width: 800px;
    max-width: 800px;
    padding-top: 30px;
    color: #fff;
}
.quintlab-story-main__content p {
	margin-bottom: 20px;
}
.quintlab-story-main__content .explore-btn {
	text-align: center;
	
}
.quintlab-story-main__content .explore-btn a {
	margin: 0 auto;
	display: inline-block;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
	padding: 15px 50px;
	margin: 30px 0;
	font-weight: 700;
	font-size: 26px;
	border:1px #838182 solid;
}

.quintlab-story-main__content .explore-btn a:hover {
	background-color: #f0b736;
	border:1px #f0b736 solid;
}




.quintlab-details {
	margin: 0 auto;
	width: 100%;
    max-width: 100%;
}
.quintlab-details__headline {
	margin: 0 auto;
	padding: 10px 15px;
	width: 400px;
    max-width: 400px;
    font-size: 24px;
    color: #f0b736;
    line-height: 30px;
    background-color: #333333;
    border-left: 8px solid #f0b736;
}

.quintlab-details__media {
	margin: 0 auto;
	width: 100%;
    max-width: 100%;
}
.quintlab-details__short-content {
	margin: 0 auto;
	width: 800px;
    max-width: 800px;
    padding-top: 30px;
    color: #fff;
}
.explore-btn {
	text-align: center;
	
}
.explore-btn a {
	margin: 0 auto 50px;
	display: inline-block;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
	padding: 15px 50px;
	font-weight: 700;
	font-size: 26px;
	border:1px #838182 solid;
}
.quintlab-details__content {
	margin: 0 auto;
    max-width: 1170px;
    padding-top: 30px;
    color: #fff;
}
.quintlab-details__content--headline {
	margin: 5px 0;
    font-size: 24px;
    color: #f0b736;
}

.quintlab-details__content p {
	margin-bottom: 20px;
}
.quintlab-details__content--left {
	float: left;
	width: 800px;
    max-width: 800px;
    /*padding-right: 70px;*/
    margin-right: 70px;
}
.quintlab-details__content--left .go-back {
	background-color: #f0b736;
	padding: 0 7px;
	margin-bottom: 10px;
	display: inline-block;
	color: #333;
	font-size: 11px;
	line-height: 20px;
	letter-spacing: 4px;
	border-radius: 5px;
	text-transform: uppercase;
}

.quintlab-details__content--right {
	float: left;
	width: 300px;
    max-width: 300px;
    padding: 15px;
    color: #828387;
    height: 350px;
    overflow: auto;
    background-color: #fff;
    border-top: 6px #f0b736 solid;
}
.quintlab-details__content--right .right-nav li {
	cursor: pointer;
	margin-bottom: 8px;
}
.quintlab-details__content--right .right-nav li:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}



.quintlab-details__content--right .right-nav li img {
    -webkit-filter: grayscale(100%);
   	filter: grayscale(100%);

   	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.quintlab-details__content--right .right-nav li.active img {
    -webkit-filter: grayscale(0);
  	filter: grayscale(0);

  	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	z-index: 9;
	position: relative;
}

.quintlab-details__content--right .right-nav li:hover img {
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}





.quintlab-details__content--right .right-nav .right-nav__img {
	width: 60px;
	float: left;
	display: block;
}

.quintlab-details__content--right .right-nav .right-nav__caption {
	margin-left: 10px;
	float: left;
	display: block;
	line-height: 60px;
}


/*For paralax CSS*/

.full-image-section {
	width: 100%;
	height: 100vh;
	height: 300px;
	position: relative;
	overflow: hidden
}
.full-image {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;/*float: left*/
}
.full-image img {
	height: 100vh;
	width: 100%;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
}
.background-fixed .full-image {
	position: absolute;
	top: 0;
	z-index: 0;
	clip: rect(0,auto,auto,0);
	width: 100%;
}
.background-fixed .full-image img {
	object-fit: cover;
	position: fixed;
	top: 0;
	-moz-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.is-mobile {
	display: none;
}
.is-desktop {
	display: block;
}
.more-thumb figure img {
	width: 100%;
	padding-bottom: 5px;
}
.more-thumb {
	margin-top: 0px;

	font-size: 16px;
}

.headline-section {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, left, right);
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.95));
	background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.95));
	background-image: -ms-linear-gradient(transparent, rgba(0,0,0,0.95));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0,0.95));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent', EndColorStr='rgba(0, 0, 0, 0.5)')"
}
.headline-section h2 {
	color: #fff;
	text-align: left;
	font-size: 68px;
	font-weight: 700;
	line-height: 70px;
	margin: 30px 0;
	padding: 0 20px;
}
.headline-section h2.banner-headline {
	margin-bottom: 10px;
}


/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


@media (max-width:1023px) {
    .is-mobile {
        display: block;
    }
    .is-desktop {
        display: none;
    }
}
@media (max-width:679px) {
    .is-mobile {
        display: block;
    }
    .is-desktop {
        display: none;
    }
}

@media only screen and (max-width: 1279px) {
	.quintlab-details__content {
		max-width: 940px;
	}
	.quintlab-details__content--left {
		width: 620px;
		margin-right: 20px;
	}
	.quintlab-details__content--right {
		width: 300px;
	}
}
@media only screen and (max-width: 960px) {
	.quintlab-details__content {
		max-width: 640px;
		padding: 0 20px;
	}
	.quintlab-details__content--left {
		width: 100%;
		margin-right: 0;
		
	}
	.quintlab-details__content--right {
		width: 100%;
	}
}








































