@charset "utf-8";

body {
	font-family: sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: auto;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    word-break: normal;
    font-family: 'Merriweather', 'georgia', serif;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Merriweather', 'georgia', serif;
	font-size: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: url(../images/ajax-loader.gif) #fff no-repeat center;
}
.quintlab-story {
	margin: 0 auto;
	padding: 0;
    max-width: 800px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.9375em;
}
.quintlab-story__hero {
	position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    background-color: #ccc;
}
.quintlab-story__hero:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.quintlab-story__hero img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.quintlab-story__header {
	width: 100%;
	margin-bottom: 40px;
}
.quintlab-story__header--headline {
	margin: 5px 0;
    font-size: 30px;
    color: #f0b736;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}
.quintlab-story__section {
	width: 100%;
}
.quintlab-story__section--container {
	position: relative;
}

.quintlab-story__section--container__slider {
	margin: 0 auto;
    max-width: 100%;
}
.quintlab-story__section--container__slider .swipe-txt {
	text-align: center;
	font-size: 14px;
	color: #737373;
	display: block;
	padding-top: 10px;
}

.flipster__item__content figure {
	position: relative;
}
.flipster__item__content figcaption {
	position: absolute;
	padding: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	color: #fff;
	font-weight: 700;
	text-align: center;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, left, right);
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -ms-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0,0.5));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent', EndColorStr='rgba(0, 0, 0, 0.5)')"
}
.quintlab-details {

}
.quintlab-details__content {
	margin: 0 auto;
    max-width: 800px;
    padding-top: 30px;
    color: #333;
    line-height: 1.75em;
}
.quintlab-details__content img {
	width: 100%;
	display: block;
}
.quintlab-details__content p,
.quintlab-details__content blockquote {
	color: #333;
	font-size: 19px;
	margin-bottom: 15px;
	font-family: 'Merriweather', 'georgia', serif;
}
.quintlab-details__content--quote {
    /*padding-left: 20px;*/
    position: relative;
    /*border-left: 5px #DE6DC5 solid;*/
}
.quintlab-details__content--quote blockquote {
	font-style: italic;
	font-size: 26px;
	color: #DE6DC5;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: -.0375em;
	font-family: 'Merriweather', 'georgia', serif;
}
.quintlab-details__content--headline {
	margin: 5px 0;
    font-size: 30px;
    color: #f0b736;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
    /*font-family: "Merriweathersans",sans-serif !important;*/
}
.quintlab-details__content--headline.first {
	color: #a95bbb;
}
.quintlab-details__content--headline.second {
	color: #bd4d34;
}
.quintlab-details__content--headline.third {
	color: #02a0b9;
}
.quintlab-details__content--headline.forth {
	color: #ce3c65;
}

.quintlab-details__content--media {
	margin: 0 auto;
	width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.quintlab-details__content--media figcaption {
	font-size: 12px;
	line-height: 18px;
	color: #333;
	padding-top: 5px;
	/*letter-spacing: 1.15px;*/
	font-family: "Merriweather","Georgia",serif !important;
    font-weight: 700 !important;
    text-align: center;
}
.quintlab-details__content--media figcaption em {
	font-style: italic;
	display: block;
}
.quintlab-details__content--iframe {
	margin: 0 auto 15px;
	width: 100%;
    max-width: 100%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.quintlab-details__content--iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 619px) {
	.quintlab-story {
		font-size: 17px;
    	line-height: 1.5625rem;
	}
}