<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="apple-mobile-web-app-title" content="">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="theme-color" content="#000" />
<title>Immersive: Banaras’s Dev Deepawali, The Diwali Celebrated By Gods</title>
<meta name="description" content="Experience the story of ‘another Diwali’ in Benaras, where the Gods ‘descend for the celebrations’.">
<meta name="keywords" content="varanasi, banaras, dev, deepawali, diwali, god, descend">
<meta name="copyright" content="The Quint">
<meta name="publisher" content="The Quint">

<!-- OG -->
<meta property="og:title" content="Immersive: Banaras’s Dev Deepawali, The Diwali Celebrated By Gods">
<meta property="og:site_name" content="TheQuint">
<meta property="og:url" content="https://www.thequint.com/quintlab/banaras-dev-deepawali">
<meta property="og:description" content="Experience the story of ‘another Diwali’ in Benaras, where the Gods ‘descend for the celebrations’.">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.thequint.com/quintlab/banaras-dev-deepawali/assets/images/og.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@thequint">
<meta name="twitter:title" content="Immersive: Banaras’s Dev Deepawali, The Diwali Celebrated By Gods">
<meta name="twitter:description" content="Experience the story of ‘another Diwali’ in Benaras, where the Gods ‘descend for the celebrations’.">
<meta name="twitter:image" content="https://www.thequint.com/quintlab/banaras-dev-deepawali/assets/images/og.jpg">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="assets/images/favicon/favicon.ico">

<!-- Custom styles for this template -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
<link href="assets/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="assets/css/base.css" rel="stylesheet" media="all">
<link href="assets/css/swiper.min.css" rel="stylesheet" media="all">
<link href="assets/css/theme.css" rel="stylesheet" media="all">
<link href="assets/css/responsive.css" rel="stylesheet" media="all">

<!-- Google Analytics -->
<script> var gaTrackerCode = 'UA-58739020-1'; if (gaTrackerCode != null) { (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', gaTrackerCode, 'auto'); ga('send', 'pageview'); } </script>






<!-- Begin comScoreTag -->

<script>

window.COMSCORE_OPTS = { c1: "2", c2: "20519288" };

var _comscore = _comscore || [];

_comscore.push(COMSCORE_OPTS);

(function() {

var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;

s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";

el.parentNode.insertBefore(s, el);

})();

</script>

<noscript>

<img alt="" src="http://b.scorecardresearch.com/p?c1=2&c2=20519288&cv=2.0&cj=1" />

</noscript>

<!-- End comScore Tag -->


<meta name="standout" content="https://www.thequint.com/quintlab/banaras-dev-deepawali"/>
</head>

<body>
<header class="wrapper header-wrapper"> <a class="logo" href="https://www.thequint.com" target="_blank"> <img alt="" src="assets/images/tq-logo.svg"> </a>
  <div class="share"> <a class="share-ico" href="javascript:void(0);">share</a>
    <ul class="social-ico">
      <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//thequint.com/quintlab/banaras-dev-deepawali/&t=Immersive:+Banaras’s+Dev+Deepawali,+The+Diwali+Celebrated+By+Gods"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/intent/tweet?source=https%3A//thequint.com/quintlab/banaras-dev-deepawali/&text=Experience the story of ‘another Diwali’ in Benaras, where the Gods ‘descend for the celebrations’. %20https%3A//thequint.com/quintlab/banaras-dev-deepawali"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  
</header>
<div class="swiper-container">
  <div class="swiper-wrapper">
	  
   
    
	  
  </div>
  <div class="swiper-pagination"></div>
	<a class="run-slider" href="javascript:void(0);">Run Swiper</a>
</div>
<script type="text/javascript" src="assets/js/jquery.min.js"></script> 
<script type="text/javascript" src="assets/js/swiper.min.js"></script> 
<script type="text/javascript" src="assets/js/functions.js"></script>
</body>
</html>