@charset "utf-8";

@media (max-width:1024px) {
.header-top {
	max-width: 480px;
}
.intro-text {
	max-width: 700px;
	font-size: 150%;
	padding: 10px 0px;
}
.img-eng-text {
	width: 38%;
}
}

@media screen and (max-width: 900px) {
	
	
.intro-text {
	font-size: 120%;
}
.img-design-ring {
	margin-top: -45%;
}
.qt-logo {
	display: block;
}
.img-eng-text {
	margin: 3px 0 0 0;
}
	
	.details-wrapper{
		margin-top: 90px;
	}
	
	.btn-back {
		top: 20px;
		width: 40px;
		height: 40px;
		left: 20px;
		z-index: 1000;
	}
	
	.btn-back i {
		line-height: 40px;
		padding: 0;
	}
	
/*
	.top-wrapper {
	position: fixed;
	z-index: 1000;
	background: #CC8A39;
	height: 85px;
	width: 100%;
	top: 0;
}
	
*/
	
	.logo.details-logo{
		position: absolute;
		left: 50%;
		top: 20px;
		margin-left: -50px;
		
	}
	
	.logo.index-logo{
		display: none;
	}
	
	
}


@media screen and (max-width:767px){
	.btn-back {
		top: 15px;
		width: 35px;
		height: 35px;
		left: 15px;
		z-index: 1000;
		
	}
	.btn-back i {
	line-height: 35px;
	}
	
	
	.details-wrapper{
		margin-top: 65px;
	}
	.logo.details-logo{
		margin-left: -30px;
		top: 15px;
	}
	
	
}

@media screen and (max-width: 580px) {
.move-down {
	margin: 10px auto 20px auto;
}
.body-wrapper .container {
	max-width: 100%;
	padding: 0px 2px;
}

.track {
	display: block;
	margin: 0 0 0 -19px;
	top: -3px;
	width: 38px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.parking {
	width: 53px;
	top: -45px;
	margin-left: -24px;
}
	.grid{margin: 0px 0px;}
	
	.body-wrapper .container{
		/*overflow-x: hidden;*/
		padding: 0;
	}
	
.grid li {
	padding: 5px 13px;
}
.details-container {
	margin: 0 auto;
}
.grid li a {
	border-width: 3px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.grid li a .list-img img {
	padding: 10px;
}
.grid li a {
	padding: 5px;
}
.grid li a figcaption {
	font-size: 115%;
	padding: 5px 0 3px 0;
}
.playlist li.list {
	position: relative;
	margin: 60px 0 0 0;
	padding: 0px 0px 60px 0px;
}
.playlist li.list::before {
	bottom: -37px;
	width: 90px;
	height: 80px;
	margin-left: -45px;
	background-size: 60%;
}
.playlist li.list h3 {
	font-size: 170%;
}
.personal-details h4, .personal-details h5, .personal-details h6 {
	font-size: 18px;
}
.personal-details h4 label, .personal-details h5 label, .personal-details h6 label {
	font-size: 20px;
}
.collection-stories h2 {
	font-size: 20px;
}
.collection-stories li a {
	font-size: 18px;
}
.filter {
	display: block;
	left: inherit;
	right: 13px;
	padding: 0;
}
.filter-options {
	display: none;
	width: 180px;
	left: inherit;
	right: 13px;
	top: 0;
	border-width: 3px;
	padding: 15px;
	z-index: 999999;
}
	
.grid-area.is-open {
	transform: inherit;
	
	
}
	
.filter-options.is-open{
		display: block;
		
	}
}

@media screen and (max-width: 350px) {
.grid li a figcaption {
	font-size: 100%;
}
}
