@charset "utf-8";

@media (max-width:1024px) {
.header-top {
	max-width: 480px;
}
.intro-text {
	max-width: 700px;
	font-size: 150%;
	padding: 10px 0px;
}
.img-eng-text {
	width: 38%;
}
}

@media screen and (max-width: 900px) {
.grid li {
	width: 50%;
}
.intro-text {
	font-size: 120%;
}
.img-design-ring {
	margin-top: -45%;
}
.qt-logo {
	display: block;
}
.img-eng-text {
	margin: 3px 0 0 0;
}
}

@media screen and (max-width: 580px) {
	
	.filter-options, .filter{display: none;}
	.body-wrapper .container{
		max-width: 100%;
		padding: 0px 2px;
	}
	.grid-area{
		padding-left: 34px;
	}
	
	.track {
	display: block;
	left: 0px;
	margin: 0;
	top: -12px;
	width: 38px;
}
	
	.grid li{
		padding: 3px;
	}
	.details-container{
		margin: 0 auto;
	}
	
	.grid li a{
		border-width: 3px;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	}
	
	.grid li a .list-img img{
		padding: 10px;
	}
	.grid li a{
		padding: 5px;
	}
	.grid li a figcaption{
		font-size: 100%;
		padding: 5px 0 3px 0;
	}
	
.playlist li.list {
	position: relative;
	margin: 60px 0 0 0;
	padding: 0px 0px 60px 0px;
}
.playlist li.list::before {
	bottom: -37px;
	width: 90px;
	height: 80px;
	margin-left: -45px;
	background-size: 60%;
}
.playlist li.list h3 {
	font-size: 170%;
}
.personal-details h4, .personal-details h5, .personal-details h6 {
	font-size: 18px;
}
.personal-details h4 label, .personal-details h5 label, .personal-details h6 label {
	font-size: 20px;
}
.collection-stories h2 {
	font-size: 20px;
}
.collection-stories li a {
	font-size: 18px;
}
}
