@charset "utf-8";
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	background-image: url(../images/body-bg.jpg);
	background-repeat: repeat;
	background-size: 5%;
	background-attachment: fixed;
	color: #4d4d4d;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #4d4d4d;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #4d4d4d;
	font-weight: 900;
	font-size: 100%;
}
/*Start CSS*/
.container {
	margin: 0 auto;
	max-width: 90%;
}
.header-top {
	max-width: 40%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.design-ring-container {
	position: relative;
	overflow: hidden;
}
.img-design-ring{
	margin-top: -51%;
	animation: 40s linear 0s normal none infinite running spin;
}

.inner-ring-content{
	position: absolute;
	width: 100%;
	height: auto;
	top: 4%;
	left: 0;
	text-align: center;
}
.single-content{
	display: block; 
	width: 100%;
}

.qt-logo{
	display: none;
	width: 22%;
	margin: 0 auto;
	
	
}

.tq-logo img{width: 100%;}
.img-eng-text{
	width: 42%;
	margin-top: 3%;
}

.img-gujarat-text{
	width: 23%;
	margin-top: 2%;
}

.intro-text {
	font-size: 170%;
	padding: 1% 4%;
	font-weight: 800;
	color: #fdf8c8;
	text-shadow: 2px 2px 0px #8f5711;
	letter-spacing: 0.9px;
	line-height: 120%;
	text-align: center;
	max-width: 70%;
	margin: 0 auto;
}

/*===============================================================*/

.grid {
	list-style: none;
	margin: 0px auto;
	padding: 0;
}
.grid li {
	display: block;
	float: left;
	padding: 10px;
	width: 16.666%;
	opacity: 0;
}
@media screen and (max-width: 1366px) {
	.grid li {width:25%;}
}

@media screen and (max-width: 992px) {
	.grid li {width:50%;}
}



.grid li.shown, 
.no-js .grid li, 
.no-cssanimations .grid li {
	opacity: 1;
}
.grid li a, .grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}
/* Effect 1: opacity */

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-6 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}
.grid.effect-6 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotateX(-80deg);
	transform: rotateX(-80deg);
	-webkit-animation: flip .8s ease-in-out forwards;
	animation: flip .8s ease-in-out forwards;
}
 @-webkit-keyframes flip {
 0% {
}
 100% {
-webkit-transform: rotateX(0deg);
opacity: 1;
}
}
 @keyframes flip {
 0% {
}
 100% {
-webkit-transform: rotateX(0deg);
transform: rotateX(0deg);
opacity: 1;
}
}


.grid li a{
	border-width: 5px;
	text-align: center;
	border-style: solid;
	border-color: #878474;
	background-color: #fbf2b9;
	display: block;
	padding: 10px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

.grid li a .list-img{
	border-radius: 100%;
	overflow: hidden;
	background-image:url(../images/ring.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	
}

.grid li a .list-img img{
	padding: 20px;
	border-radius: 100%;
	width: 100%;
}

.grid li a figcaption{
	font-size: 150%;
	line-height: 120%;
	font-weight: 900;
	color: #2b706d;
	padding: 10px 0;
}
.grid li a figcaption span{
	background: #878474;
	color: #fbf2b9;
	padding: 0px 5px;
	word-wrap: break-word;
}


.move-down{
	width: 30px;
	margin: 20px auto 40px auto;
	display: block;
	-moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.track{
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -25px;
	background: url(../images/track.svg) repeat-y;
	z-index: 9999;
	background-size: 100%;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

.car{
	width: 100%;
	padding: 5px;
	z-index: 50;
	position: absolute;
	top: -55px;
	-webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -o-transition: top 1s ease;
    -ms-transition: top 1s ease;
    transition: top 1s ease
}
.car.rotate
{
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}

.filter{
	display: block;
	padding: 0 10px;
	position: absolute;
	left: 0;
	top: -56px;
}

.filter .btn{
	float: left;

	
}



.btn{
	color: #FBF2B9;
	background: #d65065;
	padding: 3px;
	font-size: 18px;
	line-height: 100%;
	display: inline-block;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	
}
.btn:hover{
	color: #fff;
}

.btn span{
	display: block;
	padding: 10px 18px;
	border: 1px solid rgba(0,0,0,0.2);
}

.filter-options {
	padding: 20px;
	background: #FBF2B9;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 18%;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	font-weight: 700;
	color: #fff;
	border-width: 5px;
	border-style: solid;
	border-color: #D65065;
}

.filter-options ul{
	margin-bottom: 15px;
}

.filter-options h4{
	font-weight: 700;
	margin:  0 0 5px 0;
	color: #D65065;
}

.filter-options ul li{
	margin:0 0 8px 0;
	position: relative;
	padding-left: 18px;
}

.filter-options ul li.is-active a{
	padding: 2px 5px;
	background: #D65065;
	color: #FBF2B9;
	
}



.filter-options ul li::before{
	position: absolute;
	top: 4px;
	left: 0;
	content: '';
	width: 12px;
	height: 12px;
	background: #A7A9AC;
	border-radius: 100%;
/*	border: 2px solid #FBF2B9;*/
}



.filter-options ul li:last-child{
	margin: 0
}

.filter-options ul li a{
	display: block;
	color: #4d4d4d;
	line-height: 100%;
	padding: 2px 0px;
	
}

.filter-options ul li a:hover{
	color: #333;
}
.filter-options ul li.is-active a:hover{
	color: #FBF2B9;
}



#bars {
height: 100%;
left: 50%;
position: absolute;
top: -50%;
width: 100%;
}
.bar
{
  position:absolute;
    height: 25px;
  width:5px;
}

.bar-inner{
   background: #666;
    bottom: 0px;
    height: 25px;
    position: absolute;
    width: 4px;
 
  transform-origin:100% 100%;
  animation: sound 0ms -800ms linear infinite alternate;
  animation-duration: 433ms;
}

@keyframes sound {
    0% {
 
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}


.parking {
	width: 70px;
	z-index: 100;
	position: absolute;
	top: -52px;
	left: 50%;
	margin-left: -32px;
}


/*Play List*/
body.grid-details{
	
}


.details-container{
	max-width: 680px;
	padding: 20px;
	position: relative;
	margin: 20px auto;
	background: #fbf2b9;
	border: 4px solid #CC8A39;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

.playlist li.list{
	position: relative;
	margin: 80px 0 0 0;
	padding: 0px 0px 80px 0px;
}

.playlist li.list:first-child{
	margin-top: 0;
}

.playlist li.list:last-child{
	padding-bottom: 0;
}


.playlist li.list:after{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #646567;
	content: '';
	
}

.playlist li.list::before {
	position: absolute;
	bottom: -37px;
	left: 50%;
	width: 100px;
	height: 80px;
	margin-left: -50px;
	content: '';
	background-image: url(../images/sep.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FBF2B9;
	background-size: 60%;
	z-index: 100;
}
.playlist li.list:last-child::after, .playlist li.list:last-child::before{
	display: none;
}


.playlist li.list h3 {
font-size: 200%;
line-height: 120%;
font-weight: 900;
color: #2b706d;
}

.playlist li.list h3 span{
	color: #fbf2b9;
	padding: 0px 5px;
}

.playlist li.list .frame-video{
	margin-top: 20px;
}

.personal-details{
	margin-top: 20px;
}

.personal-details p {
	margin: 10px 0 0 0;
	font-weight: 700;
	line-height: 140%;
}


.personal-details h4,
.personal-details h5,
.personal-details h6{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}

.personal-details h4 label,
.personal-details h5 label,
.personal-details h6 label{
	font-size: 23px;
	font-weight: 800;
}


.collection-stories ul{
	margin: 0px -10px;
}
.collection-stories li{
	float: left;
	width: 50%;
	padding: 10px;
}

.collection-stories li a {
	background: #4d4d4d;
	color: #FBF2B9;
	display: block;
	padding: 10px;
	font-size: 20px;
	line-height: 130%;
}

.collection-stories h2 {
	font-size: 23px;
	font-weight: 800;
	margin: 20px 0 0 0;
	line-height: 100%;
}

.grid-area{
	transition:  transform ease-in-out 0.3s;
	transform-origin: right top;
	
}


.grid-area.is-open {
	transform: scale3d(0.8,0.8,1);
	
	
}
.grid-options{
	
}



.btn-back {
	background: #D65065;
	border-radius: 100%;
	display: block;
	font-size: 20px;
	height: 50px;
	overflow: hidden;
	width: 50px;
	color: #FDF8C8;
	text-align: center;
	position: fixed;
	top: 40px;
	left: calc(50% - 372px);
}

.btn-back i{
	line-height: 47px;
	padding-right: 15px;
}






/*ctg-orange*/

.grid li.ctg-orange a{
	border-color: #fc8e17;
}

.grid li.ctg-orange a .list-img{
	background-image:url(../images/ring-orage.svg);
}

.grid li.ctg-orange a figcaption span, 
.playlist li.ctg-orange h3 span,
.playlist li.ctg-orange .collection-stories li a,
.filter-options ul li.ctg-orange::before{
	background: #fc8e17;
}

.playlist li.ctg-orange .personal-details label,
.playlist li.ctg-orange .collection-stories h2{
	color: #fc8e17;
}

/*ctg-blueviolet*/

.grid li.ctg-blueviolet a{
	border-color: #6d6ba1;
}

.grid li.ctg-blueviolet a .list-img{
	background-image:url(../images/ring-blueviolet.svg);
}

.grid li.ctg-blueviolet a figcaption span, 
.playlist li.ctg-blueviolet h3 span,
.playlist li.ctg-blueviolet .collection-stories li a,
.filter-options ul li.ctg-blueviolet::before{
	background: #6d6ba1;
}

.playlist li.ctg-blueviolet .personal-details label,
.playlist li.ctg-blueviolet .collection-stories h2{
	color: #6d6ba1;
}

/*ctg-turquoise*/

.grid li.ctg-turquoise a{
	border-color: #39b58c;
}

.grid li.ctg-turquoise a .list-img{
	background-image:url(../images/ring-turquoise.svg);
}

.grid li.ctg-turquoise a figcaption span, 
.playlist li.ctg-turquoise h3 span,
.playlist li.ctg-turquoise .collection-stories li a,
.filter-options ul li.ctg-turquoise::before{
	background: #39b58c;
}

.playlist li.ctg-turquoise .personal-details label,
.playlist li.ctg-turquoise .collection-stories h2{
	color: #39b58c;
}

/*ctg-limegreen*/

.grid li.ctg-limegreen a{
	border-color: #679b35;
}

.grid li.ctg-limegreen a .list-img{
	background-image:url(../images/ring-limegreen.svg);
}

.grid li.ctg-limegreen a figcaption span, 
.playlist li.ctg-limegreen h3 span,
.playlist li.ctg-limegreen .collection-stories li a,
.filter-options ul li.ctg-limegreen::before{
	background: #679b35;
}

.playlist li.ctg-limegreen .personal-details label,
.playlist li.ctg-limegreen .collection-stories h2{
	color: #679b35;
}
/*ctg-brown*/

.grid li.ctg-brown a{
	border-color: #cc522f;
}

.grid li.ctg-brown a .list-img{
	background-image:url(../images/ring-brown.svg);
}

.grid li.ctg-brown a figcaption span, 
.playlist li.ctg-brown h3 span,
.playlist li.ctg-brown .collection-stories li a,
.filter-options ul li.ctg-brown::before{
	background: #cc522f;
}

.playlist li.ctg-brown .personal-details label,
.playlist li.ctg-brown .collection-stories h2{
	color: #cc522f;
}



