body, .cube_cont {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 900;
	color: #4d4d4d;
	background: transparent;
}
.cube_cont {
	top: 120px;  
	
	left: 120px;
	width: 0px;
}
[class*='cube'] {
	position: absolute;
}
.cube {
	transform-style: preserve-3d;
	animation: ani 2s ease-in-out infinite;
}
img {
	width: 100%;
}
img.score {
	width: 100%;
	height: 100%;
	transform: rotate(180deg);
	animation: ani_2 2s ease-in-out infinite;
}


.cube__face {
	margin: -5em;
	width: 10em;
	background-color: #316295;
	height: 10em;
	box-shadow: inset 0 0 0 2px;
 --i: 0;
 transform: rotate3d(var(--i), calc(1 - var(--i)), 0, calc(var(--m, 0)*90deg)) translateZ(5em);
}
.cube__face:nth-child(n + 5) {
 --i: 1;
}
.cube__face:nth-child(2) {
 --m: 1;
}
.cube__face:nth-child(3) {
 --m: 2;
}
.cube__face:nth-child(4) {
 --m: 3;
}
.cube__face:nth-child(5) {
 --m: 1;
}
.cube__face:nth-child(6) {
 --m: -1;
}
 @keyframes ani {
 0% {
 transform: rotateY(0deg) rotateX(0deg);
}
 50% {
 transform: rotateY(90deg) rotateX(90deg) scale3d(0.5, 0.5, 0.5);
}
 100% {
 transform: rotateY(180deg) rotateX(180deg);
}
}
@keyframes ani_2 {
 0% {
 transform: rotateY(0deg) rotateX(0deg);
}
 50% {
 transform: rotateY(0deg) rotateX(0deg);
}
 50.1% {
 transform: rotateY(180deg) rotateX(180deg);
}
 100% {
 transform: rotateY(180deg) rotateX(180deg);
}
}

/*Custom CSS*/
.data-views{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: rotate(180deg);
	animation: ani_2 2s ease-in-out infinite;
}

.data-views li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #316295;
	
}

.data-views::after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	z-index: 2;
	
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.0) 55%, rgba(0,0,0,0.4) 90%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.0) 55%, rgba(0,0,0,0.4) 90%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.0) 55%, rgba(0,0,0,0.4) 90%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.0) 55%, rgba(0,0,0,0.4) 90%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.0) 55%, rgba(0,0,0,0.4) 90%);
	
	
}

.single-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.single-content h3 {
	font-size: 25px;
	color: #fff;
	line-height: 100%;
	text-shadow: 3px 3px 0px #393737;
	margin: 8px 0px 5px 0px;
	font-weight: 900;
}


.is-previous .single-content h3 {
	font-size: 20px;
	margin: 10px 0px 0px 0px;
}

.team-name {
	font-size: 30px;
	line-height: 100%;
	padding: 2px 0px
}



.is-previous .team-name{
	font-size: 30px;
	padding: 0px;
}
.is-previous .team-name span{
	font-size: 40px;
	line-height: 90%;
}

.is-previous .vs {
	padding-top: 5px;
}

.vs {
	font-size: 20px;
	line-height: 100%;
	
}
.data-views li:nth-child(2),
.data-views li:nth-child(3),
.data-views li:nth-child(4){
	display: none;
}


.close-modal {
	position: absolute;
	top: -97px;
	right: -98px;
	width: 40px;
	height: 40px;
	background: #000;
	display: block;
	z-index: 1;
	font-size: 0px;
	color: transparent;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border-radius: 100%;
}
.close-modal::after, .close-modal::before {
	width: 65%;
	height: 5px;
	background: #fff;
	z-index: 2;
	content: '';
	position: absolute;
	top: 18px;
	left: 7px;
	transform: rotate(45deg);
	transition: all 0.3s ease-in-out;
}

.close-modal::before {
	transform: rotate(-45deg);
}
.close-modal:hover{
	background: rgba(0,0,0,1);
}

.close-modal:hover::after, .close-modal:hover::before{
	background: #B20000;
}