@charset "utf-8";

@media (max-width:1024px) {
.main-text {
	left: 3%;
}
.total-count {
	right: 3%;
}
}

@media (max-width:1023px) {
.wrapper.body-wrapper {
	background-position: center -100px;
}
.v-text {
	position: inherit;
	top: 0%;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
.main-text {
	position: relative;
	width: 100%;
	left: inherit;
}
.total-count {
	position: relative;
	width: 100%;
	right: inherit;
}
.site-text {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 30%;
	padding: 0px 5%;
}
.site-text p {
	width: 500px;
	max-width: 100%;
	margin: 0 auto 20px auto;
}
.light {
	width: 15%;
}
.light.light-left {
	left: 10%;
}
.light.light-right {
	right: 10%;
}
}

@media (max-width:640px) {
.wrapper.body-wrapper {
	background-position: center -50px;
}
/* .btn-submit {
	width: 150px;
	margin-left: -75px;
	bottom: -27px
}*/
	
.crackers-items {
	width: 150px;
	margin-left: -75px;
}
.diwali-message {
	bottom: 160px;
}
.diwali-message h3 {
	font-size: 15px;
}
/*
.site-text {
	bottom: 195px;
}
*/
.site-text {
	top: 70px;
	bottom: inherit;
}
.light {
	width: 18%;
}
.light.light-left {
	left: 5%;
}
.light.light-right {
	right: 5%;
}
.site-text p {
	margin: 0 auto 15px auto;
	width: 280px;
}
.main-text h2 {
	font-size: 15px;
	margin-bottom: 10px;
}
body {
	font-size: 12px;
}
.total-count h3 {
	font-size: 15px;
	margin-bottom: 10px;
}
#totalCount {
	font-size: 20px;
	margin-bottom: 20px;
}
.slick-prev {
	left: -30px;
}
[dir='rtl'] .slick-prev {
	right: -30px;
}
.slick-next {
	right: -10px;
}
[dir='rtl'] .slick-next {
	left: -10px;
}
	
	.slick-prev:before,
.slick-next:before
{
    
    font-size: 20px;
    
}
	
	.slick-prev,
.slick-next
{
    

    width: 20px;
	height: 20px;}
}
