@charset "utf-8";
body {
	font-family: 'Paprika', cursive;
	font-size: px;
	font-weight: 400;
	color: #fff;
	overflow: hidden;
	background-color: #2A264B;
	width: 100%;
	position: fixed;
	transform: translateZ(0px); 
}
html, body {
	height: 100%;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #ffce03;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 400;
	font-size: 100%;
}
/*Start CSS*/



.wrapper.body-wrapper {
	background-attachment: initial;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../images/bg.svg");
	background-origin: padding-box;
	background-position: center 35%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: fixed;
	width: 100%;
	transform: translateZ(0px);
}
.wrapper.body-wrapper .main-bg {
	width: 100%;
	position: absolute;
}
.site-text {
	text-align: center;
}
.main-text {
	position: absolute;
	height: 100%;
	top: 0;
	left: 5%;
	width: 350px;
	max-width: 100%;
}
.main-text p {
	line-height: 170%;
	text-shadow: 2px 3px 2px rgba(0,0,0,1);
}
.main-text h2 {
	color: #ffce03;
	font-size: 28px;
	line-height: 100%;
	margin-bottom: 15px;
	font-family: 'Paprika', cursive;
	text-shadow: 2px 3px 2px rgba(0,0,0,1);
}
.v-text {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.total-count {
	position: absolute;
	top: 0;
	right: 5%;
	height: 100%;
	font-family: 'Paprika', cursive;
}
.total-count h3 {
	color: #ffce03;
	font-size: 22px;
	line-height: 100%;
	margin-bottom: 15px;
	text-shadow: 2px 3px 2px rgba(0,0,0,1);
}
#totalCount {
	line-height: 100%;
	font-size: 50px;
	text-shadow: 2px 3px 2px rgba(0,0,0,1);
}
#canvas-container canvas {
	position: absolute;
	z-index: 3;
}
.light {
	position: absolute;
	bottom: 15px;
	width: 10%;
	z-index: 1;
}
.light.light-left {
	left: 13%;
}
.light.light-right {
	right: 13%;
}
.footer-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 38%;
	z-index: 1;
	transform: translateZ(0px);
}
.btn-submit {
	padding: 0;
	background: transparent;
	border: 0;
	cursor: pointer;
}
.crackers-items {
	width: 200px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-left: -100px;
	z-index: 9999;
	visibility: hidden;
}
.crackers-items.crackers-visible {
	visibility: visible;
}
/*LIGHTS*/
.lightrope {
	text-align: center;
	white-space: nowrap;
	/*overflow: hidden;*/
	position: absolute;
	z-index: 1;
	margin: -15px 0 0 0;
	padding: 0;
	pointer-events: none;
	width: 100%;
	display: none;
}
.lightrope.visible {
	display: block;
}
.lightrope li {
	position: relative;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	list-style: none;
	padding: 0;
	width: 12px;
	height: 28px;
	border-radius: 50%;
	margin: 20px;
	display: inline-block;
}
/*Color theme 1*/

.lightrope.color-theme-1 li {
	background: #00f7a5;
	box-shadow: 0px 4.66667px 24px 3px #00f7a5;
}
.lightrope.color-theme-1 li:nth-child(2n+1) {
	background: cyan;
	box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
}
.lightrope.color-theme-1 li:nth-child(4n+2) {
	background: #f70094;
	box-shadow: 0px 4.66667px 24px 3px #f70094;
}
/*Color theme 2*/

.lightrope.color-theme-2 li {
	background: cyan;
	box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
}
.lightrope.color-theme-2 li:nth-child(2n+1) {
	background: #f70094;
	box-shadow: 0px 4.66667px 24px 3px #f70094;
}
.lightrope.color-theme-2 li:nth-child(4n+2) {
	background: #00f7a5;
	box-shadow: 0px 4.66667px 24px 3px #00f7a5;
}
/*Color theme 3*/

.lightrope.color-theme-3 li {
	background: #f70094;
	box-shadow: 0px 4.66667px 24px 3px #f70094;
}
.lightrope.color-theme-3 li:nth-child(2n+1) {
	background: #00f7a5;
	box-shadow: 0px 4.66667px 24px 3px #00f7a5;
}
.lightrope.color-theme-3 li:nth-child(4n+2) {
	background: cyan;
	box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
}
.lightrope li:nth-child(odd) {
	-webkit-animation-duration: 1.8s;
	animation-duration: 1.8s;
}
.lightrope li:nth-child(3n+1) {
	-webkit-animation-duration: 1.4s;
	animation-duration: 1.4s;
}
.lightrope li:before {
	content: "";
	position: absolute;
	background: #222;
	width: 10px;
	height: 9.33333px;
	border-radius: 3px;
	top: -4.66667px;
	left: 1px;
}
.lightrope li:after {
	content: "";
	top: -14px;
	left: 9px;
	position: absolute;
	width: 52px;
	height: 18.66667px;
	border-bottom: solid #222 2px;
	border-radius: 50%;
}
.lightrope li:last-child:after {
	content: none;
}
.lightrope li:first-child {
	margin-left: -40px;
}
 @-webkit-keyframes flash-1 {
 0%, 100% {
 background: #00f7a5;
 box-shadow: 0px 4.66667px 24px 3px #00f7a5;
}
 50% {
 background: rgba(0, 247, 165, 0.4);
 box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
}
}
 @keyframes flash-1 {
 0%, 100% {
 background: #00f7a5;
 box-shadow: 0px 4.66667px 24px 3px #00f7a5;
}
 50% {
 background: rgba(0, 247, 165, 0.4);
 box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
}
}
@-webkit-keyframes flash-2 {
 0%, 100% {
 background: cyan;
 box-shadow: 0px 4.66667px 24px 3px cyan;
}
 50% {
 background: rgba(0, 255, 255, 0.4);
 box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
}
}
@keyframes flash-2 {
 0%, 100% {
 background: cyan;
 box-shadow: 0px 4.66667px 24px 3px cyan;
}
 50% {
 background: rgba(0, 255, 255, 0.4);
 box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
}
}
@-webkit-keyframes flash-3 {
 0%, 100% {
 background: #f70094;
 box-shadow: 0px 4.66667px 24px 3px #f70094;
}
 50% {
 background: rgba(247, 0, 148, 0.4);
 box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
}
}
@keyframes flash-3 {
 0%, 100% {
 background: #f70094;
 box-shadow: 0px 4.66667px 24px 3px #f70094;
}
 50% {
 background: rgba(247, 0, 148, 0.4);
 box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
}
}


/*hvr*/
@-webkit-keyframes hvr-pulse-grow {
to {
-webkit-transform:scale3d(1.1, 1.1, 1);
transform:scale3d(1.1, 1.1, 1)
}
}
@keyframes hvr-pulse-grow {
to {
-webkit-transform:scale3d(1.1, 1.1, 1);
transform:scale3d(1.1, 1.1, 1)
}
}
.hvr-pulse-grow {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent
}
.hvr-pulse-grow {
	-webkit-animation-name: hvr-pulse-grow;
	animation-name: hvr-pulse-grow;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate
}
.diwali-message {
	position: absolute;
	width: 100%;
	bottom: 222px;
	left: 0;
	text-align: center;
}
.diwali-message h3 {
	color: #ffce03;
	font-size: 22px;
	text-shadow: 2px 3px 2px rgba(0,0,0,1);
}
.landscape {
	position: absolute;
	height: 100%;
	width: auto;
	top: 0px;
	opacity: 0.3;
}
.landscape img {
	height: 100%;
	width: auto;
	max-width: none;
}
/* Candle */
.candle {
	position: absolute;
	top: 0%;
	left: 50%;
	width: 1px;
	height: 6px;
	margin-left: -2px;
	background: black;
	-webkit-animation: candleBob 15s ease-in-out infinite;
	animation: candleBob 15s ease-in-out infinite;
}
.candle:after {
	content: "";
	position: absolute;
	bottom: calc(100% - 2px);
	left: -7px;
	width: 16px;
	height: 32px;
	border-radius: 100%;
	-webkit-animation: candleFlicker 6s linear infinite, candleShadow 1s linear infinite;
	animation: candleFlicker 6s linear infinite, candleShadow 1s linear infinite;
	-webkit-animation-delay: inherit;
	animation-delay: inherit;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	background-color: #0df;
	background-image: -webkit-radial-gradient(4px 16px, circle, #ffc79e, #E5541E);
	background-image: radial-gradient(circle at 4px 16px, #ffc79e, #E5541E);
	-webkit-filter: blur(2px) contrast(1.5);
	filter: blur(2px) contrast(1.5);
}
 @-webkit-keyframes candleFlicker {
 0%, 100% {
 -webkit-transform: rotate(8deg) scaleX(1) scaleY(1);
 transform: rotate(8deg) scaleX(1) scaleY(1);
}
 12.5% {
 -webkit-transform: rotate(4deg) scaleX(0.5) scaleY(0.8);
 transform: rotate(4deg) scaleX(0.5) scaleY(0.8);
}
 25% {
 -webkit-transform: rotate(0deg) scaleX(1.1) scaleY(1);
 transform: rotate(0deg) scaleX(1.1) scaleY(1);
}
 37.5% {
 -webkit-transform: rotate(-4deg) scaleX(0.5) scaleY(0.8);
 transform: rotate(-4deg) scaleX(0.5) scaleY(0.8);
}
 50% {
 -webkit-transform: rotate(-8deg) scaleX(0.9) scaleY(1.05);
 transform: rotate(-8deg) scaleX(0.9) scaleY(1.05);
}
}
 @keyframes candleFlicker {
 0%, 100% {
 -webkit-transform: rotate(8deg) scaleX(1) scaleY(1);
 transform: rotate(8deg) scaleX(1) scaleY(1);
}
 12.5% {
 -webkit-transform: rotate(4deg) scaleX(0.5) scaleY(0.8);
 transform: rotate(4deg) scaleX(0.5) scaleY(0.8);
}
 25% {
 -webkit-transform: rotate(0deg) scaleX(1.1) scaleY(1);
 transform: rotate(0deg) scaleX(1.1) scaleY(1);
}
 37.5% {
 -webkit-transform: rotate(-4deg) scaleX(0.5) scaleY(0.8);
 transform: rotate(-4deg) scaleX(0.5) scaleY(0.8);
}
 50% {
 -webkit-transform: rotate(-8deg) scaleX(0.9) scaleY(1.05);
 transform: rotate(-8deg) scaleX(0.9) scaleY(1.05);
}
}
@-webkit-keyframes candleShadow {
 0% {
 box-shadow: 0 0 0 0 rgba(229, 84, 30, 0);
}
 30% {
 box-shadow: 0 -3px 0 2px rgba(229, 84, 30, 0.6);
}
 100% {
 box-shadow: 0 -20px 0 -6px rgba(229, 84, 30, 0.2);
}
}
@keyframes candleShadow {
 0% {
 box-shadow: 0 0 0 0 rgba(229, 84, 30, 0);
}
 30% {
 box-shadow: 0 -3px 0 2px rgba(229, 84, 30, 0.6);
}
 100% {
 box-shadow: 0 -20px 0 -6px rgba(229, 84, 30, 0.2);
}
}
