@charset "utf-8";
body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #333;
	overflow-x: hidden;
	background: #fff;
}
p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
}
.is-loading {
	display: block;
}
.header-wrapper {
	height: 100vh;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #071624;
	
/*
	background: #2a1dd3;
	background: -webkit-linear-gradient(left, #2a1dd3, #f0256a);
	background: -o-linear-gradient(left, #2a1dd3, #f0256a);
	background: linear-gradient(to right, #2a1dd3, #f0256a);
*/
}
.footer-wrapper {
	padding: 25px 0px;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #071624;
/*
	background: #2a1dd3;
	background: -webkit-linear-gradient(left, #2a1dd3, #f0256a);
	background: -o-linear-gradient(left, #2a1dd3, #f0256a);
	background: linear-gradient(to right, #2a1dd3, #f0256a);
*/

	text-align: center;
}
.footer-logos{
	display:inline-block;
}
.footer-logos li{
	float: left;
	margin: 0px 30px;
}

.footer-logos li a{
	display: block;
	opacity: 0.6;
 
}

.footer-logos li a:hover{
opacity: 1;
}

.footer-logos li a img{
	width: 100%;
	min-width: 0;
}
.footer-logos li.logo-the-quint{
	width: 100px;
}
.footer-logos li.logo-bloomberg-quint{
	width: 180px;
}

.footer-logos li.logo-hindi-quint{
	width: 80px;
}

.footer-logos li.logo-neon{
	width: 70px;
}

.footer-logos li.logo-fit{
	width: 32px;
}


.body-wrapper {
	padding: 50px 0px 0px 0px;
}
.fixed-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.top-wrapper {
	margin: 0 30px;
	padding: 15px 0px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.logo-bq {
	width: 270px;
	display: block;
}
.captions-wrapper {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 30px;
	color: #fff;
}
.logo-tql {
	width: 240px;
	display: block;
}
.caption {
	padding-left: 5%;
	/*	max-width: 590px;*/
	max-width: 820px;
}

.caption h1 {
	color: #ff5f01;
	font-size: 50px;
	margin: 0px 0 0 0;
	line-height: 110%;
	position: relative;
	text-transform: uppercase;
	font-weight: 900;
}
.caption h2 {
	color: #fff;
	font-size: 26px;
	margin: 15px 0 0 0;
	line-height: 110%;
	position: relative;
	padding-left: 12px;
	text-transform: uppercase;
}


.caption h2::before {
	width: 4px;
	height: calc(100% - 8px);
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	left: 0;
	background: #ff5f01;
}
.caption p {
	margin: 15px 0 0 0;
	line-height: 150%;
	color: rgba(255,255,255,0.8);
	font-size: 21px;
}
.list-items {
	margin: 0 -30px;
}
.list-items li {
	position: relative;
	float: left;
	width: 33.333%;
	margin-bottom: 40px;
}
.list-items li figure {
	margin: 0px 30px;
}
.list-items li figcaption {
}
.list-items li p {
	font-size: 17px;
	line-height: 120%;
	font-weight: 400;
	margin: 10px 0 0 0;
}
.list-image {
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/loading.svg);
	background-color: #dadada;
}
.bg-image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	top: 0;
	left: 0;
}
.list-image .bg-image {
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.list-items li a:hover .bg-image {
	-webkit-transform: scale3d(1.3, 1.3, 1);
	transform: scale3d(1.3, 1.3, 1);
}
.list-items li a:hover p {
	color: #071624;
	text-decoration: underline;
}

.copy-right{
	color:rgba(255,255,255,0.5);
	font-size: 14px;
	padding-top: 10px;
	
}

