@charset "utf-8";
:root {
 --font-base: 'Poppins', sans-serif;
 --font-headline: 'Poppins', sans-serif;
 --color-blue: #0f5e90;
 --color-dark-blue: #212150;
 --color-orange: #fc6645;
 --color-white: #fff;
}
body {
    font-size: 16px;
    font-weight: 500;
    background: var(--color-white);
    font-family: var(--font-base);
    color: var(--color-blue);
    overflow-x: hidden;
    font-style: normal;/*
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
*/
}
/*body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: '';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    background-image: url("../images/top-bg.png");
    opacity: 0.08;
    pointer-events: none;
}*/
.is-loading {
    display: none !important;
}
.is-hide {
    display: none !important;
}
.is-show {
    display: block !important;
}
p {
    line-height: 160%;
    margin-bottom: 25px;
    margin: 0;
}
a {
    text-decoration: none;
    outline: none;
    color: var(--color-blue);
}
p span, p a, .banner-container h3 a {
    font-weight: 700;
    color: var(--color-orange);
}
button, a {
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 100%;
    font-family: var(--font-headline);
}
/*Webesite CSS*/
.header-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0px;
    z-index: 1000;
    height: 95px;
    transition: all 0.2s ease-in-out;
}
.header-up {
    transform: translate3d(0, -95px, 0);
}
.header-down {
    background-color: var(--color-white);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}
.header-wrapper .container {
    width: 90%;
    max-width: 100%;
}
.logo-tq {
    display: block;
    width: 90px;
    float: left;
    font-size: 0px;
}
.top-nav {
    float: right;
    margin-top: 8px;
}
.top-nav ul li {
    float: left;
    margin-left: 20px;
}
.top-nav ul li a {
    display: block;
    font-weight: 600;
    color: var(--color-blue);
    line-height: 100%;
    border: 1px solid rgba(0,0,0,0);
    padding: 10px 15px;
    border-radius: 30px;
}
.top-nav li:last-child a {
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}
.top-nav ul li a:hover, .top-nav ul li.is-active a {
    color: var(--color-orange);
}
.top-nav li:last-child a:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}
.banner-wrapper {
    position: relative;
    height: auto;
    /*	min-height: 100vh;*/
    width: 100%;
    padding-top: 95px;
}
.form-wrapper {
    padding: 50px 0px 20px 0;
}
.banner-container {
    text-align: center;
    padding-top: 20px;
}
.banner-wrapper h1 {
    width: 220px;
    margin: 0px auto 40px auto;
    line-height: 100%;
}
.banner-container {
    text-align: center;
}
.container-block {
    padding-bottom: 55px;
    position: relative;
}
.desti {
    position: absolute;
    top: -30px;
    left: 0px;
}
.container-block:last-child {
    padding-bottom: 0;
}
.is-text-big p {
    font-size: 18px;
}
.inner-container {
    position: relative;
    padding-left: 140px;
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
}
.inner-container h2 {
    color: var(--color-orange);
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 4px;
    text-align: right;
    line-height: 96%;
}
.inner-container p {
    margin: 0px;
    text-align: left;
    font-size: 15px;
}
.banner-container h3 {
    color: var(--color-blue);
    font-size: 33px;
    font-weight: 700;
    line-height: 100%;
}




/* New Style */
.iframe-wrap {
    padding: 30px 30px;
    /*min-height: 400px;*/
    background-color: #21224f
}
.iframe-wrap .iframe-left {
    float: left;
    width: 50%
}

.iframe-wrap .iframe-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    /*padding-top: 25px;*/
    height: 0;
}
.iframe-wrap .iframe-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-wrap .iframe-right {
    float: left;
    width: 50%;
    padding: 0 0 0 30px;
}
.iframe-wrap .iframe-right__content {
    width: 90%;
    margin: 0 auto;
}
.iframe-wrap .iframe-right h2 {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
}

.iframe-wrap .iframe-logos {
    margin: 60px 0
}
.iframe-wrap .iframe-logos span {
    width: 32%;
    text-align: center;
    display: inline-block;
    /*background-color: #ccc;*/
}

.btn-wrap {
    text-align: center;
}
.contribute-btn {
    color: #21224f;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 4px;
    background-color: #54e6da;
}


/*Form*/
.form-container .inner-container {
    padding: 0;
    text-align: center;
}
.form-container header {
    position: relative;
    font-size: 20px;
    margin-bottom: 30px;
    display: inline-block;
}
.form-container header h4 {
    float: left;
    line-height: 100%;
    color: var(--color-blue);
    font-weight: 600;
}
.form-container label {
    line-height: 100%;
}
.form-container .radios {
    float: left;
}
.form-container .radios .single-radio {
    float: left;
    position: relative;
    margin-left: 30px;
    line-height: 100%;
}
.form-group {
    margin-bottom: 30px;
    position: relative;
	
}

.form-group.is-check{
	text-align: left;
	margin-top: -10px;
}

.form-group.is-check a {
	color: #fc6645;
	font-weight: 500;
	background-image: linear-gradient(var(--color-orange) 50%, var(--color-orange) 50%);
	background-size: 100% 1px;
	background-position: 100% 21px;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.form-group.is-check a:hover{
	background-image: linear-gradient(var(--color-blue) 50%, var(--color-blue) 50%);
}



.form-group input[type="text"], .form-group input[type="email"], .form-group textarea {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
    border: 0;
    height: 46px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 500;
    padding: 0px 15px;
}
.form-group input[type="submit"] {
    height: 46px;
    border-radius: 5px;
    border: 0;
    background-color: var(--color-orange);
    color: var(--color-white);
    cursor: pointer;
    padding: 0px 25px;
    font-weight: 600;
    font-size: 17px;
}
.form-group textarea {
    padding: 15px;
    resize: vertical;
    height: 150px;
    line-height: 150%;
}
.form-group textarea.is-message {
    height: 200px;
    min-height: 200px;
    padding-bottom: 40px;
}
.form-group textarea.is-address {
    height: 140px;
    min-height: 140px;
}
.form-group textarea.is-yourself {
    height: 180px;
    min-height: 180px;
}
.char-rem {
    position: absolute;
    bottom: 13px;
    right: 15px;
    text-align: right;
    z-index: 2;
    line-height: 100%;
    color: var(--color-dark-blue);
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
}
.char-rem span {
    font-weight: 600;
}
[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    height: 0px;
    width: 0px;
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    color: var(--color-blue);
    font-weight: 500;
}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background-color: var(--color-white);
}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--color-orange);
    position: absolute;
    top: 4px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*Check box*/
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: var(--color-orange);;
}
.styled-checkbox:hover + label:before {
  background: var(--color-orange);
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: var(--color-orange);
}
.styled-checkbox:disabled + label {
  color: var(--color-white);
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 1;
    font-size: 0px;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.close-modal::after, .close-modal::before {
    width: 80%;
    height: 2px;
    background: #333;
    z-index: 2;
    content: '';
    position: absolute;
    top: 15px;
    left: 3px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.close-modal::before {
    transform: rotate(-45deg);
}
.close-modal:hover::after, .close-modal:hover::before {
    background: #333;
}
.payment-modal {
    position: fixed;
    width: 550px;
    max-width: calc(100% - 30px);
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    opacity: 0;
    padding: 50px 40px;
    text-align: center;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    overflow: hidden;
}
.payment-modal h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 10px;
}
.payment-modal h1 span {
    color: var(--color-orange);
}
.modal-block {
    padding-bottom: 30px;
}
.modal-block:last-child {
    padding-bottom: 0;
}
.modal-block p {
    font-weight: 500;
}
.modal-block p span {
    color: var(--color-blue);
    font-weight: 500;
}
body.is-modal.is-payment #Is_Payment {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
body.is-modal.is-profile #Is_Profile {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
body.is-modal.is-topic #Is_Topic {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
.share-app {
    display: inline-block;
}
.share-app li {
    float: left;
    margin: 0px 10px;
}
.share-app li:first-child {
    line-height: 35px;
}
.share-app li a {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #c5c5c5;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    line-height: 35px;
}
.share-app li a i {
    line-height: 35px;
    font-size: 22px;
}
.share-app li.is-facebook a {
    background-color: #3b5998;
}
.share-app li.is-twitter a {
    background-color: #1da1f2;
}
.share-app li.is-whatsapp a {
    background-color: #128c7e;
}
.content-page h2 {
    color: var(--color-blue);
    font-size: 33px;
    font-weight: 700;
    line-height: 120%;
    margin: 10px 0 40px 0;
}
.content-page h2 span {
    color: var(--color-orange);
}
.content-page ul {
    text-align: left;
}
.content-page ul li {
    padding-bottom: 40px;
}
.content-page ul.is-faq li h5 {
    position: relative;
    color: var(--color-orange);
    font-weight: 600;
    margin: 0 0 5px 0;
    font-style: italic;
    padding-left: 23px;
}
.content-page ul.is-faq li p {
    position: relative;
    padding-left: 23px;
}
.content-page ul.is-faq li h5::before, .content-page ul.is-faq li p::before {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 2px;
    left: 0;
    color: var(--color-orange);
    font-style: normal;
    line-height: 100%;
}
.content-page ul.is-faq li h5::before {
    content: 'Q.';
}
.content-page ul.is-faq li p::before {
    content: 'A.';
}
.content-page ul.is-faq li p a {
    color: #fc6645;
    font-weight: 500;
    background-image: linear-gradient(var(--color-orange) 50%, var(--color-orange) 50%);
    background-size: 100% 1px;
    background-position: 100% 21px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.content-page ul.is-faq li p a:hover {
    background-image: linear-gradient(var(--color-blue) 50%, var(--color-blue) 50%);
}
li.is-whatsapp {
    display: none;
}
.error-msg span {
    display: block;
    text-align: left;
    font-size: 14px;
    padding-top: 10px;
    color: #f64d4d;
}
.payment-modal.is-content {
    max-height: 90%;
    overflow: auto;
    text-align: left;
    padding: 40px;
    width: 700px;
}
.payment-modal.is-content h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-orange);
    line-height: 120%;
    margin-bottom: 10px;
}


.banner-header .header-text {
    font-size: 22px;
    position: relative;
	line-height: 140%;
	padding-bottom: 10px;
}

.banner-header span{
	display: block;
	font-weight: 600;
	padding-bottom: 3px;
	font-size: 24px;
	color: var(--color-orange);
	
}

.banner-header strong{
	display: block;
	font-weight: 700;
	font-size: 26px;
}
.topic {
	color: #333;
	line-height: 100%;
	vertical-align: text-top;
}




