@charset "utf-8";
body {
	font-size: 18px;
	font-weight: 600;
	color: #3d4766;
	overflow-x: hidden;
    line-height: 125%;
	/*font-family: 'Oswald', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    /*background-color: #f4f4f4;*/
}

p {
	line-height: 125%;
	margin-bottom: 10px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #1a1a1a;
	font-weight: 400;
	font-family: "Libel-suit",sans-serif !important;
}

.main-wrap {
	margin: 0 auto;
	max-width: 800px;
    overflow: hidden;
}

.main-wrap .container {
	width: 100%;
	/*background-color: #ccc;*/
}
.main-wrap .container::after {
    content: "";
    clear: both;
    display: table;
    font-size:0;
}
.main-wrap .container--left {
	float: left;
	position: relative;
	z-index: 2;
	height: 300px;
	width: 300px;
	background-color: #ccc;
	transform: translate3d(250px,0,0);
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.main-wrap .container--left.img-animate {
	transform: translate3d(0,0,0);
}
.main-wrap .container--left img {
	transition: filter .3s ease-in-out;
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
}
.main-wrap .container--left img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.main-wrap .container--left.img-animate img {
	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);
}


.main-wrap .container--right {
	float: left;
	height: 300px;
	width: 200px;
	padding: 15px 0 15px 20px;
    background-color: #fff;
	opacity: 0;
    -webkit-transition: opacity 1.3s, width .2s, visibility 0s;
    -moz-transition: opacity 1.3s, width .2s, visibility 0s;
    transition: opacity 1.3s, width .2s, visibility 0s;
}
.main-wrap .container--right.box-width {
	width: calc(100% - 300px);
	width: -webkit-calc(100% - 300px);
}
.main-wrap .container--right.add-content {
	visibility: visible;
    opacity: 1;
}
.main-wrap .container--right .box-headline {
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1.5px;
}
.main-wrap .container--right .box-content {
	/*margin-bottom: 20px;*/
    padding-right: 20px;
    /*height: 260px;
    overflow-x: auto;*/
}
.box-wrap {
    /*position: absolute;*/
    height: 270px;
    width: 100%;
    /*background-color: #ccc;*/
    visibility: hidden;
    opacity: 0;
    overflow-x: scroll;

    -webkit-transition: opacity .3s, visibility 0s;
    -moz-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s
}
.add-content .box-wrap {
    position: relative;
    visibility: visible;
    opacity: 1;
}
.add-content .box-wrap h1 {
    -webkit-animation: cd-slide-in .6s;
    -moz-animation: cd-slide-in .6s;
    animation: cd-slide-in .6s
}

.add-content .box-wrap .box-content {
    -webkit-animation: cd-slide-in .8s;
    -moz-animation: cd-slide-in .8s;
    animation: cd-slide-in .8s
}
.add-content .box-wrap .box-audio {
    -webkit-animation: cd-slide-in 1s;
    -moz-animation: cd-slide-in 1s;
    animation: cd-slide-in 1s
}
@-webkit-keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(-60px, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-moz-keyframes cd-slide-in {
    0% {
        -moz-transform: translate3d(-60px, 0, 0)
    }
    100% {
        -moz-transform: translate3d(0, 0, 0)
    }
}

@keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(-60px, 0, 0);
        -moz-transform: translate3d(-60px, 0, 0);
        -ms-transform: translate3d(-60px, 0, 0);
        -o-transform: translate3d(-60px, 0, 0);
        transform: translate3d(-60px, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
#story_content {
    color: #fff;
    visibility: hidden;
}
/*#typedtext {
    position: absolute;
    left: 0;
    top: 0;
}*/


@media only screen and (max-width: 799px) {
    body {
        font-size: 17px;
    }
    .main-wrap {
        margin: 0 auto;
        max-width: 300px;
    }
    .main-wrap .container--left {
        transform: translate3d(0,0,0);
    }
    .main-wrap .container--right {
        width: 300px;
        height: 300px;
        padding: 10px 0 10px 15px;
    }
    .box-wrap {
        height: 280px;
    }
    .main-wrap .container--right.box-width {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .main-wrap .container--right {
        background-color: #f4f4f4;
    }
}

@media only screen and (max-width: 500px) {
    .main-wrap {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }
    .main-wrap .container--left {
        width: 100%;
    }
    .control-row .seek-field {
        width: calc(100% - 210px);
        width: -webkit-calc(100% - 210px);
    }
    
}

