@media screen and (min-width: 1281px) {
	.block__element--content {
		font-size: 2em;
	}
	.animate-text.qus-text {
		padding-left: 30px;
		padding-right: 60px;
	}
}
@media screen and (max-width: 767px) {
	.block__element {
		width: 640px;
		max-width: 640px;
	}
	.swiper-slide::before {
		display: none;
	}
	.swiper-slide::after {
		position: absolute;
		bottom: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 30%;
		content: " ";
		background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.25));
	}
	.swiper-slide.intro::after {
		display: none;
	}
	.block__element h3 {
		margin-bottom: 0;
	}
	.block__element--media {
		margin: 0 auto;
		float: none;
		width: 450px;
		max-width: 450px;
	}
	.block__element--content {
		font-size: 1.25em;
		float: none;
		width: 100%;
		max-width: 100%;
	}
	.block__element--logo {
		top: 10px;
    	right: 10px;
		width: 90px;
	}
	.block__element--media.block-fluid .option-img {
		margin: 0 auto;
		float: none;
		max-width: 50%;
		width: 50%
	}

	.block__element--content .question-first,
	.block__element--content .question-second {
		padding-top: 15px;
		padding-right: 10px;
		padding-left: 20px
	}
	.block__element--content .question-first:before,
	.block__element--content .question-second:before {
		left: 0;
	}
	/*.animate-text.option-text {
		max-height: 100px;
		overflow: auto;
		padding: 0;
	}*/
	.swiper-container-horizontal > .next-slide.swiper-pagination-bullets,
	.swiper-container-vertical > .down-slide.swiper-pagination-bullets {
		bottom: 10px;
		/*right: 0;
		left: 0;
		margin: 0 auto;
		width: 166px;*/
	}
	
	.block__element {
		height: 100%;
	}
	.block__element .block__element--media {
		/*height: 50%;*/
		margin-top: 80px; 
		height: calc(50% - 80px);
		height: -webkit-calc(50% - 80px);
	}
	.block__element .block__element--media .scene-placeholder {
		display: none;
	}
	.block__element .block__element--media .scene-animation img {
		position: absolute;
		bottom: 0;
		height: 100%;
		margin: 0 auto;
		left: 0;
		right:0;
	}
	.block__element .block__element--content {
		/*height: 50% !important;*/
		height: calc(50% - 85px) !important;
		height: -webkit-calc(50% - 85px) !important;
	}
	.block__element--content.block-fluid {
		height: auto !important;
	}

}

@media screen and (max-width: 640px) {
	.block__element {
		width: 600px;
		max-width: 600px;
	}
	.block__element--media {
		width: 350px;
		max-width: 350px;
		margin-bottom: 20px; 
	}
	.block__element--media.block-fluid .option-img {
		max-width: 60%;
		width: 60%
	}
	.block__element--content {
		overflow: hidden;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.block__element--content.block-fluid {
		border-bottom: 0 none;
	}
	.block__element--content .animate-text.qus-text {
		padding: 0 20px;
		overflow: auto;
		height: 100%;
		/*
		height: 215px !important;*/
		/*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
	}
	.animate-text {
		padding: 10px;
	}
	.block__element--content .option-text {
		padding-left: 35px;
	}
	.block__element--content .qus-block:before {
		left: 15px;
		top: 10px;
		font-size: 90px;
    	line-height: 90px;
	}
}

@media screen and (max-width: 500px) {
	.block__element {
		width: 100%;
		max-width: 100%;
	}
	.block__element--media {
		width: 400px;
		max-width: 400px;
	}
	.block__element--media.block-fluid .option-img {
		max-width: 70%;
		width: 70%
	}
}


@media screen and (max-width: 400px) {
	.block__element--media {
		width: 100%;
		max-width: 100%;
	}
	.block__element--media.block-fluid .option-img {
		max-width: 92%;
		width: 92%
	}
}

