@charset "utf-8";
html {
	height: calc(100vh - 70px);
}
body {
	font-weight: 300;
	position: relative;
	color: #513c6a;
	height: 100%;
	font-size: 100%;
	overflow-x: hidden;
	background-color: #2b9387;
	font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'futuramedium';
    src: url('../fonts/futura_medium_bt-webfont.woff2') format('woff2'),
         url('../fonts/futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_bdcn_btbold';
    src: url('../fonts/futura_bold_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_bold_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('../fonts/futura_heavy_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cooper_hewittbold';
    src: url('../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
p {
	line-height: 125%;
	margin-bottom: 10px;
	/*font-family: 'Roboto', sans-serif;*/
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
.page-wrap {
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #fb9f00;
}
.block {

}
.block .intro {
	text-align: center;
	background-color: #2b9387;
	/*background-image: url(../images/intro-elements.png); */
	/*background-size: cover;	*/
}

.block .intro:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-image: url(../images/intro-elements.png); 
	background-size: contain;	
}





.swiper-slide::before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	content: " ";
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.25));
}
.swiper-slide.main-slider::before,
.swiper-slide.end-slider:before {
	display: none;
}

.block .end-slider {
	text-align: center;
	background-color: #c53f36;
}



.block .last-slider {
	text-align: center;
	background-color: #000;
}
.block .video-elemet {
	width: 100%;
	height: 100%;
	/*z-index: 5;*/
	position: relative;
	overflow: hidden;
}
.block .video-elemet video {
	/*width: auto;
	height: 100%;*/
	position: absolute;
    width: auto;
    left: 50%;
    height: 100%;
    transform: translate(-50%,0);
}

.block__element {
	width: 100%;
	z-index: 5;
}
.block__element p {
	margin-bottom: 20px;
}
.block__element h3 {
	font-size: 1.13em;
	margin-bottom: 10px;
	color: rgba(255, 255, 255, 0.65); 
}

.block--modifier {
	position: relative;
}
.block__element--logo-icon {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 50px;
}
.block__element--item {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);
}
.block__element--circle-logo {
	margin: 0 auto;
	width: 250px;
	height: 250px;
	background-color: #f4b30f;
	border-radius: 100%;
	display: block;
}
.block__element--circle-logo img {
	margin-top: 27%;
	width: 65%;
}
.block__element--circle-logo.end-slide-logo {
	/*position: absolute;
	margin: 0 auto;
	top: 8%;
	left: 0;
	right: 0;*/
	margin-bottom:20%; 
	width: 325px;
	height: 325px;
	background-color: #c8502b;
}
.block__element--end-slide-clouds {
	margin: 0 auto;
    max-width: 100%;
    display: block;
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
}
.block__element--end-slide-img {
	margin: 0 auto;
    max-width: 400px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.block__element--logo {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 100px;
}

.block__element--sub-headline {
	margin: 10px auto 0;
	max-width: 550px;
	/*color: #513c6a;*/
	color: rgba(255,255,255, 0.85);
	font-size: 1.5em;
	line-height: 125%;
	font-weight: 500;
	/*font-family: "cooper_hewittsemibold", sans-serif;*/
}
.block__element--headline {
	padding: 7px 13px;
	color: #007762;
	/*font-size: 20px;*/
	text-transform: uppercase;
	/*font-family: "cooper_hewittbold", sans-serif;*/
}

span.first-letter {
	width: 30px;
    height: 30px;
    line-height: 32px;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #007762;
    /*font-size: 24px;*/
    /*font-family: "cooper_hewittbold", sans-serif;*/
}


.block__element--content {
	/*padding: 15px 20px; */
	max-width: 50%;
	width: 50%;
	float: right;
	color: #fff;
	font-size: 1.63em;
	position: relative;
	/*position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);*/
}
.animate-text.qus-text {
	/*padding-left: 30px;*/
	padding-right: 40px;
}

.block__element--content h3 {
	/*padding-left: 20px;*/
}


.block__element--media {
	margin: 0 auto;
	/*max-width: 515px;*/
	position: relative;
	float: right;
	max-width: 50%;
	width: 50%;
}

.block__element--content.block-fluid {
	margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
	max-width: 100%;
	width: 100%;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);
}
.block__element--media.block-fluid {
	max-width: 100%;
	width: 100%;
	opacity: 0.2;
	position: relative;
}
.block__element--media.block-fluid .option-img {
	float: left;
	max-width: 50%;
	width: 50%;
}

.block__element--content .qus-block {
	position: relative;
	width: 100%;
	min-height: 125px;
	overflow: hidden;
	margin-bottom: 30px;
	/*background-image: linear-gradient(to left, rgba(43, 147, 135, 0.2), rgba(255, 255, 255, 0.2));*/
}
.block__element--content .qus-block:before {
	position: absolute;
    left: 36px;
    width: 100px;
    height: 100%;
    color: rgba(144, 72, 120, 0.7);
    font-size: 110px;
    line-height: 110px;
    top: 12px;
    content: "A";
    z-index: 0;
    font-family: 'futura_bdcn_btbold', sans-serif;
}
.block__element--content .qus-block:nth-child(2):before {
	content: "B";
}

.block__element--content .option-text {
	padding-left: 60px;
}
.option-text.option-text-ani p {
	margin: 0;
}
.option-click {
	cursor: pointer;
}




.block__element--content .question-first,
.block__element--content .question-second {
	position: relative;
	width: 100%;
	min-height: 125px;
	padding-left: 50px;
	/*background-color: rgba(0,0,0, 0.1);*/
	overflow: hidden;
	background-image: linear-gradient(to left, rgba(43, 147, 135, 0.2), rgba(255, 255, 255, 0.2));
}
.block__element--content .question-first {
	margin-bottom: 30px;
}
.block__element--content .question-first p,
.block__element--content .question-second p {
	position: relative;
	z-index: 1;
}
.block__element--content .question-first:before,
.block__element--content .question-second:before {
	position: absolute;
    left: 60px;
    width: 100px;
    height: 100%;
    color: rgba(144, 72, 120, 0.7);
    font-size: 112px;
    top: 0;
    z-index: 0;
    font-family: 'futura_bdcn_btbold', sans-serif;
}
.block__element--content .question-first:before {
	content: "A";
}
.block__element--content .question-second:before {
	content: "B";
}


.scene-placeholder {
	opacity: 0;
}
.scene-animation {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.scene-animation span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Theme Color */

/* #01 */
.question-slider-01.slide-text {
	background-color: #ffba39
}
.question-slider-01.slide-text-2 {
	background-color: #ffba39
}
.question-slider-01.slide-question {
	background-color: #ffb93d
}
.question-slider-01.slide-option {
	background-color: #2b9387
}
.question-slider-01.slide-option.option-first {
	background-color: #403e56
}
.question-slider-01.slide-option.option-second {
	background-color: #e87888
}

.question-slider-01.slide-option .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2b9387, rgba(255, 255, 255, 0.2));
}
.question-slider-01.slide-option.option-first .block__element--content .qus-block {
	background-image: linear-gradient(to left, #403e56, rgba(255, 255, 255, 0.2));
}
.question-slider-01.slide-option.option-second .block__element--content .qus-block {
	background-image: linear-gradient(to left, #e87888, rgba(255, 255, 255, 0.2));
}
/*.question-slider-01.slide-answer-a {
	background-color: #403e56
}
.question-slider-01.slide-answer-b {
	background-color: #e87888
}*/

/* #02 */
.question-slider-02.slide-text {
	background-color: #ffbc2d
}
.question-slider-02.slide-text-2 {
	background-color: #fade7a
}
.question-slider-02.slide-question {
	background-color: #fcc396
}

.question-slider-02.slide-option {
	background-color: #2b9387
}
.question-slider-02.slide-option.option-first {
	background-color: #b7cad1
}
.question-slider-02.slide-option.option-second {
	background-color: #b1c4cb
}

.question-slider-02.slide-option .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2b9387, rgba(255, 255, 255, 0.2));
}
.question-slider-02.slide-option.option-first .block__element--content .qus-block {
	background-image: linear-gradient(to left, #b7cad1, rgba(255, 255, 255, 0.2));
}
.question-slider-02.slide-option.option-second .block__element--content .qus-block {
	background-image: linear-gradient(to left, #b1c4cb, rgba(255, 255, 255, 0.2));
}

/* #03 */
.question-slider-03.slide-text {
	background-color: #b09345
}
.question-slider-03.slide-text-2 {
	background-color: #000
}
.question-slider-03.slide-question {
	background-color: #777f4c;
}
.question-slider-03.slide-option {
	background-color: #2b9387
}
.question-slider-03.slide-option.option-first {
	background-color: #1c655e
}
.question-slider-03.slide-option.option-second {
	background-color: #b09546
}

.question-slider-03.slide-option .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2b9387, rgba(255, 255, 255, 0.2));
}
.question-slider-03.slide-option.option-first .block__element--content .qus-block {
	background-image: linear-gradient(to left, #1c655e, rgba(255, 255, 255, 0.2));
}
.question-slider-03.slide-option.option-second .block__element--content .qus-block {
	background-image: linear-gradient(to left, #b09546, rgba(255, 255, 255, 0.2));
}

/* #04 */
.question-slider-04.slide-text {
	background-color: #db6951
}
.question-slider-04.slide-text-2 {
	background-color: #7d5f9f
}
.question-slider-04.slide-question {
	background-color: #975f9e
}
.question-slider-04.slide-option {
	background-color: #2b9387
}
.question-slider-04.slide-option.option-first {
	background-color: #ddc599
}
.question-slider-04.slide-option.option-second {
	background-color: #2f616a
}

.question-slider-04.slide-option .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2b9387, rgba(255, 255, 255, 0.2));
}
.question-slider-04.slide-option.option-first .block__element--content .qus-block {
	background-image: linear-gradient(to left, #ddc599, rgba(255, 255, 255, 0.2));
}
.question-slider-04.slide-option.option-second .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2f616a, rgba(255, 255, 255, 0.2));
}

/* #05 */
.question-slider-05.slide-text {
	background-color: #eaaf53
}
.question-slider-05.slide-text-2 {
	background-color: #000
}
.question-slider-05.slide-question {
	background-color: #68a897
}
.question-slider-05.slide-option {
	background-color: #2b9387
}
.question-slider-05.slide-option.option-first {
	background-color: #e8ad39
}
.question-slider-05.slide-option.option-second {
	background-color: #37625b
}

.question-slider-05.slide-option .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2b9387, rgba(255, 255, 255, 0.2));
}
.question-slider-05.slide-option.option-first .block__element--content .qus-block {
	background-image: linear-gradient(to left, #e8ad39, rgba(255, 255, 255, 0.2));
}
.question-slider-05.slide-option.option-second .block__element--content .qus-block {
	background-image: linear-gradient(to left, #37625b, rgba(255, 255, 255, 0.2));
}

/* #06 */
.question-slider-06.slide-text {
	background-color: #ddb02f
}
.question-slider-06.slide-text-2 {
	background-color: #3f3734
}
.question-slider-06.slide-question {
	background-color: #8e6794
}
.question-slider-06.slide-option {
	background-color: #2b9387
}
.question-slider-06.slide-option.option-first {
	background-color: #405067
}
.question-slider-06.slide-option.option-second {
	background-color: #393e54
}

.question-slider-06.slide-option .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2b9387, rgba(255, 255, 255, 0.2));
}
.question-slider-06.slide-option.option-first .block__element--content .qus-block {
	background-image: linear-gradient(to left, #405067, rgba(255, 255, 255, 0.2));
}
.question-slider-06.slide-option.option-second .block__element--content .qus-block {
	background-image: linear-gradient(to left, #393e54, rgba(255, 255, 255, 0.2));
}

/* #07 */
.question-slider-07.slide-text {
	background-color: #93a7bf
}
.question-slider-07.slide-text-2 {
	background-color: #000
}
.question-slider-07.slide-question {
	background-color: #59bb8c
}
.question-slider-07.slide-option {
	background-color: #2b9387
}
.question-slider-07.slide-option.option-first {
	background-color: #462c2f
}
.question-slider-07.slide-option.option-second {
	background-color: #ed9f95
}

.question-slider-07.slide-option .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2b9387, rgba(255, 255, 255, 0.2));
}
.question-slider-07.slide-option.option-first .block__element--content .qus-block {
	background-image: linear-gradient(to left, #462c2f, rgba(255, 255, 255, 0.2));
}
.question-slider-07.slide-option.option-second .block__element--content .qus-block {
	background-image: linear-gradient(to left, #ed9f95, rgba(255, 255, 255, 0.2));
}

/* #08 Not Actual color */
.question-slider-08.slide-text {
	background-color: #bbcb9e
}
.question-slider-08.slide-text-2 {
	background-color: #fade7a
}
.question-slider-08.slide-question {
	background-color: #465d89
}
.question-slider-08.slide-option {
	background-color: #2b9387
}
.question-slider-08.slide-option.option-first {
	background-color: #97532e
}
.question-slider-08.slide-option.option-second {
	background-color: #548582
}

.question-slider-08.slide-option .block__element--content .qus-block {
	background-image: linear-gradient(to left, #2b9387, rgba(255, 255, 255, 0.2));
}
.question-slider-08.slide-option.option-first .block__element--content .qus-block {
	background-image: linear-gradient(to left, #97532e, rgba(255, 255, 255, 0.2));
}
.question-slider-08.slide-option.option-second .block__element--content .qus-block {
	background-image: linear-gradient(to left, #548582, rgba(255, 255, 255, 0.2));
}

/* #09 */
.question-slider-09.slide-text {
	background-color: #f1b732
}
.question-slider-09.slide-text-2 {
	background-color: #c7874a
}
.question-slider-09.slide-text-3 {
	background-color: #fad899
}





.content-question {
	/*display: none;*/
}
.content-option {
	display: none;
}
.option-result {
	display: none;
}

/* Animation CSS */
.slide-up {
	opacity: 0;
	transition: all 0.5s ease-in-out;
	/*transform:translateY(-700px);*/
	transform: translate3d(-200%, 0, 0);
}
.slide-down {
	opacity: 0;
	transition: all 0.5s ease-in-out;
	/*transform:translateY(700px);*/
	transform: translate3d(200%, 0, 0);
}

.animate-text {
	padding: 15px;
}
.qus-text {
	visibility: hidden;
    opacity: 0;
    transform: matrix(0.99619, 0.08715, 0, 1, 0, 120);
    position: absolute;
    left: 0;
    transition: all 0.9s ease-in-out;
}
.qus-text span {
	display: block;
	padding: 20px
}

.qus-text.text-ani {
	visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.option-text {
	visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transition: all 0.9s ease-in-out;
}
.option-text.option-text-ani {
	visibility: inherit;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}
.question-second .option-text {
	-webkit-transform: translate3d(-20%, 0, 0);
}
.question-second .option-text.option-text-ani {
	-webkit-transform: translate3d(0, 0, 0);
}


/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}






/* Arrow */
.swiper-container-horizontal > .next-slide.swiper-pagination-bullets {
	/*bottom: 24px;*/
	/*width: 100%*/
}
.swiper-container-horizontal > .next-slide.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0;
}
.swiper-container-horizontal > .next-slide.swiper-pagination-bullets,
.swiper-container-vertical > .down-slide.swiper-pagination-bullets {
	bottom: 30px;
	right: 0;
	left: 0;
	top: inherit;
	-webkit-transform: inherit;
    transform: inherit;
	/*width: auto;*/
	margin: 0 auto;
		width: 166px;
}

.swiper-container-vertical > .down-slide.swiper-pagination-bullets {
	/*bottom: 40px;
	right: 0;
	top: inherit;
	-webkit-transform: inherit;
    transform: inherit;
	width: 200px;
	background-color: #ccc;*/
}
.swiper-container-vertical > .down-slide.swiper-pagination-bullets .swiper-pagination-bullet {
	display: inline-block;
	margin: 0;

}
.next-slide .swiper-pagination-bullet,
.down-slide .swiper-pagination-bullet {
	/*width: 30px;*/
	height: 34px;
    opacity: 0.8;
    width: 182px;
	border-radius: 5px;
	border: 2px solid rgba(255, 255, 255, 1.0);
}
.next-slide .swiper-pagination-bullet {
	background: url(../images/arrow-right.svg) no-repeat right;
	background-size: 19px;
	background-position-x: 154px;
}
.down-slide .swiper-pagination-bullet {
	background: url(../images/arrow-down.svg) no-repeat right;
	background-size: 19px;
	background-position-x: 154px;
}

.next-slide .swiper-pagination-bullet.arrow-reload {
	background: url(../images/arrow-reload.svg) no-repeat right !important;
	background-size: 20px !important;
	background-position-x: 154px !important;
}

.swiper-container-horizontal > .next-slide.swiper-pagination-bullets::after,
.swiper-container-vertical > .down-slide.swiper-pagination-bullets::after {
	position: absolute;
    content: "Click to Continue";
    /*right: 12px;*/
    color: #fff;
    font-weight: 700;
    top: 10px;
    font-size: 15px;
    line-height: 100%;
    width: 100%;
    text-transform: uppercase;
    height: 100%;
    z-index: -1;
    left: 10px;
    text-align: left;
}
.swiper-pagination-bullet:focus {
	outline: none;
}

.swiper-pagination-bullet:last-child.swiper-pagination-bullet-active {
	text-align: center;
	display: inline-block !important;
}
/*.swiper-pagination-last .swiper-pagination-bullet:last-child {
	background: url(../images/arrow-reload.svg) no-repeat right;
	background-size: 19px;
	background-position-x: 135px;
}
*/
.next-slide .swiper-pagination-bullet {
	color: #000;
}




