@charset "utf-8";
body {
	font-family: 'Special Elite', cursive;
	font-weight: 400;
/*
	background-color: #ccc;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
*/
	color: #000;
	font-size: 17px;
	width: 100%;
	height: auto;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #000;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 400; 
	font-size: 100%;
}
.globe {
	position: absolute;
	width: 800px;
	bottom: -760px;
	left: 50%;
	margin-left: -400px;
	border-radius: 100%;
	overflow: hidden;
	z-index: -1;
	padding: 0px;
	
}
.globe img {
	width: 100%;
	max-width: inherit;
/*	-webkit-animation: 150s infinite  spin;*/
	-webkit-animation: spin 150s linear infinite;	
}
.container.lti-container {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	padding: 40px 0;
	overflow: hidden;
}
.satellite-container {
	margin: 0 auto;
	width: 200px;
	position: relative;
}
.satellite-container img.satellite {
	width: 100%;
	max-width: inherit;
	position: relative;
	z-index: 1000;
}
.satellite-inner-container {
	-webkit-animation: flying 3s infinite;
}
.satellite-container {
	-webkit-animation: flames 14s infinite;
}
.el-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1002;
}
.slider-bg {
	width: 106px;
	height: 106px;
	background-image: url(../images/slider-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 156px;
	left: 51px;
	position: absolute;
	padding: 10px 10px 10px 7px;
}
.el-slider {
	width: 100%;
	height: 100%;
}
.card-modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0,0,0,0.5);
	text-align: center;
	display: none;
}
.card-modal.is-open {
	display: block
}
.card-modal::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.modal-box {
	text-align: left;
	width: 400px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	display: inline-block;
	vertical-align: middle;
	padding: 20px;
	line-height: 130%;
	border: 16px solid transparent;
	border-image: 16 repeating-linear-gradient(45deg, #e38000 0, #e38000 1em, transparent 0, transparent 2em, #097c05 0, #097c05 3em, transparent 0, transparent 4em);
	position: relative;
}
.close-card {
	position: absolute;
	top: -33px;
	right: -33px;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	border: 3px solid #e38000;
	text-align: center;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
}
.close-card i {
	line-height: 28px;
	color: #097c05;
	font-size: 20px;
}
.close-card:hover i {
	color: #e38000;
}
.list-el {
	cursor: pointer;
/*	word-wrap: break-word;*/
	font-weight: 700;
	font-size: 90%;
	height: 85px;
	text-align: center;
}

.list-el h3{
	font-weight:700;
}

.data-message p {
	margin-bottom: 20px;
}
.data-video {
	margin: -20px -20px 20px -20px;
}
.data-name {
	font-weight: 700;
	color: brown;
}
.data-deg {
	font-size: 95%;
}
.data-deg::before {
	content: '('
}
.data-deg::after {
	content: ')'
}
.filter li {
	position: absolute;
	width: 60px;
	z-index: 999;
	transition: all 0.2s ease-in-out;
}
.filter li::before {
	width: 100px;
	height: 7px;
	position: absolute;
	content: '';
	background-image: url(../images/stk.png);
	background-repeat: repeat-x;
	background-size: 1px;
	z-index: -1;
}
.filter li a {
	display: block;
}
.filter-audio {
	bottom: 130px;
	left: -65px;
}
.filter-video {
	bottom: 210px;
	right: -65px;
}
.filter-text {
	bottom: 130px;
	right: -65px;
}
.filter li.filter-audio::before {
	bottom: 26px;
	left: 54px;
}
.filter li.filter-video::before {
	bottom: 26px;
	right: 54px;
}
.filter li.filter-text::before {
	bottom: 26px;
	right: 54px;
}
.filter li.filter-audio.is-active {
	transform: translateX(-50px);
}
.filter li.filter-video.is-active {
	transform: translateX(50px);
}
.filter li.filter-text.is-active {
	transform: translateX(50px);
	
}

.filter li.is-active{
	-webkit-filter: grayscale(1);
  filter: grayscale(1);
}


.fire{
	z-index: 1;
	background-image: url(../images/fire.png);
	background-repeat: no-repeat;
	background-size: 28px;
	-webkit-animation: fire 0.2s steps(2) infinite;
	-moz-animation: fire 0.2s steps(2) infinite;
	-ms-animation: fire 0.2s steps(2) infinite;
	-o-animation: fire 0.2s steps(2) infinite;
	animation: fire 0.2s steps(2) infinite;
}


.fire-left {
	position: absolute;
	width: 14px;
	height: 23px;
	bottom: 10px;
	left: 56px;
	
}

.fire-right {
	position: absolute;
	width: 14px;
	height: 23px;
	bottom: 10px;
	left: 131px;
	transform: rotate3d(0,0,1,-38deg);
}


.fire-mid {
	position: absolute;
	width: 14px;
	height: 23px;
	bottom: 10px;
	left: 95px;
	transform: rotate3d(0,0,1,-20deg) scale(0.7);
}


.antina {
	position: absolute;
	top: -14px;
	left: -16px;
	width: 80px;
}











.glow{
	-webkit-animation: glow .5s ease-in-out infinite alternate;
  animation: glow .5s ease-in-out infinite alternate;
	width: 10px;
	height: 10px;
	
	position: absolute;
	background: #fc8c65;
	border-radius: 100%;
	z-index: 9999;
	
	
}

.glow.glow-1 {
	top: -4px;
	left: 110px;
	
	
}

.glow.glow-2 {
	top: -3px;
	left: 137px;
	animation-delay: .2s;
}





.valign {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
}


