@charset "utf-8";

body {
	font-family: 'Special Elite', cursive;
	font-weight: 400;
	background-color: #ccc;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	color: #000;
	font-size: 17px;
	width: 100%;
	height: auto;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
	color: #000;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 400;
	font-size: 100%;
}

.glove{
	position: absolute;
	width: 100%;
	bottom: -600px;
	left: 0;
	border-radius: 100%;
	overflow: hidden;
	z-index: -1;
	padding: 0px 3%;
}
.glove img{
	width:100%;
	max-width: inherit;
/*	animation: 40s linear 0s normal none infinite running spin;*/
}





.container.lti-container{
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	padding: 20px 0;
	overflow: hidden;
}

.satellite-container{
	margin:0 auto;
	width: 200px;
	position: relative;
}

.satellite-container img.satellite{
	width: 100%;
	max-width: inherit;
	
}

.satellite-inner-container{
/*	 -webkit-animation: flying 3s infinite;*/
}


.satellite-container {
 
/*	  -webkit-animation: flames 14s infinite;*/
}

.el-container{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
/*	background: rgba(0,0,0,0.5);*/
}

.slider-bg {
	width: 85px;
	height: 85px;
	background-image: url(../images/slider-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 164px;
	left: 63px;
	position: absolute;
	padding: 10px 10px 10px 7px;
}

.el-slider {
	width: 100%;
	height: 100%;
}

.card-modal{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0,0,0,0.5);
	text-align: center;
	display: none;
}
.card-modal.is-open{display:block}


.card-modal::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-box{
	text-align:left;
	width: 400px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	display: inline-block;
  vertical-align: middle;
	padding: 20px;
	line-height: 130%;
	border: 16px solid transparent;
	border-image: 16  repeating-linear-gradient(45deg, #e38000 0, #e38000 1em, transparent 0, transparent 2em, #097c05 0, #097c05 3em, transparent 0, transparent 4em);	
	position: relative;
}

.close-card {
	position: absolute;
	top: -33px;
	right: -33px;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	border: 3px solid #e38000;
	text-align: center;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
}



.close-card i {
	line-height: 28px;
	color: #097c05;
	font-size: 20px;
}

.close-card:hover i{
	color:#e38000;
}



.list-el{
	cursor: pointer;
	word-wrap: break-word;
}

.data-message p{
	margin-bottom:20px;
}

.data-video{
	margin:-20px -20px 20px -20px;
}

.data-name{font-weight: 700; color: brown;}
.data-deg{font-size:95%;}
.data-deg::before{content: '('}
.data-deg::after{content: ')'}











