@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');*/
body {
	font-size: 18px;
	font-weight: 400;
	color: #1a1a1a;
	padding-bottom: 60px;
	overflow-x: hidden;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-color: #fff;
	font-family: 'Oswald', sans-serif;
}
.container{
	background-color: #9fe5fd;
}



p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #1a1a1a;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}
.container {
	position: relative;
	max-width: 500px;
	padding: 0px 0px;
	margin: 0 auto;
	overflow: hidden;
	height: 500px;
}
/*Quiz*/

.quiz-container {
	padding: 30px 0px 0px 0px;
	text-align: center;
}
.quiz-container .quiz-headline {
	color: #f3cc2f;
	line-height:100%;
	margin: 0px 0px 10px 0px;
}
.quiz-container .quiz-headline span {
	display: inline-block;
	background-image: url(../images/headline-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 30px;
	line-height: 90%;
	width: 225px;
	text-align: center;
	padding: 20px 0px 23px 0px;
}


.quiz-container a {
	text-decoration: none;
}
.start-content {
	font-size: 26px;
	line-height: 130%;
	margin-bottom: 20px;
	padding: 0px 30px;
}


.question {
	text-align: left;
	font-size: 26px;
	line-height: 130%; 
	padding:0 20px;
}

.answers {
	list-style: none;
	padding: 0;
	text-align: left;
	max-width: 380px;
	margin: 0 0 0 -2px;
	position: relative;
}
.answers.disable::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	content: '';
	z-index: 999;
}
.answers li {
	float: none;
	display: block;
	margin: 0px 0 10px 0;
	position: relative;
}

.answers li a {
	text-align: left;
	background-image: url(../images/option-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	color: #1a1a1a;
	font-size: 22px;
	line-height: 120%;
	padding: 13px 37px 20px 20px;
}
.answers a.correct {
	background-image: url(../images/option-bg-correct.svg);
}
.answers a.incorrect {
	background-image: url(../images/option-bg-incorrect.svg);
}
#quiz-controls {
	color: #fff;
}
#quiz-controls {
	padding: 15px 0px 0px 0px;
	text-align: center;
	font-weight: 400;
	font-size: 25px;
}
#quiz-controls p {
	margin: 0px 10px 14px 10px;
	line-height:35px;
}


#quiz-response .correct{color:#090}
#quiz-response .incorrect{color:#c00}


.quiz-button {
	color: #e94b63;
	background-image: url(../images/btn-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 66%;
}

.quiz-button#quiz-start-btn {
	width: 290px;
	display: inline-block;
	padding: 18px 0px 20px 0px;
}




#quiz-buttons a {
	display: inline-block;
	background-image: url(../images/headline-bg.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 26px;
	line-height: 90%;
	width: 165px;
	text-align: center;
	padding: 13px 0px 17px 0px;
	color: #f3cc2f;
	text-transform: uppercase;
}



#quiz-results {
	font-size: 30px;
	line-height: 125%;
	font-weight: 500;
	min-height: 100px;
	padding: 0px 20px;
}
#quiz-results div.result-text {
	display: none;
	font-weight: 400;
	font-size: 26px;
	line-height: 120%;
	margin-top: 5px;
}
.social-share {
	display: block;
	margin-top: 20px;
}
.social-share a {
	background: #e94b63;
	border-radius: 100%;
	color: #f3cc2f;
	display: inline-block;
	font-size: 24px;
	height: 40px;
	line-height: inherit;
	margin: 0px 5px 0;
	width: 40px;
	text-align: center;
}
/*Animation*/

.answers li.frame .hammer {
	display: none !important;
	background: rgba(0, 0, 0, 0) url("../images/hammer.png") no-repeat scroll 0 0;
	height: 200px;
	left: -89px;
	position: absolute;
	top: 0;
	width: 268px;
	-webkit-animation: play .4s steps(4) infinite;
	-moz-animation: play .4s steps(4) infinite;
	-ms-animation: play .4s steps(4) infinite;
	-o-animation: play .4s steps(4) infinite;
	animation: play .4s steps(4) infinite;
}
 @-webkit-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-moz-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-ms-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-o-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}

#quiz-counter {
	display: none;
	padding-bottom: 8px;
}


.twittershare{
	display:none;}


/*End responsive*/



.dandi-track{
	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.dandi-track img{
	max-width: 150px;
}

/*Walking*/
@-webkit-keyframes walk {
    from { background-position: 0px; }
    to { background-position: -2000px; } 
}

@-moz-keyframes walk {
    from { background-position: 0px; }
    to { background-position: -2000px; } 
}

@-o-keyframes walk {
    from { background-position: 0px; }
    to { background-position: -2000px; }
}

@keyframes walk {
    from { background-position: 0px; }
    to { background-position: -2000px; } 
}

.gandhi {
    width: 240px; height: 440px; 
    background-image: url("../images/css-sprite-combined.png"); 
    margin: 0;    
    animation: walk 2s steps(8) infinite; 
	position: relative;
	
}

.bg{
	position:absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 300px;
/*
	background-image: url(../images/bg.svg);
	background-repeat: repeat-x;
	background-size: cover;
	animation: slide 20s infinite;
*/
	
}

.bg img {
	min-width: inherit;
	max-width: inherit;
	height: inherit;
}

.mile-stone {
	width: 170px;
	position: absolute;
	bottom: 9px;
	right: -33px;
}



/*Custom CSS*/
#quiz-response{
	display: none !important;
}
#quiz-counter{
	display: none !important;
}

@keyframes slide {
    from { background-position: 0%; }
    to { background-position:100% ; }
}



