@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');*/
body {
	font-family: 'Anton', sans-serif;
	/*	background-color: #323338;*/
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	padding-bottom: 60px;
	overflow-x: hidden;
	text-transform: uppercase;
	/*background: #323338 url("../images/sunny.gif") no-repeat scroll right bottom / 33% auto;*/
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
.sunny{
	position:fixed;
	bottom:0;
	right:0;
	width:28%;}
.black{
	color:#000;}

p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: normal;
}
.container {
	position: relative;
	max-width: 800px;
	padding: 0px 15px;
	margin: 0 auto;
}
/*Quiz*/

.quiz-container {
	padding: 10% 0px 0px 0px;
	text-align: center;
}
.quiz-container h1 {
	color: #fff;
	font-size: 42px;
	line-height: 120%;
	margin: 0px 0px 10px 0px;
}
.quiz-container a {
	text-decoration: none;
	color: #fff;
}
.question, .start-content {
	font-size: 28px;
	line-height: 125%;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-weight: 700;
}
.start-content {
	margin-bottom: 20px;
	font-size: 39px;
}
.question span {
	display: block;
	color: #333;
	font-weight: 700;
}
.answers {
	list-style: none;
	padding: 0;
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}
.answers.disable::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	content: '';
	z-index: 999;
}
.answers li {
	float: left;
	margin: 0px;
	position: relative;
}
.answers li:last-child {
	float: right;
}
.answers li a {
	border-radius: 100%;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	background: #333;
	display: inline-block;
	color: #fff;
	font-size: 30px;
}
.answers a.correct {
	background: #090;
}
.answers a.incorrect {
	background: #c00;
}
#quiz-controls {
	color: #fff;
}
#quiz-controls {
	padding: 25px 0px 0px 0px;
	text-align: center;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-weight: 500;
	font-size: 25px;
}
#quiz-controls p {
	/*display: inline-block;*/
	margin: 0px 10px 14px 10px;
	line-height:35px;
}
#quiz-controls #quiz-buttons {
	display: inline-block;
	margin: 0px 10px;
}

#quiz-response .correct{color:#090}
#quiz-response .incorrect{color:#c00}

#quiz-buttons a, #quiz-start-btn {
	background: #fff;
	color: #fd8902;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	line-height: 100px;
	text-align: center;
	display: inline-block;
}
#quiz-buttons a#quiz-restart-btn {
	width: 100px;
	height: 100px;
	line-height: 100px;
}
#quiz-results {
	font-size: 40px;
	line-height: 125%;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-weight: 700;
	color: #333;
	min-height: 100px;
}
#quiz-results div.result-text {
	display: none;
	color: #fff;
	font-weight: 500;
	font-size: 30px;
	line-height: 120%;
}
.social-share {
	display: block;
}
.social-share a {
	background: #fff none repeat scroll 0 0;
	border-radius: 100%;
	color: #323338;
	display: inline-block;
	font-size: 21px;
	height: 30px;
	line-height: 33px;
	margin: 20px 5px 0;
	width: 30px;
	text-align: center;
}
/*Animation*/

.answers li.frame .hammer {
	background: rgba(0, 0, 0, 0) url("../images/hammer.png") no-repeat scroll 0 0;
	height: 200px;
	left: -89px;
	position: absolute;
	top: 0;
	width: 268px;
	-webkit-animation: play .4s steps(4) infinite;
	-moz-animation: play .4s steps(4) infinite;
	-ms-animation: play .4s steps(4) infinite;
	-o-animation: play .4s steps(4) infinite;
	animation: play .4s steps(4) infinite;
}
 @-webkit-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-moz-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-ms-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @-o-keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
 @keyframes play {
 from {
background-position:    0px;
}
 to {
background-position: -1072px;
}
}
/*hidden div*/
#quiz-counter {
	display: none;
	padding-bottom: 8px;
}

/*Start Responsive*/

@media (max-width:800px) {
.container {
	max-width: 600px;
}
}

@media (max-width:640px) {
.sunny{
	width:40%}
.quiz-container {
	text-align: left;
/*	padding-right: 75px;*/
	padding-top: 30px;
}
	#quiz-controls p {
  font-size: 24px;
  line-height: 28px;
  margin-bottom:14px !important;
		text-align: left;
}
.quiz-container h1 {
	font-size: 30px;
	line-height: 110%;
	margin-bottom: 12px;
}
.start-content {
	font-size: 25px;
}
#quiz-results div.result-text {
	font-size: 22px;
}
.question, #quiz-results {
	font-size: 25px;
}
#quiz-controls {
	padding-top: 16px;
}
#quiz-controls:before, #quiz-controls:after {
	display: table;
	line-height: 0;
	content: "";
}
#quiz-controls:after {
	clear: both;
}
.answers, #quiz-controls {
	margin: 0;
	max-width: 200px;
}
.answers li a {
	font-size: 25px;
	height: 70px;
	line-height: 70px;
	width: 70px;
}
#quiz-buttons a#quiz-restart-btn {
  bottom: 30px;
  height: 100px;
  left: 15px;
  line-height: 100px;
  margin: 0;
  position: fixed;
  width: 100px;
}
#quiz-controls p {
	float: left;
	margin: 0;
	/*line-height: 70px;*/
}
#quiz-controls #quiz-buttons {
	float: left;
	margin: 0;
}
.logo {
	width: 40px;
	left: inherit;
	right: 15px;
}
.answers li.frame .hammer {
	left: -100px;
}
	
	#quiz-buttons a, #quiz-start-btn {

  height: 80px;
  line-height: 80px;
  width: 80px;
		margin-bottom: 15px;
}
}

.twittershare{
	display:none;}


/*End responsive*/



.dandi-track{
	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.dandi-track img{
	max-width: 150px;
}

/*Walking*/
@-webkit-keyframes walk {
    from { background-position: 0px; }
    to { background-position: -2000px; }  /* <-- width of spritesheet*/
}

@-moz-keyframes walk {
    from { background-position: 0px; }
    to { background-position: -2000px; } /* <-- width of spritesheet*/
}

@-o-keyframes walk {
    from { background-position: 0px; }
    to { background-position: -2000px; } /* <-- width of spritesheet*/
}

@keyframes walk {
    from { background-position: 0px; }
    to { background-position: -2000px; } /* <-- width of spritesheet*/
}

.gandhi {
    width: 240px; height: 440px; /* <--  size of a single frame*/
    background-image: url("../images/css-sprite-combined.png"); /* <-- url to spritesheet*/
    margin: 0 auto;    
/*
    -webkit-animation: walk 1s steps(8) infinite; 
    -moz-animation: walk 1s steps(8) infinite;
    -o-animation: walk 1s steps(8) infinite;
*/
    animation: walk 2s steps(8) infinite; /* <-- animation parameters, see below*/
}







