@charset "utf-8";

body {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	min-height: 250px;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	font-family: myriad-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #f4f4f4;
}
@font-face {
    font-family: 'colunacondensed_bold';
    src: url('coluna-webfont.woff2') format('woff2'),
         url('coluna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 800;
	font-family: myriad-pro,sans-serif;
	font-size: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.main-wrap {
	margin: 0 auto;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.section-wrap {
	position: relative;
	width: 100%;
	/*height: 630px;*/
	z-index: 0;
	background-color: #fff
	/*background: radial-gradient(rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 0.25));*/
}
.section-wrap .quint-logo {
	position: absolute;
	bottom: 15px;
	left: 20px;
	width: 70px;
	z-index: 1;
}
.section-wrap .version-logo {
	position: absolute;
	bottom: 15px;
	right: 20px;
	width: 100px;
	z-index: 1;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
}
.section-wrap .brand-logo {
	position: absolute;
	top: 35px;
	left: 50%;
	width: 34%;
	z-index: 1;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	-ms-transform: translateX (-50%);
    -webkit-transform: translateX (-50%);
     -moz-transform: translateX (-50%);
     -o-transform: translateX (-50%);
     transform: translateX(-50%);
}

.section-wrap .circle-mid {
	margin: 0 auto;
    max-width: 370px;
	height: 370px;
	border-radius: 100%;
	line-height: 100px;
	text-align: center;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
     -moz-transform: translateY (-50%);
     -o-transform: translateY (-50%);
     transform: translateY(-50%);
     background-size: 100%;
}
.device-img {
	margin: 0 auto;
	max-width: 250px;
	padding-top: 20px;
	position: relative;
}

.icon-list {
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
	
}
.icon-list ul {
	padding: 20px 0;
	/*background: #ccc;*/
	height: 130px;
}

.icon-list li {
	/*position: absolute;
	bottom: 10%;*/
	margin: 0 3%;
	display: inline-block;
	width: 55px;
	height: 55px;
	cursor: pointer;
	/*border-radius: 100%;*/
	text-align: center;
	font-size: 13px;
	line-height: 120%;
	letter-spacing: .2px;
	color: rgba(0, 0, 0, 0.8);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: myriad-pro,sans-serif;
    transition: all 0.2s ease-in-out;
    z-index: 9;

    background-repeat: no-repeat;
    background-position: center center;
}
.icon-list li span {
	position: absolute;
    margin: 0 auto;
    bottom: -35px;
    /*left: 0;
    right: 0;*/
    width: 140px;
    transform: translate3d(-50%, 0, 0);
}
.icon-list li span strong {
	display: block;
	font-weight: 400;
}


.icon-list li:first-child {
	background-image: url(../images/icon01.svg);
}
.icon-list li:nth-child(2) {
	background-size: 88%;
	background-image: url(../images/icon02.svg);
}
.icon-list li:nth-child(3) {
	background-image: url(../images/icon03.svg);
}

.icon-list li:nth-child(4) {
    background-size: 92%;
	background-image: url(../images/icon04.svg);
}
.icon-list li:nth-child(5) {
	background-image: url(../images/icon05.svg);
}

.overlay {
    position: absolute;
    margin: 0 auto;
    width: 88%;
    height: 89%;
    top: 7.2%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    border-radius: 25px;
    /* transform: translateY(-50%); */
    /* background-color: rgba(11, 19, 18, 0.8); */
    /* background-color: #03eefb; */
     /*background-image: linear-gradient(#02f0fa, #00a2ff); */
     background-color: #f1f2f2;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Popup */
.info-popup {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    /* text-align: center; */
    -ms-transform: translateY (-50%);
    -webkit-transform: translateY (-50%);
    -moz-transform: translateY (-50%);
    -o-transform: translateY (-50%);
    transform: translateY(-50%);
    z-index: 99;
    max-width: 500px;
    color: #191919;
    font-weight: 500;
    /* padding: 12px; */
    font-family: 'Poppins', sans-serif;
}

.info-popup--content {
    position: relative;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    letter-spacing: -0.1px;
    color: rgba(0, 0, 0, 0.7);
}

.pop-img {
	margin: 0 auto;
	width: 75px;
	margin-bottom: 10px;
}

.overlay.icon-first {
	/*background-color: #f1f2f2;*/
	/*background-image: -webkit-linear-gradient(#02f0fa, #00a2ff);
	background-image: -o-linear-gradient(#02f0fa, #00a2ff);
	background-image: linear-gradient(#02f0fa, #00a2ff);*/
}

/*.overlay.icon-second {
    background-color: #fdecd6;
    background-image: url(../images/2.png);
}

.overlay.icon-third {
    background-color: #e3f4fa;
    background-image: url(../images/3.png);
}

.overlay.icon-forth {
    background-color: #e7f0f8;
    background-image: url(../images/4.png);
}

.overlay.icon-fifth {
    background-color: #fef4f6;
    background-image: url(../images/5.png);
}
.overlay.icon-sixth {
    background-color: #f4fde9;
    background-image: url(../images/6.png);
}

.overlay.icon-siventh {
    background-color: #cee7f2;
    background-image: url(../images/7.png);
}

.overlay.icon-eighth {
    background-color: #ceeaea;
    background-image: url(../images/8.png);
}*/

.overlay.icon-nineth {
    /* background-color: #ceeaea; */
    /* background-image: linear-gradient(221deg, rgb(19, 202, 169), rgb(22, 195, 183) 10%, rgb(52, 189, 218) 20%, rgb(98, 164, 237) 29%, rgb(123, 148, 234) 38%, rgb(171, 123, 230) 46%, rgb(201, 117, 199) 52%, rgb(212, 115, 189) 58%, rgb(252, 104, 143) 67%, rgb(254, 122, 118) 72%, rgb(254, 135, 95) 77%, rgb(254, 152, 72) 84%, rgb(254, 174, 36) 91%, rgb(254, 142, 82)); */
    background-image: url(../images/9.png);
}

.info-popup--content h2 {
    font-size: 19px;
    margin-bottom: 5px;
    line-height: 115%;
    color: rgba(0, 0, 0, 0.7);
}

.close-icon {
    width: 70px;
    height: 15px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background-image: url(../images/popup-close.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    z-index: 5;
}


/* Pulse */
@-webkit-keyframes hvr-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.92);
        transform: scale(0.92);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.92);
        transform: scale(0.92);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.hvr-pulse:nth-child(2) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.hvr-pulse:nth-child(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.hvr-pulse:nth-child(4) {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}

.hvr-pulse:nth-child(5) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.hvr-pulse:nth-child(6) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
@media screen and (max-width: 599px) {
    body {
        background-color: #fff;
    }
}
@media screen and (max-width: 500px) {
	.icon-list ul {
		padding: 8px 0;
		height: 210px;
		/*background-color: #ccc*/
	}
	.icon-list li {
		margin: 0 5% 43px;
	}
    .icon-list li:first-child {
    	background-size: 90%;
	}
	.icon-list li:nth-child(2) {
		background-size: 70%;
	}
	.icon-list li:nth-child(3) {
		background-size: 78%;
	}
	.icon-list li:nth-child(4) {
		background-size: 74%;
	}
	.icon-list li:nth-child(5) {
		background-size: 75%;
	}
}

@media screen and (max-width: 400px) {
    
}