@charset "utf-8";
html, body{height:100%;}
.weather-widget-wrapper{
	height:100%;
}
.widget-container{
	padding: 27px;
	max-width: 1280px;
	border: 0px solid rgba(255,255,255,0.4);
	margin: 0px auto;
	position: relative;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 100%;
	height:100%;
	overflow: hidden;
}
.widget-el{
	width: 30%;
	float: left;
}

.cond-ico {
	display: inline-block;
	width: 119px;
	position: absolute;
	top: -5px;
	left: 0;
}
.cond-temp {
	margin: 18px 0 0 100px;
	display: block;
	font-size: 45px;
}
.temp{
	display:block;
	margin: 5px 0 0 0;
	position: relative;
	padding-left: 35px;
}
.temp::before {
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	bottom: 2px;
	left: 0;
	line-height: 100%;
	display: block;
}

.temp-min::before{
	content:'MIN';
}

.temp-max::before{
	content:'MAX';
}

.weather-widget-location{
	margin: 18px 0 0 0px;
}



.help-text{
	font-weight: bold;
	font-size: 12px;
	position: absolute;
}


.widget-el.weather-widget-accu-info {
	position: absolute;
	right: 20px;
	top: 32px;
	width: 200px;
}
.weather-widget-accu-info a{
	position: relative;
	display: block;
	color: #fff;
	padding-top: 25px;
}
.weather-widget-accu-info a .help-text{
	position: absolute;
	top: 0;
	left: 5px;
}
.widget-el.weather-widget-max-min{
	width: 20%;
}
.widget-el.weather-widget-location{
	width: 30%;
}

/*Responsive Widget*/
@media only screen and (max-width: 1024px) {
	.widget-el.weather-widget-location{
		width: 25%;
	}
	.widget-el.weather-widget-temp{
		width: 33%;
	}
	
}
@media only screen and (max-width: 959px) {
	.widget-container{
		padding: 25px;
	}
	.widget-el{
		width: auto;
		float: none;
	}
	
	.widget-el.weather-widget-location{
		position: absolute;
		top: 15px;
		left: 0px;
		margin: 0;
		width: 100%;
		text-align: center;
	}
	
	.widget-el.weather-widget-accu-info{
		bottom: 10px;
		left: 50%;
		top: inherit;
		right: inherit;
		margin-left: -100px;
	}
	
	.widget-el.weather-widget-max-min{
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 80px;
		left: 0;
	}
	.temp{
		display:inline-block;
		
	}
	
	.widget-el.weather-widget-temp{
		width: 100%;
		float: none;
	}
	
	.cond-ico {

	width: 93px;
	top: 42px;
	left: 20px;
}
	
	.cond-temp {
	margin: 53px 0 0 93px;
	display: block;
	font-size: 45px;
}
	
}



